﻿@model CCTPMIS.Business.Legacy.Payment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Payment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PaymentId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaymentId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HhId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HhId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HhRegistrationId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HhRegistrationId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CycleId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CycleId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CycleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CycleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CycleStartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CycleStartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CycleEndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CycleEndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaymentDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Approved)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Approved)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PSPBranch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PSPBranch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PSP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PSP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimaryRecipientName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimaryRecipientName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimaryRecipientNationalIdNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimaryRecipientNationalIdNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecondaryRecipientName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecondaryRecipientName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecondaryRecipientNationalIdNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecondaryRecipientNationalIdNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PaidAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaidAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PaidDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaidDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PaidTrxNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaidTrxNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GeneratedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GeneratedBy)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>