﻿@model IEnumerable<CCTPMIS.Business.Legacy.Payment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HhId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HhRegistrationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CycleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CycleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CycleStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CycleEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PSPBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryRecipientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryRecipientNationalIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryRecipientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryRecipientNationalIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidTrxNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneratedBy)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HhId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HhRegistrationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CycleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CycleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CycleStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CycleEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSPBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryRecipientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryRecipientNationalIdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryRecipientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryRecipientNationalIdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidTrxNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    </table>
</body>
</html>