﻿<li class="has-sub">
    <a href="@Url.Action("Index", "Manage", new { area = string.Empty })">
        <i class="icon-layout"></i><span class="title">My Profile</span>
    </a>
    <ul class="nav collapse">
        <li>
            <a href="@Url.Action("Index", "Manage", new { area = string.Empty })">
                <span class="title">
                    My Profile
                </span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("EditProfile", "Manage", new { area = string.Empty })">
                <span class="title">
                    Edit Contact
                </span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("ChangePassword", "Manage", new { area = string.Empty })">
                <span class="title">
                    Change Password
                </span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Avatar", "Manage", new { area = string.Empty })">
                <span class="title">
                    Manage Avatar
                </span>
            </a>
        </li>
    </ul>
</li>