﻿
<div class="wizard-navbar">
    <ul class="wizard-steps">
        <li><a class="home" href="@Url.Action("Index","Home", new {area=""})" data-toggle="tab"><span class="wz-number">A</span> <span class="wz-label">At A Glance</span></a></li>
        <li><a class="beneficiaries" href="@Url.Action("Index","Beneficiaries", new {area=""})" data-toggle="tab"><span class="wz-number">B</span> <span class="wz-label">Beneficiaries</span></a></li>
        <li><a class="payment" href="@Url.Action("Index","Payment", new {area=""})" data-toggle="tab"><span class="wz-number">P</span> <span class="wz-label">Payments</span></a></li>
        <li><a class="cases" href="@Url.Action("Index","Cases", new {area="" })"><span class="wz-number">C</span> <span class="wz-label">Case Management</span></a></li>
        <li><a class="maps" href="@Url.Action("index","Maps", new {area="" })"><span class="wz-number">M</span> <span class="wz-label">Maps</span></a></li>
    </ul>
</div>