﻿@using System.Web.Configuration

@*<script src="~/signalr/hubs"></script>*@

@section scripts
{

}
<div class="footer-main animated fadeInUp slow">

    &copy; @DateTime.Now.ToString("yyyy")
    <strong>
        @WebConfigurationManager.AppSettings["SYSTEM_OWNER"]
    </strong>



    <div class="text-green pull-right">
        <span> VERSION <strong class="text-red"> @WebConfigurationManager.AppSettings["SYSTEM_VERSION"]@WebConfigurationManager.AppSettings["SYSTEM_VERSION_DATE"]</strong></span>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="popup">
        </div>
    </div>
</div>
<style type="text/css">
@if ((string) ViewContext.RouteData.DataTokens["area"] == null && (string)ViewContext.RouteData.Values["controller"] == "Home")
{
 
        @(".main-container, .page-container, .main-content { background: #f5f5f5 !important; }" )
 

}

</style>
<script type="text/javascript">
    var url = '@Request.Url.GetLeftPart(UriPartial.Authority)';
    var area = '@(ViewContext.RouteData.DataTokens["area"]?? "")';
    var controller = '@(ViewContext.RouteData.Values["controller"] ?? "")';
    var insidersublink = url.toLocaleLowerCase() + "/" + area.toLocaleLowerCase();
    $(function () {


        $(".main-menu>li>ul>li a ").each(function () {

            if (area !== "") {
            if (this.href.substring(0, insidersublink.length) === insidersublink) {
                $(this).addClass("menu-active");
                if ($(this).parents().hasClass("has-sub")) {
                    $(this).parent().addClass("active");
                }
                if ($(this).parents().hasClass("collapse")) {
                    $(this).parents().addClass("in").attr("aria-expanded","true");
                }
            }
            }
        });
    });



    function setNavigation() {
        var path = window.location.pathname;
        path = path.replace(/\/$/, "");
        path = decodeURIComponent(path);


    }

</script>