﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<!--[if lte IE 9]>
    <link href='/Content/css/animations-ie-fix.css' rel='stylesheet'>
<![endif]-->
