﻿@model CCTPMIS.Business.Statics.UserSummary
@using System.Web.Configuration

@if (User.Identity.IsAuthenticated)
{
<div class="col-md-9">
    <h1 class="page-title">@ViewBag.Title</h1>
    @*<span>  @Html.Raw(Html.BuildBreadcrumbNavigation()) </span>*@  
</div>
    
    <div class="col-sm-3">

        <div class="pull-right">

            <ul class="user-info pull-left">
                <li class="profile-info dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                        <img width="44" class="img-circle avatar" alt="" src="@WebConfigurationManager.AppSettings["DIRECTORY_AVATAR_UPLOAD"]/@Model.Avatar">
                        <strong>@Model.DisplayName</strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-right">
                        <li>
                            <a href="@Url.Action("Index", "Manage", new { area = string.Empty })"><i class="icon-user"></i>My profile</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Messages", new { area = string.Empty })"><i class="icon-mail"></i>Messages</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-logout"></i>Sign Out </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
}
<div class="hidden">
    @Html.Partial("_LoginPartial")
</div>