﻿@using System.Web.Configuration

<nav class="navbar navbar-default bg-white top-strip @*navbar-fixed-top*@">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="@Url.Action("Index", "Home", new { area = string.Empty })">
                    <img class="img  pull-left " width="104" height="75" alt=" @WebConfigurationManager.AppSettings["SYSTEM_MINISTRY"]" src="@WebConfigurationManager.AppSettings["SYSTEM_Logo"]">
                </a>
            </div>

            <div class="col-md-6 col-sm-9 col-xs-9">
                <div class="text-center hidden-xs ">
                    <h2 class="system-name"> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] </h2>
                    <h3 class="system-owner"> @WebConfigurationManager.AppSettings["SYSTEM_MINISTRY"]</h3>
                </div>
                <div class="text-center hidden-md hidden-lg hidden-sm">
                    <h2 class="system-name"> @WebConfigurationManager.AppSettings["SYSTEM_SHORT_NAME"] </h2>
                    <h3 class="system-owner"> @WebConfigurationManager.AppSettings["SYSTEM_SHORT_MINISTRY"]</h3>
                </div>
            </div>
            <div class="col-md-3  col-xs-3 hidden-xs hidden-sm">
                <a href="@Url.Action("Index", "Home", new { area = string.Empty })">
                    <img class="img pull-right m-tb-10   " width="180" 
                         alt=" @WebConfigurationManager.AppSettings["SYSTEM_MINISTRY"]" src="/uploads/images/Vision2030_logo.svg">
                </a>
            </div>
        </div>
    </div>

    <div class="strip bg-black"></div>
    <div class="strip bg-red"></div>
    <div class="strip bg-green"></div>
</nav>