﻿@using System.Web.Configuration
@using CCTPMIS.Business.Context
@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity

@{
    var userId = int.Parse(User.Identity.GetUserId());
    var db = new ApplicationDbContext();
    var user = User.GetUserSummary();
    ViewBag.UserGroupId = user.UserGroupId;
    <!DOCTYPE html>
    <html ng-app="clientApp">
    <head>
        <title> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] : @ViewBag.Title </title>
        @Html.Partial("_Head")
    </head>
    <body ng-controller="clientCtrl">
    <div id="app-site">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
        @Html.Partial("_HeaderStrip")
        <div class="page-container">

            <div class="page-sidebar">
                <header class="site-header">
                    <div class="sidebar-collapse hidden-xs">
                        <a class="sidebar-collapse-icon" href="#">
                            <i class="icon-menu"></i> <span class="hidden">Menu</span>
                        </a>
                    </div>
                    <div class="sidebar-mobile-menu visible-xs">
                        <a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </header>
                @Html.Partial("_Sidebar", user)
            </div>
            <div class="main-container">
                <div class="main-header row">
                    @Html.Partial("_Header", user)
                </div>
                <div class="main-content">
                    @if (TempData["MESSAGE"] != null)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-@TempData["KEY"] alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong></strong>
                                    @TempData["MESSAGE"]
                                </div>
                            </div>
                        </div>
                    }
                    
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="hidden">

                    <input type="hidden" id="RootUrl" value="@Url.Content("~/")" />

                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @Scripts.Render("~/bundles/plugins")
                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/bundles/cctpmis")
                    @Scripts.Render("~/bundles/angular")
                    @if (!ViewBag.Title.ToString().Equals("Maps"))
                    {
                        @Scripts.Render("~/bundles/dashboard")
                    }
                    @RenderSection("scripts", required: false)
                    @{
                        var routeData = Request.RequestContext.RouteData;
                        string controllerName = routeData.GetRequiredString("controller").ToLower();
                    }
                    <script>
                        $(document).ready(function() {
                            $('.wizard-steps .@controllerName').parent().addClass('completed');
                        })
                    </script>

                </div>
                <footer class="animatedParent animateOnce z-index-10">
                    @Html.Partial("_Footer")
                </footer>



            </div>
        </div>
    </body>
</html>
}

