﻿@using System.Web.Configuration

<!DOCTYPE html>
<html>
<head>
    <title> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] : @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/print.css")
    <style type="text/css">
        @@media print {
            @@page {
                margin: 0;
            }

            body {
                margin: 1.6cm;
            }

            .container {
                margin: 1.6cm;
            }
        }
    </style>

</head>
<body>
<div class="page-error hidden-print">
    <div class="container hidden-print">
        <div class="page-error-container animatedParent animateOnce z-index-50">
            <div class="page-error-content animated growIn slower">
                   
                <h3>  </h3>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button id="close-window" class="btn btn-primary btn-lg"><i class="fa fa-times"></i> CLOSE AFTER PRINTING</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

    <div class="container  visible-print-block">
        <div class="row">
            <div class="center-block">
                <img class="center-block" width="104" alt=" @WebConfigurationManager.AppSettings["SYSTEM_MINISTRY"]" src="@WebConfigurationManager.AppSettings["SYSTEM_Logo"]">
                <br />

                <p class="system-name"> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] </p>
                <p class="system-owner"> @WebConfigurationManager.AppSettings["SYSTEM_MINISTRY"]</p>
                <p class="system-owner">  @ViewBag.Title </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="strip bg-black" />
                <hr class="strip bg-red" />
                <hr class="strip bg-green" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>


    </div>
 
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/plugins")
        @Scripts.Render("~/bundles/jqueryval")
        @*@Scripts.Render("~/bundles/signalr")*@
        @*@Scripts.Render("~/signalr/hubs")*@
        @Scripts.Render("~/bundles/cctpmis")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
           
            document.getElementById("close-window") .addEventListener("click", function () {
                window.close();
            });
                $(document).ready(function () {
                    window.print();
                });

        </script>
 
</body>
</html>