﻿<!DOCTYPE html>
<html>
<head>
    @{
        var rootUrl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~/");
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - CCTP MIS</title>
    @* <link href="@rootUrl/Content/bootstrap.css" rel="stylesheet" />
        <link href="@rootUrl/Content/hover.css" rel="stylesheet" />
              <link href="@rootUrl/Content/site.css" rel="stylesheet" />*@
    <link href="@rootUrl/Content/export.css" rel="stylesheet" />

    <style type="text/css">
        .text-center {
            text-align: center;
        }

        header, .row {
            width: 100%;
            display: block;
            float: left
        }

        span.text-center {
            text-align: center;
            width: 100%;
            display: inline-block;
        }
    </style>
</head>
<body>

    <header>

        <div class="row">
            <div class="col-md-12 text-center">
                <img src="@rootUrl/uploads/images/logo.png" width="80" />
                <p style="margin-bottom:0px">&nbsp;</p>
                <h2><strong>Consolidated Cash Transfer Programme Management Information System</strong></h2>
                <h3>Ministry of Labour and Social Protection</h3>
                <h4>@ViewBag.Title</h4>
                @if (ViewBag.ListType != null)
                {
                    <h4 style="padding-bottom:15px">(@ViewBag.ListType)</h4>
                }
                else
                {
                    <h4 style="padding-bottom:15px">&nbsp;</h4>
                }
            </div>
        </div>
    </header>

    @RenderBody()
    <section class="footer">
        <p><strong>Downloaded on:</strong> @DateTime.Now.ToString("dd-MM-yyyy hh:mm tt") </p>
        <p><strong>Downloaded by:</strong> @ViewBag.Name </p>
        <p><strong>URL:</strong> @(rootUrl + ViewBag.Url) </p>
    </section>
    @RenderSection("scripts", required: false)
</body>
</html>