﻿@using System.Web.Configuration

<!DOCTYPE html>
<html>
<head>
    <title> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] : @ViewBag.Title </title>
    @Styles.Render("~/Content/export.css")
</head>
<body>
<div class="wrapper">
    <div class="container">
        <table class="table-center table" style="width: 100%; border: none;">
            <tbody>
            <tr>
                <td>
                    <div class="text-center">
                        <img style="width: 100px; height: 100px; margin: 0 auto" src="@WebConfigurationManager.AppSettings["SYSTEM_LINK"]@WebConfigurationManager.AppSettings["SYSTEM_LOGO"]" alt="@WebConfigurationManager.AppSettings["SYSTEM_OWNER"]" />
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="text-center">
                        <h2>
                            @WebConfigurationManager.AppSettings["SYSTEM_MINISTRY"].ToUpper()
                            <br />
                            @WebConfigurationManager.AppSettings["SYSTEM_DEPARTMENT"].ToUpper()
                        </h2>
                        <br />
                        <h2>OFFICE OF THE HEAD OF THE SOCIAL ASSISTANCE UNIT</h2>
                        <br />
                        <h2> @ViewBag.Title</h2>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>

        <div class="page-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>