﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Statics.UserSummary
@{

    /*Payments Module*/
    var canViewPayroll = User.UserGroupHasRight("PAYROLL:VIEW");
    var canViewPaymentCycles = User.UserGroupHasRight("PAYMENT CYCLE:VIEW");
    var canViewPrePayroll = User.UserGroupHasRight("PRE-PAYROLL:VIEW");
    var canViewFundsRequest = User.UserGroupHasRight("REQUEST FOR FUNDS:VIEW");
    var canViewReconciliation = User.UserGroupHasRight("PRE-PAYROLL:VIEW");
    var canViewPostPayroll = User.UserGroupHasRight("POST-PAYROLL:VIEW");
    // var canViewReconciliation = User.UserGroupHasRight("RECONCILIATIONL:VIEW");


    /* Users and Roles and other Settings */
    var canViewUser = User.UserGroupHasRight("USERS:VIEW");
    var canViewUserGroup = User.UserGroupHasRight("USER GROUPS:VIEW");
    var canViewGeoUnits = User.UserGroupHasRight("GEOUNITS:VIEW");
    var canViewGeneralParams = User.UserGroupHasRight("GENERAL PARAMETERS:VIEW");
    var canViewBackups = User.UserGroupHasRight("DATABASE BACKUPS:VIEW");
    var canViewEnrolment = User.UserGroupHasRight("ENROLMENT:VIEW");
    var canViewProgrammes = User.UserGroupHasRight("ENROLMENT:VIEW");
    var canViewPsps = User.UserGroupHasRight("PSPS:VIEW");
    var canviewExpansionPlans = User.UserGroupHasRight("EXPANSION PLANS:VIEW");

    /* PSP Modules */
    var canViewPspPayments = User.UserGroupHasRight("PSP-PAYMENT:VIEW");
    var canViewPspEnrolment = User.UserGroupHasRight("PSP-ENROLMENT:VIEW");
    var canViewPspProfile = User.UserGroupHasRight("PSP-PROFILE:VIEW");


}


<ul id="side-nav" class="main-menu navbar-collapse collapse">

    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a href="@Url.Action("Index", "Home", new { area = string.Empty })">
                <i class="icon-gauge"></i><span class="title">Dashboard</span>
            </a>
        </li>

        @Html.Partial("_AccountSidebar")


        if (canViewEnrolment)
        {
            <li class="has-sub ">
                <a href="@Url.Action("Index", "Default", new { area = "Enrolments" })">
                    <i class="icon-archive"></i><span class="title">Enrolment</span>
                </a>
                <ul class="nav collapse">
                    <li>
                        <a href="@Url.Action("Index", "Default", new { area = "Enrolment" })">
                            <i class="icon-list"></i> <span class="title">  Enrolment List </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Files", "Default", new { area = "Enrolment" })">
                            <i class="fa fa-cloud-download"></i> <span class="title"> Enrolment Files </span>
                        </a>
                    </li>
                </ul>
            </li>

        }

        if (canViewPaymentCycles)
        {
            <li class="has-sub">
                <a href="@Url.Action("Index", "PaymentCycles", new { area = "Payments" })">
                    <i class="fa-money fa"></i><span class="title"> Payments </span>
                </a>
                <ul class="nav collapse">
                    <li>
                        <a href="@Url.Action("Index", "PaymentCycles", new { area = "Payments" })">
                            <span class="title"> Payment Cycles </span>
                        </a>
                    </li>
                    @if (canViewPrePayroll)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Prepayrolls", new { area = "Payments" })">
                                <span class="title"> Pre-payrolls </span>
                            </a>
                        </li>
                    }
                    @if (canViewFundsRequest)
                    {
                        <li>
                            <a href="@Url.Action("Index", "FundsRequests", new { area = "Payments" })">
                                <span class="title"> Funds Requests </span>
                            </a>
                        </li>
                    }
                    @if (canViewPayroll)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Payrolls", new { area = "Payments" })">
                                <span class="title"> Payrolls </span>
                            </a>
                        </li>
                    }
                    @if (canViewReconciliation)
                    {
                        <li>
                            <a href="@Url.Action("Index", "PostPayrolls", new { area = "Payments" })">
                                <span class="title"> Post Payroll </span>
                            </a>
                        </li>
                    }
                    @if (canViewReconciliation)
                    {
                        <li>
                            <a href="@Url.Action("Index", "MonthlyActivity", new { area = "Payments" })">
                                <span class="title"> Activity Reports </span>
                            </a>
                        </li>
                    }
                    @if (canViewReconciliation)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Reconciliation", new { area = "Payments" })">
                                <span class="title">  Reconciliation </span>
                            </a>
                        </li>

                    }

                    <li class="hidden">
                        <a href="@Url.Action("Files", "Payrolls", new { area = "Payments" })">
                        </a>
                        <a href="@Url.Action("MobilizationLists", "Payrolls", new { area = "Payments" })">
                        </a>
                        <a href="@Url.Action("Details", "Prepayrolls", new { area = "Payments" })">
                        </a>
                    </li>

                </ul>
            </li>
        }
         

        <li class="has-sub">
            <a href="#">
                <i class="fa fa-gears"></i><span class="title"> Security and Settings </span>
            </a>
            <ul class="nav collapse">


                @if (canViewGeoUnits)
                {

                    <li class="has-sub">
                        <a href="@Url.Action("Index", "GeoMasters", new { area = "admin" })">
                            <i class="icon-layout"></i><span class="title"> Geo Locations </span>
                        </a>
                        <ul class="nav collapse">
                            <li>
                                <a href="@Url.Action("Index", "GeoMasters", new { area = "admin" })">
                                    <span class="title"> Geo Master Lists </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Districts", new { area = "admin" })">
                                    <span class="title"> Districts </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Divisions", new { area = "admin" })">
                                    <span class="title"> Divisions </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Locations", new { area = "admin" })">
                                    <span class="title"> Locations </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "SubLocations", new { area = "admin" })">
                                    <span class="title"> Sub Locations </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Counties", new { area = "admin" })">
                                    <span class="title"> Counties </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Constituencies", new { area = "admin" })">
                                    <span class="title"> Constituencies </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Wards", new { area = "admin" })">
                                    <span class="title"> Wards </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @if (canViewGeoUnits)
                {
                    <li>
                        <a href="@Url.Action("Index", "PaymentZones", new { area = "admin" })">
                            <i class="fa fa-map-signs"></i><span class="title"> Payment Zones</span>
                        </a>
                    </li>
                }

                @if (canViewGeneralParams)
                {
                    <li>
                        <a href="@Url.Action("Index", "SystemCodes", new { area = "admin" })">
                            <i class="icon-alert"></i><span class="title"> General Parameters </span>
                        </a>
                    </li>
                }

                @if (canViewUser)
                {
                    <li class="has-sub">
                        <a href="@Url.Action("Index", "Users", new { area = "admin" })">
                            <i class="icon-layout"></i><span class="title"> User Management </span>
                        </a>
                        <ul class="nav collapse">
                            @if (canViewUserGroup)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "UserGroupProfiles", new { area = "admin" })">
                                        <span class="title"> User Profiles </span>
                                    </a>
                                </li>


                                <li>
                                    <a href="@Url.Action("Index", "UserGroups", new { area = "admin" })">
                                        <span class="title"> User Groups </span>
                                    </a>
                                </li>
                            }
                            @if (canViewUser)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Users", new { area = "admin" })">
                                        <span class="title"> User Accounts </span>
                                    </a>
                                </li>
                            }


                        </ul>
                    </li>
                }

                @if (canViewPsps)
                {
                    <li>
                        <a href="@Url.Action("Index", "Psps", new { area = "admin" })">
                            <i class="fa fa-bank"></i><span class="title"> PSPs </span>
                        </a>
                    </li>
                }


                @if (canViewProgrammes)
                {
                    <li>
                        <a href="@Url.Action("Index", "Programmes", new { area = "admin" })">
                            <i class="icon-alert"></i><span class="title"> Programmes </span>
                        </a>
                    </li>
                }
                @if (canviewExpansionPlans)
                {
                    <li>
                        <a href="@Url.Action("Index", "ExpansionPlans", new { area = "admin" })">
                            <i class="icon-alert"></i><span class="title"> Expansion Plans </span>
                        </a>
                    </li>
                }
                @*if (canViewBackups)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Backups", new { area = "admin" })">
                                <i class="fa fa-cogs"></i><span class="title"> Backups Manager </span>
                            </a>
                        </li>
                    }
                    if (canViewEnrolment)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Default", new { area = "Enrolment" })">
                                <i class="fa fa-globe"></i><span class="title"> Field Validation </span>
                            </a>
                        </li>
                    }*@





            </ul>

        </li>
    }


    @if (canViewPspEnrolment)
    {

        if (canViewPspProfile)
        {
            <li class="has-sub ">
                <a href="@Url.Action("Index", "Default", new { area = "Psp" })">
                    <i class="icon-gauge"></i><span class="title">Bank Details</span>
                </a>
                <ul class="nav collapse">
                    <li>
                        <a href="@Url.Action("Details", "Default", new { area = "Psp" })">
                            <span class="title"> My Details </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Branches", new { area = "Psp" })">
                            <span class="title"> My Branches </span>
                        </a>
                    </li>
                </ul>
            </li>
        }
        if (canViewPspEnrolment)
        {
            <li>
                <a href="@Url.Action("Index", "Enrolment", new { area = "Psp" })">
                    <i class="icon-archive"></i><span class="title"> Enrolment </span>
                </a>
            </li>
        }
        if (canViewPspPayments)
        {
            <li>
                <a href="@Url.Action("Index", "Payments", new { area = "Psp" })">
                    <i class="icon-basket"></i><span class="title"> Payments </span>
                </a>
            </li>
        }
    }
</ul>

