﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Statics.UserSummary
@{

    /*Payments Module*/
    var canViewPayroll = User.UserGroupHasRight("PAYROLL:VIEW");
    var canViewPaymentCycles = User.UserGroupHasRight("PAYMENT CYCLE:VIEW");
    var canViewPrePayroll = User.UserGroupHasRight("PRE-PAYROLL:VIEW");
    var canViewFundsRequest = User.UserGroupHasRight("REQUEST FOR FUNDS:VIEW");
    var canViewReconciliation = User.UserGroupHasRight("PRE-PAYROLL:VIEW");
    var canViewPostPayroll = User.UserGroupHasRight("POST-PAYROLL:VIEW");

    /* Users and Roles and other Settings */
    var canViewUser = User.UserGroupHasRight("USERS:VIEW");
    var canViewUserGroup = User.UserGroupHasRight("USER GROUPS:VIEW");
    var canViewGeoUnits = User.UserGroupHasRight("GEOUNITS:VIEW");
    var canViewGeneralParams = User.UserGroupHasRight("GENERAL PARAMETERS:VIEW");
    var canViewBackups = User.UserGroupHasRight("DATABASE BACKUPS:VIEW");
    var canViewEnrolment = User.UserGroupHasRight("ENROLMENT:VIEW");
    var canViewProgrammes = User.UserGroupHasRight("ENROLMENT:VIEW");
    var canViewPsps = User.UserGroupHasRight("PSPS:VIEW");
    var canviewExpansionPlans = User.UserGroupHasRight("EXPANSION PLANS:VIEW");
    var canViewProgrammeOfficer = User.UserGroupHasRight("PROGRAMME-OFFICERS:VIEW");
    var canViewAccountActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:VIEW");
    var canViewHouseholdListing = User.UserGroupHasRight("HH LISTING PLANS:VIEW");
    var canViewRecertification = User.UserGroupHasRight("RECERTIFICATION PLANS:VIEW");
    var canViewRegistration = User.UserGroupHasRight("REGISTRATION PLANS:VIEW");
    var canViewEnumerators = User.UserGroupHasRight("ENUMERATORS:VIEW");

    /* PSP Modules */
    var canViewPspPayments = User.UserGroupHasRight("PSP-PAYMENT:VIEW");
    var canViewPspEnrolment = User.UserGroupHasRight("PSP-ENROLMENT:VIEW");
    var canViewPspProfile = User.UserGroupHasRight("PSP-PROFILE:VIEW");
    var isPsp = canViewPspEnrolment || canViewPspPayments || canViewPspProfile;

    var canViewComplaints = User.UserGroupHasRight("COMPLAINTS AND GRIEVANCES:VIEW");
    var canViewUpdates = User.UserGroupHasRight("UPDATES:VIEW");
    var canViewBukTransfer = User.UserGroupHasRight("BULK TRANSFER:VIEW");
    var canViewCaseCategory = User.UserGroupHasRight("CASE CATEGORIES:VIEW");
    var canViewEFC = User.UserGroupHasRight("EFC:VIEW");


    var canViewAuditTrail = User.UserGroupHasRight("AUDIT TRAIL:VIEW");
    var canViewErrorLogs = User.UserGroupHasRight("AUDIT TRAIL:VIEW");

    var canViewReports = User.UserGroupHasRight("REPORTS:VIEW");
    var canViewBeneficiaryStatement = User.UserGroupHasRight("BENEFICIARY STATEMENT:VIEW");
    var canViewPrepayrollReports = User.UserGroupHasRight("PREPAYROLL EXCEPTIONS REPORTS:VIEW");
    var canViewPayrollReports = User.UserGroupHasRight("PAYROLL STATEMENT REPORTS:VIEW");
    var canViewMonthlyActivityReports= User.UserGroupHasRight("MONTHLY ACTIVITY REPORTS:VIEW");



}

<ul id="side-nav" class="main-menu navbar-collapse collapse">

    @if (User.Identity.IsAuthenticated )
    {
        if (!isPsp)
        {
 
            <li>
                <a href="@Url.Action("Index", "Home", new {area = string.Empty})">
                    <i class="icon-gauge"></i><span class="title">Dashboard</span>
                </a>
            </li>
        }

        @Html.Partial("_AccountSidebar")

        if (canViewRegistration || canViewHouseholdListing)
        {
            <li class="has-sub ">
                <a href="#">
                    <i class="icon-globe"></i><span class="title">Targeting </span>
                </a>
                <ul class="nav collapse">
                    @if (canViewHouseholdListing)
                    {
                        <li class="has-sub ">
                            <a href="@Url.Action("Index", "Default", new {area = "HouseHoldListing"})">
                                <i class="icon-archive"></i><span class="title"> Household Listing </span>
                            </a>
                            <ul class="nav collapse">
                                <li>
                                    <a href="@Url.Action("Index", "Plans", new {area = "HouseHoldListing"})">
                                        <i class="fa fa fa-list-ul"></i>
                                        <span class="title"> Household Listing Plans </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "SupervisoryReview", new {area = "HouseHoldListing"})">
                                        <i class="fa fa fa-check"></i>
                                        <span class="title"> Supervisory Review </span>

                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Validations", new {area = "HouseHoldListing"})">
                                        <i class="fa fa fa-key fa-fw"></i>
                                        <span class="title">SR/IPRS Validation </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "CommunityVals", new {area = "HouseHoldListing"})">
                                        <i class="fa fa-users"></i>
                                        <span class="title">
                                            Community Validation
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Closure", new {area = "HouseHoldListing"})">
                                        <i class="fa fa-power-off"></i>
                                        <span class="title">
                                            Household Listing Closure
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (canViewRegistration)
                    {
                        <li class="has-sub ">
                            <a href="@Url.Action("Index", "Default", new {area = "Registration"})">
                                <i class="icon-folder"></i> <span class="title"> Registration </span>
                            </a>
                            <ul class="nav collapse">
                                <li>
                                    <a href="@Url.Action("Index", "Plans", new {area = "Registration"})">
                                        <i class="fa fa-list-ul"></i>
                                        <span class="title"> Registration Plans </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "SupervisoryReview", new {area = "Registration"})">
                                        <i class="fa fa-check"></i>
                                        <span class="title"> Supervisory Review </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "PMTAssesments", new {area = "Registration"})">
                                        <i class="fa fa fa-book fa-fw"></i>
                                        <span class="title">PMT Listing </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "CommunityVals", new {area = "Registration"})">
                                        <i class="fa fa-users"></i>
                                        <span class="title"> Community Validation </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Closure", new {area = "Registration"})">
                                        <i class="fa fa-power-off"></i> <span class="title"> Closure Of Registration </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
        if (canViewEnrolment)
        {
            <li class="has-sub ">
                <a href="@Url.Action("Index", "Default", new {area = "Enrolment"})">
                    <i class="icon-archive"></i><span class="title">Enrolment</span>
                </a>
                <ul class="nav collapse">
                    <li>
                        <a href="@Url.Action("Index", "Default", new {area = "Enrolment"})">
                            <i class="icon-list"></i> <span class="title"> Enrolment List </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Files", new {area = "Enrolment"})">
                            <i class="fa fa-cloud-download"></i> <span class="title"> Enrolment Files </span>
                        </a>
                    </li>
                </ul>
            </li>
        }
        if (canViewRecertification)
        {
            <li class="has-sub ">
                <a href="@Url.Action("Index", "Default", new {area = "Recertification"})">
                    <i class="icon-folder"></i> <span class="title"> Re-certification </span>
                </a>
                <ul class="nav collapse">
                    <li>
                        <a href="@Url.Action("Index", "Plans", new {area = "Recertification"})">
                            <span class="title"> Re-certification Plans </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "SupervisoryReview", new {area = "Recertification"})">

                            <span class="title"> Supervisory Review </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "PMTAssesments", new {area = "Recertification"})">
                            <i class="fa fa-address-book"></i>
                            <span class="title">PMT Listing </span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "CommunityVals", new {area = "Recertification"})">
                            <i class="fa fa-users"></i>
                            <span class="title"> Community Validation </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Closure", new {area = "Recertification"})">
                            <i class="fa fa-power-off"></i> <span class="title"> Closure Of Re-certification </span>
                        </a>
                    </li>
                </ul>
            </li>
        }

        if (canViewPaymentCycles)
        {
            <li class="has-sub">
                <a href="@Url.Action("Index", "PaymentCycles", new {area = "Payments"})">
                    <i class="fa-money fa"></i><span class="title"> Payments </span>
                </a>
                <ul class="nav collapse">
                    <li>
                        <a href="@Url.Action("Index", "PaymentCycles", new {area = "Payments"})">
                            <span class="title"> Payment Cycles </span>
                        </a>
                    </li>
                    @if (canViewPrePayroll)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Prepayrolls", new {area = "Payments"})">
                                <span class="title"> Pre-payrolls </span>
                            </a>
                        </li>
                    }
                    @if (canViewFundsRequest)
                    {
                        <li>
                            <a href="@Url.Action("Index", "FundsRequests", new {area = "Payments"})">
                                <span class="title"> Funds Requests </span>
                            </a>
                        </li>
                    }
                    @if (canViewPayroll)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Payrolls", new {area = "Payments"})">
                                <span class="title"> Payrolls </span>
                            </a>
                        </li>
                    }
                    @if (canViewPostPayroll)
                    {
                        <li>
                            <a href="@Url.Action("Index", "PostPayrolls", new {area = "Payments"})">
                                <span class="title"> Post Payroll </span>
                            </a>
                        </li>
                    }
                    <li class="hidden">
                        <a href="@Url.Action("Files", "Payrolls", new {area = "Payments"})">
                        </a>
                        <a href="@Url.Action("MobilizationLists", "Payrolls", new {area = "Payments"})">
                        </a>
                        <a href="@Url.Action("Details", "Prepayrolls", new {area = "Payments"})">
                        </a>
                    </li>
                </ul>
            </li>
        }

        if (canViewAccountActivity || canViewReconciliation)
        {
            <li class="has-sub">
                <a href="@Url.Action("Index", "MonthlyActivity", new {area = "Funds"})">
                    <i class="fa-money fa"></i><span class="title"> Funds Management </span>
                </a>
                <ul class="nav collapse">


                    @if (canViewAccountActivity)
                    {
                        <li>
                            <a href="@Url.Action("Index", "MonthlyActivity", new {area = "Funds"})">
                                <span class="title"> Activity Reports </span>
                            </a>
                        </li>
                    }
                    @if (canViewReconciliation)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Reconciliation", new {area = "Funds"})">
                                <span class="title"> Reconciliation </span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        if (canViewComplaints || canViewUpdates || canViewBukTransfer)
        {
            <li class="has-sub">
                <a href="@Url.Action("Index", "Changes", new {area = "Case-Management"})">
                    <i class="icon-suitcase"></i><span class="title"> Case Management </span>
                </a>
                <ul class="nav collapse">
                    @if (canViewComplaints)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Complaints", new {area = "CaseManagement"})">
                                <i class="icon-flow-tree"></i><span class="title"> Complaints </span>
                            </a>
                        </li>
                    }
                    @if (canViewUpdates)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Changes", new {area = "CaseManagement"})">
                                <i class="icon-book-open"></i><span class="title"> Updates </span>
                            </a>
                        </li>
                    }

                    @if (canViewBukTransfer)
                    {
                        <li>
                            <a href="@Url.Action("Index", "BulkTransfers", new {area = "CaseManagement"})">
                                <i class="icon-book-open"></i><span class="title"> Bulk Transfers </span>
                            </a>
                        </li>
                    }

                    @if (canViewEFC)
                    {
                        <li>
                            <a href="@Url.Action("Intro", "EfCs", new {area = "CaseManagement"})">
                                <i class="fa fa-flash"></i><span class="title"> Error, Fraud and Corruption </span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        if (canViewReports || canViewBeneficiaryStatement)
        {
            <li class="has-sub">
                <a href="#">
                    <i class="fa fa-bar-chart"></i><span class="title"> Reports </span>
                </a>
                <ul class="nav collapse">
                    @if (canViewBeneficiaryStatement)
                    {
                        <li class="has-sub">
                            <a href="@Url.Action("Index", "BeneficiaryStatement", new {area = "Reports"})">
                                <i class="fa  fa-id-card-o"></i>   <span class="title"> Beneficiary Statement </span>

                            </a>
                            <ul class="nav collapse">
                                <li>
                                    <a href="@Url.Action("Index", "BeneficiaryStatement", new {area = "Reports"})">
                                        <i class="fa  fa-book"></i> <span class="title"> CCTP-MIS Statement </span>
                                        <span class="label label-secondary pull-right">New</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "LegacyBeneficiaryStatement", new {area = "Reports"})">
                                        <i class="fa fa-flag"></i>  <span class="title"> Legacy Statement </span>
                                        <span class="label label-secondary pull-right">External</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }
                    <li>
                        <a href="@Url.Action("Index", "Targeting", new {area = "Reports"})">
                            <i class="fa fa-bullseye"></i><span class="title"> Targeting Reports</span>
                        </a>

                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Enrolment", new {area = "Reports"})">
                            <i class="fa fa-paperclip"></i> <span class="title"> Enrolment Reports</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Action("Index", "Payments", new {area = "Reports"})">
                            <i class="fa fa-money"></i><span class="title">Payments Reports</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "CaseManagement", new {area = "Reports"})">
                            <i class="fa fa-newspaper-o"></i><span class="title">Case Management Reports</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Reports", new {area = "Monitoring"})">
                            <i class="fa icon-docs"></i>   <span class="title"> Qualitative Reports </span>
                        </a>
                    </li>
                </ul>
            </li>

        }

        if (canViewUser || canViewEnumerators || canViewAuditTrail || canViewErrorLogs)
        {
            <li class="has-sub">
                <a href="@Url.Action("Index", "Users", new {area = "admin"})">
                    <i class="fa fa-gears"></i><span class="title"> Security </span>
                </a>
                <ul class="nav collapse">
                    @if (canViewUserGroup)
                    {
                        <li>
                            <a href="@Url.Action("Index", "UserGroupProfiles", new {area = "admin"})">
                                <span class="title"> User Profiles </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "UserGroups", new {area = "admin"})">
                                <span class="title"> User Groups </span>
                            </a>
                        </li>
                    }
                    @if (canViewUser)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Users", new {area = "admin"})">
                                <span class="title"> User Accounts </span>
                            </a>
                        </li>
                    }
                    @if (canViewProgrammeOfficer)
                    {
                        <li>
                            <a href="@Url.Action("Index", "ProgrammeOfficers", new {area = "admin"})">
                                <span class="title"> Programme Officers </span>
                            </a>
                        </li>
                    }

                    @if (canViewEnumerators)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Enumerators", new {area = "admin"})">
                                <span class="title"> Enumerators </span>
                            </a>
                        </li>

                    }


                    @if (canViewErrorLogs)
                    {
                        <li>
                            <a href="@Url.Action("Index", "ErrorLogs", new {area = "Audit"})">
                                <i class="icon-alert"></i><span class="title">Error Logs </span>
                            </a>
                        </li>
                    }
                    @if (canViewAuditTrail)
                    {
                        <li>
                            <a href="@Url.Action("Index", "AuditTrails", new {area = "Audit"})">
                                <i class="icon-alert"></i><span class="title"> Audit Trail </span>
                            </a>
                        </li>
                    }
                </ul>

            </li>
        }
        if (canViewGeneralParams || canViewCaseCategory)
        {
            <li class="has-sub">
                <a href="@Url.Action("Index", "SystemCodes", new {area = "admin"})">
                    <i class="fa fa-gears"></i><span class="title"> System Administration </span>
                </a>
                <ul class="nav collapse">
                    @if (canViewGeneralParams)
                    {
                        <li>
                            <a href="@Url.Action("Index", "SystemCodes", new {area = "admin"})">
                                <i class="icon-alert"></i><span class="title"> General Parameters </span>
                            </a>
                        </li>
                    }
                    @if (canViewProgrammes)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Programmes", new {area = "admin"})">
                                <i class="icon-alert"></i><span class="title"> Programmes </span>
                            </a>
                        </li>
                    }
                    @if (canViewCaseCategory)
                    {
                        <li>
                            <a href="@Url.Action("Index", "CaseCategories", new {area = "Admin"})">
                                <i class="icon-book-open"></i><span class="title"> Case management Categories </span>
                            </a>
                        </li>
                    }
                    @if (canViewGeoUnits)
                    {
                        <li class="has-sub">
                            <a href="@Url.Action("Index", "GeoMasters", new {area = "admin"})">
                                <i class="icon-layout"></i><span class="title"> Geo Locations </span>
                            </a>
                            <ul class="nav collapse">
                                <li>
                                    <a href="@Url.Action("Index", "GeoMasters", new {area = "admin"})">
                                        <span class="title"> Geo Master Lists </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Districts", new {area = "admin"})">
                                        <span class="title"> Districts </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Divisions", new {area = "admin"})">
                                        <span class="title"> Divisions </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Locations", new {area = "admin"})">
                                        <span class="title"> Locations </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "SubLocations", new {area = "admin"})">
                                        <span class="title"> Sub Locations </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Counties", new {area = "admin"})">
                                        <span class="title"> Counties </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Constituencies", new {area = "admin"})">
                                        <span class="title"> Constituencies </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Wards", new {area = "admin"})">
                                        <span class="title"> Wards </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (canViewGeoUnits)
                    {
                        <li>
                            <a href="@Url.Action("Index", "PaymentZones", new {area = "admin"})">
                                <i class="fa fa-map-signs"></i><span class="title"> Payment Zones</span>
                            </a>
                        </li>
                    }

                    @if (canViewPsps)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Psps", new {area = "admin"})">
                                <i class="fa fa-bank"></i><span class="title"> PSPs </span>
                            </a>
                        </li>
                    }
                    @if (canviewExpansionPlans)
                    {
                        <li>
                            <a href="@Url.Action("Index", "ExpansionPlans", new {area = "admin"})">
                                <i class="icon-alert"></i><span class="title"> Expansion Plans </span>
                            </a>
                        </li>
                    }


                </ul>
            </li>
        }


        if (canViewPspProfile)
        {
            <li class="has-sub ">
                <a href="@Url.Action("Index", "Default", new {area = "Psp"})">
                    <i class="icon-gauge"></i><span class="title">Bank Details</span>
                </a>
                <ul class="nav collapse">
                    <li>
                        <a href="@Url.Action("Details", "Default", new {area = "Psp"})">
                            <span class="title"> My Details </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Branches", new {area = "Psp"})">
                            <span class="title"> My Branches </span>
                        </a>
                    </li>
                </ul>
            </li>
        }
        if (canViewPspEnrolment)
        {
            <li>
                <a href="@Url.Action("Index", "Enrolment", new {area = "Psp"})">
                    <i class="icon-archive"></i><span class="title"> Enrolment </span>
                </a>
            </li>
        }
        if (canViewPspPayments)
        {
            <li>
                <a href="@Url.Action("Index", "Payments", new {area = "Psp"})">
                    <i class="icon-basket"></i><span class="title"> Payments </span>
                </a>
            </li>
        }
    }
    <li>
        <a href="@Url.Action("Index", "App", new {area = string.Empty})">
            <i class="fa fa-mobile-phone"></i><span class="title">CCTP MIS Mobile App </span>
        </a>
    </li>
</ul>