﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "../Account/_Layout.cshtml";
}
<div class="page-error-container animatedParent animateOnce z-index-50">
    <div class="page-error-content animated growIn slower">
        <h1 class="text-center">ERROR</h1>
        <h4 class="text-center title">An Application Error Has Occurred and an Application Error Log has been Generated</h4>
            
        <p class="text-center"><a href="/" class="btn btn-primary"> Go to dashboard</a></p>

        <h4 class="text-center title">  
            If the error Persists, Contact the System Administrator.
        </h4>
    </div>
</div>