﻿@using Newtonsoft.Json
@model CCTPMIS.Business.Model.AuditTrail

@{
    ViewBag.Title = " Audit Trail Details";

}
<div class="panel panel-info">

    <div class="panel-body">
        <div class="row animatedParent animateOnce z-index-45">
            <div class="col-lg-12 animated fadeInUp go">
                <table class="table table-condensed table-striped">

                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Id) </th>
                            <td># @Html.DisplayFor(modelItem => Model.Id)</td>
                        </tr>

                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.TableId) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Table.TableName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.FullName) </th>
                            <td> @Html.DisplayFor(modelItem => Model.FullName)</td>
                        </tr>

                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Description) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Description)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.LogTime) </th>
                            <td> @Html.DisplayFor(modelItem => Model.LogTime)</td>
                        </tr>

                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Record) </th>
                            <td>
                                <pre>
        @JsonConvert.SerializeObject(JsonConvert.DeserializeObject(Model.Record), Formatting.Indented)
</pre>
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.WasSuccessful) </th>
                            <td> @Html.DisplayFor(modelItem => Model.WasSuccessful)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.TableId) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Table.TableName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.ModuleRightId) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Module)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Key1) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Key1)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Key2) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Key2)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Key3) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Key3)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Key4) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Key4)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Key5) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Key5)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>