﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.AuditTrail>
@{
    ViewBag.Title = "Audit Trail";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th> Module  </th>
                    <th> Table </th>
                    <th> User </th>
                    <th>  Log Date </th>
                    <th> Description </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Module)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Table.TableName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LogTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a class=" " href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-eye"></i>   </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>