﻿@model CCTPMIS.Business.Model.PaymentCycle

        <div class="row">
            <div class="col-md-12">
                <table class="table  table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.FinancialYearId)  </th>
                            <td> @Html.DisplayFor(modelItem => Model.FinancialYear.Description) </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.FromMonthId) - @Html.DisplayNameFor(modelItem => Model.ToMonthId)  </th>
                            <td> @Html.DisplayFor(modelItem => Model.CycleMonthName)</td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.StatusId) </th>
                            <td>  @Html.DisplayFor(modelItem => Model.Status.Description)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>