﻿@model CCTPMIS.Models.Payment.PostPayrollSummaryViewModel

<div class="row animatedParent animateOnce z-index-46">
    <div class="col-lg-12 animated fadeInUp">
        <div class="accordion" id="prepayroll">

            <div class="panel accordion-group">
                <div class="accordion-heading">
                    <h4 class="title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#PaymentInvalidIDHhs">
                            @Html.DisplayNameFor(modelItem => Model.PaymentInvalidIDHhs)
                        </a>
                    </h4>
                </div>
                <div id="PaymentInvalidIDHhs" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th> Exception Type </th>
                                    <th> Total Exceptions </th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentInvalidIDHhs_BENE)</strong></td>
                                <td>@Html.DisplayFor(modelItem => Model.PaymentInvalidIDHhs_BENE)</td>
                            </tr>
                            <tr>
                                <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentInvalidIDHhs_CG)</strong></td>
                                <td>@Html.DisplayFor(modelItem => Model.PaymentInvalidIDHhs_CG)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel accordion-group">
                <div class="accordion-heading">
                    <h4 class="title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#DuplicateNationalIDHhs">
                            @Html.DisplayNameFor(modelItem => Model.PaymentDuplicateIDHhs)
                        </a>
                    </h4>
                </div>
                <div id="DuplicateNationalIDHhs" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th> Exception Type </th>
                                    <th>   Exceptions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentDuplicateIDHhs_BENEIN)</strong></td>
                                    <td>@Html.DisplayFor(modelItem => Model.PaymentDuplicateIDHhs_BENEIN)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentDuplicateIDHhs_BENEACC)</strong></td>
                                    <td>@Html.DisplayFor(modelItem => Model.PaymentDuplicateIDHhs_BENEACC)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentDuplicateIDHhs_CGIN)</strong></td>
                                    <td>@Html.DisplayFor(modelItem => Model.PaymentDuplicateIDHhs_CGIN)</td>
                                </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentDuplicateIDHhs_CGAC)</strong></td>
                                    <td>@Html.DisplayFor(modelItem => Model.PaymentDuplicateIDHhs_CGAC)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel accordion-group">
                <div class="accordion-heading">
                    <h4 class="title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#InvalidPaymentAccountHhs">
                      @Html.DisplayNameFor(modelItem => Model.PaymentInvalidHhs)
                        </a>
                    </h4>
                </div>
                <div id="InvalidPaymentAccountHhs" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th> Exception Type </th>
                                    <th> Total Exceptions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentInvalidPaymentCardHhs)</strong></td>
                                    <td>@Html.DisplayFor(modelItem => Model.PaymentInvalidPaymentCardHhs)</td>
                                </tr>

                                <tr>
                                    <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentInvalidPaymentAccountHhs)</strong></td>
                                    <td>@Html.DisplayFor(modelItem => Model.PaymentInvalidPaymentAccountHhs)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel accordion-group">
                <div class="accordion-heading">
                    <h4 class="title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#IneligibleHhs">
                            @Html.DisplayNameFor(modelItem => Model.PaymentIneligibleHhs)
                        </a>
                    </h4>
                </div>
                <div id="IneligibleHhs" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> Exception Type </th>
                                    <th> Total Exceptions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentIneligibleHhs_BENE)</strong></td>
                                    <td>@Html.DisplayFor(modelItem => Model.PaymentIneligibleHhs_BENE)</td>
                                 </tr>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentIneligibleHhs_CG)</strong></td>
                                    <td>@Html.DisplayFor(modelItem => Model.PaymentIneligibleHhs_CG)</td>
                                 </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel accordion-group">
                <div class="accordion-heading">
                    <h4 class="title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#SuspiciousPaymentHhs">
                            @Html.DisplayNameFor(modelItem => Model.PaymentSuspiciousHhs)
                        </a>
                    </h4>
                </div>
                <div id="SuspiciousPaymentHhs" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> Exception Type </th>
                                    <th> Total Exceptions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>@Html.DisplayNameFor(modelItem => Model.PaymentSuspiciousHhs)</strong></td>
                                    <td>@Html.DisplayFor(modelItem => Model.PaymentSuspiciousHhs)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>