﻿<ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
        <a href="@Url.Action("Details",new {id= ViewContext.RouteData.Values["id"]})"> Credit Report </a>
    </li>
    <li role="presentation">
        <a href="@Url.Action("Exceptions",new { id= ViewContext.RouteData.Values["id"]})">   Post Payroll Exceptions  </a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Exceptions <span class="caret"></span></a>
        <ul class="dropdown-menu  dropdown-menu-right">
            <li role="presentation">
                <a href="@Url.Action("InvalidIdExceptions", new {id= ViewContext.RouteData.Values["id"]})">Invalid  National IDs</a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("DuplicateIdExceptions", new { id= ViewContext.RouteData.Values["id"]})">Duplicate National IDs</a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("IneligibleExceptions", new { id= ViewContext.RouteData.Values["id"]})"> Ineligible Households / Individuals </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("InvalidAccExceptions", new { id= ViewContext.RouteData.Values["id"]})">Invalid  Bank Accounts </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("InvalidCardExceptions", new { id= ViewContext.RouteData.Values["id"]})">Invalid  Payment Cards </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("SuspiciousExceptions", new { id= ViewContext.RouteData.Values["id"]})"> Suspicious Payments </a>
            </li>
        </ul>
    </li>
</ul>