﻿@model CCTPMIS.Business.Model.EnumeratorLocation

@{
    ViewBag.Title = "Activate Enumerator Location";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p> Are you sure you want to Activate Enumerator Location</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Approve </button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>