﻿@{
    ViewBag.Title = "Enumerator Error";
}
<div class="col-md-12">
    <div class="panel panel-dark">
        <div class="panel-heading">
            <span class="title"> Reset the Password Not Successful </span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        There was an error and the password was not changed
                    </p>

                    <a href="@Url.Action("Details", new { id = ViewContext.RouteData.Values["id"] })" class="btn btn-sm   btn-primary">
                        <i class="fa fa-arrow-alt-circle-left"></i> Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>