﻿@model CCTPMIS.Models.Account.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset the Enumerator PIN ";
}

<div class="col-md-12 ">

    <div class="panel-body">
        <div class="row">

            @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.Email)

@*<div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <strong>
                                <span class="title"> Reset the Password for <strong> @Model.Email </strong></span>
                            </strong>
                            <p>
                                <br />
                                <br />
                                A random password will be generated and sent to the @Model.Email.
                                <br />

                                The User must change the password on subsequent Login.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-12">
                        <a href="@Url.Action("Index")" class="btn   btn-primary">
                            <i class="fa fa-arrow-alt-circle-left"></i> Back to List
                        </a>
                        <input type="submit" class="btn btn-success" value="Reset User Password" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>