﻿@model CCTPMIS.Models.Account.RegisterEnumeratorViewModel
@{
    ViewBag.Title = "Create an Enumerator";

}
<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Create", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="alert alert-info">
                            <strong> PIN GENERATION </strong>

                            A Random PIN will be generated and shared with the User In Order for them to activate their Account.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                            @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                            @Html.ValidationMessageFor(model => model.MiddleName, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group has-error">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                            @Html.ValidationMessageFor(model => model.Surname, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group has-error">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                            @Html.ValidationMessageFor(model => model.MobileNo, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group has-error">
                        @Html.LabelFor(model => model.NationalIdNo, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NationalIdNo, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                            @Html.ValidationMessageFor(model => model.NationalIdNo, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group has-error">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                            @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <table id="EnrolmentGroupsTable" class="table table-condensed table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Select </th>
                                <th> SubCounty  </th>
                                <th> Location  </th>
                            </tr>
                        </thead>
                        <tbody id="EnrolmentGroups">
                        @{
                            int i = 0;
                            foreach (var item in Model.Locations)
                            {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(model => model.Locations[i].IsSelected, new { })
                                </td>
                                <td>
                                   @item.Constituency
                                </td>
                                <td>
                                    @item.Display
                                    @Html.HiddenFor(model => model.Locations[i].Id)
                                </td>
                            </tr>
                                i += 1;
                            }
                        }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12 ">
                            <button type="submit" class="btn btn-success pull-right"> Save Enumerator </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>