﻿@using Microsoft.AspNet.Identity
@model CCTPMIS.Business.Model.Enumerator

@{
    ViewBag.Title = "Enumerator Details";
}

@if (Model.Email != User.Identity.GetUserName())
{
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-2">
                <a href="@Url.Action("Index")" class="btn     btn-primary">
                    <i class="fa fa-arrow-circle-left"></i> Back to List
                </a>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("ChangePassword", new { id = Model.Id })" class="btn     btn-primary">
                    <i class="fa fa-lock"></i> Change Password
                </a>
            </div>

            <div class="col-md-2">
                @if (Model.LockoutEnabled && Model.LockoutEndDateUtc < DateTime.UtcNow)
                {
                    using (Html.BeginForm("Lock", null, new { id = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Lock" onclick="return confirm('Are you sure ?');" class="btn     btn-primary" />
                    }
                }
            </div>
            <div class="col-md-6">
                @if (Model.Id != int.Parse(User.Identity.GetUserId()))
                {
                    if (Model.LockoutEnabled && Model.LockoutEndDateUtc > DateTime.UtcNow)
                    {
                        using (Html.BeginForm("UnLock", null, new { id = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Unlock" onclick="return confirm('Are you sure ?');" class="btn     btn-primary" />
                        }
                    }

                    if (Model.IsActive)
                    {
                        using (Html.BeginForm("Deactivate", null, new { id = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Deactivate" onclick="return confirm('Are you sure ?');" class="btn     btn-primary" />
                        }
                    }

                    if (!Model.IsActive)
                    {
                        using (Html.BeginForm("Activate", null, new { id = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Activate" onclick="return confirm('Are you sure ?');" class="btn     btn-primary" />
                        }
                    }

                    if (Model.LoginDate == null)
                    {
                        <a class="btn btn-primary btn-xs" href="@Url.Action("ResendActivationEmail", new { id = Model.Id })"><i class="fa fa-recycle"></i> Resend Activation Email</a>
                    }

                }
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>
        </strong>
        <p>
            Kindly note that your Email Address and the Enumerator's Email Address Match. You cannot process this Record
        </p>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <h3>Enumerator Details</h3>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.FullName) </th>
                    <td> @Html.DisplayFor(model => model.FullName) </td>

                    <th> @Html.DisplayNameFor(model => model.Email) </th>
                    <td> @Html.DisplayFor(model => model.Email) </td>

                    <th> @Html.DisplayNameFor(model => model.MobileNo) </th>
                    <td> @Html.DisplayFor(model => model.MobileNo) </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.CreatedOn) </th>
                    <td> @Html.DisplayFor(model => model.CreatedOn) </td>

                    <th> @Html.DisplayNameFor(model => model.LoginDate) </th>
                    <td> @Html.DisplayFor(model => model.LoginDate) </td>

                    <th> @Html.DisplayNameFor(model => model.ActivityDate) </th>
                    <td> @Html.DisplayFor(model => model.ActivityDate) </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.LockoutEnabled) </th>
                    <td> @Html.DisplayFor(model => model.LockoutEnabled) </td>

                    <th> @Html.DisplayNameFor(model => model.LockoutEndDateUtc) </th>
                    <td> @Html.DisplayFor(model => model.LockoutEndDateUtc) </td>

                    <th> @Html.DisplayNameFor(model => model.PasswordChangeDate) </th>
                    <td> @Html.DisplayFor(model => model.PasswordChangeDate) </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.IsActive) </th>
                    <td> @Html.DisplayFor(model => model.IsActive) </td>

                    <th> @Html.DisplayNameFor(model => model.AccessFailedCount) </th>
                    <td> @Html.DisplayFor(model => model.AccessFailedCount) </td>

                    <td> </td>
                    <th> </th>
                </tr>

                <tr>
                    <th> @Html.DisplayNameFor(model => model.DeactivatedBy) </th>
                    <td> @ViewBag.DeactivatedByName </td>

                    <th> @Html.DisplayNameFor(model => model.DeactivatedOn) </th>
                    <td> @Html.DisplayFor(model => model.DeactivatedOn) </td>

                    <th> @Html.DisplayNameFor(model => model.NationalIdNo) </th>
                    <td> @Html.DisplayFor(model => model.NationalIdNo) </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <h3>Associated Locations</h3>
    </div>
    @*<div class="col-md-12">
        <div class="m-tb-10 pull-right">
            <a href="@Url.Action("AddLocation", new {enumeratorid = Model.Id})" class="btn modal-link btn-xs    btn-success">
                <i class="fa fa-plus"></i> AddLocation
            </a>
        </div>
    </div>*@
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Status</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EnumeratorLocations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>

                        <td>
                            @if (item.IsActive)
                            {
                            <a class="btn btn-primary modal-link btn-xs" href="@Url.Action("DeActivateLoc", new {id = item.Id})"><i class="fa fa-check"></i> Deactivate</a>
                            }
                            else
                            {
                            <a class="btn btn-primary modal-link btn-xs" href="@Url.Action("ActivateLoc", new {id = item.Id})"><i class="fa fa-times"></i> Activate </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>