﻿@model CCTPMIS.Models.Account.EditEnumeratorViewModel

@{
    ViewBag.Title = "Edit Enumerator";
}
<div class="row">
    <div class="col-md-12">
        @if (!string.IsNullOrEmpty(ViewBag.Success))
        {
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> User details updated successfully.
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Email)
            @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                            @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                            @Html.ValidationMessageFor(model => model.MiddleName, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                            @Html.ValidationMessageFor(model => model.Surname, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NationalIdNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NationalIdNo, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                            @Html.ValidationMessageFor(model => model.NationalIdNo, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                            @Html.ValidationMessageFor(model => model.MobileNo, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <table id="EnrolmentGroupsTable" class="table table-condensed table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Select </th>
                                <th> SubCounty  </th>
                                <th> Location  </th>
                            </tr>
                        </thead>
                        <tbody id="EnrolmentGroups">
                        @{
                            int i = 0;
                            foreach (var item in Model.Locations)
                            {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(model => model.Locations[i].IsSelected, new { })
                                </td>
                                <td>
                                    @item.Constituency
                                </td>
                                <td>
                                    @item.Display
                                    @Html.HiddenFor(model => model.Locations[i].Id)
                                </td>
                            </tr>
                                i += 1;
                            }
                        }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12 ">
                            <a href="@Url.Action("Index")" class="btn   btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
                            <button type="submit" class="btn btn-success"> <i class="fa fa-send"></i> Update Enumerator </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}