﻿@model PagedList.IPagedList<CCTPMIS.Business.Model.Enumerator>
@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@{
    ViewBag.Title = "Enumerators";

    var canView = User.UserGroupHasRight("ENUMERATORS:VIEW");
    var canCreate = User.UserGroupHasRight("ENUMERATORS:ENTRY");
    var canModify = User.UserGroupHasRight("ENUMERATORS:MODIFIER");
    var canDeactivate = User.UserGroupHasRight("ENUMERATORS:DEACTIVATION");
    var canApprove = User.UserGroupHasRight("ENUMERATORS:APPROVAL");
}

<div class="row">
    <div class="col-md-12">
        <div class="m-tb-10 pull-right">
            @if (canCreate)
            {
                @Html.Partial("Common/_AddButton")
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Phone Number
                </th>

                <th>
                    Email/UserName
                </th>
                <th>
                    National Id No.
                </th>

                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalIdNo)
                    </td>
                    <td>
                        @if (canView)
                        {
                            <a class="btn btn-success btn-xs" href="@Url.Action("Details", new {id = item.Id})"><i class="fa fa-eye"></i> View</a>
                        }

                        @if (item.Id != int.Parse(User.Identity.GetUserId()) && item.Id != 1)
                        {
                            if (canModify)
                            {

                                <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", new {id = item.Id})"><i class="fa fa-edit"></i> Edit</a>
                                <a class="btn btn-primary btn-xs" href="@Url.Action("ChangePassword", new {id = item.Id})"><i class="fa fa-scissors"></i> Password</a>
                            }

                        }

                        @if (item.LoginDate == null)
                        {
                            if (canCreate || canModify)
                            {
                                <a class="btn btn-primary btn-xs" href="@Url.Action("ResendActivationEmail", new {id = item.Id})"><i class="fa fa-recycle"></i> Resend Activation Email</a>
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
</div>