﻿@model CCTPMIS.Models.Users.EnumeratorsListViewModel
@using CCTPMIS.Business.Statics
@{
    ViewBag.Title = "Enumerators";

    var canCreate = User.UserGroupHasRight("ENUMERATORS:ENTRY");

}
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <p class="panel-title"> Filter @ViewBag.Title </p>
    <hr>
    <div class="row m-tb-10">
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Officer Name", name = "Name" } })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.EnumeratorNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enumerator No. " } })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number " } })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.NationalIdNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "National ID  " } })
                </div>
            </div>
        </div>
    </div>

    <div class="row m-tb-10">

        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn    btn-success"> <i class="fa fa-filter"></i> Filter </button>
                </div>
            </div>
        </div>
        @*@if (canCreate)
        {
            <div class="col-md-2">
                <div class="form-group">
                    @Html.Partial("Common/_AddButton")
                </div>
            </div>
        }*@
    </div>

    <hr>

}

@Html.Partial("EnumData", Model.Enumerators)