﻿@model dynamic

@{
    ViewBag.Title = "Programme Officer Details Not Found ";

}

<div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong> Error:   </strong>

    <p>
        You have insufficient privileges for the current operation. Please contact your System Administrator
    </p>
</div>