﻿@model CCTPMIS.Models.Account.ResendActivationLinkViewModel

@{
    ViewBag.Title = "Resend  Activation Email Enumerator";
}

<div class="col-md-12 ">

    <div class="panel-body">
        <div class="row">

            @using (Html.BeginForm(null, null,  FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.Email)

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <strong>
                                <span class="title"> Resend an activation link for  <strong> @Model.FullName     </strong></span>
                            </strong>
                            <p>
                                <br />
                                <br />
                                A random password will be regenerated and sent to the @Model.Email.
                                <br />

                                The User must click the Activation link to activate the account and thereafter, change the password for every subsequent Login.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-12">
                        <a href="@Url.Action("Index")" class="btn   btn-primary">
                            <i class="fa fa-arrow-alt-circle-left"></i> Back to List
                        </a>
                        <input type="submit" class="btn btn-success" value="Resend Activation Email" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>