﻿@model CCTPMIS.Models.Enrolment.EnrolmentFileViewModel
@{
    ViewBag.Title = "Beneficiary Enrolment File Details";
}

<div class="row">
    <div class="col-md-12">
        <h3> Enrolment File Details </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table  table-striped table-bordered table-hover">

            <tbody>
 
                <tr>
                    <th>
                        @Html.DisplayNameFor(model =>model.File.Id)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.File.Name)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.File.FilePath)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.File.FilePath)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.File.FileChecksum)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.File.FileChecksum)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.File.FileDownloads)
                    </th>
                    <td>
                        @(Model?.File.FileDownloads?.Count ?? 0)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3> Associated Enrolment Plans </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th> #  </th>
                    <th> Programme  </th>
                    <th> Registration Group  </th>
                    <th> Enrolment Group  </th>
                    <th> No. Of Households </th>
                    <th> Created By  </th>
                    <th> Created On  </th>
                    <th> Approved By  </th>
                    <th> Approved On  </th>
                    <th> Enrolment File  </th>
                    <th> Status </th>
                    <th>   </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Plans)
                {
                    <tr>
                        <td>#@item.Id</td>
                        <td>@item.Programme.Name</td>
                        <td>@item.EnrolmentGroup.Description</td>
                        <td>@item.RegGroup.Description</td>
                        <td>@item.EnrolmentNumbers</td>
                        <td> @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)</td>
                        <td> @Html.DisplayFor(modelItem => item.CreatedOn)</td>
                        <td> @Html.DisplayFor(modelItem => item.ApvByUser.DisplayName)</td>
                        <td> @Html.DisplayFor(modelItem => item.ApvOn)</td>
                        <td> @Html.DisplayFor(modelItem => item.FileCreation.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status.Description)</td>
                        <td> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3> File Download Properties </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table  table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Downloaded By</th>
                    <th> Downloaded On </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var download in Model.File.FileDownloads)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => download.DownloadedByUser.DisplayName) </td>
                        <td> @Html.DisplayFor(modelItem => download.DownloadedOn) </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("Index")" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
                </div>
            </div>
        </div>
    </div>

}