﻿@model CCTPMIS.Business.Model.Psp

@{
    ViewBag.Title = "Details : " + Model.Name;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Code)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>

                <td>
                    @Html.DisplayFor(model => model.IsActive)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>

                <td>
                    @Html.DisplayFor(model => model.User.DisplayName)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryContact)
                </th>

                <td>
                    @Html.DisplayFor(model => model.PrimaryContact)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryEmail)
                </th>

                <td>
                    @Html.DisplayFor(model => model.PrimaryEmail)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryTel1)
                </th>

                <td>
                    @Html.DisplayFor(model => model.PrimaryTel1)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryTel2)
                </th>

                <td>
                    @Html.DisplayFor(model => model.PrimaryTel2)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>