﻿@{
    ViewBag.Title = "PSP is Not Configured";
}

    <div class="row">
        <div class="col-md-12">
            <h3>  </h3>
        </div>
        <div class="col-md-12">
            <div class="alert alert-danger">
                <h3> Error </h3>
                <p class="m-tb-30">
                    Your Bank Profile is not configured yet
                </p>

                <p class="m-tb-30">

                    The Psp that you are trying to Access is not yet configured. Or there is an error accessing your Profile.
                    <br />

                    Kindly try again later. If the Error persists, contact the System Administrators
                </p>
            </div>
        </div>
    </div>