﻿@using System.Web.Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @WebConfigurationManager.AppSettings["SYSTEM_NAME"] </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_HeaderStrip")
    <div class="page-container">
        <div class="login-pag-inner">
            <div class="animatedParent animateOnce z-index-50">
                <div class="login-container animated growIn  slower">
                    <div class="login-content">
                        @if (TempData["MESSAGE"] != null)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-@TempData["KEY"] alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <strong></strong>
                                        @TempData["MESSAGE"]
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2>@ViewBag.Title </h2>
                            </div>
                            <div class="col-md-12">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/plugins")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/cctpmis")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>