﻿@model dynamic
@{
    ViewBag.Title = "Your account has been locked";
    Layout = "_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>
            <i class="fa fa-user-lock"></i> Your account is locked
        </h2>
        <p>
            If your account has been locked, it may mean we've detected some prohibited activity from your account.
        </p>
    </div>
</div>