﻿@model CCTPMIS.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                Have a minimum length of 8 characters
            </li>
            <li>
                Have at least one upper case character (A-Z)
            </li>
            <li>
                Have at least one lower case character (a-z)
            </li>
            <li>
                Have at least one numeric character (0-9)
            </li>
            <li>
                Have at least one special character (!, @@, #, $, %, ^, &, or *)
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.AntiForgeryToken()
                if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Success!</strong> Password updated successfully.
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="~/" class="btn btn-primary">Click to Login</a>
                        </div>
                    </div>
                }
                if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong>  @ViewBag.Error
                            </div>
                        </div>
                    </div>
                }
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                if (string.IsNullOrEmpty(ViewBag.Success))
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Current Password" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "New Password" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">

                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Confirm New Password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-default  btn-primary ">Submit</button>
                    </div>

                }
            }
        </section>
    </div>
</div>