﻿@{
    ViewBag.Title = "Your Email Address Has Not Been Confirmed!";
    Layout = "_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <p>
                Your Email Address was not confirmed. Please try again later.
            </p>

        </div>
    </div>
</div>

@Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
