﻿@{
    ViewBag.Title = "Your Email Address Has Been Confirmed!";
    Layout = "_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div>
            <p>
                Your Email Address Has Been Confirmed! Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>

        </div>
    </div>
</div>