﻿@model HandleErrorInfo

@{
    ViewBag.Title = "User Account Deactivated";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-danger">@ViewBag.Title</h3>
        <p class="text-danger">
            This account has been deactivated. Kindly contact the Administrator.
        </p>
    </div>
</div>