﻿@model CCTPMIS.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <p>

                Enter the email address associated with your account to receive instructions on how to reset your password.
            </p>
            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-12">
                    <button type="submit" class="btn bg-green pull-right" value="Email Link"> <i class="fa fa-send"></i> Continue </button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

}