﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-12">
                <p>
                    If the email you have set has an associated account, A message has been sent to you by email with instructions on how to reset your password.
                </p>
            </div>
            <div class="col-md-12">
                <a class="btn bg-green btn-green pull-right" href="@Url.Action("Login")"> <i class="fa fa-sign-in"></i> Login</a>
            </div>
        </div>
    </div>
</div>