﻿@model HandleErrorInfo

@{
    ViewBag.Title = "User Locked Out";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-danger">Locked out.</h3>
        <p class="text-danger">
            This account has been temporarily locked, please wait and try logging in again in 24 hours If the issue persist, kindly contact the Administrator.
        </p>
    </div>
</div>