﻿@using CaptchaMvc.HtmlHelpers
@model CCTPMIS.Models.Account.LoginViewModel

@if (!User.Identity.IsAuthenticated)
{

    ViewBag.Title = "Sign in";

    <div class="row">
        <div class="col-md-12">

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "e.g. email@sau.co.ke" })
                            @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "Password", placeholder = "password" })
                            @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group captchaholder">
                        <div class="col-md-12 ">
                            <span> Fill the captcha correctly</span>
                        </div>
                        <div class="col-md-12 ">
                            @Html.MathCaptcha("Refresh", " ", "Captcha is valid", true)
                        </div>
                    </div>
                    @*<div class="col-md-12  m-tb-30 ">
                            <div class="g-recaptcha col-md-12" data-sitekey="@Model.RecaptchaKey"></div>
                            <span class="text-danger">@ViewBag.CaptchaErrorMessage </span>
                        </div>*@

                    <div class="form-group col-md-12">
                        <button type="submit" value="Log in" class="btn   btn-success">
                            <i class="fa fa-sign-in"> </i> Sign In
                        </button>
                    </div>
                    <div class="form-group col-md-12">

                        <a class="control-label" href="@Url.Action("ForgotPassword")">Lost your password?</a>
                    </div>
                }
            </section>
        </div>
    </div>

    @*@section Scripts {

            <script src='https://www.google.com/recaptcha/api.js'></script>
        }*@
}
else
{
    ViewBag.Title = "Access Denied ";
    <div class="row">
        <div class="col-md-12">

            <h3> Access Denied </h3>

            <h3>
                Yo do not have access to this Module. Navigate to Modules that you have Access to using the link Below
            </h3>
            <p>
                <a href="@Url.Action("Index","Home", new {area=""})" class="btn btn-lg btn-block btn-primary"> <i class="icon-home"></i> Home  </a>
            </p>
        </div>
    </div>
}