﻿@{
    ViewBag.Title = "Reset password Successful";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <p>
                Your password has been reset successfully. 
                
                <br/>
                
                Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>