﻿@model CCTPMIS.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset your password";
}

<div class="row">
    <div class="col-md-12">

        <div class="col-md-12">
            <ul>
                <li>
                    Have a minimum length of 8 characters
                </li>
                <li>
                    Have at least one upper case character (A-Z)
                </li>
                <li>
                    Have at least one lower case character (a-z)
                </li>
                <li>
                    Have at least one numeric character (0-9)
                </li>
                <li>
                    Have at least one special character (!, @@, #, $, %, ^, &, or *)
                </li>
            </ul>
        </div>

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.UserId)

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" class="btn btn-default" value="Reset" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

}