﻿@{

}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1>@ViewBag.Title.</h1>
            </div>
            <div class="col-md-12">
                <p>
                     An error Occured
                </p>
            </div>
            <div class="col-md-12">
                <a class="reset_pass" href="@Url.Action("ForgotPassword")"> <i class="fa fa-sign-in"></i>  Reset Password </a>
            </div>
        </div>
    </div>
</div>