﻿@*@model CCTPMIS.Models.Account.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>@ViewBag.Title.</h2>

        @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("rememberMe", Model.RememberMe)

            <div class="row">
                <div class="col-md-8">
                    Select Two-Factor Authentication Provider:
                    @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

}*@