﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@model  List<CCTPMIS.Models.Registration.AcceptanceDetailVm>
@{
    var userId = int.Parse(User.Identity.GetUserId());
    var canValidate = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:VERIFY");
    var canAccept = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:ACCEPT");
    var canConfirm = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:ACCEPT");
}

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TargetPlan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BatchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Constituency)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedHHs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AcceptDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AcceptBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AcceptApvBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AcceptApvDate)
                    </td>
                    <td>
                        @(item.IsValidated ? "Yes" : "No")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PendingValidation)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                <li>
                                    <a class="" href="@Url.Action("BatchDetails", new {id = item.Id})"><i class="fa fa-eye"></i> Details </a>
                                </li>
                                <li role="separator" class="divider"></li>

                                @if (canValidate)
                                {
                                    if (!item.IsValidated)
                                    {
                                        if (item.AcceptApvDate != null)
                                        {

                                            <li> <a class="modal-link" href="@Url.Action("Validate", new {id = item.Id, targetPlanId = item.TargetPlanId})"><i class="fa fa-check"></i>  Validate against  SR/IPRS</a></li>
                                            <li role="separator" class="divider"></li>
                                        }
                                    }
                                }

                                @if (canConfirm && item.AcceptApvDate == null)
                                {
                                    if (item.AcceptById == userId)
                                    {
                                        <li> <a aria-disabled="True" class="btn-disabled " href="#"><i class="icon-check"></i> Approve </a></li>
                                    }
                                    else
                                    {
                                        <li> <a class="modal-link" href="@Url.Action("Confirm", new {id = item.Id})"><i class="fa fa-check"></i> Approve </a></li>
                                    }

                                    <li role="separator" class="divider"></li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }