﻿@model    List<CCTPMIS.Business.Model.PspBranch>
<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped table-hover">
            <tr>

                <th>
                    Code
                </th>
                <th>
                    Name
                </th>

                <th>
                    Created On
                </th>

                <th>
                    Created By
                </th>
                <th>
                    Modified By
                </th>
                <th>
                    Modified On
                </th>
                <th>
                    IsActive
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.FirstName)
                    </td>
                    <td>
                        <a class="btn btn-success btn-xs" href="@Url.Action("Details", "PspBranches", new { id = item.Id })">
                            <i class="fa fa-eye"></i>
                        </a>
                        @*<a class="btn btn-primary btn-xs" href="@Url.Action("Edit", "PspBranches", new { id = item.Id })">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", "PspBranches", new { id = item.Id })">
                            <i class="fa fa-trash-o"></i>
                        </a>*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>