﻿@model CCTPMIS.Business.Model.Psp

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Code)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
            </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsActive)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.User.DisplayName)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Code)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedByUser.DisplayName)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                    </td>
                    <th></th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>