﻿@model CCTPMIS.Business.Model.Psp

@{
    ViewBag.Title = "PSP Details";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommonDetails", Model)
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-10">
        <div class="pull-right">
            <a href="@Url.Action("BulkUpload", "Psps", new { id = Model.Id })" class="btn btn-success"> Bulk Upload Branches </a>
            <a href="@Url.Action("Index", "Psps", new { })" class="btn btn-info"> <i class="fa fa-arrow-circle-left"></i> Back </a>
            <a href="@Url.Action("Edit", "Psps", new { id = Model.Id })" class="btn btn-danger"> Edit </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_BranchesList", Model.PspBranches.ToList())
    </div>
</div>