﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.Psp>

@{
    ViewBag.Title = "PSPs";
}

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="pull-right m-tb-10">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Code
                    </th>
                    <th>
                        Name
                    </th>

                    <th>
                        Active
                    </th>
                    <th>
                        Primary Contact
                    </th>
                    <th>
                        Primary Email
                    </th>
                    <th>
                        Primary Phone
                    </th>
                    <th>
                        User
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimaryContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimaryEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimaryTel1)
                        </td>
                        <td>
                            <a href="@Url.Action("Details","Users", new {id =item.UserId})">
                                @Html.DisplayFor(modelItem => item.User.DisplayName)
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-success btn-xs" href="@Url.Action("Details", "Psps", new { id = item.Id })"><i class="fa fa-eye"></i> View</a>
                            <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", "Psps", new { id = item.Id })"><i class="fa fa-edit"></i> Edit </a>
                            <a class="btn btn-danger btn-xs" href="@Url.Action("PspBranches", "Psps", new { id = item.Id })"><i class="fa fa-link "></i> Branches</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, DivisionId = Request["DivisionId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>