﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.PspBranch>

@{
    ViewBag.Title = " Bank  Branches";
}

<div class="row">
    <div class="col-md-12 m-tb-10">
        <div class="pull-right">
            @*<a href="@Url.Action("BulkUpload", "Psps", new { id = ViewContext.RouteData.Values["id"] })" class="btn btn-success"> Bulk Upload Branches </a>*@
            <a href="@Url.Action("Index", "Psps", new { })" class="btn btn-info"> <i class="fa fa-arrow-circle-left"></i> Back </a>
            <a href="@Url.Action("Edit", "Psps", new { id = ViewContext.RouteData.Values["id"] })" class="btn btn-danger"> Edit </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_BranchesList", Model.ToList())
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("PspBranches", new { page, id = ViewContext.RouteData.Values["id"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>