﻿@model CCTPMIS.Models.Registration.BatchesViewModel

@{
    ViewBag.Title = "Accepted Community Validated Batches";
}

@if (Model.PendingAcceptance > 0)
{
    <div class="row">
        <div class="col-md-12  m-tb-10">
            <div class="pull-right">
                <a href="@Url.Action("Accept", new {id = ViewContext.RouteData.Values["id"]})" class="btn modal-link  btn-primary">
                    <i class="fa fa-get-pocket"></i> Accept @Model.PendingAcceptance Records
                </a>
                <a href="@Url.Action("Pending", new {id = ViewContext.RouteData.Values["id"]})" class="btn  btn-primary">
                    <i class="fa fa-get-pocket"></i> View @Model.PendingAcceptance Records
                </a>
            </div>
        </div>
    </div>
}
else
{

}

@Html.Partial("Common/Batches", Model.RegAccepts)

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>