﻿@model CCTPMIS.Models.Recertification.RecertificationSummaryVm

@{
    ViewBag.Title = "Close Validation Exercise";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want to   Close the <strong> @Model.TargetPlan.Name </strong>  Community Validation?
            </p>
        </div>
        @*<div class="col-md-12">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.RegHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.RegHH)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.CvalHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.CvalHH)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.PendingAcceptanceHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.PendingAcceptanceHH)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.ExitedHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.ExitedHH)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.ConfirmedHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.ConfirmedHH)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.AmendedHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.AmendedHH)</td>
                    </tr>
                </tbody>
            </table>
        </div>*@
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*@Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>

                        @if (Model.GetRegistrationSummaryVm.RegHH == Model.GetRegistrationSummaryVm.CvalHH)
                        {
                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i>  Approve </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Cannot Proceed, Pending data. </button>
                        }
                    </div>
                </div>
            </div>
        </div>*@

    }
</div>