﻿body {
    background: #ffffff;
    color: #000000;
}

    body * {
        font-family: sans-serif;
    }

h2 {
    margin-bottom: 10px
}

h3, h4 {
    margin-bottom: 5px
}

h2 {
    font-size: 15px;
    font-weight: bold;
}

h3 {
    font-size: 8px;
    font-weight: bold;
}

h4 {
    font-size: 8px;
}

p {
    font-size: 9px;
    margin-bottom: 15px
}

table p {
    margin-bottom: 5px
}

span.span-checkbox {
    padding: 5px;
    border: 1px solid;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.form-title {
    font-size: 13px
}

.scg-form {
    font-size: 10px;
    line-height: 30px;
}

.scg-form table td, .scg-form table th {
font-size: 9px;
padding: 10px;
}

.no-padding td, .no-padding th {
    padding: 0 !important;
}

.padding-top td {
    padding-top: 15px !important;
}

.padding-bottom td {
    padding-bottom: 15px !important;
}

.scg-form div, .scg-form section {
    padding-bottom: 20px
}

.text-gray {
    color: #999;
}

.cut-icon {
    margin-top: -5px;
}

span.separator {
    margin-top: 20px;
    float: left;
    clear: both;
    width: 100%;
}

.text-center {
    text-align: center;
}

header, .row {
    width: 100%;
    display: block;
    float: left
}

.table-bordered {
    border: 0.3px solid #dddddd;
}

.table {
    width: 100% !important;
    margin-bottom: 20px;
}

table {
    max-width: 100%;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

    table td, table th {
        font-size: 6px;
        padding: 5px;
    }

    table th {
        font-weight: bold
    }

    table.table-bordered td, table.table-bordered th {
        border-bottom: 0.3px solid #dddddd;
        border-right: 0.3px solid #dddddd;
    }

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: left;
}

.col-md-2 {
    width: 16.666666666666664%;
}

.col-md-7 {
    width: 58.333333333333336%;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

.col-md-12 {
    width: 100%;
    clear: both;
}

.col-md-4 {
    width: 33.33333333333333%;
}

.col-md-offset-1 {
    margin-left: 8.333333333333332%;
}

.col-md-offset-2 {
    margin-left: 16.666666666666664%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.footer p {
    font-size: 6px;
}

.checkbox {
    width: 10px;
}

.text-danger {
    color: #a94442;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

    .thumbnail.ben-img {
        height: auto;
        float: none;
        margin: auto;
    }


.underline {
    text-decoration: underline !important;
    padding-left: 1.3em;
    padding-right: 1.3em
}


table.table-center tr th h2,
table.table-center tr td h2, 
table.table-center tr td h2 {
    font-size: 16px !important;
    font-family: sans-serif;
}
table.table-data tr th {
    border-bottom: 1px solid #999;
}
table.table-data tr td, table.table-data tr th {
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1.875em;
    text-align:left;
    padding: 10px 0;
    border-bottom: 1px dashed #999;
}
table.table-fundstable tr td, table.table-fundstable tr th {
    font-size: 12px;
    font-family: sans-serif;
    line-height: 2.875em;
    text-align:left;
    padding: 10px 0;
  
}
