﻿.form-control {
    display: block;
    width: 100%;
    border: 1px solid #c2cfd6;
    -ms-border-radius: 0;
    border-radius: 0;
}

.img {
    border: 0px none;
}

.form-horizontal .control-label, .control-left, .control-label {
    text-align: left;
}

.bg-primary,
.bg-black,
.bg-green,
.bg-red,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-inverse {
    color: #fff;
}

.bg-primary {
    background-color: #20a8d8 !important;
}

a.bg-primary:focus, a.bg-primary:hover {
    background-color: #1985ac !important;
}

.bg-secondary {
    background-color: #a4b7c1 !important;
}

a.bg-secondary:focus, a.bg-secondary:hover {
    background-color: #869fac !important;
}

.bg-success {
    background-color: #4dbd74 !important;
}

a.bg-success:focus, a.bg-success:hover {
    background-color: #3a9d5d !important;
}

.bg-info {
    background-color: #63c2de !important;
}

a.bg-info:focus, a.bg-info:hover {
    background-color: #39b2d5 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

a.bg-warning:focus, a.bg-warning:hover {
    background-color: #d39e00 !important;
}

.bg-danger {
    background-color: #f86c6b !important;
}

a.bg-danger:focus, a.bg-danger:hover {
    background-color: #f63c3a !important;
}

.bg-light {
    background-color: #f0f3f5 !important;
}

a.bg-light:focus, a.bg-light:hover {
    background-color: #d1dbe1 !important;
}

.bg-dark {
    background-color: #29363d !important;
}

a.bg-dark:focus, a.bg-dark:hover {
    background-color: #151b1f !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.main-content {
    min-height: 78vh;
}

/*
.btn-primary {
  color: #fff;
  background-color: #20a8d8;
  border-color: #20a8d8;
}

  .btn-primary:hover {
    color: #fff;
    background-color: #1b8eb7;
    border-color: #1985ac;
  }

  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 3px rgba(32, 168, 216, 0.5);
  }

  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #20a8d8;
    border-color: #20a8d8;
  }

  .btn-primary:active, .btn-primary.active,
  .show > .btn-primary.dropdown-toggle {
    background-color: #1b8eb7;
    background-image: none;
    border-color: #1985ac;
  }

.btn-secondary {
  color: #111;
  background-color: #a4b7c1;
  border-color: #a4b7c1;
}

  .btn-secondary:hover {
    color: #111;
    background-color: #8da5b2;
    border-color: #869fac;
  }

  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 3px rgba(164, 183, 193, 0.5);
  }

  .btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #a4b7c1;
    border-color: #a4b7c1;
  }

  .btn-secondary:active, .btn-secondary.active,
  .show > .btn-secondary.dropdown-toggle {
    background-color: #8da5b2;
    background-image: none;
    border-color: #869fac;
  }

.btn-success {
  color: #fff;
  background-color: #4dbd74;
  border-color: #4dbd74;
}

  .btn-success:hover {
    color: #fff;
    background-color: #3ea662;
    border-color: #3a9d5d;
  }

  .btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 3px rgba(77, 189, 116, 0.5);
  }

  .btn-success.disabled, .btn-success:disabled {
    background-color: #4dbd74;
    border-color: #4dbd74;
  }

  .btn-success:active, .btn-success.active,
  .show > .btn-success.dropdown-toggle {
    background-color: #3ea662;
    background-image: none;
    border-color: #3a9d5d;
  }

.btn-info {
  color: #111;
  background-color: #63c2de;
  border-color: #63c2de;
}

  .btn-info:hover {
    color: #111;
    background-color: #43b6d7;
    border-color: #39b2d5;
  }

  .btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 3px rgba(99, 194, 222, 0.5);
  }

  .btn-info.disabled, .btn-info:disabled {
    background-color: #63c2de;
    border-color: #63c2de;
  }

  .btn-info:active, .btn-info.active,
  .show > .btn-info.dropdown-toggle {
    background-color: #43b6d7;
    background-image: none;
    border-color: #39b2d5;
  }

.btn-warning {
  color: #111;
  background-color: #ffc107;
  border-color: #ffc107;
}

  .btn-warning:hover {
    color: #111;
    background-color: #e0a800;
    border-color: #d39e00;
  }

  .btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5);
  }

  .btn-warning.disabled, .btn-warning:disabled {
    background-color: #ffc107;
    border-color: #ffc107;
  }

  .btn-warning:active, .btn-warning.active,
  .show > .btn-warning.dropdown-toggle {
    background-color: #e0a800;
    background-image: none;
    border-color: #d39e00;
  }

.btn-danger {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

  .btn-danger:hover {
    color: #fff;
    background-color: #f64846;
    border-color: #f63c3a;
  }

  .btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 3px rgba(248, 108, 107, 0.5);
  }

  .btn-danger.disabled, .btn-danger:disabled {
    background-color: #f86c6b;
    border-color: #f86c6b;
  }

  .btn-danger:active, .btn-danger.active,
  .show > .btn-danger.dropdown-toggle {
    background-color: #f64846;
    background-image: none;
    border-color: #f63c3a;
  }

.btn-light {
  color: #111;
  background-color: #f0f3f5;
  border-color: #f0f3f5;
}

  .btn-light:hover {
    color: #111;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
  }

  .btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 3px rgba(240, 243, 245, 0.5);
  }

  .btn-light.disabled, .btn-light:disabled {
    background-color: #f0f3f5;
    border-color: #f0f3f5;
  }

  .btn-light:active, .btn-light.active,
  .show > .btn-light.dropdown-toggle {
    background-color: #d9e1e6;
    background-image: none;
    border-color: #d1dbe1;
  }

.btn-dark {
  color: #fff;
  background-color: #29363d;
  border-color: #29363d;
}

  .btn-dark:hover {
    color: #fff;
    background-color: #1a2226;
    border-color: #151b1f;
  }

  .btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 3px rgba(41, 54, 61, 0.5);
  }

  .btn-dark.disabled, .btn-dark:disabled {
    background-color: #29363d;
    border-color: #29363d;
  }

  .btn-dark:active, .btn-dark.active,
  .show > .btn-dark.dropdown-toggle {
    background-color: #1a2226;
    background-image: none;
    border-color: #151b1f;
  }

.btn-outline-primary {
  color: #20a8d8;
  background-color: transparent;
  background-image: none;
  border-color: #20a8d8;
}

  .btn-outline-primary:hover {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
  }

  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 3px rgba(32, 168, 216, 0.5);
  }

  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #20a8d8;
    background-color: transparent;
  }

  .btn-outline-primary:active, .btn-outline-primary.active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
  }

.btn-outline-secondary {
  color: #a4b7c1;
  background-color: transparent;
  background-image: none;
  border-color: #a4b7c1;
}

  .btn-outline-secondary:hover {
    color: #fff;
    background-color: #a4b7c1;
    border-color: #a4b7c1;
  }

  .btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 3px rgba(164, 183, 193, 0.5);
  }

  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #a4b7c1;
    background-color: transparent;
  }

  .btn-outline-secondary:active, .btn-outline-secondary.active,
  .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #a4b7c1;
    border-color: #a4b7c1;
  }

.btn-outline-success {
  color: #4dbd74;
  background-color: transparent;
  background-image: none;
  border-color: #4dbd74;
}

  .btn-outline-success:hover {
    color: #fff;
    background-color: #4dbd74;
    border-color: #4dbd74;
  }

  .btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 3px rgba(77, 189, 116, 0.5);
  }

  .btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #4dbd74;
    background-color: transparent;
  }

  .btn-outline-success:active, .btn-outline-success.active,
  .show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #4dbd74;
    border-color: #4dbd74;
  }

.btn-outline-info {
  color: #63c2de;
  background-color: transparent;
  background-image: none;
  border-color: #63c2de;
}

  .btn-outline-info:hover {
    color: #fff;
    background-color: #63c2de;
    border-color: #63c2de;
  }

  .btn-outline-info:focus, .btn-outline-info.focus {
    box-shadow: 0 0 0 3px rgba(99, 194, 222, 0.5);
  }

  .btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #63c2de;
    background-color: transparent;
  }

  .btn-outline-info:active, .btn-outline-info.active,
  .show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #63c2de;
    border-color: #63c2de;
  }

.btn-outline-warning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
}

  .btn-outline-warning:hover {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
  }

  .btn-outline-warning:focus, .btn-outline-warning.focus {
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5);
  }

  .btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #ffc107;
    background-color: transparent;
  }

  .btn-outline-warning:active, .btn-outline-warning.active,
  .show > .btn-outline-warning.dropdown-toggle {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
  }

.btn-outline-danger {
  color: #f86c6b;
  background-color: transparent;
  background-image: none;
  border-color: #f86c6b;
}

  .btn-outline-danger:hover {
    color: #fff;
    background-color: #f86c6b;
    border-color: #f86c6b;
  }

  .btn-outline-danger:focus, .btn-outline-danger.focus {
    box-shadow: 0 0 0 3px rgba(248, 108, 107, 0.5);
  }

  .btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #f86c6b;
    background-color: transparent;
  }

  .btn-outline-danger:active, .btn-outline-danger.active,
  .show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #f86c6b;
    border-color: #f86c6b;
  }

.btn-outline-light {
  color: #f0f3f5;
  background-color: transparent;
  background-image: none;
  border-color: #f0f3f5;
}

  .btn-outline-light:hover {
    color: #fff;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
  }

  .btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 3px rgba(240, 243, 245, 0.5);
  }

  .btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #f0f3f5;
    background-color: transparent;
  }

  .btn-outline-light:active, .btn-outline-light.active,
  .show > .btn-outline-light.dropdown-toggle {
    color: #fff;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
  }

.btn-outline-dark {
  color: #29363d;
  background-color: transparent;
  background-image: none;
  border-color: #29363d;
}

  .btn-outline-dark:hover {
    color: #fff;
    background-color: #29363d;
    border-color: #29363d;
  }

  .btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 3px rgba(41, 54, 61, 0.5);
  }

  .btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #29363d;
    background-color: transparent;
  }

  .btn-outline-dark:active, .btn-outline-dark.active,
  .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #29363d;
    border-color: #29363d;
  }

.btn-link {
  font-weight: normal;
  color: #20a8d8;
  border-radius: 0;
}

  .btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled {
    background-color: transparent;
  }

    .btn-link, .btn-link:focus, .btn-link:active {
      border-color: transparent;
      box-shadow: none;
    }

      .btn-link:hover {
        border-color: transparent;
      }

      .btn-link:focus, .btn-link:hover {
        color: #167495;
        text-decoration: underline;
        background-color: transparent;
      }

      .btn-link:disabled {
        color: #536c79;
      }

        .btn-link:disabled:focus, .btn-link:disabled:hover {
          text-decoration: none;
        }

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.btn-block {
  display: block;
  width: 100%;
}

  .btn-block + .btn-block {
    margin-top: 0.5rem;
  }

  */
.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

/******** COLOR SCHEME ************/
.text-black {
    color: #000;
}

.text-red {
    color: #e30613;
}

.text-green {
    color: #009640;
}

.btn-success, .btn-success:visited, .btn-success:active, .btn-success:hover,
.btn-info, .btn-info:visited, .btn-info:active, .btn-info:hover,
.btn-danger, .btn-danger:visited, .btn-danger:active, .btn-danger:hover,
.btn-warning, .btn-warning:visited, .btn-warning:active, .btn-warning:hover,
.btn-black, .btn-black:visited, .btn-black:active, .btn-black:hover,
.btn-green, .btn-green:visited, .btn-green:active, .btn-green:hover,
.btn-red, .btn-red:visited, .btn-red:active, .btn-red:hover,
.bg-black, .bg-black:visited, .bg-black:active, .bg-black:hover,
.bg-green, .bg-green:visited, .bg-green:active, .bg-green:hover,
.bg-red, .bg-red:visited, .bg-red:active, .bg-red:hover {
    color: #fff !important;
}

.bg-black, .btn-black {
    background: #000;
    border-color: #000;
}

.bg-red, .btn-red, .btn-red:active, .btn-red:visited {
    background: #e30613;
    border-color: #e30613;
}

.bg-green, .btn-green {
    background: #009640;
    border-color: #009640;
}

a {
    color: #990000
}

    a:active {
        color: #ff9900;
    }

    a:visited {
        color: #990000;
    }

    a:hover {
        color: #009900;
    }

body {
    color: #000000;
}

h1.page-title, .system-name {
    color: #0000ff;
    font-weight: bold;
}

h2, h3, .system-owner {
    color: #000099;
}

.system-owner, .system-name {
    font-weight: bold;
    text-align: center;
}

.strip {
    height: 3px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tab a {
    color: #000099;
}

.top-strip {
    border: 0px none;
    margin: 0;
}

.page-container {
    /*margin-top: 95px;*/ margin: 0;
}

.container-fluid {
    /*max-width: 1500px;*/
    margin: 0 auto;
}

.main-content {
    padding-top: 20px;
}

.btn-disabled {
}

.modal-link {
}

.btn-ver-pyl-disabled {
}

/* Dan Css*/
.radio-cont {
    float: left;
    margin-right: 20px;
}

    .radio-cont span {
        padding-left: 5px;
    }

.scollable {
    overflow-x: auto;
    width: 100%
}

.tile-stats {
    padding: 20px 15px
}

    .tile-stats .icon {
        top: 40px;
    }

.tile-stats {
    position: relative;
    display: block;
    margin-bottom: 12px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 12px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    transition: all 300ms ease-in-out;
    font-family: "Source Sans Pro", sans-serif;
}

    .tile-stats:hover .icon i {
        animation-name: transformAnimation;
        animation-duration: .5s;
        animation-iteration-count: 1;
        color: rgba(58, 58, 58, 0.41);
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        -webkit-animation-name: transformAnimation;
        -webkit-animation-duration: .5s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: transformAnimation;
        -moz-animation-duration: .5s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease;
        -moz-animation-fill-mode: forwards
    }

    .tile-stats .icon {
        width: 20px;
        height: 20px;
        color: #BAB8B8;
        position: absolute;
        right: 53px;
        top: 22px;
        z-index: 1
    }

        .tile-stats .icon i {
            margin: 0;
            font-size: 60px;
            line-height: 0;
            vertical-align: bottom;
            padding: 0
        }

    .tile-stats .count {
        font-size: 38px;
        font-weight: bold;
        line-height: 1.65857
    }

    .tile-stats .count,
    .tile-stats h3,
    .tile-stats p {
        position: relative;
        margin: 0;
        margin-left: 10px;
        z-index: 5;
        padding: 0
    }

    .tile-stats h3--- {
        color: #BAB8B8
    }

    .tile-stats p {
        margin-top: 5px;
        font-size: 12px
    }

    .tile-stats > .dash-box-footer {
        position: relative;
        text-align: center;
        margin-top: 5px;
        padding: 3px 0;
        color: #fff;
        color: rgba(255, 255, 255, 0.8);
        display: block;
        z-index: 10;
        background: rgba(0, 0, 0, 0.1);
        text-decoration: none
    }

        .tile-stats > .dash-box-footer:hover {
            color: #fff;
            background: rgba(0, 0, 0, 0.15)
        }

        .tile-stats > .dash-box-footer:hover {
            color: #fff;
            background: rgba(0, 0, 0, 0.15)
        }

.dashboard-row a, .dashboard-row .fa {
    color: #ffffff
}

.dashboard-row h3 {
    font-weight: normal;
    color: #ffffff
}

.dashboard-row .panel-body {
    position: relative;
    padding: 15px 0px;
}

.dashboard-row .panel-title {
    color: #505050
}


.efc-info p {
    line-height: 27px;
    margin-bottom: 17px;
    font-size: 18px;
}


@media print {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }

  table {
    width: 100%;
    page-break-inside: avoid !important;
  }

  .page-break {
    page-break-before: always;
  }
}



#app-site {
  display: flex;
  width: 100%;
  height: 100vh;
}


#app-site.slide-out {
  display: none;
} 

.loader {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 100%;
}

.loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  -webkit-animation: rotate 2s linear infinite;
  height: auto;
  transform-origin: center center;
  -webkit-transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }

  40% {
    stroke: #0057e7;
  }

  66% {
    stroke: #008744;
  }

  80%, 90% {
    stroke: #ffa700;
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }

  40% {
    stroke: #0057e7;
  }

  66% {
    stroke: #008744;
  }

  80%, 90% {
    stroke: #ffa700;
  }
}

