﻿@model dynamic
@{
    ViewBag.Title = "Import  SR/IPRS File";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm(null, null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{    
    @Html.AntiForgeryToken()    
    @Html.ValidationSummary() 
    <div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want to Import  SR/IPRS FILE?
            </p>            
        </div>
        
    </div>
</div>

    <div class="modal-footer">
      
        <div class="row">
            <div class="col-md-12">
                
                    <div class="form-group">
                        <input type="file" id="dataFile" name="upload" />
                    </div>
     
                    <div class="form-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                        <button type="submit" class="btn btn-primary">Import.</button>

                    </div>
                
            </div>
        </div>
 
    </div>

}