﻿/*^contentpage {
    background-color: #ffffff;
}

#listView {
    background-color: #ffffff;
}

stacklayout {
    margin: 20;
}

.mainPageTitle {
    font-style: bold;
    font-size: medium;
}

.mainPageSubtitle {
    margin-top: 15;
}

.detailPageTitle {
    font-style: bold;
    font-size: medium;
    text-align: center;
}

.detailPageSubtitle {
    text-align: center;
    font-style: italic;
}

listview image {
    height: 60;
    width: 60;
}

stacklayout > image {
    height: 200;
    width: 200;
}

.WhiteLabel {
    background-color: #ffffff;
}

.headerlogo {
    height: 260;
    width: 260;
}

.MenuCells {
    font-style: bold;
    font-size: medium;
    border-bottom: 2px solid #808080;
    padding: 15;
}

.HomePageGrid {
    margin: 20;
    padding:20;
}

#Frame {
    border-width:1px;
    border-color:forestgreen;
    min-width:100;
}*/