﻿@using System.Web.Configuration
@using CCTPMIS.Business.Context
@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = " CCTP-MIS TARGETING AND RECERTIFICATION TOOL ";
}
@if ((User.Identity.IsAuthenticated))
{
    var userId = int.Parse(User.Identity.GetUserId());
    var db = new ApplicationDbContext();
    var user = User.GetUserSummary();
    ViewBag.UserGroupId = user.UserGroupId;
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] : @ViewBag.Title </title>
        @Html.Partial("_Head")
    </head>
    <body>
        @Html.Partial("_HeaderStrip")
        <div class="page-container">
            <div class="page-sidebar">
                <header class="site-header">
                    <div class="sidebar-collapse hidden-xs">
                        <a class="sidebar-collapse-icon" href="#">
                            <i class="icon-menu"></i> <span class="hidden">Menu</span>
                        </a>
                    </div>
                    <div class="sidebar-mobile-menu visible-xs">
                        <a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </header>
                @Html.Partial("_Sidebar", user)
            </div>
            <div class="main-container">
                <div class="main-header row">
                    @Html.Partial("_Header", user)
                </div>
                <div class="main-content">
                    @if (TempData["MESSAGE"] != null)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-@TempData["KEY"] alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong></strong>
                                    @TempData["MESSAGE"]
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @Scripts.Render("~/bundles/plugins")
                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/bundles/cctpmis")
                    @RenderSection("scripts", required: false)
                </div>
                <footer class="animatedParent animateOnce z-index-10">
                    @Html.Partial("_Footer")
                </footer>
            </div>
        </div>
    </body>
</html>
}
else
{
<!DOCTYPE html>
<html lang="en">
<head>
    <title> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] : @ViewBag.Title </title>
    @Html.Partial("_Head")
</head>
<body>
    @Html.Partial("_HeaderStrip")
    <div class="page-container">
        <div class="page-sidebar">
            <header class="site-header">
                <div class="sidebar-collapse hidden-xs">
                    <a class="sidebar-collapse-icon" href="#">
                        <i class="icon-menu"></i> <span class="hidden">Menu</span>
                    </a>
                </div>
                <div class="sidebar-mobile-menu visible-xs">
                    <a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
                        <i class="icon-menu"></i>
                    </a>
                </div>
            </header>
            <ul id="side-nav" class="main-menu navbar-collapse collapse">
                <li>
                    <a href="@Url.Action("Index", "App", new {area = string.Empty})">
                        <i class="fa fa-mobile-phone"></i><span class="title">CCTP MIS Mobile App </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Login", "Account", new {area = string.Empty})">
                        <i class="fa fa-sign-in"></i><span class="title"> Login </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-container">
            <div class="main-header row">
            </div>
            <div class="main-content">
                @if (TempData["MESSAGE"] != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-@TempData["KEY"] alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong></strong>
                                @TempData["MESSAGE"]
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="hidden">
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/bundles/plugins")
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/cctpmis")
                @RenderSection("scripts", required: false)
            </div>
        </div>
    </div>
    <footer class="animatedParent animateOnce z-index-10">
        @Html.Partial("_Footer")
    </footer>
</body>
</html>
}

