﻿@model dynamic

@{
    ViewBag.Title = "Consolidate Cash Transfer Programmes MIS Data Capture Mobile Application";
    Layout = "_Layout.cshtml";
}


<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5 slid">
                    <div id="top" class="callbacks_container">
                        <ul class="rslides" id="slider4">
                            <li>
                                <div class="mobile-device">
                                    <img src="/uploads/mobile/mobile.jpg" width='80%' alt="" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 banner-info-left">
                    <h2>  CCTP MIS  TARGETING AND RE-CERTIFICATION TOOL </h2>

                    <p> This is the NEW way to capture Beneficiary Households Data during Household Listing, Registration and Recertification.</p>
                    <p>
                        With realtime Capabilities to capture associated Households Information during Registration, Targeting and Recertifiction .
                    </p>
                    <p>
                        CCTP MIS  Integrated  Mobile Application run on the Google Android operating system. Survey enumerators and their supervisors use the mobile application to
                        list, register and re-certify households and to collect data from structured, quantifiable questionnaires.
                    </p>
                    <p>
                        Survey enumerators to collect and submit reliable data from household surveys whilst they travel from village to village to interview household members from one household to the next.
                    </p>
                    <p>
                        Although a user who collects and stores data in a mobile tablet can do without an Internet connection whilst conducting a household survey, the mobile tablet still requires a connection to the Internet when it is necessary to send and receive data to and from the central CCTP MIS system.
                    </p>
                    <div class="clearfix"> </div>
                    <div class="banner-buttons">
                        <div class="banner-button green-button">
                            <a class="pull-left" href="/uploads/mobile/ke.go.inuajamii.cctp.apk">
                                <img src="/uploads/mobile/2.png" alt="" />
                            </a>
                            <a class="pull-right" href="#">
                                <img src="/uploads/mobile/1.png" alt="" />
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>