﻿@model CCTPMIS.Models.Enrolment.EnrolmentListViewModel
@{

}

@if (Model.ReportTypeId == 1)
{
    <table class="table  table-striped table-bordered  table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.EnrolmentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.BeneficiaryIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.BeneficiarySex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.BeneficiaryDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.CaregiverIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.CaregiverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.CaregiverSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.CaregiverDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.SubCounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.SubLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.Bank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.BankBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.PaymentCardNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary.Status)
            </th>
        </tr>

        @foreach (var item in Model.IDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrolmentNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryIdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiarySex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverIdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCounty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankBranch)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PaymentCardNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>

        }
    </table>

}
else
{
    <table class="table  table-striped table-bordered  table-hover">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.SubCounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.SubLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Male)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Female)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Total)
            </th>
        </tr>

        @foreach (var item in Model.ISummaries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCounty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Male)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Female)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </table>

}