﻿@model CCTPMIS.Models.Payment.MonthlyActivityListViewModel

@if (Model.ReportTypeId == 1)
{

    <table class="table  table-striped table-bordered  table-hover">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.ActivityMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.EnrolmentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.Programme)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.BeneficiaryIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.BeneficiarySex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.BeneficiaryDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.CaregiverIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.CaregiverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.CaregiverSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.CaregiverDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.SubCounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.SubLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.HadUniqueWithdrawal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.IdentityOfWithdrawal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.DateOfWithdrawal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.AccountDormant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.DormancyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.ProofOfLife)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.VerificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.IsDueForClawback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.ClawbackAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrePayrollException.DateOfClawback)
            </th>
        </tr>

        @foreach (var item in Model.IDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrolmentNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryIdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiarySex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverIdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCounty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubLocation)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HadUniqueWithdrawal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityOfWithdrawal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfWithdrawal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountDormant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DormancyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProofOfLife)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VerificationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDueForClawback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClawbackAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfClawback)
                </td>
            </tr>

        }
    </table>

}
else
{
    <table class="table  table-striped table-bordered  table-hover">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.SubCounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.SubLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Male)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Female)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Total)
            </th>
        </tr>

        @foreach (var item in Model.ISummaries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCounty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Male)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Female)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </table>

}