﻿@model CCTPMIS.Models.Payment.PayrollStatementListViewModel

@if (Model.ReportTypeId == 1)
{
    <table class="table  table-striped table-bordered  table-hover">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.EnrolmentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.Programme)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.BeneficiaryIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.BeneficiarySex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.BeneficiaryDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.CaregiverIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.CaregiverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.CaregiverSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.CaregiverDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.SubCounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.SubLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.PaymentCycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.EntitlementAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.ArrearsAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.CreditStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.TransactionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.PSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollStatement.AccountName)
            </th>
        </tr>

        @foreach (var item in Model.IDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrolmentNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryIdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiarySex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverIdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaregiverDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCounty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentCycle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntitlementAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrearsAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
            </tr>

        }
    </table>

}
else
{
    <table class="table  table-striped table-bordered  table-hover">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.SubCounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.SubLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Male)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Female)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.Total)
            </th>
        </tr>

        @foreach (var item in Model.ISummaries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCounty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Male)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Female)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </table>

}