﻿@model CCTPMIS.Business.Model.Ward

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Constituency.County.GeoMasterId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Constituency.County.GeoMaster.Name)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.Constituency.CountyId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Constituency.County.Name)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.Constituency.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Constituency.Name)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Code)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedByUser.DisplayName)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>