﻿@model dynamic

@{
    ViewBag.Title = "Verify Integrity of the Enrolment File";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="btn btn-default btn-file">
                Browse <input type="file" style="display: none" id="EnrolmentFile" accept="text/csv" name="upload"/>
            </label>
            <label>
                <span id="dataFileLabel"> </span>
            </label>
        </div>

    </div>

    <div id="list" class="col-md-12">


    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/encryption")

    <script type="text/javascript">
        (function() {

        });
    </script>


}