﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Models.Admin.FilesViewModel>

@{
    ViewBag.Title = "Enrolment Files";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered ">
            <tr>
                <th>
                    File
                </th>

                <th>
                    Date Created
                </th>
                <th>
                    Date Downloaded
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DownloadedOn)
                    </td>
                    <td>
                        @if (item.FileDownloadId == null)
                        {
                            <span>Pending Download</span>
                        }
                        @if (item.DownloadedBy != null)
                        {

                            if (item.DownloadedBy != null)
                            {
                                <span> Verified </span>
                            }
                            else
                            {
                                <span> Pending Verification </span>
                            }
                        }
                    </td>

                    <td>
                        <a class="btn btn-success btn-xs" href="@Url.Action("Verify", "Files", new { id = item.Id, fileDownloadId = item.FileDownloadId })">
                            <i class="fa fa-download"></i> Download / Verify
                        </a>
                        @if (string.IsNullOrEmpty(item.FileChecksum2))
                        {

                        }
                        @*@if (item.DownloadedOn != null && string.IsNullOrEmpty(item.FileChecksum2))
                            {
                                <a class="btn btn-success btn-xs" href="@Url.Action("Verify", new { id = item.Id })">
                                    <i class="icon-search"></i> Verify
                                </a>
                            }*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, DistrictId = Request["DistrictId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing  @Model.Count of   @Model.TotalItemCount
    </div>
</div>