﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.Module>

@{
    ViewBag.Title = "System Modules";
}

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped">
            <tr>

                <th colspan="2">
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
                if (item.ChildModules.Any())
                {
                    foreach (var subItem in item.ChildModules)
                    {
                        <tr>

                            <td></td>
                            <td>
                                @Html.DisplayFor(modelItem => subItem.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => subItem.Description)
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>