﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Registration.BatchesViewModel

@{
    ViewBag.Title = "Household Listing  Community Validation Batches";
    var canVerify = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:VERIFY");
    var canValidate = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:VALIDATE");
    var canView = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:VIEW");
    var canAccept = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:ACCEPT");
}

@if (Model.PendingAcceptance > 0)
{
    if (canAccept)
    {
        <div class="row">
            <div class="col-md-12  m-tb-10">
                <div class="pull-right">
                    <a href="@Url.Action("Pending", new {id = ViewContext.RouteData.Values["id"]})" class="btn  btn-primary">
                        <i class="fa fa-get-pocket"></i> View @Model.PendingAcceptance Pending Records
                    </a>
                </div>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Listing Plan
                </th>
                <th>
                    Batch Name
                </th>
                <th>
                    Sub County
                </th>

                <th>
                    Received
                </th>
                <th>
                    Date Accepted
                </th>
                <th>
                    Accepted By
                </th>
                <th>
                    Approved By
                </th>
                <th>
                    Approved Date
                </th>
                <th>
                    IS SR/IPRS Validated
                </th>
                <th>Members pending Validation</th>
                <th></th>
            </tr>

            @if (Model.ListingBatches.Any())
            {

                @Html.Partial("Common/Batches", Model.ListingBatches)

            }
        </table>
    </div>
</div>

<div class="row  m-tb-30">
    <div class="col-md-3">
        @Html.Partial("Common/_BackToList")
    </div>
</div>