﻿@model CCTPMIS.Models.Registration.ComValSummaryVm

@{
    ViewBag.Title = "Finalize Household Listing Community Validation";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want to   Finalize the <strong> @Model.TargetPlan.Name </strong>  Community Validation?
            </p>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.RegHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.RegHH)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.CvalHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.CvalHH)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.PendingAcceptanceHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.PendingAcceptanceHH)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.ConfirmedHH)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.ConfirmedHH)</td>
                    </tr>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.AmendedHH)</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.AmendedHH)</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.ExitedHH)</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.ExitedHH)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>

                        @if (Model.GetComValSummaryVm.RegHH == Model.GetComValSummaryVm.CvalHH)
                        {
                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i>  Finalize </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Cannot Proceed, Pending data. </button>
                        }
                    </div>
                </div>
            </div>
        </div>

    }
</div>