﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.TargetPlan>

@{
    var userId = int.Parse(User.Identity.GetUserId());

    ViewBag.Title = "Household Listing  Community Validation";

    var canView = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:VIEW");
    var canApprove = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:APPROVAL");
    var canFinalize = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:FINALIZE");
    var canAccept = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:ACCEPT");
    var canVerify = User.UserGroupHasRight("HH LISTING COMMUNITY VAL:VERIFY");
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Exercise Period
                </th>
                <th>
                    Description
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start) - @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Description)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                @if (canView)
                                {

                                    <li>
                                        <a class="   " href="@Url.Action("Details", new {id = item.Id})">
                                            <i class="fa fa-eye"></i> Details
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a class="   " href="@Url.Action("Batches", new {id = item.Id})">
                                            <i class="fa fa-group"></i> Batches
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                }
                                @if (item.Status.Code == "COMMVAL")
                                {

                                    if (canFinalize)
                                    {
                                        <li> <a class="modal-link" href="@Url.Action("Finalize", new {id = item.Id})"><i class="fa fa-check"></i> Finalize Community Validation </a></li>

                                        <li role="separator" class="divider"></li>
                                    }

                                }

                                @if (item.Status.Code == "COMMVALAPV")
                                {
                                    if (canFinalize && item.ComValBy != userId)
                                    {
                                        <li> <a class="modal-link" href="@Url.Action("Close", new {id = item.Id})"><i class="fa fa-check"></i> Close Community Validation  </a></li>

                                        <li role="separator" class="divider"></li>
                                    }
                                    else
                                    {
                                        <li> <a aria-disabled="True" class="btn-disabled " href="#"><i class="icon-check"></i>   Close Community Validation </a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>