﻿@using System.Web.Configuration
@using CCTPMIS.Business.Statics

@{
    var user = User.GetUserSummary();

    <!DOCTYPE html>
    <html>
    <head>
        <title> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] : @ViewBag.Title </title>
        @Html.Partial("_Head")
    </head>
    <body>
    @Html.Partial("_HeaderStrip")
    <div class="page-container">
        <div class="page-sidebar">
            <header class="site-header">
                <div class="sidebar-collapse hidden-xs">
                    <a class="sidebar-collapse-icon" href="#">
                        <i class="icon-menu"></i>
                    </a>
                </div>
                <div class="sidebar-mobile-menu visible-xs">
                    <a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
                        <i class="icon-menu"></i>
                    </a>
                </div>
            </header>
            @Html.Partial("_Sidebar", user)
        </div>
        <div class="main-container">
            <div class="main-header row">
                @Html.Partial("_Header", user)
            </div>
            <div class="main-content">
                @if (TempData["MESSAGE"] != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-@TempData["KEY"] alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong></strong>
                                @TempData["MESSAGE"]
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="hidden">
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/bundles/plugins")
                @Scripts.Render("~/bundles/jqueryval")
                @*@Scripts.Render("~/bundles/signalr")*@
                @*@Scripts.Render("~/signalr/hubs")*@
                @Scripts.Render("~/bundles/cctpmis")
                @RenderSection("scripts", required: false)
            </div>
            <footer class="animatedParent animateOnce z-index-10">
                @Html.Partial("_Footer")
            </footer>
        </div>
    </div>
    </body>
    </html>
}