﻿<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-tabs">
            <li role="presentation">
                <a href="@Url.Action("HouseholdSummary", new {id = ViewContext.RouteData.Values["id"], locationId = Request["locationId"]})" role="tab" > Household Information </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("HouseholdRegCharacteristic", new {id = ViewContext.RouteData.Values["id"], locationId = Request["locationId"]})" role="tab" > Household Characteristics </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("HouseholdRegMembers", new {id = ViewContext.RouteData.Values["id"], locationId = Request["locationId"]})" role="tab" > Members </a>
            </li>
        </ul>
    </div>
</div>