﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.HouseholdReg>

@{
    ViewBag.Title = "Registration PMT Listing - Scores";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-users table-striped table-hover">
            <tr>
                <th> Targeting Id</th>

                <th> Location</th>
                <th> Sub Location</th>
                <th> Village</th>
                <th> Programme </th>
                <th> Registration Date</th>
                <th> Result  </th>
                <th> PMT Score </th>
                <th>  </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubLocation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Village)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Programme.Code)
                    </td>
                    <td>
                        @item.RegistrationDate.ToString("G")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InterviewResult.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PMTScore)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">

                                <li><a class=" " href="@Url.Action("HouseholdSummary", new { id = item.Id, locationId = item.LocationId})"><i class="fa fa-eye"></i> View Household Details </a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Households", new { id = ViewContext.RouteData.Values["id"], page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>

    <div class="col-md-12">
        <a onclick="window.history.go(-1); return false;" class="btn   btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to Batch List  </a>
    </div>
</div>