﻿@model IEnumerable<CCTPMIS.Business.Model.HouseholdRegMember>

@{
    ViewBag.Title = "Household Registration Members";
}

@Html.Partial("_Householdmenu")

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                       Name
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.IdentificationNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ChronicIllnessStatusId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisabilityCareStatusId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisabilityTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EducationLevelId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FatherAliveStatusId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FormalJobNgoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdentificationTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LearningStatusId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaritalStatusId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MotherAliveStatusId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RelationshipId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SexId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SpouseInHouseholdId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkTypeId)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CareGiverId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SpouseId)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)

                            @Html.DisplayFor(modelItem => item.MiddleName)

                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdentificationNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ChronicIllnessStatus.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisabilityCareStatus.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisabilityType.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EducationLevel.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FatherAliveStatus.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormalJobNgo.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdentificationType.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LearningStatus.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaritalStatus.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MotherAliveStatus.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Relationship.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpouseInHousehold.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkType.Description)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CareGiverId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpouseId)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="row  m-tb-30">
    <div class="col-md-12">
        <a onclick="window.history.go(-1); return false;" class="btn   btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to Batch List  </a>
    </div>
</div>