﻿@model CCTPMIS.Business.Model.HouseholdRegCharacteristic

@{
    ViewBag.Title = "Household  Characteristics";
}

@Html.Partial("_Householdmenu")
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-users table-striped table-hover">
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HabitableRooms)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.HabitableRooms)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsOwnedId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsOwned.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenureStatusId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.TenureStatus.Description)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RoofMaterialId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.RoofMaterial.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WallMaterialId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.WallMaterial.Description)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FloorMaterialId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.FloorMaterial.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DwellingUnitRiskId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.DwellingUnitRisk.Description)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WaterSourceId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.WaterSource.Code)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ToiletTypeId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ToiletType.Code)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CookingFuelSourceId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CookingFuelSource.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LightingSourceId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.LightingSource.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsTelevisionId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsTelevision.Description)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsMotorcycleId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsMotorcycle.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsTukTukId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsTukTuk.Description)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsRefrigeratorId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsRefrigerator.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsCarId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsCar.Description)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsMobilePhoneId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsMobilePhone.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsBicycleId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsBicycle.Code)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ExoticCattle)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ExoticCattle)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IndigenousCattle)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IndigenousCattle)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Sheep)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Sheep)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Goats)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Goats)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Camels)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Camels)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Donkeys)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Donkeys)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Pigs)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Pigs)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Chicken)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Chicken)
                    </td>
                </tr>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.LiveBirths)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.LiveBirths)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Deaths)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Deaths)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdConditionId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.HouseholdCondition.Description)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsSkippedMealId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsSkippedMeal.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NsnpProgrammesId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.NsnpProgrammes.Description)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OtherProgrammesId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.OtherProgrammes.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OtherProgrammeNames)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.OtherProgrammeNames)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BenefitTypeId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.BenefitType.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InKindBenefit)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.InKindBenefit)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InKindBenefit)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.InKindBenefit)
                    </td>
            </tr>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LastReceiptAmount)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.LastReceiptAmount)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row  m-tb-30">
    <div class="col-md-12">
        <a onclick="window.history.go(-1); return false;" class="btn   btn-primary"><i class="fa fa-arrow-circle-left"></i> Back  </a>
    </div>
</div>