﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.TargetPlan>

@{
    ViewBag.Title = "Registration PMT Listing";
    var userId = int.Parse(User.Identity.GetUserId());
    var canCreatePlan = User.UserGroupHasRight("REGISTRATION PLANS:ENTRY");
    var canViewPlan = User.UserGroupHasRight("REGISTRATION PLANS:VIEW");
    var canEditPlan = User.UserGroupHasRight("REGISTRATION PLANS:MODIFIER");
    var canApprovePlan = User.UserGroupHasRight("REGISTRATION PLANS:APPROVAL");
}
<div class="row">
    <div class="col-md-12">
        <div class="m-tb-10 pull-right">
            @if (canCreatePlan)
            {
                @Html.Partial("Common/_AddButton")
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
          <thead> <tr>
                <th>
                    Name
                </th>
                <th>
                    Exercise Period
                </th>
                <th>
                    Description
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
            </thead>
          <tbody>
              @foreach (var item in Model)
              {
                  <tr>
                      <td>
                          @Html.DisplayFor(modelItem => item.Name)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.Start) - @Html.DisplayFor(modelItem => item.End)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.Description)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.Status.Description)
                      </td>
                      <td>
                          <div class="btn-group">
                              <button type="button" class="btn btn-primary">Actions</button>
                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu  dropdown-menu-right">
                                  @if (canViewPlan)
                                  {
                                      <li><a class=" " href="@Url.Action("Households", new { id = item.Id })"><i class="fa fa-eye"></i> Households </a></li>
                                      <li role="separator" class="divider"></li>
                                  }
                              </ul>
                          </div>
                      </td>
                  </tr>
              }
          </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>