﻿@model CCTPMIS.Business.Model.PspBranch

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommonDetails", Model)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="@Url.Action("Details", "PspBranches", new { id = Model.Id })" class="btn btn-info"> Details </a>
            @*<a href="@Url.Action("Edit", "PspBranches", new { id = Model.Id })" class="btn btn-danger"> Edit </a>*@
        </div>
    </div>
</div>