﻿@model PagedList.IPagedList<CCTPMIS.Business.Model.PspBranch>

@{
    ViewBag.Title = "Bank Branches";
}

<div class="row">
    <div class="col-md-9">
        <div class="row">
            @using (Html.BeginForm(null, null, FormMethod.Get))
            {
                <div class="col-md-9">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.DropDownList("PspId", null, "Select PSP ", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.Label("PSP", htmlAttributes: new { @class = "control-label col-md-12" })
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-sm"> <i class="fa fa-search"></i> Filter </button>
                </div>
            }
        </div>
    </div>
    @*<div class="col-md-3">
        @Html.Partial("Common/_AddButton")
    </div>*@
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Psp
                </th>
                <th>
                    Code
                </th>
                <th>
                    Name
                </th>
                <th>
                    Is Active
                </th>
                <th>
                    Geo Cordinate
                </th>
                <th>
                    Sub Location
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Psp.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @if (item.Longitude != null)
                        {
                            <span>
                                [ @Html.DisplayFor(modelItem => item.Latitude) @Html.DisplayFor(modelItem => item.Longitude) ]
                            </span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubLocation.Name)
                    </td>
                    <td>
                        <a class="btn btn-success btn-xs" href="@Url.Action("Details", new { id = item.Id })">
                            <i class="fa fa-eye"></i> View
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>