﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.ReconciliationDetail

@{

    ViewBag.Title = "Delete PSP Reconciliation Summary";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
    var candeletePcProgrammes = User.UserGroupHasRight("RECONCILIATION:MODIFIER");
}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p> Are you sure you want to Delete this  Reconciliation </p>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">

                <tbody>
                    <tr>
                        <th> PSP </th>
                        <td> @Model.Psp.Name  </td>
                    </tr>

                    <tr>
                        <th> Period </th>
                        <td> @Model.Reconciliation.StartDate -  @Model.Reconciliation.EndDate  </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <p>
                <strong>
                    Please note that this action can not be undone!
                </strong>
            </p>
        </div>
    </div>
</div>

<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.PspId)
        @Html.HiddenFor(model => model.ReconciliationId)
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @if (candeletePcProgrammes)
                        {
                            <button type="submit" class="btn btn-danger "> <i class="fa fa-times"></i> Delete </button>
                        }
                    </div>
                </div>
            </div>
        </div>

    }

    @section scripts
{

        <script type="text/javascript">

        $(document).on("submit", "form", function (e) {

            $(this).find("button[type='submit']").each(function () {
                $(this).addClass("disabled");
            });
            $("#progress").removeClass("hidden");
        });
        </script>
    }
</div>