﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.ReconciliationDetail

@{

    ViewBag.Title = "View PSP Reconciliation Summary";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
    var candeletePcProgrammes = User.UserGroupHasRight("RECONCILIATION:VIEW");
}

<div class="modal-body">
    <div class="row">

        <div class="col-md-12">
            <h3> Reconciliation Summary</h3>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover table-bordered">
                <tbody>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.Reconciliation.StartDate) </th>
                        <td> @Html.DisplayFor(modelItem => Model.Reconciliation.StartDate) </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.Reconciliation.EndDate) </th>
                        <td> @Html.DisplayFor(modelItem => Model.Reconciliation.EndDate)</td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.Reconciliation.StatusId) </th>
                        <td> @Html.DisplayFor(modelItem => Model.Reconciliation.Status.Description) </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.PspId) </th>
                        <td> @Html.DisplayFor(modelItem => Model.Psp.Name)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Item </th>
                        <th>From System  </th>
                        <th>From Statement</th>
                        <th> Narration on Differences </th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <th> Opening Balance </th>
                        <td> @Html.DisplayFor(modelItem => Model.Balance) </td>
                        <td> @Html.DisplayFor(modelItem => Model.BalanceStatement) </td>
                        <td> @Html.DisplayFor(modelItem => Model.BalanceDiffNarration) </td>
                    </tr>
                    <tr>
                        <th> Successful Payments </th>
                        <td> @Html.DisplayFor(modelItem => Model.DrPayments) </td>
                        <td> @Html.DisplayFor(modelItem => Model.DrPaymentsStatement) </td>
                        <td> @Html.DisplayFor(modelItem => Model.DrPaymentsDiffNarration)</td>
                    </tr>
                    <tr>
                        <th> PSP Commissions </th>
                        <td> @Html.DisplayFor(modelItem => Model.DrCommissions) </td>
                        <td> @Html.DisplayFor(modelItem => Model.DrCommissionsStatement) </td>
                        <td> @Html.DisplayFor(modelItem => Model.DrCommissionsDiffNarration)</td>
                    </tr>
                    <tr>
                        <th> Funds Requests </th>
                        <td> @Html.DisplayFor(modelItem => Model.CrFundsRequests) </td>
                        <td> @Html.DisplayFor(modelItem => Model.CrFundsRequestsStatement) </td>
                        <td> @Html.DisplayFor(modelItem => Model.CrFundsRequestsDiffNarration)</td>
                    </tr>
                    <tr>
                        <th> Claw Backs From Beneficiary Accounts </th>
                        <td> @Html.DisplayFor(modelItem => Model.CrClawBacks) </td>
                        <td> @Html.DisplayFor(modelItem => Model.CrClawBacksStatement) </td>
                        <td> @Html.DisplayFor(modelItem => Model.CrClawBacksDiffNarration)</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th> Closing Balance </th>
                        <th> @Html.DisplayFor(modelItem => Model.Balance) </th>
                        <th> @Html.DisplayFor(modelItem => Model.BalanceStatement) </th>
                        <th> @Html.DisplayFor(modelItem => Model.BalanceDiffNarration)</th>
                    </tr>
                    <tr>
                        <th colspan="4">
                            <a href="@Url.Action("Verify", "Services", new {area = "", id = Model.BankStatementFileId})">
                                <i class="fa fa-cloud-download"></i>    Download Supporting Documents
                            </a>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.PspId)
        @Html.HiddenFor(model => model.ReconciliationId)
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }

    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>