﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.ReconciliationDetail

@{
    ViewBag.Title = "Finalize   Activity Report Month";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canApprovePcProgrammes = User.UserGroupHasRight("RECONCILIATION:ENTRY");
}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <h3> Reconciliation Summary</h3>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover table-bordered">
                <tbody>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.Reconciliation.StartDate) </th>
                        <td> @Html.DisplayFor(modelItem => Model.Reconciliation.StartDate) </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.Reconciliation.EndDate) </th>
                        <td> @Html.DisplayFor(modelItem => Model.Reconciliation.EndDate)</td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.Reconciliation.StatusId) </th>
                        <td> @Html.DisplayFor(modelItem => Model.Reconciliation.Status.Description) </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.PspId) </th>
                        <td> @Html.DisplayFor(modelItem => Model.Psp.Name)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Approve </button>
                    </div>
                </div>
            </div>
        </div>

    }

    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>