﻿@model CCTPMIS.Business.Model.ReconciliationDetail

@{
    ViewBag.Title = $"RECONCILIATION REPORT FOR THE {@Model.Psp.Name.ToUpper()} -({Model.Psp.Code}) PERIOD BETWEEN {@Model.Reconciliation.StartDate.ToString("D").ToUpper()}   AND {@Model.Reconciliation.EndDate.ToString("D").ToUpper()}";
    Layout = "../../../../Views/Shared/_LayoutDocument.cshtml";
    var i = 1;
}

<style>
    table.table-fundstable tr td, table.table-fundstable tr th {
        font-size: 15px;
        font-family: sans-serif;
        line-height: 1.875em;
        border-b
    }
</style>
<hr />

<table class="table table-condensed table-striped  table-fundstable table-hover">
    <thead>
        <tr>
            <th>Item </th>
            <th> From Ministry  </th>
            <th> From Bank Statement</th>
            <th> Narration on Differences </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th> Opening Balance </th>
            <td colspan="3"> @Html.DisplayFor(modelItem => Model.OpeningBalance) </td>
        </tr>
        <tr>
            <th> Successful Payments </th>
            <td> @Html.DisplayFor(modelItem => Model.DrPayments) </td>
            <td> @Html.DisplayFor(modelItem => Model.DrPaymentsStatement) </td>
            <td> @Html.DisplayFor(modelItem => Model.DrPaymentsDiffNarration)</td>
        </tr>
        <tr>
            <th> PSP Commissions </th>
            <td> @Html.DisplayFor(modelItem => Model.DrCommissions) </td>
            <td> @Html.DisplayFor(modelItem => Model.DrCommissionsStatement) </td>
            <td> @Html.DisplayFor(modelItem => Model.DrCommissionsDiffNarration)</td>
        </tr>
        <tr>
            <th> Funds Requests </th>
            <td> @Html.DisplayFor(modelItem => Model.CrFundsRequests) </td>
            <td> @Html.DisplayFor(modelItem => Model.CrFundsRequestsStatement) </td>
            <td> @Html.DisplayFor(modelItem => Model.CrFundsRequestsDiffNarration)</td>
        </tr>
        <tr>
            <th> Claw Backs From Beneficiary Accounts </th>
            <td> @Html.DisplayFor(modelItem => Model.CrClawBacks) </td>
            <td> @Html.DisplayFor(modelItem => Model.CrClawBacksStatement) </td>
            <td> @Html.DisplayFor(modelItem => Model.CrClawBacksDiffNarration)</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th> Closing Balance </th>
            <th> @Html.DisplayFor(modelItem => Model.Balance) </th>
            <th> @Html.DisplayFor(modelItem => Model.BalanceStatement) </th>
            <th> @Html.DisplayFor(modelItem => Model.BalanceDiffNarration)</th>
        </tr>
    </tfoot>
</table>

<table class="table table-condensed table-striped  table-fundstable table-hover">
    <tbody>
        <tr>
            <td> <span class="underline"> @Model.Reconciliation.CreatedByUser.DisplayName </span> </td>
            <td> <span class="underline"> @Model.Reconciliation.CreatedOn </span> </td>
            <td> <span class=""> ______________________________ </span></td>
        </tr>
        <tr>
            <th> Prepared By </th>
            <th> Prepared On  </th>
            <th> Signature </th>
        </tr>
        <tr>
            <td> <span class="underline"> @Model.Reconciliation.FinalizedByUser.DisplayName </span> </td>
            <td> <span class="underline"> @Model.Reconciliation.FinalizedOn </span> </td>
            <td> <span class=""> ______________________________ </span></td>
        </tr>
        <tr>
            <th> Finalized By </th>
            <th> Finalized On  </th>
            <th> Signature </th>
        </tr>
        <tr>
            <td> <span class="underline"> @Model.Reconciliation.FinalizedByUser.DisplayName </span> </td>
            <td> <span class="underline"> @Model.Reconciliation.FinalizedOn </span> </td>
            <td> <span class=""> ________________________________________ </span></td>
        </tr>
        <tr>
            <th> Approved By </th>
            <th> Approved On  </th>
            <th> Signature </th>
        </tr>
    </tbody>
</table>

<table class="table table-head">
    <tbody>
    <tr>
        <th colspan="3">
            <p style="margin: 100px">
                THIS IS A SYSTEM GENERATED DOCUMENT. FOR IT TO BE COMPLETE KINDLY ATTACH @Model.BankStatementFile.Name STATEMENT FROM THE PSP
            </p>
        </th>
    </tr>
    </tbody>
</table>