﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.TargetPlan

@{
    ViewBag.Title = "Approve For Community Validation";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want to Approve  the  SR/IPRS validation and Exceptions and avail the List for Community Validation for <strong> @Model.Name </strong>Household Listing  Exercise?
            </p>
        </div>
    </div>
</div>

<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>

                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Approve </button>
                    </div>
                </div>
            </div>
        </div>
    }
    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>