﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Registration.BatchesViewModel

@{
    ViewBag.Title = "Household Listing - SR/IPRS Validation Batches";

    var canVerify = User.UserGroupHasRight("HH LISTING VALIDATION:VERIFY");
    var canValidate = User.UserGroupHasRight("HH LISTING VALIDATION:VALIDATE");
    var canView = User.UserGroupHasRight("HH LISTING VALIDATION:VIEW");
    var canAccept = User.UserGroupHasRight("HH LISTING VALIDATION:ACCEPT");

}

@if (Model.Batches.Any())
{

@Html.Partial("Common/Batches", Model.Batches)

}
else
{
    <div class="row">
        <div class="col-md-12 m-tb-30">
            <p>
                There are no Batches available.
            </p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>