﻿@model CCTPMIS.Business.Model.TargetPlan
@{
    ViewBag.Title = "Generate Community Validation Exceptions";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>
                    You can Generate and Download all the   List of Households who have failed IPRS  validation  through the Webservice or through Manual Upload or those that have been ignored.
                </p>

                <p> Kindly note the following</p>
                <ul>
                    <li>The File is in CSV Format</li>
                    <li>The File is Compressed and Password Protected </li>
                    <li>The File Password  will be displayed only after  successfully Verifying Checksum.</li>
                </ul>
            </div>
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Yes, Generate.</button>
    </div>
}