﻿@model CCTPMIS.Models.Registration.SrIprsValidateVm
@{
    ViewBag.Title = "Ignore Failed Household Listing already Run Against SR/IPRS";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.TargetPlanId)

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Are you Sure you want to Ignore  all the Households in this Batch  that have failed  SR/IPRS validation?
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Yes, Proceed.</button>
    </div>
}