﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Targeting.TargetPlanVm

@{
    ViewBag.Title = "Create a new Recertification Plan";
    var canCreatePlan = User.UserGroupHasRight("RECERTIFICATION PLANS:ENTRY");

}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <div class=" input-daterange input-group">
                        @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control  required ", @data_format = "yyyy-mm-dd", } })
                        <span class="input-group-addon">To</span>
                        @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control  required ", @data_format = "yyyy-mm-dd" }, })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.End, string.Empty, new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.Start, string.Empty, new { @class = "text-danger" })
            </div>

            <div class="col-md-12">
                <div class="form-group">
                <table id="EnrolmentGroupsTable" class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th> Select </th>
                        <th> Programme Recertification Group </th>
                    </tr>
                    </thead>
                    <tbody id="EnrolmentGroups">
                    @{
                        int i = 0;
                        foreach (var item in Model.TargetPlanProgrammeOptionsVms)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(model => model.TargetPlanProgrammeOptionsVms[i].IsSelected, new {})
                                </td>
                                <td>
                                    @item.TarName
                                    @Html.HiddenFor(model => model.TargetPlanProgrammeOptionsVms[i].ProgrammeId)
                                    @Html.HiddenFor(model => model.TargetPlanProgrammeOptionsVms[i].ListingPlanId)
                                </td>
                            </tr>
                            i += 1;
                        }
                    }
                    </tbody>
                </table>
            </div>
            </div>
            <div class=" col-md-12">

                <div class="form-group">
                    <div class=" m-tb-30 col-md-12">
                        <a class="btn btn-info" href="@Url.Action("Index")"> <i class="fa fa-arrow-left"></i> Back </a>
                        @if (canCreatePlan)
                        {
                            <button type="submit" class="btn btn-success"> <i class="fa fa-send-o"></i> Create </button>
                        }
                        else
                        {
                            <div class="m-tb-30">
                                <div class="alert alert-info">
                                    <strong>Access Rights</strong>
                                    <p>
                                        You do not have the rights to perfom this action.
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        }
    </div>
</div>