﻿@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.RegAccept>
@{
    var userId = int.Parse(User.Identity.GetUserId());
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Constituency.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetPlan.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedHHs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccBy.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccApvDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccApvDate)
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Actions</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu  dropdown-menu-right">
                    <li>
                        <a class="" href="@Url.Action("BatchDetails", new {id = item.Id})"><i class="fa fa-eye"></i> Details </a>
                    </li>
                    <li role="separator" class="divider"></li>
                </ul>
            </div>
        </td>
    </tr>
}