﻿@model CCTPMIS.Models.Reports.PrepayrollReportOption

@if (Model.GroupBy == "PSP")
{

    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Total)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.MaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.FemaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Entitlementmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.AdjustmentAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.TotalAmount)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModels.Any())
            {
                foreach (var item in Model.SummaryReportVieModels)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaleAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FemaleAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entitlementmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdjustmentAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.GroupBy == "COUNTY")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.MaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.FemaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Entitlementmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.AdjustmentAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.TotalAmount)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModels.Any())
            {
                foreach (var item in Model.SummaryReportVieModels)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaleAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FemaleAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entitlementmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdjustmentAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.GroupBy == "SUBCOUNTY")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Constituency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.MaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.FemaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Entitlementmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.AdjustmentAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.TotalAmount)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModels.Any())
            {
                foreach (var item in Model.SummaryReportVieModels)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaleAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FemaleAmount)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Entitlementmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdjustmentAmount)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.GroupBy == "LOCATION")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.MaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.FemaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Entitlementmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.AdjustmentAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.TotalAmount)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModels.Any())
            {
                foreach (var item in Model.SummaryReportVieModels)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaleAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FemaleAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entitlementmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdjustmentAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.GroupBy == "SUBLOCATION")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.SubLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Constituency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.MaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.FemaleAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Entitlementmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.AdjustmentAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.TotalAmount)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModels.Any())
            {
                foreach (var item in Model.SummaryReportVieModels)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.SubLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaleAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FemaleAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entitlementmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdjustmentAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}