﻿@using PagedList.Mvc
@model CCTPMIS.Models.Reports.PrepayrollReportOption

@{
    ViewBag.Title = "Claw-back Monthly Activity Reports ";

}

<div class="panel panel-primary  panel-toggle @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        Filter @ViewBag.Title  Options
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("DueForClawback", "Payments", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label col-md-12 ">
                        Show entries per page
                    </label>
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control required single-select" })

                        @Html.ValidationMessageFor(model => model.PageSize, string.Empty, new { @class = "text-danger " })
                    </div>
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label col-md-12" })
                    @Html.EditorFor(model => Model.IsExportCsv)
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.PspId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.PspId, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.PspId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.PriReciSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.PriReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.PriReciSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.SecReciSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.SecReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.SecReciSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.IsDueForClawback, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.IsDueForClawback, null, "None", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.IsDueForClawback, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                
                
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required single-select" })
                    </div>

                    <div id="custom_range" class="form-group hidden  ">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.GroupBy, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.GroupBy, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.GroupBy, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.Programme)</th>
                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.ProgrammeNo)</th>
                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.PersonDisplayName)</th>
                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.Sex)</th>
                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.AccountName)</th>
                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.AccountNo)</th>

                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.OpenedOn)</th>
                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.Branch)</th>
                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.Psp)</th>

                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.IsDueForClawback)</th>
                <th>@Html.DisplayNameFor(model => model.BeneAccountMonthlyActivityClawbackReport.ClawbackAmaount)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.BeneAccountMonthlyActivityClawbackReports.Any())
            {
                foreach (var item in Model.BeneAccountMonthlyActivityClawbackReports)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.Programme)</td>
                        <td> @Html.DisplayFor(modelItem => item.ProgrammeNo)</td>
                        <td> @Html.DisplayFor(modelItem => item.PersonDisplayName)</td>
                        <td> @Html.DisplayFor(modelItem => item.Sex)</td>
                        <td> @Html.DisplayFor(modelItem => item.AccountName)</td>
                        <td> @Html.DisplayFor(modelItem => item.AccountNo)</td>
                        <td> @Html.DisplayFor(modelItem => item.OpenedOn)</td>
                        <td> @Html.DisplayFor(modelItem => item.Psp)</td>
                        <td> @Html.DisplayFor(modelItem => item.Branch)</td>
                        <td> @Html.DisplayFor(modelItem => item.IsDueForClawback)</td>
                        <td> @Html.DisplayFor(modelItem => item.ClawbackAmaount)</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-8">
            @Html.PagedListPager(Model.BeneAccountMonthlyActivityClawbackReports, page => Url.Action("DueForClawback", new { page }), PagedListRenderOptions.Classic)
        </div>
        <div class="col-md-4">
            Page @(Model.BeneAccountMonthlyActivityClawbackReports.PageCount < Model.BeneAccountMonthlyActivityClawbackReports.PageNumber ? 0 : Model.BeneAccountMonthlyActivityClawbackReports.PageNumber) of @Model.BeneAccountMonthlyActivityClawbackReports.PageCount
            Showing @Model.BeneAccountMonthlyActivityClawbackReports.Count of @Model.BeneAccountMonthlyActivityClawbackReports.TotalItemCount
        </div>
    </div>
}
else if (Model.ReportTypeId == 2)
{
    @Html.Partial("_SummaryActivityReports", Model)
}