﻿@model dynamic

@{
    ViewBag.Title = "Payments and Funds Management Reports";

}

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Prepayroll Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("PrePayroll")" class="list-group-item"> Pre-payroll Reports and Pre-payroll Exceptions Reports</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Funds Requests Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("FundsRequests")" class="list-group-item"> Funds Requests Reports</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Payroll Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("Payroll")" class="list-group-item"> Payroll Reports</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Payment Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("CreditReports")" class="list-group-item"> Beneficiary Credit Reports </a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">PSP Commissions Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("PayableCommissions")" class="list-group-item"> Payable Commissions Reports </a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Reconciliation  Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("Reconciliation")" class="list-group-item">  Reconciliation Reports </a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Monthly Activity Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("ProofOfLife")" class="list-group-item"> Proof of Life Reports </a>
                <a href="@Url.Action("UniqueWithdrawal")" class="list-group-item"> Account Withdrawal Reports </a>
                <a href="#" class="list-group-item"> Account Inactivity Reports ** </a>
                <a href="@Url.Action("Dormancy")" class="list-group-item"> Account Dormancy Reports </a>
                <a href="@Url.Action("DueForClawback")" class="list-group-item"> Account Claw-back Reports </a>
            </div>
        </div>
    </div>
</div>