﻿@using PagedList.Mvc
@model CCTPMIS.Models.Reports.PrepayrollReportOption

@{

    ViewBag.Title = "Payable PSP Commissions Reports";

}

<div class="panel panel-primary  @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        @ViewBag.Title  Report Options <small>(If all the Beneficiaries Withdraws in given cycle applicable months)</small>
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("FundsRequests", "Payments", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="col-md-3 hidden">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-md-12">
                        Show entries
                    </label>

                    @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control single-select" })
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.PspId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.PspId, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.PspId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12 " })
                        <div class="form-group col-md-12">
                            @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required single-select" })
                        </div>
                    </div>
                    <div id="custom_range" class="form-group hidden   col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId > 0)
{

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>

                        <th>  @Html.DisplayNameFor(model => model.FundsRequestDetail.ProgrammeId) </th>
                        <th>  @Html.DisplayNameFor(model => model.FundsRequestDetail.PspId)</th>
                        <th>  @Html.DisplayNameFor(model => model.FundsRequestDetail.PayrollHhs) </th>
                        <th>  @Html.DisplayNameFor(model => model.FundsRequestDetail.CommissionAmount) </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FundsRequestDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Programme.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Psp.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayrollHhs)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CommissionAmount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.PagedListPager(Model.FundsRequestDetails, page => Url.Action("PayableCommisions", new { page }), PagedListRenderOptions.Classic)
        </div>
        <div class="col-md-4">
            Page @(Model.FundsRequestDetails.PageCount < Model.FundsRequestDetails.PageNumber ? 0 : Model.FundsRequestDetails.PageNumber) of @Model.FundsRequestDetails.PageCount
            Showing @Model.FundsRequestDetails.Count of @Model.FundsRequestDetails.TotalItemCount
        </div>
    </div>

}