﻿@using PagedList.Mvc
@model CCTPMIS.Models.Payment.PayrollStatementListViewModel
@{
    ViewBag.Title = "Payroll Statement";
}

@using (Html.BeginForm("PayrollStatement", "Payments", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical filter col-md-11", role = "form" }))

{
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("ReportTypeId", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("ProgrammeId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.PaymentCycleId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("PaymentCycleId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.CreditStatusId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("CreditStatusId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.PaymentTypeId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("PaymentTypeId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-success margin-top-25 pull-left">
            <i class="fa fa-filter"></i> Filter
        </button>
    </div>
    <input type="hidden" name="Page" id="pagination-page" value="1" />
}
@using (Html.BeginForm("ExportPayrollStatement", "Payments", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-1", role = "form" }))
{
    @Html.HiddenFor(m => m.ReportTypeId)
    @Html.HiddenFor(m => m.ProgrammeId)
    @Html.HiddenFor(m => m.ProgrammeId)
    @Html.HiddenFor(m => m.PaymentCycleId)
    @Html.HiddenFor(m => m.CreditStatusId)
    @Html.HiddenFor(m => m.PaymentTypeId)
   
    @*<button type="submit" class="btn btn-success margin-top-25 pull-left">
        <i class="fa fa-download"></i> Export
    </button>*@

    <div class="btn-group   m-tb-10 ">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Export <span class="caret"></span>
        </button>
        <ul class="dropdown-menu  dropdown-menu-right">
            <li><a href="#"> <i class="fa fa-file-excel-o"></i> Excel </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"> <i class="fa fa-file"></i> Csv </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"> <i class="fa fa-file-pdf-o"></i> Pdf </a></li>
            <li role="separator" class="divider"></li>
        </ul>
    </div>
}
@if (Model.ReportTypeId == 1)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table  table-striped table-bordered  table-hover">
                <thead>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.EnrolmentNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.Programme)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.BeneficiaryIdNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.BeneficiaryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.BeneficiarySex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.BeneficiaryDOB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.CaregiverIdNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.CaregiverName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.CaregiverSex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.CaregiverDOB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.County)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.SubCounty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.SubLocation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.PaymentCycle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.EntitlementAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.ArrearsAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.CreditStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.TransactionNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.PSP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.AccountNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayrollStatement.AccountName)
                        </th>
                    </tr>

                <thead>
                <tbody>
                    @foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnrolmentNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Programme)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiaryIdNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiaryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiarySex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiaryDOB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CaregiverIdNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CaregiverName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CaregiverSex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CaregiverDOB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.County)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubCounty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentCycle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EntitlementAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArrearsAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreditStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransactionNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.PagedListPager(Model.Details, page => Url.Action("PayrollStatement", new { page = page }))
        </div>
        <div class="col-md-4">
            Page @(Model.Details.PageCount < Model.Details.PageNumber ? 0 : Model.Details.PageNumber) of @Model.Details.PageCount
            Showing @Model.Details.Count of @Model.Details.TotalItemCount
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <table class="table  table-striped table-bordered  table-hover">
                <thead>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Summary.County)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Summary.SubCounty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Summary.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Summary.SubLocation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Summary.Male)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Summary.Female)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Summary.Total)
                        </th>
                    </tr>
                <thead>
                <tbody>
                    @if (Model.Summaries != null)
                    {
                        foreach (var item in Model.Summaries)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.County)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubCounty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Male)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Female)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                            </tr>
                        }
                    }
            </table>
        </div>
    </div>
    if (Model.Summaries != null)
    {
        <div class="row">
            <div class="col-md-8">
                @Html.PagedListPager(Model.Summaries, page => Url.Action("PayrollStatement", new { page = page }))
            </div>
            <div class="col-md-4">
                Page @(Model.Summaries.PageCount < Model.Summaries.PageNumber ? 0 : Model.Summaries.PageNumber) of @Model.Summaries.PageCount
                Showing @Model.Summaries.Count of @Model.Summaries.TotalItemCount
            </div>
        </div>
    }
}