﻿@using PagedList.Mvc
@model CCTPMIS.Models.Reports.PrepayrollReportOption

@{
    ViewBag.Title = "Prepayroll Exceptions";

}

<div class="panel panel-primary  panel-toggle @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        Filter @ViewBag.Title Report Options
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("Prepayroll", "Payments", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label col-md-12 ">
                        Show entries per page
                    </label>
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control required single-select" })

                        @Html.ValidationMessageFor(model => model.PageSize, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ExceptionTypeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ExceptionTypeId", null, "Ignore Exceptions", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ExceptionTypeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.PriReciSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.PriReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.PriReciSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.SecReciSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.SecReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.SecReciSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.PspId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.PspId, null, htmlAttributes: new { @class = "form-control   multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.PspId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.HasArrears, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.HasArrears, null, "None", htmlAttributes: new { @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.HasArrears, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required single-select" })
                    </div>

                    <div id="custom_range" class="form-group hidden  ">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.DobDateRangeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DobDateRangeId", null, htmlAttributes: new { @class = "form-control required single-select " })
                    </div>
                    <div id="custom_date_range" class="form-group hidden   col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobStartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobStartDate, new { htmlAttributes = new { @class = "form-control dob-start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobEndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobEndDate, new { htmlAttributes = new { @class = "form-control dob-end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.GroupBy, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.GroupBy, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.GroupBy, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    @Html.EditorFor(model => Model.IsExportCsv)
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{

    <div class="table-responsive">
        <table class="table   table-bordered table-condensed  table-striped">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.Programme)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BeneficiaryAccount.AccountName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BeneficiaryAccount.AccountNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BeneficiaryAccount.OpenedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BeneficiaryAccount.DateAdded)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BeneficiaryAccount.StatusId)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BeneFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BeneDoB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BeneSexId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BeneNationalIdNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.CgFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.CgdoB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.CgSexId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.CgNationalIdNo)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.TotalHhMembers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.HhStatusId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.BenePaymentCardId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.ConseAccInactivity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.PaymentZoneId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.PaymentZoneCommAmt)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.EntitlementAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prepayroll.AdjustmentAmount)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Prepayrolls.Any())
                {
                    foreach (var item in Model.Prepayrolls)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Programme.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiaryAccount.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiaryAccount.AccountNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiaryAccount.OpenedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiaryAccount.DateAdded)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiaryAccount.Status.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.BeneFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneDoB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneSex.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneNationalIdNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CgFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CgdoB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CgSex.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CgNationalIdNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalHhMembers)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HhStatus.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneficiaryPaymentCard.PaymentCardNo)
                            </td>
                            <td>
                                @(item.ConseAccInactivity == 0 ? "No" : "Yes")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentZone.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentZoneCommAmt)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.EntitlementAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdjustmentAmount)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.PagedListPager(Model.Prepayrolls, page => Url.Action("Prepayroll", new { page }), PagedListRenderOptions.Classic)
        </div>
        <div class="col-md-4">
            Page @(Model.Prepayrolls.PageCount < Model.Prepayrolls.PageNumber ? 0 : Model.Prepayrolls.PageNumber) of @Model.Prepayrolls.PageCount
            Showing @Model.Prepayrolls.Count of @Model.Prepayrolls.TotalItemCount
        </div>
    </div>

}
else if (Model.ReportTypeId == 2)
{
    @Html.Partial("_SummaryReports", Model)
}