﻿@using PagedList.Mvc
@model CCTPMIS.Models.Payment.PrePayrollExceptionsListViewModel
@{
    ViewBag.Title = "Pre-Payroll Exceptions Report";
}

@using (Html.BeginForm("PrePayrollExceptions", "Payments", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical filter col-md-11", role = "form" }))

{
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("ReportTypeId", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.ExceptionCategoryId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("ExceptionCategoryId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("ProgrammeId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.PaymentCycleId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("PaymentCycleId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.CreditStatusId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("CreditStatusId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.PaymentTypeId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("PaymentTypeId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("StatusId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-success margin-top-25 pull-left">
            <i class="fa fa-filter"></i> Filter
        </button>
    </div>
    <input type="hidden" name="Page" id="pagination-page" value="1" />
}
@using (Html.BeginForm("ExportPrePayrollExceptions", "Payments", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-1", role = "form" }))

{
    @Html.HiddenFor(m => m.ReportTypeId)
    @Html.HiddenFor(m => m.ProgrammeId)
    @Html.HiddenFor(m => m.ExceptionCategoryId)
    @Html.HiddenFor(m => m.ProgrammeId)
    @Html.HiddenFor(m => m.PaymentCycleId)
    @Html.HiddenFor(m => m.CreditStatusId)
    @Html.HiddenFor(m => m.PaymentTypeId)
    @Html.HiddenFor(m => m.StatusId)
    <button type="submit" class="btn btn-success margin-top-25 pull-left">
        <i class="fa fa-download"></i> Export
    </button>
}
<hr />
@if (Model.ReportTypeId == 1)
{
    <table class="table  table-striped table-bordered  table-hover">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.EnrolmentNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.Programme)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.BeneficiaryIdNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.BeneficiaryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.BeneficiarySex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.BeneficiaryDOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.CaregiverIdNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.CaregiverName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.CaregiverSex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.CaregiverDOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.SubCounty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.SubLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.PaymentCycle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.ExceptionCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.Actioned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayrollException.Reasons)
                </th>
            </tr>

        <thead>
        <tbody>
            @foreach (var item in Model.Details)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrolmentNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Programme)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.BeneficiaryIdNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeneficiaryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeneficiarySex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeneficiaryDOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CaregiverIdNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CaregiverName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CaregiverSex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CaregiverDOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.County)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCounty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentCycle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExceptionCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actioned)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reasons)
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-8">
            @Html.PagedListPager(Model.Details, page => Url.Action("PrePayrollExceptions", new { page = page }))
        </div>
        <div class="col-md-4">
            Page @(Model.Details.PageCount < Model.Details.PageNumber ? 0 : Model.Details.PageNumber) of @Model.Details.PageCount
            Showing @Model.Details.Count of @Model.Details.TotalItemCount
        </div>
    </div>
}
else
{
    <table class="table  table-striped table-bordered  table-hover">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Summary.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary.SubCounty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary.SubLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary.Total)
                </th>
            </tr>
        <thead>
        <tbody>
            @foreach (var item in Model.Summaries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.County)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCounty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Male)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Female)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
    </table>
    <div class="row">
        <div class="col-md-8">
            @Html.PagedListPager(Model.Summaries, page => Url.Action("PrePayrollExceptions", new { page = page }))
        </div>
        <div class="col-md-4">
            Page @(Model.Summaries.PageCount < Model.Summaries.PageNumber ? 0 : Model.Summaries.PageNumber) of @Model.Summaries.PageCount
            Showing @Model.Summaries.Count of @Model.Summaries.TotalItemCount
        </div>
    </div>
}