﻿@using PagedList.Mvc
@model CCTPMIS.Models.Reports.PrepayrollReportOption

@{
    ViewBag.Title = "Reconciliation Reports";

}

<div class="panel panel-primary  @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        @ViewBag.Title  Report Options
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("Reconciliation", "Payments", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="col-md-3 hidden">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-md-12">
                        Show entries
                    </label>

                    @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control single-select" })
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.PspId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.PspId, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.PspId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Select, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.Select, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.Select, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12 " })
                        <div class="form-group col-md-12">
                            @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required single-select" })
                        </div>
                    </div>
                    <div id="custom_range" class="form-group hidden   col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId > 0)
{

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>

                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.Reconciliation.StartDate) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.Reconciliation.EndDate)</th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.Psp) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.Reconciliation.StatusId) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.OpeningBalance) </th>

                    @if (Model.Select == "FR" || Model.Select == "ALL")
                    {
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.CrFundsRequests) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.CrFundsRequestsStatement) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.CrFundsRequestsDiffNarration) </th>
                    }
                    @if (Model.Select == "CB" || Model.Select == "ALL")
                    {
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.CrClawBacks) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.CrClawBacksStatement) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.CrClawBacksDiffNarration) </th>
                    }
                    @if (Model.Select == "PY" || Model.Select == "ALL")
                    {
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.DrPayments) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.DrPaymentsStatement) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.DrPaymentsDiffNarration) </th>
                    }
                    @if (Model.Select == "CO" || Model.Select == "ALL")
                    {
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.DrCommissions) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.DrCommissionsStatement) </th>
                        <th>  @Html.DisplayNameFor(model => model.ReconciliationDetail.DrCommissionsDiffNarration) </th>

                    }
                    @if (Model.Select == "BL" || Model.Select == "ALL")
                    {
                        <th> @Html.DisplayNameFor(model => model.ReconciliationDetail.Balance) </th>
                        <th> @Html.DisplayNameFor(model => model.ReconciliationDetail.BalanceStatement) </th>
                        <th> @Html.DisplayNameFor(model => model.ReconciliationDetail.BalanceDiffNarration) </th>
                    }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ReconciliationDetails)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reconciliation.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reconciliation.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Psp.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reconciliation.Status.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OpeningBalance)
                        </td>

                        @if (Model.Select == "FR" || Model.Select == "ALL")
                        {
                            <td>@Html.DisplayFor(modelItem => item.CrFundsRequests)</td>
                            <td>@Html.DisplayFor(modelItem => item.CrFundsRequestsStatement)</td>
                            <td>@Html.DisplayFor(modelItem => item.CrFundsRequestsDiffNarration)</td>
                        }
                        @if (Model.Select == "CB" || Model.Select == "ALL")
                        {
                            <td>@Html.DisplayFor(modelItem => item.CrClawBacks)</td>
                            <td>@Html.DisplayFor(modelItem => item.CrClawBacksStatement)</td>
                            <td>@Html.DisplayFor(modelItem => item.CrClawBacksDiffNarration)</td>
                        }
                        @if (Model.Select == "PY" || Model.Select == "ALL")
                        {
                            <td>@Html.DisplayFor(modelItem => item.DrPayments)</td>
                            <td>@Html.DisplayFor(modelItem => item.DrPaymentsStatement)</td>
                            <td>@Html.DisplayFor(modelItem => item.DrPaymentsDiffNarration)</td>
                        }
                        @if (Model.Select == "CO" || Model.Select == "ALL")
                        {
                            <td>@Html.DisplayFor(modelItem => item.DrCommissions)</td>
                            <td>@Html.DisplayFor(modelItem => item.DrCommissionsStatement)</td>
                            <td>@Html.DisplayFor(modelItem => item.DrCommissionsDiffNarration)</td>
                        }
                        @if (Model.Select == "BL" || Model.Select == "ALL")
                        {
                            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                            <td>@Html.DisplayFor(modelItem => item.BalanceStatement)</td>
                            <td>@Html.DisplayFor(modelItem => item.BalanceDiffNarration)</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.PagedListPager(Model.ReconciliationDetails, page => Url.Action("Reconciliation", new { page }), PagedListRenderOptions.Classic)
        </div>
        <div class="col-md-4">
            Page @(Model.ReconciliationDetails.PageCount < Model.ReconciliationDetails.PageNumber ? 0 : Model.ReconciliationDetails.PageNumber) of @Model.ReconciliationDetails.PageCount
            Showing @Model.ReconciliationDetails.Count of @Model.ReconciliationDetails.TotalItemCount
        </div>
    </div>

}