﻿@model CCTPMIS.Business.Model.ApplicationGroup

@{
    ViewBag.Title = "Create System User Groups ";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Select Group Roles
                    </label>
                    <div class="col-md-10">
                        @foreach (var item in (SelectList)ViewBag.RolesList)
                        {
                            <div>
                                <input type="checkbox" name="SelectedRoles" value="@item.Text" class="checkbox-inline" />
                                @Html.Label(item.Text, new { @class = "control-label" })
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <a href="@Url.Action("Index")" class="btn  btn-danger"><i class="fa fa-arrow-alt-circle-left"></i> Back to List</a>

                        <button type="submit" class="btn btn-default "> <i class="fa fa-send"></i> Create </button>
                    </div>
                </div>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>