﻿@model CCTPMIS.Business.Model.ApplicationGroup

@{
    ViewBag.Title = "Delete System User Group";
}

<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-md-12">
                    <a href="@Url.Action("Index")" class="btn btn-sm   btn-primary">
                        <i class="fa fa-arrow-alt-circle-left"></i> Back to List
                    </a>
                    <input type="submit" value="Delete" onclick = "return confirm('Are you sure you wish to delete this article?');" class="btn btn-sm pull-right btn-primary" />
                </div>
            }
        </div>
    </div>
</div>