﻿@model CCTPMIS.Business.Model.ApplicationGroup
@{
    ViewBag.Title = "System User Group Details";
}

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Name)</td>
                    <td> @Html.DisplayNameFor(model => model.Description)</td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td> @Html.DisplayFor(model => model.Name)</td>
                <td> @Html.DisplayFor(model => model.Description)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h4>Roles /Permissions granted this group</h4>
@if (ViewBag.PermissionsCount == 0)
{
    <p>No users found in this role.</p>
}
<table class="table table-bordered table-striped table-hover">
    @foreach (var item in (dynamic)ViewBag.RolesList)
    {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
    </tr>
    }
</table>

<div class="  col-md-12">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Index")" class="btn  btn-delicious    btn-primary">
                <i class="fa fa-navicon"></i>
                Back to List
            </a>
            <a href="@Url.Action("Edit", new {@id = Model.Id})" class="btn btn-primary  btn-success">
                <i class="fa fa-edit"></i>
                Edit
            </a>
            <a href="@Url.Action("Delete", new {@id = Model.Id})" class="btn btn-danger   ">
                <i class="fa fa-trash-o"></i>
                Delete
            </a>
        </div>
    </div>
</div>