﻿@model CCTPMIS.Models.Account.GroupViewModel
@{
    ViewBag.Title = "Edit System User Group";
}
<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Permissions", new { @class = "control-label col-md-2" })
                    <span class=" col-md-10">
                        @foreach (var item in Model.RolesList)
                        {
                            <div class="checkbox">
                                <input type="checkbox" name="selectedRoles" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                                @Html.Label(item.Text, new { @class = "control-label" })
                            </div>
                        }
                    </span>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <a href="@Url.Action("Index")" class="btn  btn-danger"><i class="fa fa-navicon"></i> Back to List</a>
                        <button type="submit" class="btn   btn-success"> <i class="fa fa-save"></i>  Save </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}