﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.ApplicationGroup>
@{
    ViewBag.Title = "System User Groups ";
}

<div class="row">
    <div class="col-md-12">
        <div class="pull-right m-tb-30">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a class="btn btn-success btn-xs" href="@Url.Action("Details", new { @id = item.Id })"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { @id = item.Id })"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, countyId = Request["CountyId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing  @Model.Count of   @Model.TotalItemCount
    </div>
</div>