﻿@model dynamic

@{
    ViewBag.Title = "Payments";

}
<div id="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_DashboardsMenu")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-primary">

                <div class="panel-body">



                    <div class="filter-cont">
                        <div class="form-group">

                            <div class="col-md-3">
                                <label class="control-label">Indicator</label>
                                <select ng-change="refreshPaymentData()" ng-model="indicator" id="indicator" class="form-control">
                                    <option ng-repeat="item in indicators" ng-selected="item.Id==1" value="{{item.Id}}">{{item.Name}}</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label class="control-label">Period</label>
                                <select ng-change="refreshPaymentData()" id="reporting-period" ng-model="period" class="form-control">

                                    <option ng-repeat="item in periods" ng-selected="$index==0" value="{{item.Id}}">{{item.Name}}</option>
                                </select>

                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Programme</label>
                                <select ng-change="refreshPaymentData()" ng-model="programme" id="programmes" class="form-control">
                                    <option value="All">All</option>
                                    <option ng-repeat="item in programmes" value="{{item.Id}}">{{item.Name}}</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label class="control-label">PSP</label>
                                <select ng-change="refreshPaymentData()" ng-model="psp" id="psps" class="form-control">
                                    <option value="All">All</option>
                                    <option ng-repeat="item in psps" value="{{item.Id}}">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-primary">

                <div class="panel-body">
                    <div class="col-md-12 chart" id="totals-barchart">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="  panel panel-primary">

                <div class="panel-body">
                    <div class="col-md-12 chart" id="totals-piechart">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<input type="hidden" id="max" />
    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {

                var root = $('#RootUrl').val();
                var colors = ['#006091', '#7B99A9', '#374E5A', '#839118', '#9C8C21', '#98918F'];

                showLoader();
                $.post(root + 'Payment/FirstChart')
                    .done(function (data) {
                        hideLoader();
                        $('#max').val(data.ScaleTotal);
                        setTimeout(function () {
                            PaymentsChats(data);
                        }, 10);

                        var scope = angular.element(document.querySelector('body')).scope();
                        scope.$apply(function (filter) {
                            scope.data = data;
                            scope.allPayments = data.Payments;
                            scope.indicators = data.Indicators;
                            scope.indicator = data.Indicator.Id;
                            scope.programme = "All";
                            scope.psp = "All";
                            scope.psps = data.Psps;
                            scope.periods = data.Periods;
                            scope.period = scope.periods[0].Id;
                            scope.programmes = data.Programmes;
                            scope.itemsPerPage = 20;
                            scope.currentPage = 1;

                        });

                    })
                    .fail(ajaxError);

            });

        </script>
    }
