﻿@model CCTPMIS.Models.Reports.CaseManagementReportOption



@if (Model.GroupBy == "COUNTY")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModels.Any())
            {
                foreach (var item in Model.SummaryReportVieModels)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Male)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Female)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.GroupBy == "SUBCOUNTY")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Constituency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModel.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModels.Any())
            {
                foreach (var item in Model.SummaryReportVieModels)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Constituency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Male)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Female)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
}