﻿@using CCTPMIS.Models.Reports
@using PagedList
@using PagedList.Mvc
@model CCTPMIS.Models.Reports.CaseManagementReportOption
@{
    ViewBag.Title = "Complaints Report";
}

<div class="panel panel-primary  panel-toggle @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        <span> Filter @ViewBag.Title  Options </span>
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("Complaints", "CaseManagement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-12 control-label"> Show entries   </label>
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control required single-select" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })

                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.SexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.SexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })

                        @Html.ValidationMessageFor(model => model.SexId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ComplaintTypeId, htmlAttributes: new { @class = "control-label col-md-12" })

                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ComplaintTypeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })

                        @Html.ValidationMessageFor(model => model.ComplaintTypeId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ComplaintStatusId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ComplaintStatusId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })

                        @Html.ValidationMessageFor(model => model.ComplaintStatusId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.SourceId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.SourceId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                        @Html.ValidationMessageFor(model => model.SourceId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required multi-select" })
                    </div>
                    <div id="custom_range" class="form-group hidden   col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter required multi-select " })

                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })

                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.GroupBy, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.GroupBy, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.GroupBy, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-10">
                    @Html.EditorFor(model => Model.IsExportCsv)
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{
    if (Model.Complaints.Any())
    {
        <div class="table-responsive">
            <table class="table   table-bordered table-condensed  table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.SerialNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ProgrammeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ComplaintTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ComplaintLevelId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ReportedByTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ReportedBySexId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ReceivedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ReceivedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.Constituency.CountyId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ConstituencyId)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Complaints)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SerialNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Programme.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComplaintType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComplaintLevel.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReportedByType.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReportedBySex.Code)
                            </td>
                            <td>
                                @if (item.ReceivedOn != null)
                                {
                                    @item.ReceivedOn.ToString("yyyy/MM/dd")
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReceivedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Constituency.County.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Constituency.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-8">
                @Html.PagedListPager(Model.Complaints, page => Url.Action("Complaints", new { page }), PagedListRenderOptions.Classic)
            </div>
            <div class="col-md-4">
                Page @(Model.Complaints.PageCount < Model.Complaints.PageNumber ? 0 : Model.Complaints.PageNumber) of @Model.Complaints.PageCount
                Showing @Model.Complaints.Count of @Model.Complaints.TotalItemCount
            </div>
        </div>

    }
}

else if (Model.ReportTypeId == 2)
{
    @Html.Partial("_SummaryReports", Model)

    <div class="row">
        <div class="col-md-8">
            @Html.PagedListPager(Model.SummaryReportVieModels, page => Url.Action("Complaints", new { page }), PagedListRenderOptions.Classic)
        </div>
        <div class="col-md-12">
            Page @(Model.SummaryReportVieModels.PageCount < Model.SummaryReportVieModels.PageNumber ? 0 : Model.SummaryReportVieModels.PageNumber) of @Model.SummaryReportVieModels.PageCount
            Showing @Model.SummaryReportVieModels.Count of @Model.SummaryReportVieModels.TotalItemCount
        </div>
    </div>
}