﻿@using CCTPMIS.Models.Reports
@using PagedList
@using PagedList.Mvc
@model CCTPMIS.Models.Reports.CaseManagementReportOption
@{
    ViewBag.Title = "EFC Reports";
}

<div class="panel panel-primary  panel-toggle @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        <span> Filter @ViewBag.Title  Options </span>
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("EFCs", "CaseManagement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="form-group  col-md-4">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>

                    <div class="col-md-4">

                        <label>
                            Show
                            @Html.DropDownList("PageSize", null, htmlAttributes: new { })
                            entries
                        </label>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.SexId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.SexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.SexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.EFCTypeId, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.EFCTypeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.EFCTypeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.StatusId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.StatusId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.SourceId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.SourceId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.SourceId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">

                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-4 " })

                    <div class="form-group col-md-4">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required multi-select" })
                    </div>

                    <div id="custom_range" class="form-group hidden   col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter required multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.GroupBy, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.DropDownListFor(model => model.GroupBy, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.GroupBy, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row hidden">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CompareDateRange, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("CompareDateRange", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CompareStartDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CompareStartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CompareEndDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CompareEndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-10">
                    @Html.EditorFor(model => Model.IsExportCsv)
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success margin-top-25 pull-left">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>

                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{
    if (Model.EFCs.Any())
    {
        <div class="table-responsive">
            <table class="table   table-bordered table-condensed  table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.SerialNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EFCTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.ReportedByTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.ReportedBySexId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.ReceivedBy)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.EFC.ReportedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StatusId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.Constituency.County.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.Constituency)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EFCs)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EFCType.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportedByType.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportedBySex.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceivedBy)
                        </td>
                        <td>
                            @if (item.ReportedDate != null)
                            {
                                @item.ReportedDate.Value.ToString("yyyy/MM/dd")
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency.County.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency.Name)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-8">
                @Html.PagedListPager(Model.EFCs, page => Url.Action("EFCs", new { page }), PagedListRenderOptions.Classic)
            </div>
            <div class="col-md-4">
                Page @(Model.EFCs.PageCount < Model.EFCs.PageNumber ? 0 : Model.EFCs.PageNumber) of @Model.EFCs.PageCount
                Showing @Model.EFCs.Count of @Model.EFCs.TotalItemCount
            </div>
        </div>

    }
}

else if (Model.ReportTypeId == 2)
{
    @Html.Partial("_SummaryReports", Model)
}