﻿@{
    ViewBag.Title = "Case Management Reports";

}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Case Management Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("EFCs")" class="list-group-item">EFCs</a>
                <a href="@Url.Action("Complaints")" class="list-group-item"> Complaints  </a>
                <a href="@Url.Action("Changes")" class="list-group-item"> Update  Reports </a>
                <a href="@Url.Action("MultipleChanges")" class="list-group-item"> Multiple Update  Reports </a>
            </div>
        </div>
    </div>
</div>