﻿@using CCTPMIS.Models.Reports
@using PagedList
@using PagedList.Mvc
@model CCTPMIS.Models.Reports.CaseManagementReportOption

@{
    ViewBag.Title = "Changes Reports";
}

<div id="ReportHeader" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:block" : "")>
    <h2>
        Filter reports
    </h2>
</div>
<div class="panel panel-primary  @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">

        Report Options

        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>

    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("MultipleChanges", "CaseManagement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="form-group  col-md-4">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>

                    <div class="col-md-4">

                        <label>
                            Show
                            @Html.DropDownList("PageSize", null, htmlAttributes: new { })
                            entries
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.SexId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.SexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.SexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ChangeTypeId, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.ChangeTypeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.ChangeTypeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ChangeStatusId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.ChangeStatusId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.ChangeStatusId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.SourceId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.SourceId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.SourceId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">

                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-4 " })

                    <div class="form-group col-md-4">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required multi-select" })
                    </div>

                    <div id="custom_range" class="form-group hidden   col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter required multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row hidden">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CompareDateRange, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("CompareDateRange", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CompareStartDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CompareStartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CompareEndDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CompareEndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-success margin-top-25 pull-left">
                    <i class="fa fa-filter"></i> Filter
                </button>
            </div>

            <input type="hidden" name="Page" id="pagination-page" value="1" />
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{
    if (Model.Details.Any())
    {
        <div class="table-responsive">
            <table class="table   table-bordered table-condensed  table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.ProgrammeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.ChangeTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.ChangeStatusId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.Id)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.ReportedByTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.ReportedBySex)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.ReceivedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.ReceivedOn)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.County)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.Constituency)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.SubLocation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.SLA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailReport.Updates)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgrammeCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CaseCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChangeStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReportedByType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReportedBySex)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ReceivedBy)
                            </td>
                            <td>
                                @if (item.ReceivedOn != null)
                                {
                                    @item.ReceivedOn.Value.ToString("yyyy/MM/dd")
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.County)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Constituency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SLA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updates)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("Pager_DetailedChange", new StaticPagedList<ReportDetailChange>(Model.Details, Model.Page, Model.PageSize, @Model.Details[0].NoOfRows))

    }
}

else if (Model.ReportTypeId == 2)
{
    <div class="table-responsive">
        <table class="table   table-bordered table-condensed  table-striped">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.County)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Constituency)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.SubLocation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Male)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Female)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.MeetSLA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.FailSLA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Updates)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Summary)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeetSLA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FailSLA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updates)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.Partial("Pager_SummaryChange", new StaticPagedList<ReportSummaryChange>(Model.Summary, Model.Page, Model.PageSize, @Model.Summary[0].NoOfRows))
}