﻿@using PagedList.Mvc
@model PagedList.StaticPagedList<CCTPMIS.Models.Reports.ReportSummaryChange>

    <div class="row">
        <div class="col-md-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            Showing @Model.Count of @Model.TotalItemCount
        </div>
        <div class="col-md-6">
            @Html.PagedListPager(Model, page => Url.Action("Changes",
                new
                {
                    page,
                })
                 )
        </div>
    </div>