﻿@using PagedList.Mvc
@model CCTPMIS.Models.Registration.BatchesViewModel

@{
    ViewBag.Title = "Accepted Registration Plan - Community Validation Batches";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Batch Name
                </th>
                <th>
                    Sub County
                </th>
                <th>
                    Registration Plan
                </th>
                <th>
                    Received
                </th>
                <th>
                    Date Accepted
                </th>
                <th>
                    Accepted By
                </th>
                <th>
                    Date Approved
                </th>
                <th>
                    Approved By
                </th>

                <th></th>
            </tr>
            @if (Model.RegAccepts.Any())
            {
                @Html.Partial("Common/Batches", Model.RegAccepts)
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.RegAccepts, page => Url.Action("Batches", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.RegAccepts.PageCount < Model.RegAccepts.PageNumber ? 0 : Model.RegAccepts.PageNumber) of @Model.RegAccepts.PageCount
        Showing @Model.RegAccepts.Count of @Model.RegAccepts.TotalItemCount
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>