﻿@model CCTPMIS.Models.Registration.RegistrationSummaryVm

@{
    ViewBag.Title = "Registration Community Validation Close";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want to   Close the <strong> @Model.TargetPlan.Name </strong>  Registration Plan - Community Validation  exercise?
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                        <button type="submit" class="btn btn-success "> <i class="icon-check"></i>  Close </button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>