﻿@model CCTPMIS.Models.Registration.PendingBatchesViewModel

@{
    ViewBag.Title = "Community Validation Batches Pending Registration Acceptance";

}

<div class="row">
    <div class="col-md-12">
         We have  @Model.PendingAcceptance Records
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    County
                </th>
                <th>
                    Sub County
                </th>
                <th>
                    Pending Households
                </th>

                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Batches)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PendingHHs)
                        </td>

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Actions</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu  dropdown-menu-right">
                                    <li><a class="modal-link" href="@Url.Action("Accept", new { id = item.TargetPlanId, constituencyId = item.ConstituencyId })"><i class="fa fa-dow"></i> Accept </a></li>
                                    <li role="separator" class="divider"></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
