﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.TargetingHh>

@{
    ViewBag.Title = "beneficiary Households under Targeting Batch";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    HHd Name
                </th>
                <th>
                    HHD National ID
                </th>
                <th>
                    HHD DOB
                </th>
                <th>
                    CG Name
                </th>
                <th>
                    CG National ID
                </th>
                <th>
                    CG DOB
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Village)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.HHdFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HHdNationalIdNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HHdDoB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CgFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CgNationalIdNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CgDoB)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationDate.ToString("G"))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Batchdetails", new { id = ViewContext.RouteData.Values["id"], page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>