﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Web.Controllers.DashboardsViewModel
@{
    ViewBag.Title = "Dashboards";
}


<div id="container" class="chats-cont">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_DashboardsMenu")
        </div>
    </div>
    <div class="row m-tb-30 ">
        <div class="col-md-12 reporting-header text-center">
            <label>Reporting Period Summary as at End of {{period.Name}}</label>
        </div>
    </div>
    <div class="row m-tb-30 ">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 chart" id="payment-beneficiaries"></div>
                <div class="col-md-12 legend">
                    <div class="indicator">
                        <table class="table table-condensed  ">
                            <thead>
                                <tr>
                                    <th> Key </th>
                                    <th> Indicator </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Total number of beneficiaries who have ever received a payment up to the end of <strong>{{period.Name}}</strong> reporting period. </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>Number of beneficiaries on pre-payroll not actioned during the <strong>{{period.Name}}</strong> reporting period</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Number of beneficiaries who are on payroll during the current <strong>{{period.Name}}</strong> reporting period.</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Number of beneficiaries who are on payroll for first time during the <strong>{{period.Name}}</strong> reporting period</td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                    <td> &nbsp; </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 chart" id="numbers-beneficiaries"></div>
                <div class="col-md-12  legend">
                    <div class="indicator">
                        <table class="table table-condensed  ">
                            <thead>
                                <tr>
                                    <th> Key </th>
                                    <th> Indicator </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Total number of Beneficiary Households exited from beginning up to the end of <strong> {{period.Name}}</strong> reporting period </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Number of Beneficiary Households exited during <strong> {{period.Name}}</strong> reporting period</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Number of Beneficiary Households enrolled during <strong> {{period.Name}}</strong> reporting period</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Number of Beneficiary Households whose Accounts were opened during <strong> {{period.Name}}</strong> reporting period</td>
                                </tr>

                                <tr>
                                    <td>5</td>
                                    <td>Number of Beneficiary Households registered during <strong> {{period.Name}}</strong> reporting period</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-tb-30 ">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 chart" id="payments"></div>
                <div class="col-md-12  legend">
                    <div class="indicator">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th> Key </th>
                                    <th> Indicator </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Total Payments disbursed during <strong> {{period.Name}}</strong> reporting period </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td> Total Funds Requested during <strong> {{period.Name}}</strong> reporting period </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td> Total Payments disbursed from begining up to the end of <strong> {{period.Name}}</strong> reporting period </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td> Total Funds Requested from begining up to the end of <strong> {{period.Name}}</strong> reporting period </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 chart" id="payments-piechart"></div>
                <div class="col-md-12  legend">
                    <div class="indicator">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th> Key </th>
                                    <th> Indicator </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>% of Payments disbursed on time during <strong> {{period.Name}}</strong> reporting period </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td> % of Payments disbursed late during <strong> {{period.Name}}</strong> reporting period </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td> &nbsp; </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-tb-30">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 chart" id="complaints"></div>
                <div class="col-md-12  legend">
                    <div class="indicator">
                        <table class="table table-condensed  ">
                            <thead>
                                <tr>
                                    <th> Key </th>
                                    <th> Indicator </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Total Number of complaints that have been resolved within the <strong>{{period.Name}}</strong> reporting period having exceeded SLA timeframes </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>Number of complaints that have been resolved within the <strong>{{period.Name}}</strong> reporting period and have not exceeded SLA timeframes</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Number of complaints that have not been resolved and have exceeded SLA timeframes within the <strong>{{period.Name}}</strong> reporting period</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Number of complaints that have not been resolved and have not exceeded SLA timeframes within the <strong>{{period.Name}}</strong> reporting period</td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                    <td> &nbsp; </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 chart" id="updates"></div>
                <div class="col-md-12  legend">
                    <div class="indicator">
                        <table class="table table-condensed  ">
                            <thead>
                                <tr>
                                    <th> Key </th>
                                    <th> Indicator </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Total Number of Updates that have been Closed within the <strong>{{period.Name}}</strong> reporting period having exceeded SLA timeframes </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>Number of Updates that have been Closed within the <strong>{{period.Name}}</strong> reporting period and have not exceeded SLA timeframes</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Number of Updates that have not been Closed and have exceeded SLA timeframes within the <strong>{{period.Name}}</strong> reporting period</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Number of Updates that have not been Closed and have not exceeded SLA timeframes within the <strong>{{period.Name}}</strong>reporting period</td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                    <td> &nbsp; </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="ComplaintsMax" />


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var root = $('#RootUrl').val();
            var colors = ['#7cb5ec', '#f7a35c', '#00b8ce', '#90ed7d', '#434348'];
            var colorsb = ['#8085e9', '#44a9a8', '#f45b5b', '#434348'];
            $.post(root + 'Home/FirstChart/')
                .done(function (data) {
                    hideLoader();

                    console.log(data);
                    $('#ComplaintsMax').val(data.ComplaintsMax);
                    $('.chats-cont').fadeIn();
                    var scope = angular.element(document.querySelector('body')).scope();
                    scope.$apply(function (filter) {
                        scope.period = data.Period;
                        scope.data = data;
                    });
                    Chats(data);
                })
                .fail(ajaxError);


            function Chats(data) {

                Highcharts.chart('payment-beneficiaries',
                    {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Payment of Beneficiaries'
                        },
                        colors: colors,
                        xAxis: {
                            title: {
                                text: 'Indicator',
                                align: 'low',
                                y: -10,
                                x: 0,
                                style: { fontSize: '11px' }
                            },
                            crosshair: true,
                            categories: ['1', '2', '3', '4']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'in millions'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value / 1000;
                                }
                            },
                            stackLabels: { // Values sitting on bar tops
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                },
                                formatter: function () {
                                    return (this.total / 1000).toFixed(2);
                                }
                            }
                        },
                        legend: {
                            align: 'center',
                            //x: -30,
                            verticalAlign: 'bottom',
                            y: 5,
                            floating: false,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '<b>Total: </b>{point.y}<br>'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                pointWidth: 65,
                                borderWidth: 0,
                                cursor: 'pointer',
                                dataLabels: { // Sitting inside the bars
                                    enabled: true,
                                    color: '#000',
                                    style: { textOutline: false },
                                    formatter: function () {
                                        return (this.y / 1000000).toFixed(2);
                                    }
                                }
                            }
                        },
                        series: [
                            {
                                name: 'OPCT',
                                data: data.PaymentBeneOPCT
                            }, {
                                name: 'CT-OVC',
                                data: data.PaymentBeneCTOVC
                            }, {
                                name: 'PwSD-CT',
                                data: data.PaymentBenePWSD
                            }
                        ]
                    });


                // Chart
                Highcharts.chart('numbers-beneficiaries',
                    {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Beneficiaries Analytics'
                        },
                        colors: colors,
                        xAxis: {
                            title: {
                                text: 'Indicator',
                                align: 'low',
                                y: -10,
                                x: 5,
                                style: { fontSize: '11px' }
                            },
                            crosshair: true,
                            categories: ['1', '2', '3', '4', '5', '6']
                        },
                        yAxis: {
                            min: 0,

                            title: {
                                text: 'in thousands'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value / 10000;
                                },
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                },
                                formatter: function () {

                                    return (this.total / 10000).toFixed(2);
                                }
                            }
                        },
                        legend: {
                            align: 'center',
                            //x: -30,
                            verticalAlign: 'bottom',
                            y: 5,
                            floating: false,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '<b>Total: </b>{point.y}<br>'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                pointWidth: 65,
                                borderWidth: 0,
                                cursor: 'pointer',
                                dataLabels: { // Sitting inside the bars
                                    enabled: true,
                                    color: '#000',
                                    style: { textOutline: false },
                                    formatter: function () {
                                        return (this.y / 10000).toFixed(2);
                                    }
                                }
                            }
                        },
                        series: [
                            {
                                name: 'OPCT',
                                data: data.BeneOPCT
                            }, {
                                name: 'CT-OVC',
                                data: data.BeneCTOVC
                            }, {
                                name: 'PwSD-CT',
                                data: data.BenePWSD
                            }
                        ]
                    });


                // Chart
                Highcharts.chart('payments',
                    {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Payments'
                        },
                        colors: colorsb,
                        xAxis: {
                            title: {
                                text: 'Indicator',
                                align: 'low',
                                y: -10,
                                x: 5,
                                style: { fontSize: '11px' }
                            },
                            crosshair: true,
                            categories: ['1', '2', '3', '4']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'in billions (KES)'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value / 1000000000;
                                }
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                },
                                formatter: function () {
                                    console.log(this);
                                    return (this.total / 1000000000).toFixed(2);
                                }
                            }
                        },
                        legend: {
                            align: 'center',
                            //x: -30,
                            verticalAlign: 'bottom',
                            y: 5,
                            floating: false,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '<b>Total: </b>{point.y}<br>'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                pointWidth: 65,
                                borderWidth: 0,
                                cursor: 'pointer',
                                dataLabels: { // Sitting inside the bars
                                    enabled: true,
                                    color: '#000',
                                    style: { textOutline: false },
                                    formatter: function () {
                                        return (this.y / 1000000000).toFixed(2);
                                    }
                                }
                            }
                        },
                        series: [
                            {
                                name: 'OPCT',
                                data: data.PaymentOPCT
                            }, {
                                name: 'CT-OVC',
                                data: data.PaymentCTOVC
                            }, {
                                name: 'PwSD-CT',
                                data: data.PaymentPWSD
                            }
                        ]
                    });

                // Chart
                Highcharts.chart('complaints',
                    {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Complaints'
                        },
                        colors: colorsb,
                        xAxis: {
                            title: {
                                text: 'Indicator',
                                align: 'low',
                                y: -10,
                                x: 5,
                                style: { fontSize: '11px' }
                            },
                            crosshair: true,
                            categories: ['1', '2', '3', '4']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            },
                            labels: {
                                formatter: function () {
                                    return this.value;
                                }
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                },
                                formatter: function () {
                                    console.log(this);
                                    return (this.total);
                                }
                            }
                        },
                        legend: {
                            align: 'center',
                            //x: -30,
                            verticalAlign: 'bottom',
                            y: 5,
                            floating: false,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '<b>Total: </b>{point.y}<br>'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                pointWidth: 65,
                                borderWidth: 0,
                                cursor: 'pointer',
                                dataLabels: { // Sitting inside the bars
                                    enabled: true,
                                    color: '#000',
                                    style: { textOutline: false },
                                    formatter: function () {
                                        return (this.y / 1000000000).toFixed(2);
                                    }
                                }
                            }
                        },
                        series: [
                            {
                                name: 'OPCT',
                                data: data.complaintsBeneOPCT
                            }, {
                                name: 'CT-OVC',
                                data: data.complaintsBeneCTOVC
                            }, {
                                name: 'PwSD-CT',
                                data: data.complaintsBenePWSD
                            }
                        ]
                    });


                // Chart
                Highcharts.chart('updates',
                    {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Updates'
                        },
                        colors: colors,
                        xAxis: {
                            title: {
                                text: 'Indicator',
                                align: 'low',
                                y: -10,
                                x: 5,
                                style: { fontSize: '11px' }
                            },
                            crosshair: true,
                            categories: ['1', '2', '3', '4']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'in 10s'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value;
                                }
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                },
                                formatter: function () {

                                    return (this.total);
                                }
                            }
                        },
                        legend: {
                            align: 'center',
                            //x: -30,
                            verticalAlign: 'bottom',
                            y: 5,
                            floating: false,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '<b>Total: </b>{point.y}<br>'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                pointWidth: 65,
                                borderWidth: 0,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    color: '#000',
                                    style: { textOutline: false },
                                    formatter: function () {
                                        return (this.y);
                                    }
                                }
                            }
                        },
                        series: [
                            {
                                name: 'OPCT',
                                data: data.updatesBeneOPCT
                            }, {
                                name: 'CT-OVC',
                                data: data.updatesBeneCTOVC
                            }, {
                                name: 'PwSD-CT',
                                data: data.updatesBenePWSD
                            }
                        ]
                    });


                Highcharts.chart('payments-piechart',
                    {
                        chart: {
                            type: 'pie'
                        },
                        title: {
                            text: 'Timeliness of the Payment Cycles'
                        },
                        colors: colors,
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },

                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                showInLegend: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                    }
                                }
                            }
                        },
                        series: [
                            {
                                name: 'Total',
                                colorByPoint: true,
                                data: [
                                    {
                                        name: 'Timely Payments',
                                        y: data.InTime
                                    },
                                    {
                                        name: 'Late Payments',
                                        y: data.LateTime
                                    }
                                ]
                            }
                        ]
                    });

                setTimeout(function () {
                    $('.highcharts-container').addClass('hvr-glow');
                },
                    2000);
            }

        });
    </script>
}

