﻿@model CCTPMIS.Models.Account.AvatarUploadViewModel
@{
    ViewBag.Title = "My  Profile Picture";
}

<div class="row">
    <div class="col-md-12">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-danger ">
                @Model.Message
            </div>
        }
    </div>

    <div class="col-md-10 col-md-offset-1">

        @using (Html.BeginForm("Avatar", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProfileImage, htmlAttributes: new { @class = "control-label col-md-12 " })
                            <div class="col-md-12">
                                <label class="btn btn-default btn-file">
                                    Browse for Picture
                                    @Html.TextBoxFor(m => m.Upload, new { type = "file", accept = "image/x-png, image/gif, image/jpeg" })
                                </label>
                                <label>
                                    <span id="dataFileLabel"> </span>
                                </label>
                            </div>
                            <div class="col-md-12">

                                <p style="font-size: small; color: green;">* Preferred photo dimensions (100x100)</p>
                                @Html.HiddenFor(m => m.ProfileImage, new { id = "ProfileImage" })
                                @Html.ValidationMessageFor(model => model.ProfileImage, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3  col-xs-3 ">
                        <label> Current Picture </label>
                        <div class="form-group">
                            <img class="img img-responsive img-circle" style="width: 75px" src="~/uploads/Images/@Model.DisplayAvatar" />
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3  col-xs-3 ">
                        <div id="previewImgHolder" class="hidden">
                            <label> New Picture </label>
                            <div class="form-group">
                                <img id="previewImg" style="width: 75px" class="img img-responsive img-circle " src="~/uploads/Images/@Model.DisplayAvatar" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="@Url.Action("Index")" class="btn   btn-primary"><i class="fa fa-arrow-circle-left"></i> Back </a>
                            <button type="submit" class="btn  btn-success btn-default"> <i class="fa fa-cloud-upload"></i> Upload </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#previewImg').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Upload").change(function() {
            readURL(this);
            $("#previewImgHolder").removeClass("hidden");
        });
    </script>

    <script type="text/javascript">
        $('#notificationModal').modal('show');
        $('#notificationModal').modal({ keyboard: false });
    </script>

    <div class="modal fade" id="notificationModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

}