﻿@model CCTPMIS.Models.Account.EditUserContactViewModel
@{
    ViewBag.Title = "Edit Profile";
}

<div class="row">
    <div class="col-md-12 m-tb-10">
        
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm(null, "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })
            <div class="form-horizontal">

                

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                 

                <div class="form-group">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <a href="@Url.Action("Index")" class="btn   btn-primary"><i class="fa fa-arrow-circle-left"></i> Back </a>

                        <button type="submit" class="btn btn-success"> <i class="fa fa-send"></i> Update Phone Number </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>