﻿@model CCTPMIS.Models.Account.IndexViewModel
@{
    ViewBag.Title = "My Profile";
}
 
<div class="row">
    <div class="col-md-12">
        @Html.Partial("UserProfile", Model.User)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="m-tb-30">
            @if (Model.HasPassword)
            {
                <a href="@Url.Action("ChangePassword")" class="btn btn-primary"> <i class="fa fa-lock "></i> Change Password </a>
            }
            else
            {
                <a href="@Url.Action("SetPassword")" class="btn btn-primary"> <i class="fa fa-lock "></i> Set Password </a>
            }

           
            <a href="@Url.Action("Avatar")" class="btn btn-primary"> <i class="fa fa-user-circle-o "></i> Change Profile Picture </a>
        </div>
    </div>
</div>