﻿@model CCTPMIS.Business.Model.ApplicationUser

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">

            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FullName) </th>
                    <td>@Html.DisplayFor(model => model.FullName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CreatedOn) </th>
                    <td>@Html.DisplayFor(model => model.CreatedOn)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PasswordChangeDate)</th>
                    <td>@Html.DisplayFor(model => model.PasswordChangeDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <td> # @Html.DisplayFor(model => model.Id)</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                </tr>

                <tr>

                    <th>@Html.DisplayNameFor(model => model.Organization)</th>
                    <td>@Html.DisplayFor(model => model.Organization)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Department)</th>
                    <td>@Html.DisplayFor(model => model.Department)</td>
                </tr>
                <tr>

                    <th>@Html.DisplayNameFor(model => model.Position)</th>
                    <td>@Html.DisplayFor(model => model.Position)</td>
                </tr>

                <tr>

                    <th>@Html.DisplayNameFor(model => model.StaffNo)</th>
                    <td>@Html.DisplayFor(model => model.StaffNo)</td>
                </tr>
                <tr>

                    <th>@Html.DisplayNameFor(model => model.NationalIdNo)</th>
                    <td>@Html.DisplayFor(model => model.NationalIdNo)</td>
                </tr>

                <tr>

                    <th>@Html.DisplayNameFor(model => model.Avatar)</th>
                    <td>

                        <div class="form-group">
                            <img id="previewImg" style="width: 75px" class="img img-responsive img-circle " src="~/uploads/Images/@Model.DisplayAvatar"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>