﻿@model CCTPMIS.Business.Statics.UserSummary
@using System.Web.Configuration

@if (User.Identity.IsAuthenticated)
{
    <div class="col-md-9">
        <h1 class="page-title">@ViewBag.Title</h1>
    </div>

    <div class="col-sm-3">


        <div class="pull-right">

            <ul class="user-info pull-left">
                <li class="profile-info dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                        <img width="44" class="img-circle avatar" alt="" src="@WebConfigurationManager.AppSettings["DIRECTORY_AVATAR_UPLOAD"]@(string.IsNullOrEmpty(Model.DisplayAvatar)?Model.DisplayAvatar :"avatar.png")">
                        @Model.DisplayName
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "Manage", new { area = string.Empty })"><i class="icon-user"></i>My profile</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Messages", new { area = string.Empty })"><i class="icon-mail"></i>Messages</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-logout"></i>Sign Out </a>
                        </li>
                    </ul>
                </li>
                <li class="notifications dropdown">
                    <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-attention"></i><span class="badge badge-info">6</span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li class="first">
                            <div class="small"><a class="pull-right danger" href="#">Mark all Read</a> You have <strong>3</strong> new notifications.</div>
                        </li>
                        <li>
                            <ul class="dropdown-list">
                                @*@Html.Partial("_Messages")*@
                            </ul>
                        </li>

                        <li class="external-last">
                            <a href="#" class="danger">View all notifications</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
}
<div class="hidden">
    @Html.Partial("_LoginPartial")
</div>