﻿<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="label">@ViewBag.Title</h4>
        </div>
        @RenderBody()
        <div class="hidden hide">
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/modalplugins")
            @RenderSection("scripts", required: false)
            @Styles.Render("~/Content/css")
        </div>
    </div>
</div>