﻿ 

    <ul id="side-nav" class="main-menu navbar-collapse collapse">
        
        <li>
            <a href="@Url.Action("Index", "Home", new { area = string.Empty })">
                <i class="icon-gauge"></i><span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Help", new { area = string.Empty })">
                <i class="icon-gauge"></i><span class="title">Help </span>
            </a>
        </li>

     
    </ul>

 