﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "../Account/_Layout.cshtml";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>