﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.PaymentCycleCreateViewModel

@{
    ViewBag.Title = "Create a  new  Payment Cycle ";
    var canCreateCycle = User.UserGroupHasRight("PAYMENT CYCLE:ENTRY");

}

<div id="message" class="hidden">
    <div class="alert alert-danger">
        <strong>Error</strong>
        <div id="messageinner">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "PaymentCycleCreationFrm", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                        @if (Model != null)
                        {

                            <div class="col-md-12">

                                <h3>
                                    Kindly select the Financial Year and Months
                                    <br /><small> If this is not the First time you are creating a cycle. the Periods will be Automatically Picked. </small> .
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FinancialYearId, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @if (Model.FinancialYearId != null)
                                        {
                                            <p>
                                                <strong> @Model.FinancialYear </strong>
                                            </p>
                                            @Html.HiddenFor(model => model.FinancialYearId)
                                        }

                                        @if (Model.FromMonthId != null)
                                        {
                                            @Html.HiddenFor(model => model.FromMonthId)
                                        }
                                        @Html.ValidationMessageFor(model => model.FinancialYearId, string.Empty, new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => model.ToMonthId, string.Empty, new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => model.FromMonthId, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.FromMonthId, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @if (Model.FromMonthId != null)
                                        {
                                            @Html.HiddenFor(model => model.FromMonthId)

                                            <p class="col-md-12">
                                                <label>
                                                    <strong> @Model.FromMonth </strong>
                                                </label>
                                            </p>
                                        }
                                        else
                                        {

                                            <div class="col-md-12">
                                                @Html.DropDownList("FromMonthId", null, "Select Start Month", htmlAttributes: new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(model => model.FromMonthId, string.Empty, new { @class = "text-danger" })
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.ToMonthId, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @if (Model.ToMonthId != null)
                                        {
                                            @Html.HiddenFor(model => model.ToMonthId)
                                            <p class="col-md-12">
                                                <strong> @Model.ToMonth </strong>
                                            </p>
                                        }
                                        else
                                        {

                                            @Html.HiddenFor(model => model.ToMonthId)

                                            <div class="col-md-12">
                                                @Html.DropDownList("ToMonthId", null, "Select End month ", htmlAttributes: new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(model => model.ToMonthId, string.Empty, new { @class = "text-danger" })
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control required" } })
                                    @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12">
                                <hr />
                                <h3>
                                    Kindly select the Period for which the Monthly Activity reports will apply.
                                </h3>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control required startMonth" } })
                                        @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control required endMonth" } })
                                        @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" col-md-12">
                                    <a class="btn btn-info" href="@Url.Action("Index")"> <i class="fa fa-arrow-left"></i> Back </a>
                                    @if (canCreateCycle)
                                    {
                                        <button type="submit" id="PaymentCycleCreation_Btn" class="btn btn-success"> <i class="fa fa-send-o"></i> Create </button>
                                    }
                                </div>
                            </div>
                        }
                    </div>

        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('select#ToMonthId').attr('disabled', 'disabled');

            $(document).on("change", "#FromMonthId", function () {
                var nextmonth = parseInt($(this).val()) + 1;

                $('select#ToMonthId   option[value="' + nextmonth + '"]').prop("selected", true);

                $("input#ToMonthId").val(nextmonth);
                $("#FromMonthId").val(parseInt($(this).val()));
                $('select#ToMonthId').attr('disabled', 'disabled');
                //console.log(nextmonth);
            });
        });
    </script>
}