﻿@model CCTPMIS.Business.Model.PaymentCycle

@{
    ViewBag.Title = "Delete a Payment Cycle";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}

<div class="modal-body">

<div class="row">
    <div class="col-md-12">
        <p> Are you sure you want to Delete this Payment Cycle ?</p>
    </div>
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">

            <tbody>
                <tr>
                    <th> Year </th>
                    <td> @Model.FinancialYear.Description  </td>
                </tr>
                <tr>
                    <th> Period </th>
                    <td> @Model.FromMonth.Description -  @Model.ToMonth.Description  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <p>
            <strong>
                Please note that this action can not be undone!
            </strong>
        </p>
    </div>
</div>
</div>
<div class="modal-footer">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Delete </button>
                </div>
            </div>
        </div>
    </div>

}
</div>

@section scripts
{

    <script type="text/javascript">

        $(document).on("submit", "form", function (e) {

            $(this).find("button[type='submit']").each(function () {
                $(this).addClass("disabled");
            });
            $("#progress").removeClass("hidden");
        });
    </script>
}