﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.PaymentCycle

@{
    ViewBag.Title = "Payment Cycle Details";
    var canViewDetails = User.UserGroupHasRight("PAYMENT CYCLE:VIEW");
    var canViewProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:VIEW");
}
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        @if (canViewDetails)
        {
            <li class="active" role="presentation">
                <a href="@Url.Action("Details", new { id = Model.Id })">Payment Cycle Details</a>
            </li>
        }
        @if (canViewProgrammes)
        {
            <li role="presentation">
                <a href="@Url.Action("Programmes", new { id = Model.Id })">Payment Cycle Programmes </a>
            </li>
        }
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active m-tb-10"  id="PaymentCycleDetails">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("Common/_PaymentCycleSummary", Model)
                </div>
            </div>
            @if (canViewDetails)
            {
                <div class="row">
                    <div class="col-md-12 m-tb-30">
                        @Html.Partial("Common/_BackToList")
                    </div>
                </div>
            }
        </div>
    </div>
</div>