﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.PaymentCycleCreateViewModel

@{
    ViewBag.Title = "Edit  Payment Cycle ";
    var canmodifyPaymentCycle = User.UserGroupHasRight("PAYMENT CYCLE:MODIFIER");
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "PaymentCycleCreationFrm", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)

            <div class="form-horizontal">

                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                        @if (Model != null)
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FinancialYearId, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @if (Model.FinancialYear != null)
                                        {
                                            <label>
                                                <strong> @Model.FinancialYear </strong>
                                            </label>
                                            @Html.HiddenFor(model => model.FinancialYearId)
                                        }

                                        @if (Model.FromMonthId != null)
                                        {
                                            @Html.HiddenFor(model => model.FromMonthId)
                                        }
                                        @Html.ValidationMessageFor(model => model.FinancialYearId, string.Empty, new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => model.ToMonthId, string.Empty, new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => model.FromMonthId, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FromMonthId, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @if (Model.FromMonthId != null)
                                    {
                                        @Html.HiddenFor(model => model.FromMonthId)
                                        <label>
                                            <strong> @Model.FromMonth </strong>
                                        </label>
                                    }
                                    else
                                    {
                                        <div class="col-md-12">
                                            @Html.DropDownList("FromMonthId", null, "Select Start Month", htmlAttributes: new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.FromMonthId, string.Empty, new { @class = "text-danger" })
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ToMonthId, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @if (Model.ToMonthId != null)
                                    {
                                        @Html.HiddenFor(model => model.ToMonthId)
                                        <label>
                                            <strong> @Model.ToMonth </strong>
                                        </label>
                                    }
                                    else
                                    {

                                        <div class="row">
                                            @Html.HiddenFor(model => model.ToMonthId)

                                            <div class="col-md-12">
                                                @Html.DropDownList("ToMonthId", null, "Select End month ", htmlAttributes: new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(model => model.ToMonthId, string.Empty, new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control required" } })
                                    @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            if (canmodifyPaymentCycle)
                            {
                                <div class="form-group">
                                    <div class=" col-md-12">
                                        <a class="btn btn-info" href="@Url.Action("Index")"> <i class="fa fa-arrow-left"></i> Back </a>
                                        <button type="submit" id="PaymentCycleCreation_Btn" class="btn btn-success"> <i class="fa fa-send-o"></i> Update </button>
                                    </div>
                                </div>
                            }
                        }
                    </div>

        }
    </div>
</div>