﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.PaymentCycle>

@{
    ViewBag.Title = "Payment Cycles";
}

        <div class="row">
            <div class="col-md-12">
                <div class="m-tb-10 pull-right">
                    @if (User.UserGroupHasRight("PAYMENT CYCLE:ENTRY"))
                    {
                        @Html.Partial("Common/_AddButton")
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>
                            Financial Year
                        </th>
                        <th>
                            Payment Period
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>

                            @Html.DisplayFor(modelItem => item.FinancialYear.Description)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FromMonth.Description) - @Html.DisplayFor(modelItem => item.ToMonth.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Actions</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu  dropdown-menu-right">
                                    @if (User.UserGroupHasRight("PAYMENT CYCLE:VIEW"))
                                    {
                                        <li><a class="   " href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-eye"></i> Details </a></li>
                                        <li role="separator" class="divider"></li>
                                        <li> <a href="@Url.Action("Programmes", new { id = item.Id })"><i class="icon-check"></i> Programmes </a></li>

                                            if (item.PaymentCycleDetails.Count(x => x.PaymentStage.Code == "PREPAYROLLDRAFT") == item.PaymentCycleDetails.Count() && item.PaymentCycleDetails.Count() != 0)
                                            {
                                                <li role="separator" class="divider"></li>
                                                <li> <a class="modal-link" href="@Url.Action("Skip", new { id = item.Id })"><i class="fa fa-mail-forward"></i> Skip Cycle </a></li>
                                            }

                                    }
                                    @if (item.Status.Code == "PAYMENTOPEN")
                                    {

                                        if (User.UserGroupHasRight("PAYMENT CYCLE:MODIFIER"))
                                        {
                                            if (item.PaymentCycleDetails.Count(x => x.PaymentStage.Code != "PAYMENTCYCLEAPV") == 0)
                                            {
                                                <li role="separator" class="divider"></li>
                                                <li> <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-paste"></i>Edit </a></li>
                                            }
                                        }

                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
            </div>
            <div class="col-md-4">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                Showing @Model.Count of @Model.TotalItemCount
            </div>
        </div>