﻿@using CCTPMIS.Business.Statics
@using PagedList
@model CCTPMIS.Business.Model.PaymentCycle

@{
    ViewBag.Title = "Payment Cycle Programme Details";

    var canViewDetails = User.UserGroupHasRight("PAYMENT CYCLE:VIEW");
    var canViewProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:VIEW");
}

<div role="tabpanel">
    @Html.Partial("Common/_PaymentCycleTabs")

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active m-tb-10" id="PaymentCycleProgrammes">
            @if (Model.PaymentCycleDetails.Count(x => x.PaymentStage.Code != "PAYMENTCYCLEAPV") == 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-sm btn-primary pull-right m-tb-10" href="@Url.Action("Create", "PaymentCycleDetails", new { id = ViewContext.RouteData.Values["id"] })"><i class="fa fa-plus"></i> Add Programme   </a>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("Common/_PaymentCycleProgrammes", Model.PaymentCycleDetails.ToList().ToPagedList(1, 10))
                </div>
            </div>

            @if (canViewDetails)
            {
                <div class="row">
                    <div class="col-md-12 m-tb-30">
                        <a href="@Url.Action("Index")" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>