﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.PaymentCycle

@{
    ViewBag.Title = "Skip Payment Cycle ";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canApprovePcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:APPROVAL");
}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table  table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>Year </th>
                            <td>@Model.FinancialYear.Description</td>

                            <th>Status </th>
                            <td>@Model.Status.Description</td>
                        </tr>
                        <tr>
                            <th> Start Month  </th>
                            <td> @Html.DisplayFor(modelItem => Model.FromMonth.Description) </td>
                            <th> End Month  </th>
                            <td> @Html.DisplayFor(modelItem => Model.ToMonth.Description)</td>
                        </tr>

                        <tr>
                            <th>Created By </th>
                            <td> @Html.DisplayFor(modelItem => Model.CreatedByUser.DisplayName)</td>
                            <th>Created On </th>
                            <td>@Html.DisplayFor(modelItem => Model.CreatedOn)</td>
                        </tr>
                        <tr>
                            <th>Modified By </th>
                            <td>

                                @Html.DisplayFor(modelItem => Model.ModifiedByUser.DisplayName)
                            </td>
                            <th>Modified On </th>
                            <td>@Html.DisplayFor(modelItem => Model.ModifiedOn)</td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <p>
                                    Description
                                </p>
                                <p>
                                    @Html.DisplayFor(modelItem => Model.Description)
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <h3>
                    Activity Reports Months
                </h3>
            </div>

            <div class="col-md-12">

                <table class="table  table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Month </th>
                            <th> Year </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PaymentAccountActivityMonths.Any())
                        {

                            foreach (var item in Model.PaymentAccountActivityMonths)
                            {
                                <tr>
                                    <td>@item.Month.Description</td>
                                    <td>@item.Year</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>

                                <td colspan="2">
                                    <p>
                                        There are not  Activity Report  Months set for this Payment Cycle.
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <p> Are you sure you want to Skip  this Payment Cycle ?</p>
        </div>
        <div class="col-md-12">
            <p>
                <strong>
                    Please note that this action can not be undone!
                </strong>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @if (canApprovePcProgrammes)
                        {

                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Skip and Close </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>