﻿@model CCTPMIS.Business.Model.ExpansionPlanMaster

<table class="table  table-striped table-hover">
    <thead></thead>
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Programme.Name)
            </th>

            <td>
                @Html.DisplayFor(model => model.Programme.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>

            <td>
                @Html.DisplayFor(model => model.Code)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>

            <td>
                @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>

            <td>
                @Html.DisplayFor(model => model.CreatedOn)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>

            <td>
                @Html.DisplayFor(model => model.ModifiedBy)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>

            <td>
                @Html.DisplayFor(model => model.ModifiedOn)
            </td>
        </tr>
    </tbody>
</table>