﻿@model CCTPMIS.Business.Model.ExpansionPlanMaster
@{
    ViewBag.Title = "Create new Expansion Plan";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ProgrammeId", null, "Select", htmlAttributes: new { @class = "form-control", @required ="required" })
                    @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EffectiveFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EffectiveFromDate, new { htmlAttributes = new { @class = "form-control  startdate" } })
                    @Html.ValidationMessageFor(model => model.EffectiveFromDate, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EffectiveToDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EffectiveToDate, new { htmlAttributes = new { @class = "form-control enddate" } })
                    @Html.ValidationMessageFor(model => model.EffectiveToDate, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.ModifiedBy)
            @Html.HiddenFor(model => model.ModifiedOn)

            <div class="form-group">

                @Html.Partial("Common/_CreateFooter")
            </div>
        </div>
        }
    </div>
</div>