﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.ExpansionPlanMaster>

@{
    ViewBag.Title = "Expansion Plans";

}

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="pull-right m-tb-10">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Programme
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Description
                    </th>

                    <th>
                        Effective From Date
                    </th>
                    <th>
                        Effective To Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Programme.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.EffectiveFromDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EffectiveToDate)
                        </td>

                        <td>
                            <a class="btn btn-success btn-xs" href="@Url.Action("Details", new { id=item.Id })"><i class="fa fa-eye"></i> View Details </a>
                            <a class="btn btn-success btn-xs" href="@Url.Action("Plans", new { id = item.Id })"><i class="fa fa-eye"></i> Loc </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>