﻿@model CCTPMIS.Business.Model.ExpansionPlanDetail

@{
    ViewBag.Title = "Expansion Plan Detail";

}

<div class="row">
    <div class="col-md-12">
        <table class="table  table-striped table-hover">
            <thead></thead>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpansionPlanId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ExpansionPlanId)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EnrolledHHs)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.EnrolledHHs)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FinancialYearId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.FinancialYear.Description)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ScaleupEqualShare)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ScaleupEqualShare)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ScaleupPovertyPrioritized)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ScaleupPovertyPrioritized)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("PlanDetails", new {id = Model.ExpansionPlanId })" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
    </div>
</div>