﻿@model CCTPMIS.Business.Model.ExpansionPlan

@{
    ViewBag.Title = "Expansion Plan";

}

<div class="row">
    <div class="col-md-12">
        <table class="table  table-striped table-hover">
            <thead></thead>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpansionPlanMaster.Description)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ExpansionPlanMaster.Description)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Location.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoricalHHs)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CategoricalHHs)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PovertyHeadCountPerc)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.PovertyHeadCountPerc)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ScaleupPovertyPrioritized)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ScaleupPovertyPrioritized)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ScaleupEqualShare)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ScaleupEqualShare)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right m-tb-10">
            <a href="@Url.Action("plans", new { Id = @Model.ExpansionPlanMasterId })" class="btn    btn-primary">
                <i class="fa fa-plus"></i> Other Locations
            </a>
            @*<a href="@Url.Action("PlanDetailCreate", new { ExpansionPlanId = @Model.Id })" class="btn modal-link   btn-primary"><i class="fa fa-plus"></i> New</a>*@
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Financial Year
                    </th>
                    <th>
                        Scaleup Poverty Prioritized
                    </th>
                    <th>
                        Scaleup Equal Share
                    </th>
                    <th>
                        EnrolledHHs
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ExpansionPlanDetails)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.FinancialYear.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScaleupPovertyPrioritized)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScaleupEqualShare)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnrolledHHs)
                        </td>

                        <td>
                            <a class="btn btn-success  modal-link btn-xs" href="@Url.Action("PlanDetailEdit", new { id=item.Id })"><i class="fa fa-edit"></i> Edit </a>
                            <a class="btn btn-success   btn-xs" href="@Url.Action("PlanDetailDetail", new { id = item.Id })"><i class="fa fa-eye"></i> View </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@