﻿@model CCTPMIS.Business.Model.ExpansionPlan

@{
    ViewBag.Title = "Edit Expansion Plan";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}

        @using (Html.BeginForm())
        {

            <div class="modal-body">

            @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ExpansionPlanMasterId)
                    @Html.HiddenFor(model => model.LocationId)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoricalHHs, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.CategoricalHHs, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CategoricalHHs, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PovertyHeadCountPerc, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.PovertyHeadCountPerc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PovertyHeadCountPerc, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ScaleupPovertyPrioritized, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ScaleupPovertyPrioritized, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ScaleupPovertyPrioritized, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ScaleupEqualShare, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ScaleupEqualShare, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ScaleupEqualShare, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.ModifiedBy)
                    @Html.HiddenFor(model => model.ModifiedOn)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedOn)

                    @*<div class="form-group">
            @Html.Partial("Common/_EditFooter", Model.Id)
        </div>*@
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }