﻿@model CCTPMIS.Business.Model.ExpansionPlanMaster

@{
    ViewBag.Title = "Expansion Plan Details";

}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommoDetails", Model)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right m-tb-10">
            <a href="@Url.Action("Plan", new { ExpansionPlanMasterId = @Model.Id })" class="btn modal-link pull-left btn-primary"><i class="fa fa-plus"></i> New</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Location Name
                    </th>
                    <th>
                        Location Code
                    </th>
                    <th>
                        Poverty Head Count Perc
                    </th>
                    <th>
                        Categorical HHs
                    </th>

                    <th>
                        Scaleup Equal Share
                    </th>
                    <th>
                        Scaleup Poverty Prioritized
                    </th>
                    @*<th>
                        Created By
                    </th>
                    <th>
                        Created On
                    </th>
                    <th>
                        Modified By
                    </th>
                    <th>
                        Modified On
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ExpansionPlans)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PovertyHeadCountPerc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoricalHHs)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ScaleupEqualShare)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ScaleupPovertyPrioritized)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.CreatedByUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedByUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>*@

                        <td>
                            <a class="btn btn-success  modal-link btn-xs" href="@Url.Action("PlanEdit", new { id=item.Id })"><i class="fa fa-edit"></i> Edit </a>
                            <a class="btn btn-success   btn-xs" href="@Url.Action("PlanDetails", new { id = item.Id })"><i class="fa fa-eye"></i> View </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>