﻿@model CCTPMIS.Models.Monitoring.MonitoringReportCreateModel

@{
    ViewBag.Title = "Add a Monitoring Report";
}

@if (ViewBag.Message != null)
{<div class="row">
        <div class="col-md-12">
            <div id="upload_messages" class="alert alert-@ViewBag.MessageType">@ViewBag.Message</div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required" } })
                            @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control required" } })
                            @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MonitoringReportCategoryId, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("MonitoringReportCategoryId", null, "Select Category", htmlAttributes: new { @class = "form-control required " })
                            @Html.ValidationMessageFor(model => model.MonitoringReportCategoryId, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("StatusId", null, "Select Category", htmlAttributes: new { @class = "form-control required " })
                            @Html.ValidationMessageFor(model => model.StatusId, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">

                            <label class="btn btn-default btn-file">
                                Browse Report <input type="file" style="display: none" id="dataFile" name="upload" />
                            </label>
                            <label>
                                <span id="dataFileLabel"> </span>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" class="btn pull-left btn-primary"> <i class="fa fa-navicon"></i>  Back </a>
                            <button type="submit" class="btn btn-success pull-right"> <i class="fa fa-send"></i> Upload </button>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>