﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.MonitoringReport

@{
    ViewBag.Title = Model.Name + " Report";

    var canCreate = User.UserGroupHasRight("MONITORING REPORTS:ENTRY");
    var canView = User.UserGroupHasRight("MONITORING REPORTS:VIEW");
    var canEdit = User.UserGroupHasRight("MONITORING REPORTS:MODIFIER");
    var canApprove = User.UserGroupHasRight("MONITORING REPORTS:APPROVAL");
    var canVerify = User.UserGroupHasRight("MONITORING REPORTS:VERIFY");
    var canClose = User.UserGroupHasRight("MONITORING REPORTS:CLOSE");
}
<div class="row">
    <div class="col-md-6 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
    <div class="col-md-6 m-tb-30">
        <div class="col-md-12">
            @if (Model.Status.Code != "Approved" )
            {
                <div class="btn-group pull-right m-tb-10   ">
                    <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu  dropdown-menu-right">
                        @if (Model.Status.Code == "Creation Approval")
                        {
                            if (canVerify)
                            {
                                <li><a class="modal-link" href="@Url.Action("Verify", new {id = Model.Id})">Accept</a></li>
                                <li role="separator" class="divider"></li>

                            }
                        }
                        @if (Model.Status.Code == "Verified" && canApprove)
                        {
                            <li><a class="modal-link" href="@Url.Action("Approve", new {id = Model.Id})">Approve</a></li>
                            <li role="separator" class="divider"></li>

                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">

                <tbody>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.Name) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Name)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.Description) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Description)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.FileName) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.FileName)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.CreatedBy) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.CreatedByUser.DisplayName)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.ModifiedOn) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ModifiedOn)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.ModifiedBy) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ModifiedByUser.DisplayName)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.ModifiedOn) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ModifiedOn)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.VerifiedBy) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.VerifiedByUser.DisplayName)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.VerifiedOn) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.VerifiedOn)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.ApvBy) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ApvByUser.DisplayName)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.ApvOn) </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ApvOn)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>