﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model  CCTPMIS.Models.Monitoring.MonitoringListViewModel

@{
    ViewBag.Title = "Monitoring and Evaluation Reports";
    var canVerify = User.UserGroupHasRight("MONITORING REPORTS:VERIFY");
    var canCreate = User.UserGroupHasRight("MONITORING REPORTS:ENTRY");
    var canModify = User.UserGroupHasRight("MONITORING REPORTS:MODIFIER");
    var canApprove = User.UserGroupHasRight("MONITORING REPORTS:APPROVAL");
}

@using (Html.BeginForm("Index", "Reports", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter", role = "form" }))

{
    if (canApprove || canModify ||canVerify)
    {
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("StatusId", null, "Select", htmlAttributes: new { @class = "form-control" })
        </div>
    }
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.MonitoringReportCategoryId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("MonitoringReportCategoryId", null, "Select", htmlAttributes: new { @class = "form-control" })
    </div>

    <div class="form-group col-md-2">
        <label>&nbsp;</label><br />
        <button type="submit" class="btn btn-success     ">
            <i class="glyphicon glyphicon-search"></i> Search
        </button>
    </div>

    <div class="form-group col-md-2">
        <label>&nbsp;</label><br />
        <button type="button" class="btn btn-default    btn-reset ">
            <i class="fa fa-eraser"></i> Clear
        </button>
    </div>
    if (canCreate)
    {
        <div class="form-group col-md-2">
            <label>&nbsp;</label>
            <a href="@Url.Action("Create")" class="btn   btn-primary"><i class="fa fa-plus"></i> New Report </a>
        </div>}
    <input type="hidden" name="Page" id="pagination-page" value="1" />

}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="table-filter" class="table   table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Report.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Report.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Report.MonitoringReportCategoryId)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Report.StatusId)
                        </th>

                        <th> </th>
                    </tr>

                    @if (canApprove || canModify || canVerify)
                    {

                        foreach (var item in Model.Reports)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Download", new {id = item.Id})" class="btn btn-sm btn-primary">
                                        <i class="fa fa-cloud-download"></i>
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MonitoringReportCategory.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.Description)
                                </td>
                                <td>
                                    @Html.ActionLink("  View", "Details", new { id = item.Id }, new { @class = "fa fa-eye" })
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        foreach (var item in Model.Reports.Where(x => x.MonitoringReportCategory.Code == "Approved"))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Icon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MonitoringReportCategory.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.Description)
                                </td>
                                <td>
                                    @Html.ActionLink("  View", "Details", new { id = item.Id }, new { @class = "fa fa-eye" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.Reports, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.Reports.PageCount < Model.Reports.PageNumber ? 0 : Model.Reports.PageNumber) of @Model.Reports.PageCount
        Showing @Model.Reports.Count of @Model.Reports.TotalItemCount
    </div>
</div>