﻿@model CCTPMIS.Business.Model.MonitoringReport

@{
    ViewBag.Title = "Verify Monitoring Report";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table table-condensed table-striped table-bordered table-hover">

                    <tbody>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.Name) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Name)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.Description) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Description)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.FileName) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.FileName)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.CreatedBy) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CreatedByUser.DisplayName)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.ModifiedOn) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ModifiedOn)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.ModifiedBy) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ModifiedByUser.DisplayName)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.ModifiedOn) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ModifiedOn)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.VerifiedBy) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.VerifiedByUser.DisplayName)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.VerifiedOn) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.VerifiedOn)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.ApvBy) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ApvByUser.DisplayName)
                            </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.ApvOn) </th>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ApvOn)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                        <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Verify </button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>