﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.ReconciliationCreateViewModel

@{
    ViewBag.Title = "Create a new Reconciliation ";
    var canCreateCycle = User.UserGroupHasRight("RECONCILIATION:ENTRY");

}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "PaymentCycleCreationFrm", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                        <div class="col-md-12">
                            <hr />
                            <h3>
                                Kindly select the Period for which the Monthly Activity reports will apply.
                            </h3>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control required startMonth",Value= @ViewBag.MaxDate } })
                                    @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control required endMonth" } })
                                    @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="ReconciliationSummary">
                            </div>
                            <div id="Message">
                                <div id="messageinner">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class=" col-md-12">
                                <a class="btn btn-info" href="@Url.Action("Index")"> <i class="fa fa-arrow-left"></i> Back </a>
                                @if (canCreateCycle)
                                {
                                    <button type="submit" id="PaymentCycleCreation_Btn" class="btn btn-success"> <i class="fa fa-send-o"></i> Create </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("click, input, keyup, keydown, dp.change", "#StartDate,#EndDate", function (e) {

                e.preventDefault();
                e.stopPropagation();
                if ($("input#StartDate").val() !== "" && $("input#EndDate").val() !== "") {
                    //var url = "/Payments/Reconciliation/Analysis/?StartDate=" + $("#StartDate").val() + "&EndDate=" + $("#EndDate").val() + "&id=";
                    var url = "/Funds/Reconciliation/Analysis/?StartDate=" + $("#StartDate").val() + "&EndDate=" + $("#EndDate").val() + "&id=";
                    $.getJSON({
                        url: url,
                        dataType: "json",
                        crossDomain: false,
                        beforeSend: function () {
                            $("#ReconciliationSummary").html('');
                            $("#message").addClass("hidden");

                        },
                        success: function (json) {

                            if (json.results != null) {

                                var data = json.results;

                                line =
                                    "<table class='table table-bordered table-striped'><tbody><tr>   <th> Affected Payment Cycles </th> </tr>";
                                for (var i = 0; i < data.length; i++) {
                                    line +=
                                        "<tr>" +
                                        "  <td> <input type='hidden' name='PaymentCycles[" +
                                        i +
                                        "].Id' id='PaymentCycles[" +
                                        i +
                                        "].Id' class='form-control enrolmentgroupamounts required' value='" +
                                        data[i].Id +
                                        "' />  " +
                                        "  <input type='hidden' name='PaymentCycles[" +
                                        i +
                                        "].PaymentCycleId' id='PaymentCycles[" +
                                        i +
                                        "].PaymentCycleId' class='form-control enrolmentgroupamounts required' value='" +
                                        data[i].PaymentCycleId +
                                        "' />  " +
                                        "  " +
                                        data[i].CycleName +
                                        " </td>" +
                                        "</tr>";
                                }
                                line += "</tbody></table>"

                                $("#ReconciliationSummary").html(line);
                            } else {
                                var error =
                                    '  <div class="alert alert-danger">  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><p><strong>Error!</strong> </p> <p>' +
                                        json.Error +
                                        '</p> </div>';
                                $("#messageinner").html(error);
                                $("#message").removeClass("hidden");
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                            var errorData = $.parseJSON(xhr.responseText);
                            var errorMessages = [];
                            for (var key in errorData) {
                                if (errorData.hasOwnProperty(key)) {
                                    errorMessages.push(errorData[key]);
                                }
                            }

                        },

                        complete: function () {

                        }
                    });

                }

            });
        });
    </script>
}