﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.Reconciliation

@{
    ViewBag.Title = "Reconciliation Summary";
    var canAddDetails = User.UserGroupHasRight("RECONCILIATION:VIEW");

    ViewBag.StatusCode = @Model.Status.Code;
}
<div class="row">
    <div class="col-md-12">
        <h3> Reconciliation Summary</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.StartDate)  </th>
                    <td> @Html.DisplayFor(modelItem => Model.StartDate) </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.EndDate)  </th>
                    <td> @Html.DisplayFor(modelItem => Model.EndDate)</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.StatusId)  </th>
                    <td> @Html.DisplayFor(modelItem => Model.Status.Description) </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.CreatedBy)  </th>
                    <td> @Html.DisplayFor(modelItem => Model.CreatedByUser.DisplayName)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => Model.ApvBy)  </th>
                    <td> @Html.DisplayFor(modelItem => Model.ApvByUser.DisplayName) </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.ApvOn)  </th>
                    <td> @Html.DisplayFor(modelItem => Model.ApvOn)</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.CreatedOn)  </th>
                    <td> @Html.DisplayFor(modelItem => Model.CreatedOn)</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.ReconciliationDetails)</th>
                    <td> @Html.DisplayFor(modelItem => Model.ReconciliationDetails.Count)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-10">
        @if (canAddDetails)
        {
            if (Model.Status.Code == "RECONAPV")
            {
                <a class="btn btn-success btn-sm pull-right" href="@Url.Action("Create", "ReconciliationDetails", new {reconciliationId = Model.Id})">
                    <i class="fa fa-plus"></i>   Reconcile PSP Account
                </a>
            }

        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("Common/_ReconciliationDetails", Model.ReconciliationDetails)
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>