﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.Reconciliation

@{
    ViewBag.Title = "Finalize Reconciliation";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canApprovePcProgrammes = User.UserGroupHasRight("RECONCILIATION:CLOSE");
}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p> Are you sure you want to Close Reconciliation  for  <strong>@Model.StartDate - @Model.EndDate</strong>  ?</p>
        </div>

        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.StartDate)  </th>
                        <td> @Html.DisplayFor(modelItem => Model.StartDate) </td>
                    </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.EndDate)  </th>
                        <td> @Html.DisplayFor(modelItem => Model.EndDate)</td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.StatusId)  </th>
                        <td> @Html.DisplayFor(modelItem => Model.Status.Description) </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.CreatedBy)  </th>
                        <td> @Html.DisplayFor(modelItem => Model.CreatedByUser.DisplayName)</td>
                    </tr>
                    <tr>
                        <th>  @Html.DisplayNameFor(modelItem => Model.ApvBy)  </th>
                        <td> @Html.DisplayFor(modelItem => Model.ApvByUser.DisplayName) </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.ApvOn)  </th>
                        <td> @Html.DisplayFor(modelItem => Model.ApvOn)</td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.CreatedOn)  </th>
                        <td> @Html.DisplayFor(modelItem => Model.CreatedOn)</td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.ReconciliationDetails)</th>
                        <td> @Html.DisplayFor(modelItem => Model.ReconciliationDetails.Count)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <p>
                <strong>
                    Please note that this action can not be undone!
                </strong>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                        @if (canApprovePcProgrammes)
                        {

                        <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Finalize Reconciliation </button>
                        }
                    </div>
                </div>
            </div>
        </div>

    }

    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>