﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.Reconciliation>

@{
    ViewBag.Title = "Reconciliation";
    var canViewReconciliation = User.UserGroupHasRight("RECONCILIATION:VIEW");
    var canCreateReconciliation = User.UserGroupHasRight("RECONCILIATION:ENTRY");
    var canModifyReconciliation = User.UserGroupHasRight("RECONCILIATION:MODIFIER");
    var canCloseReconciliation = User.UserGroupHasRight("RECONCILIATION:CLOSE");
    var canApproveReconciliation = User.UserGroupHasRight("RECONCILIATION:APPROVAL");
}

<div role="tabpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="m-tb-10 pull-right">
                @if (canViewReconciliation)
                {
                    @Html.Partial("Common/_AddButton")
                }
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            PSPs
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        var pendingActivity = item.ReconciliationDetails;

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Status.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReconciliationDetails.Count)
                            </td>
                            <td>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Actions</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu  dropdown-menu-right">
                                        @if (canViewReconciliation)
                                        {
                                            <li><a class="" href="@Url.Action("Details", new { id = item.Id})"> <i class="fa fa-eye"></i> View </a></li>
                                        }

                                        @if (item.Status.Code == "RECONOPEN")
                                        {
                                            if (canApproveReconciliation)
                                            {
                                                if (item.ModifiedBy == int.Parse(User.Identity.GetUserId()) || item.CreatedBy == int.Parse(User.Identity.GetUserId()))
                                                {
                                                    <li role="separator" class="divider"></li>
                                                    <li><a aria-disabled="True" class="btn-disabled " href="#"> <i class="fa fa-check"></i>  Approve </a></li>
                                                }
                                                else
                                                {
                                                    <li role="separator" class="divider"></li>
                                                    <li><a class="modal-link" href="@Url.Action("Approve", new { id = item.Id})"> <i class="icon-check"></i> Approve </a></li>
                                                }
                                            }
                                        }

                                        @if (item.Status.Code == "RECONAPV")
                                        {
                                            if (canCloseReconciliation)
                                            {
                                                if (item.ApvBy == int.Parse(User.Identity.GetUserId()))
                                                {
                                                    <li role="separator" class="divider"></li>
                                                    <li><a aria-disabled="True" class="btn-disabled " href="#"> <i class="fa fa-check"></i>  Finalize PSP Reconciliation </a></li>
                                                }
                                                else
                                                {
                                                    <li role="separator" class="divider"></li>
                                                    <li><a class="modal-link" href="@Url.Action("Finalize", new { id = item.Id })"><i class="fa fa-check"></i> Finalize PSP Reconciliation </a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
            </div>
            <div class="col-md-4">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                Showing @Model.Count of @Model.TotalItemCount
            </div>
        </div>
    </div>
</div>