﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.Reconciliation

@{
    ViewBag.Title = "Reconciliation Summary";
    var canAddDetails = User.UserGroupHasRight("RECONCILIATION:ENTRY");

    ViewBag.StatusCode = Model.Status.Code;
}
<div class="row">
    <div class="col-md-12">
        <h3> Reconciliation Summary</h3>
    </div>
</div>