﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@model PagedList.IPagedList<CCTPMIS.Business.Model.PaymentCycleDetail>
@{
    var canaddPcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:ENTRY");
    var canViewPcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:VIEW");
    var canApprovePcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:APPROVAL");
    var canEditPcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:MODIFIER");
    var candeletePcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:DELETION");
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>

                <th>
                    Programme
                </th>
                <th>
                    Payment Stage
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Created On
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>

                        @Html.DisplayFor(modelItem => item.Programme.Name)
                        (@Html.DisplayFor(modelItem => item.Programme.Code))
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStage.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                @if (canViewPcProgrammes)
                                {
                                    <li>
                                        <a class=" tr-link  " href="@Url.Action("Details", "PaymentCycleDetails", new {PaymentCycleId = item.PaymentCycleId, ProgrammeId = item.ProgrammeId})">
                                            <i class="fa fa-eye"></i> Details
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                }
                                @if (item.PaymentStage.Code == "PAYMENTCYCLEAPV")
                                {
                                    if (canApprovePcProgrammes)
                                    {
                                        if (item.CreatedBy == int.Parse(User.Identity.GetUserId()) || item.ModifiedBy == int.Parse(User.Identity.GetUserId()))
                                        {
                                            <li> <a aria-disabled="True" class="btn-pc-approve" href="#"><i class="icon-check"></i> Approve </a></li>
                                            <li role="separator" class="divider"></li>
                                        }
                                        else
                                        {
                                            <li>

                                                <a class="modal-link" href="@Url.Action("Approve", "PaymentCycleDetails", new { PaymentCycleId = item.PaymentCycleId, ProgrammeId = item.ProgrammeId })">
                                                    <i class="icon-check"></i> Approve
                                                </a>
                                            </li>
                                            <li role="separator" class="divider"></li>
                                        }
                                    }
                                    if (canEditPcProgrammes)
                                    {

                                        <li>
                                            <a href="@Url.Action("Edit", "PaymentCycleDetails", new { PaymentCycleId = item.PaymentCycleId, ProgrammeId = item.ProgrammeId })">
                                                <i class="fa fa-edit"></i>Edit
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    if (candeletePcProgrammes)
                                    {

                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <a class="modal-link" href="@Url.Action("Delete", "PaymentCycleDetails", new { PaymentCycleId = item.PaymentCycleId, ProgrammeId = item.ProgrammeId })">
                                                <i class="fa fa-times"></i> Delete
                                            </a>
                                        </li>

                                    }

                                }
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr class="hidden">
                    <td colspan="5"></td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>