﻿@using CCTPMIS.Business.Statics

@{
    var canViewDetails = User.UserGroupHasRight("PAYMENT CYCLE:VIEW");
    var canViewProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:VIEW");
}
<ul class="nav nav-tabs">
    @if (canViewDetails)
    {
        <li role="presentation">
            <a href="@Url.Action("Details", "PaymentCycles", new {id = ViewContext.RouteData.Values["id"]})">
                Payment Cycle Details
            </a>
        </li>
    }
    @if (canViewProgrammes)
    {
        <li class="active" role="presentation">
            <a href="@Url.Action("Programmes", "PaymentCycles", new { id = ViewContext.RouteData.Values["id"] })">
                Payment Cycle Programmes
            </a>
        </li>
    }
</ul>