﻿@model CCTPMIS.Business.Model.PaymentCycle
<div class="col-md-12">
    <table class="table  table-bordered table-striped table-hover">

        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.FinancialYearId) </th>
                <td>@Html.DisplayFor(modelItem => Model.FinancialYear.Description)</td>

                <th>@Html.DisplayNameFor(modelItem => Model.StatusId) </th>
                <td>@Html.DisplayFor(modelItem => Model.Status.Description)</td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => Model.FromMonthId)   </th>
                <td> @Html.DisplayFor(modelItem => Model.FromMonth.Description) </td>
                <th> @Html.DisplayNameFor(modelItem => Model.ToMonthId)  </th>
                <td> @Html.DisplayFor(modelItem => Model.ToMonth.Description)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.CreatedBy)  </th>
                <td> @Html.DisplayFor(modelItem => Model.CreatedByUser.DisplayName)</td>
                <th>@Html.DisplayNameFor(modelItem => Model.CreatedOn) </th>
                <td>@Html.DisplayFor(modelItem => Model.CreatedOn)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.ModifiedBy)  </th>
                <td>

                    @Html.DisplayFor(modelItem => Model.ModifiedByUser.DisplayName)
                </td>
                <th>@Html.DisplayNameFor(modelItem => Model.ModifiedOn) </th>
                <td>@Html.DisplayFor(modelItem => Model.ModifiedOn)</td>
            </tr>

            <tr>
                <td colspan="4">
                    <p>
                        <strong>
                            @Html.DisplayNameFor(modelItem => Model.Description)
                        </strong>
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => Model.Description)
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-12">
    <h3>
        Activity Reports Months
    </h3>
</div>

<div class="col-md-12">

    <table class="table  table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Month </th>
                <th> Year </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PaymentAccountActivityMonths.Any())
            {

                foreach (var item in Model.PaymentAccountActivityMonths)
                {
                    <tr>
                        <td>@item.Month.Description</td>
                        <td>@item.Year</td>
                    </tr>
                }
            }
            else
            {
                <tr>

                    <td colspan="2">
                        <p>
                            There are not  Activity Report  Months set for this Payment Cycle.
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>