﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.FileCreation>

@{
    ViewBag.Title = "Payrolls Files";
    var canDownloadPayroll = User.UserGroupHasRight("PSP-PAYMENT:DOWNLOAD");
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered ">
            <tr>
                <th>
                    File
                </th>

                <th>
                    Date Created
                </th>
                <th>
                    Date Downloaded
                </th>
                <th>
                    Status
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileDownloads.FirstOrDefault(x=>x.DownloadedBy== item.TargetUserId).DownloadedOn)
                    </td>
                    <td>
                        @if (item.FileDownloads.Any(x => x.DownloadedBy == item.TargetUserId))
                        {
                            <span>Pending Download</span>
                        }

                            @if (item.FileDownloads.Any(x => x.DownloadedBy == item.TargetUserId))
                            {
                                <span> Verified </span>
                            }
                            else
                            {
                                <span> Pending Verification </span>
                            }
                    </td>

                    <td>
                        @if (canDownloadPayroll)
                        {
                            <a class="btn btn-success btn-xs" href="@Url.Action("Verify", "Files", new {id = item.Id})">
                                <i class="fa fa-download"></i> Download / Verify
                            </a>
                        }
                        @if (item.FileDownloads.Any(x => x.DownloadedBy == item.TargetUserId))
                        {

                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing  @Model.Count of   @Model.TotalItemCount
    </div>
</div>