﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Registration.BatchesViewModel

@{
    ViewBag.Title = "Recertification Supervisory Review - Batches";
    var canVerify = User.UserGroupHasRight("RECERTIFICATION SUPERVISORY:VERIFY");
    var canValidate = User.UserGroupHasRight("RECERTIFICATION SUPERVISORY:VALIDATE");
    var canView = User.UserGroupHasRight("RECERTIFICATION SUPERVISORY:VIEW");
    var canAccept = User.UserGroupHasRight("RECERTIFICATION SUPERVISORY:ACCEPT");
}

@if (Model.PendingAcceptance > 0)
{
    if (canAccept)
    {
        <div class="row">
            <div class="col-md-12  m-tb-10">
                <div class="pull-right">
                    <a href="@Url.Action("Accept", new {id = ViewContext.RouteData.Values["id"]})" class="btn modal-link  btn-primary">
                        <i class="fa fa-get-pocket"></i> Accept  All @Model.PendingAcceptance Records
                    </a>
                    <a href="@Url.Action("Pending", new {id = ViewContext.RouteData.Values["id"]})" class="btn  btn-primary">
                        <i class="fa fa-get-pocket"></i> View @Model.PendingAcceptance Records
                    </a>
                </div>
            </div>
        </div>
    }
}
@Html.Partial("Common/Batches", Model.ListingBatches)