﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.HouseholdRegAccept

@{
    ViewBag.Title = "Recertification Supervisory Review  - Confirm Batch";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

 }
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want to Confirm the   <strong> @Model.BatchName </strong> Batch for SR/IPRS Validation?
            </p>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.ConstituencyId)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.Constituency.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.BatchName)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.BatchName)</td>
                    </tr>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.AcceptDate)</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.AcceptDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.AcceptById)</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.AcceptBy.FullName)</td>
                </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.ReceivedHHs)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.ReceivedHHs)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            Are you sure you want to Confirm the   <strong> @Model.BatchName </strong> Batch for SR/IPRS Validation?
        </p>
    </div>
</div>

<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TargetPlanId)
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Confirm </button>
                    </div>
                </div>
            </div>
        </div>
    }
    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>