﻿@model CCTPMIS.Models.Registration.PendingBatchesViewModel

@{
    ViewBag.Title = "Recertification Supervisory Review - Pending Households";

}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>

                <th>
                    County
                </th>
                <th>
                    Sub County
                </th>
                <th>
                    Location
                </th>
                <th>
                    Pending Households
                </th>

                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Batches)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.County)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Constituency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PendingHHs)
                    </td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                <li><a class="modal-link" href="@Url.Action("Accept", new { id=item.TargetPlanId, constituencyId=item.ConstituencyId, locationId=item.LocationId })"><i class="fa fa-dow"></i> Accept </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class=" " href="@Url.Action("PendingHouseholds", new { id = item.TargetPlanId, locationId = item.LocationId})"><i class="fa fa-eye"></i> View Pending Households </a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-12">
    <a href="@Url.Action("Batches", new {id = ViewContext.RouteData.Values["id"]})" class="btn   btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
</div>