﻿@model CCTPMIS.Business.Model.Constituency

@{
    ViewBag.Title = "Constituency Details";
}
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommonDetails", Model)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Name
                </th>

                <th>
                    Code
                </th>
                <th>
                    CreatedOn
                </th>
                <th>
                    Modified By
                </th>
                <th>
                    ModifiedOn
                </th>
                <th>
                    CreatedBy
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Wards)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.FirstName)
                    </td>
                    <td>
                        <a class="btn btn-success btn-xs" href="@Url.Action("Details", "Wards", new { id = item.Id })">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", "Wards", new { id = item.Id })">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>