﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Registration.BatchesViewModel

@{
    ViewBag.Title = "Accepted Registration";

    var canVerify = User.UserGroupHasRight("REGISTRATION VALIDATION:VERIFY");
    var canValidate = User.UserGroupHasRight("REGISTRATION VALIDATION:VALIDATE");
    var canView = User.UserGroupHasRight("REGISTRATION VALIDATION:VIEW");
    var canAccept = User.UserGroupHasRight("REGISTRATION VALIDATION:ACCEPT");  
}

@Html.Partial("Common/Batches", Model.RegAccepts)



<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>