﻿@model CCTPMIS.Models.Registration.RegistrationSummaryVm

@{
    ViewBag.Title = "Validation Details ";

}



<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">

            <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Name) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Name)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Description) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Description)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Start) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Start)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.End) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.End)
                    </td>
                </tr>
                
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.StatusId) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Status.Description)
                    </td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedByUser.DisplayName)  </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedOn)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedByUser.DisplayName)  </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedOn)</td>
                </tr>


                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvByUser.DisplayName)  </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvOn)</td>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedByUser.DisplayName)  </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedOn)</td>
                </tr>

                @*<tr>
                        <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionsFileId)  </th>
                        <td>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionsFile.FileName)  </td>
                    </tr>
                    <tr>
                        <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValidationFileId)  </th>
                        <td>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValidationFile.FileName)  </td>
                    </tr>


                    <tr>
                        <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionBy)  </th>
                        <td>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionByUser.DisplayName)  </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionOn) </th>
                        <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ExceptionOn)</td>
                    </tr>


                    <tr>
                        <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValidatedBy)  </th>
                        <td>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValidatedByUser.DisplayName)  </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValidatedOn) </th>
                        <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ValidatedOn)</td>
                    </tr>*@

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">

            @if (Model.GetRegistrationSummaryVm.ValidationFileId != null &&
                 Model.GetRegistrationSummaryVm.ExceptionsFileId != null
                )
            {

                <div class="col-md-6">
                    <div class="panel panel-default animated fadeInUp go">
                        <div class="panel-heading clearfix">
                            <div class="panel-title">
                                Validations
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="speed-analyzer">
                                <div class="speed-score">
                                    <strong class="score">
                                        @Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.Validated)
                                        <a href="@Url.Action("Verify", "Services", new {area = "", id = Model.GetRegistrationSummaryVm.ValidationFileId})">
                                            <i class="fa fa-cloud-download"></i>
                                        </a>
                                    </strong>
                                    <span class="uppercase"> @Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.Validated)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default animated fadeInUp go">
                        <div class="panel-heading clearfix">
                            <div class="panel-title">
                                Exceptions
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="speed-analyzer">

                                <div class="speed-score">
                                    <strong class="score">
                                        @Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.Exceptions)
                                        <a href="@Url.Action("Verify", "Services", new {area = "", id = Model.GetRegistrationSummaryVm.ExceptionsFileId})">
                                            <i class="fa fa-cloud-download"></i>
                                        </a>
                                    </strong>
                                    <span class="uppercase"> @Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.Exceptions)</span>
                                </div>



                            </div>


                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>