﻿@model CCTPMIS.Business.Model.TargetPlan
@{
    ViewBag.Title = "Generate  SR/IPRS Export File for Offline Validation";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">             
                <p>
                    You can Export and Download all the List of the Beneficiaries and Caregivers who have not been Validated Locally through the Single Registry - IPRS Web Service.
                </p>
                <p>The File is in CSV Format. Kindly note the following</p>
                <ul>
                    <li>The File is in CSV Format</li>
                    <li>The File is Compressed and Password Protected </li>
                    <li>The File Password  will be displayed only after  successfully Verifying Checksum.</li>
                </ul>
                <p>
                    <strong>  Are you sure you want to Generate  Template to Export for SR/IPRS Validation?</strong>
                </p>
                <p>
                    While Importing the File back, <br/> 
                    Please note that the format must match this Template
                    <a href="#" class="btn bg-warning pull-right"> <i class="fa fa-cloud-download"></i> 
                        Import Template </a>
                </p>
            </div>
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Id)                 
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Yes, Proceed.</button>
    </div>
}