﻿@model CCTPMIS.Business.Model.TargetPlan
@{
    ViewBag.Title = "Generate Validation List";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <p>
                        You can Generate and Download <strong> Community Validation List </strong>
                        List of Households who have failed SR/IPRS Validation either through the Webservice or through Manual Verification.
                    </p>

                    <p>The File is in CSV Format. Kindly note the following</p>
                    <ul>
                        <li>The File is in CSV Format</li>
                        <li>The File is Compressed and Password Protected </li>
                        <li>The File Password  will be displayed only after  successfully Verifying Checksum.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Id)                 
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Yes, Generate.</button>
    </div>
}