﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.TargetPlan>

@{
    ViewBag.Title = "Registration Plan SR/IPRS Validation";
    var userId = int.Parse(User.Identity.GetUserId());
    var canView = User.UserGroupHasRight("REGISTRATION VALIDATION:VIEW");
    var canException = User.UserGroupHasRight("REGISTRATION VALIDATION:EXCEPTIONS");
    var canValidate = User.UserGroupHasRight("REGISTRATION VALIDATION:VALIDATION");
    var canApprove = User.UserGroupHasRight("REGISTRATION VALIDATION:APPROVAL");
    var canExportIprs = User.UserGroupHasRight("REGISTRATION VALIDATION:EXPORTIPRS");
    var canImportIprs = User.UserGroupHasRight("REGISTRATION VALIDATION:IMPORTIPRS");
}
<div class="row">
    <div class="col-md-12 m-tb-30">
        @if (canImportIprs)
        {
        <a class="modal-link btn btn-info pull-right" href="@Url.Action("ImportIprs", new {})"><i class="fa fa-check"></i> IMPORT  SR/IPRS FILE </a>
        }
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Exercise Period
                </th>
                <th>
                    Description
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start) - @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Description)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                @if (canView)
                                {
                                    <li><a class="   " href="@Url.Action("Details", new {id = item.Id})"><i class="fa fa-eye"></i> Details </a></li>
                                    <li role="separator" class="divider"></li>

                                    <li><a class="   " href="@Url.Action("Batches", new {id = item.Id})"><i class="fa fa-group"></i> Batches </a></li>
                                    <li role="separator" class="divider"></li>

                                    if (canExportIprs)
                                    {
                                        <li>
                                            <a class=" modal-link text-green  " href="@Url.Action("GenerateIPRS", new {id = item.Id})">
                                                <i class="fa fa-cloud-download"></i> Generate  SR/IPRS Export File
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }

                                    if (item.ExceptionsFileId == null)
                                    {
                                        if (canException)
                                        {
                                            if (item.Status.Code == "IPRSVAL")
                                            {
                                                <li><a class=" modal-link  " href="@Url.Action("GenerateExceptions", new {id = item.Id})"><i class="fa  fa-cubes"></i> Generate Exceptions File </a></li>
                                                <li role="separator" class="divider"></li>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="" href="@Url.Action("Verify", "Services", new {id = item.ExceptionsFileId, area = ""})">
                                                <i class="fa fa-cloud-download"></i>
                                                Download Exceptions File
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>

                                    }
                                    if (item.ValidationFileId == null)
                                    {
                                        if (item.Status.Code == "IPRSVAL")
                                        {
                                            if (canValidate)
                                            {
                                                <li>
                                                    <a class=" modal-link  " href="@Url.Action("GenerateValidations", new {id = item.Id})">
                                                        <i class="fa fa-cubes"></i> Generate Community Validation List
                                                    </a>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="" href="@Url.Action("Verify", "Services", new {id = item.ValidationFileId, area = ""})">
                                                <i class="fa fa-cloud-download"></i>
                                                Download Community Validation List
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    if (item.Status.Code == "IPRSVAL")
                                    {
                                        if (item.ValidationFileId != null && item.ExceptionsFileId != null)
                                        {
                                            if (canApprove)
                                            {
                                                <li>
                                                    <a class=" modal-link  " href="@Url.Action("Approve", new {id = item.Id})">
                                                        <i class="fa fa-cubes"></i> Approve for Community Validation
                                                    </a>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>


