﻿@{
    ViewBag.Title = "ChangePasswordSuccess";
}

<div class="col-md-6">
    <div class="panel panel-dark">
        <div class="panel-heading">
            <div class="tools"> </div>
            <span class="title"> Reset the Password Successful </span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        The password for was successfully changed. Contact the user of the change.
                    </p>

                    <a href="@Url.Action("Details", new { id = ViewContext.RouteData.Values["id"] })" class="btn btn-sm   btn-primary">
                        <i class="fa fa-arrow-alt-circle-left"></i> Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>