﻿@model CCTPMIS.Models.Account.RegisterViewModel
@{
    ViewBag.Title = "Create a User";
}
<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Create", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })
            <div class="form-horizontal">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                Select User Group
                            </label>
                            <div class="col-md-12">
                                @Html.DropDownList("UserGroupId", null, "Select User Group", htmlAttributes: new { @class = "form-control required ug", name = "UserGroupId" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.MiddleName, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.MiddleName, string.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group has-error">
                            @Html.LabelFor(model => model.Surname, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Surname, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.Surname, string.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group has-error">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.PhoneNumber, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.PhoneNumber, string.Empty, new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group has-error">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.Email, string.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NationalIdNo, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.NationalIdNo, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.NationalIdNo, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.StaffNo, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.StaffNo, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.StaffNo, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        @*<div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @class = "text-danger" })
            </div>
        </div>*@

                        <div class="form-group has-error">
                            @Html.LabelFor(model => model.Organization, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Organization, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.Organization, string.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Department, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Department, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.Department, string.Empty, new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group has-error">
                            @Html.LabelFor(model => model.Position, htmlAttributes: new {@class = "control-label col-md-12"})
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Position, new {htmlAttributes = new {@class = "form-control "}})
                                @Html.ValidationMessageFor(model => model.Position, string.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="alert alert-info">
                            <strong> Password </strong>
                            A Random Password will be generated and shared with the User In Order for them to activate their Account.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <a class="btn btn-warning" href="@Url.Action("Index")">Cancel</a>
                            <button class="btn btn-danger" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success"> Save User </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>