﻿@using Microsoft.AspNet.Identity
@model CCTPMIS.Business.Model.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.FullName) </th>
                    <td> @Html.DisplayFor(model => model.FullName) </td>

                    <th> @Html.DisplayNameFor(model => model.Email) </th>
                    <td> @Html.DisplayFor(model => model.Email) @Html.DisplayFor(model => model.EmailConfirmed) </td>

                    <th> @Html.DisplayNameFor(model => model.PhoneNumber) </th>
                    <td> @Html.DisplayFor(model => model.PhoneNumber) @Html.DisplayFor(model => model.PhoneNumberConfirmed) </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.CreatedOn) </th>
                    <td> @Html.DisplayFor(model => model.CreatedOn) </td>

                    <th> @Html.DisplayNameFor(model => model.LoginDate) </th>
                    <td> @Html.DisplayFor(model => model.LoginDate) </td>

                    <th> @Html.DisplayNameFor(model => model.ActivityDate) </th>
                    <td> @Html.DisplayFor(model => model.ActivityDate) </td>
                </tr>
                <tr>
                    <th> <span> Account Lockout  Enabled Status </span>  </th>
                    <td> @Html.DisplayFor(model => model.LockoutEnabled) </td>

                    <th> <span> Last Lockout End Date UTC </span> </th>
                    <td> @Html.DisplayFor(model => model.LockoutEndDateUtc) </td>

                    <th> <span> Last Password Change Date</span> </th>
                    <td> @Html.DisplayFor(model => model.PasswordChangeDate) </td>
                </tr>
                <tr>
                    <th> <span> Account Status</span></th>
                    <td> @Html.DisplayFor(model => model.IsActive) </td>

                    <th> <span> Access Failed Count </span> </th>
                    <td> @Html.DisplayFor(model => model.AccessFailedCount) </td>

                    <th> <span> Is Two Factor Authentication Enabled </span> </th>
                    <td> @Html.DisplayFor(model => model.TwoFactorEnabled) </td>
                </tr>

                <tr>
                    <th> @Html.DisplayNameFor(model => model.UserGroupId) </th>
                    <td> @Html.DisplayFor(model => model.UserGroup.Name) </td>

                    <th> <span>@Html.DisplayFor(model => model.UserGroup.UserGroupTypeId) </span> </th>
                    <td> @Html.DisplayFor(model => model.UserGroup.UserGroupType.Description) </td>

                    <td> </td>
                    <th> </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@if (Model.UserGroupId != 1)
{
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-2">
                <a href="@Url.Action("Index")" class="btn     btn-primary">
                    <i class="fa fa-arrow-circle-left"></i> Back to List
                </a>
            </div>
            <div class="col-md-2">
                @if (Model.IsActive)
                {
                    <a href="@Url.Action("ChangePassword", new {id = Model.Id})" class="btn     btn-primary">
                        <i class="fa fa-lock"></i> Change Password
                    </a>
                }
            </div>

            <div class="col-md-2">
                @if (Model.LockoutEnabled && Model.LockoutEndDateUtc < DateTime.UtcNow)
                {
                    @*if (Model.IsActive)
                        {
                            using (Html.BeginForm("Lock", null, new { id = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Lock" onclick="return confirm('Are you sure ?');" class="btn     btn-primary" />
                            }
                        }*@
                }
            </div>
            <div class="col-md-6">
                @if (Model.Id != int.Parse(User.Identity.GetUserId()))
                {
                    if (Model.IsActive)
                    {
                        if (Model.LockoutEnabled && Model.LockoutEndDateUtc > DateTime.UtcNow)
                        {
                            using (Html.BeginForm("UnLock", null, new { id = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Unlock" onclick="return confirm('Are you sure ?');" class="btn     btn-primary" />
                            }
                        }
                        else
                        {

                        }
                    }

                    if (Model.IsActive)
                    {
                        using (Html.BeginForm("Deactivate", null, new { id = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Deactivate" onclick="return confirm('Are you sure ?');" class="btn     btn-primary" />
                        }
                    }
                    if (Model.IsActive)
                    {
                        if (Model.LoginDate == null)
                        {
                            <a class="btn btn-primary btn-xs" href="@Url.Action("ResendActivationEmail", new {id = Model.Id})"><i class="fa fa-recycle"></i> Resend Activation Email</a>
                        }
                    }

                    if (!Model.IsActive)
                    {
                        using (Html.BeginForm("Activate", null, new { id = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Activate" onclick="return confirm('Are you sure you want to Activate this Account?');" class="btn btn-primary" />
                        }
                    }
                }
            </div>
        </div>
    </div>
}