﻿@model CCTPMIS.Models.Account.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}
<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("User Group", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownList("UserGroupId", null,"Select", htmlAttributes: new { @class = "form-control ug required", name = "UserGroupId" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.MiddleName, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.Surname, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NationalIdNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.NationalIdNo, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.NationalIdNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StaffNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.StaffNo, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.StaffNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="@Url.Action("Index")" class="btn   btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
                        <button type="submit" class="btn btn-success"> <i class="fa fa-send"></i> Update User </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Model.UserGroup.Code
    @if (Model.UserGroup.Code == "Internal")
       {
           <script>
               $("#NationalIdNo").addClass("required");
               $("#StaffNo").addClass("required");
           </script>
       }else{
           <script>
               $("#NationalIdNo").removeClass("required");
               $("#StaffNo").removeClass("required");
           </script>
    }
}