﻿@model CCTPMIS.Models.Users.UsersListViewModel
@{
    ViewBag.Title = "Administration - Users";
}

@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <p class="panel-title"> Filter @ViewBag.Title </p>
    <hr>
    <div class="row m-tb-10">
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Officer Name", name = "Name" } })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.StaffNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Staff No. " } })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number " } })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.NationalIdNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "National ID  " } })
                </div>
            </div>
        </div>
    </div>

    <div class="row m-tb-10">
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UserGroup, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Group   " } })
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-6">
                    <button type="submit" class="btn    btn-success"> <i class="fa fa-filter"></i> Filter </button>
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Index")" class="btn    btn-default"> <i class="fa fa-times"></i> Clear </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.Partial("Common/_AddButton")
            </div>
        </div>
    </div>

    <hr>

}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("ListData", Model.Users)
    </div>
</div>