﻿@model PagedList.IPagedList<CCTPMIS.Business.Model.ApplicationUser>
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@{
    ViewBag.Title = "Users";
}

        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Phone Number
                </th>

                <th>
                    Email/UserName
                </th>
                <th>
                    User Group
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserGroup.Name)
                    </td>
                    <td>
                        <a class="btn btn-success btn-xs" href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-eye"></i> View</a>
                        @if (item.Id != int.Parse(User.Identity.GetUserId()) && item.Id != 1)
                        {
                            <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-edit"></i> Edit</a>
                            <a class="btn btn-primary btn-xs" href="@Url.Action("ChangePassword", new { id = item.Id })"><i class="fa fa-scissors"></i> Password</a>
                        }

                        @if (item.LoginDate == null)
                        {
                            <a class="btn btn-primary btn-xs" href="@Url.Action("ResendActivationEmail", new { id = item.Id })"><i class="fa fa-recycle"></i> Resend Activation Email</a>
                        }
                    </td>
                </tr>
            }
        </table>

<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager(Model, page => Url.Action("Index", new
   {
       page,
       StaffNo = Request["StaffNo"],
       PhoneNumber =  Request["PhoneNumber"],
       NationalIdNo =  Request["NationalIdNo"],
       UserGroup = Request["UserGroup"],
       Email =  Request["Email"],

   }), PagedListRenderOptions.Classic)
    </div>
</div>