﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model CCTPMIS.Models.Reports.PrepayrollExceptionsReportViewModel

@{
    ViewBag.Title = "Duplicate National Id Numbers Exceptions Reports";

}

<div class="row">
    <div class="col-md-12">

        <div id="ReportHeader" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:block" : "")>
            <h2>
                Filter reports
            </h2>
        </div>
        <div class="panel panel-primary  @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
            <div class="panel-heading">

                <p>Report Options</p>
                <ul class="panel-tool-options">
                    <li>
                        <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
                    </li>
                </ul>
            </div>
            <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

                @using (Html.BeginForm("DuplicateIdExceptions", "Prepayrolls", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

                {
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="form-group  col-md-4">
                                @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                                @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                            </div>
                            <div class="col-md-4">
                                <label>
                                    Show
                                    @Html.DropDownList("PageSize", null, htmlAttributes: new { })
                                    entries
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-4 " })
                            <div class="form-group  col-md-4">
                                @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                            </div>
                            <div class="col-md-4">
                                @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.PriReciSexId, htmlAttributes: new { @class = "control-label col-md-4 " })
                            <div class="form-group  col-md-4">
                                @Html.ListBoxFor(model => model.PriReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                            </div>

                            <div class="col-md-4">
                                @Html.ValidationMessageFor(model => model.PriReciSexId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.SecReciSexId, htmlAttributes: new { @class = "control-label col-md-4 " })
                            <div class="form-group  col-md-4">
                                @Html.ListBoxFor(model => model.SecReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                            </div>

                            <div class="col-md-4">
                                @Html.ValidationMessageFor(model => model.SecReciSexId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">

                            @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-4 " })

                            <div class="form-group col-md-4">
                                @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required multi-select" })
                            </div>

                            <div id="custom_range" class="form-group hidden   col-md-4">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                                    </div>
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-4 " })
                            <div class="form-group  col-md-4">
                                @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter required multi-select " })
                            </div>

                            <div class="col-md-4">
                                @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-4 " })
                            <div class="form-group  col-md-4">
                                @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                            </div>

                            <div class="col-md-4">
                                @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row hidden">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CompareDateRange, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("CompareDateRange", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-8">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CompareStartDate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CompareStartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CompareEndDate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CompareEndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">

                            @Html.LabelFor(model => model.DobDateRangeId, htmlAttributes: new { @class = "control-label col-md-4 " })

                            <div class="form-group col-md-4">
                                @Html.DropDownList("DobDateRangeId", null, htmlAttributes: new { @class = "form-control required single-select " })
                            </div>

                            <div id="custom_date_range" class="form-group hidden   col-md-4">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.DobStartDate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.DobStartDate, new { htmlAttributes = new { @class = "form-control dob-start-date" } })
                                    </div>
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.DobEndDate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.DobEndDate, new { htmlAttributes = new { @class = "form-control dob-end-date" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success margin-top-25 pull-left">
                            <i class="fa fa-filter"></i> Filter
                        </button>
                    </div>

                    <input type="hidden" name="Page" id="pagination-page" value="1" />
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Household No.</th>
                    <th>Name </th>
                    <th>Id No.</th>
                    <th>Exception</th>
                    <th> Is Actioned </th>
                    <th>Actioned By</th>
                    <th>Actioned On</th>
                    <th>Approved By</th>
                    <th>Approved On</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.PrepayrollDuplicateIdList.OrderBy(x => x.HhId).OrderBy(x => x.ExceptionType.Code).ThenBy(x => x.Person.NationalIdNo))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.HhId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Person.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Person.NationalIdNo)</td>
                        <td> @Html.DisplayFor(modelItem => item.ExceptionType.Description)</td>
                        <td>@item.Actioned</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedByUser.DisplayName) </td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvByUser.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvOn)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.PrepayrollDuplicateIdList, page => Url.Action("DuplicateIdExceptions", new { page, paymentcycle = Request["paymentcycle"], programme = Request["programme"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PrepayrollDuplicateIdList.PageCount < Model.PrepayrollDuplicateIdList.PageNumber ? 0 : Model.PrepayrollDuplicateIdList.PageNumber) of @Model.PrepayrollDuplicateIdList.PageCount
        Showing @Model.PrepayrollDuplicateIdList.Count of @Model.PrepayrollDuplicateIdList.TotalItemCount
    </div>
</div>