@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using CCTPMIS.RegApi.Areas.HelpPage
@using CCTPMIS.RegApi.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ? 
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) : 
        null;
}



<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="@Model.Key.ControllerName">
        <h2 class="@Model.Key.ControllerName">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(@Model.Key.ControllerName)" aria-expanded="true" aria-controls="collapseOne">
            @Model.Key.ControllerName
            </a>
        </h2>
        @if (!String.IsNullOrEmpty(controllerDocumentation))
        {
            <p>@controllerDocumentation</p>
        }
    </div>
    <div id="collapse@(@Model.Key.ControllerName)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@Model.Key.ControllerName">
        <table class="help-page-table">
            <thead>
            <tr><th>API</th><th>Description</th></tr>
            </thead>
            <tbody>
            @foreach (var api in Model)
            {
                <tr>
                    <td class="api-name"><a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@api.HttpMethod.Method @api.RelativePath</a></td>
                    <td class="api-documentation">
                        @if (api.Documentation != null)
                        {
                            <p>@api.Documentation</p>
                        }
                        else
                        {
                            <p>No documentation available.</p>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<br/>