﻿@model CCTPMIS.Business.Model.SubLocation

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped">
            <tbody>

                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Location.Division.CountyDistrict.District.GeoMasterId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Location.Division.CountyDistrict.District.GeoMaster.Name)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Location.Division.CountyDistrict.DistrictId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Location.Division.CountyDistrict.District.Name)
                    </td>
                </tr>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Location.DivisionId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Location.Division.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Location.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Location.Name)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Code)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LocalityId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Locality.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedByUser.DisplayName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>