﻿@model CCTPMIS.Business.Legacy.HhMembers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>HhMembers</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MemberId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MemberId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HhId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HhId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HhRegistrationId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HhRegistrationId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sex)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirthCertNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthCertNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NationalIdNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NationalIdNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MarritalStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MarritalStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EducationLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AttendanceSchool)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AttendanceSchool)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IllnessType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IllnessType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisabilityType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisabilityType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NCPWDNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NCPWDNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AttendanceHeathCentre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AttendanceHeathCentre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Relationship)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Relationship)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OccupationType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OccupationType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsExited)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsExited)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>