﻿@model IEnumerable<CCTPMIS.Business.Legacy.HhMembers>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HhId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HhRegistrationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthCertNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IllnessType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisabilityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCPWDNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceHeathCentre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsExited)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HhId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HhRegistrationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthCertNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalIdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IllnessType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisabilityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCPWDNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceHeathCentre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OccupationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsExited)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    </table>
</body>
</html>