﻿@model CCTPMIS.Business.Legacy.CaseUpdate

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>CaseUpdate</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CaseId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CaseId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SourceProgrammeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SourceProgrammeId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SourceProgramme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SourceProgramme)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateReason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateReason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HhId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HhId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HhRegistrationId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HhRegistrationId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OldCGMemberId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OldCGMemberId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NewCGMemberId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NewCGMemberId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OldCGHhMemberId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OldCGHhMemberId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NewCGHhMemberId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NewCGHhMemberId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sex)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IDNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MarritalStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MarritalStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EducationLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AttendanceSchool)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AttendanceSchool)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EducationChangeReason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EducationChangeReason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsChronicallyIll)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsChronicallyIll)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDisabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDisabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AttendanceHeathCentre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AttendanceHeathCentre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HealthChangeReason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HealthChangeReason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Relationship)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Relationship)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OldSubLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OldSubLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NewSubLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NewSubLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PSPBranch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PSPBranch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PSP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PSP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReplacePaymentCard)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReplacePaymentCard)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PSPChangeReason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PSPChangeReason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlternativeRecipientName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlternativeRecipientName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlternativeRecipientIDNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlternativeRecipientIDNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApprovedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApprovedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApprovedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActionNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActionNotes)
            </dd>
        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>