﻿@model IEnumerable<CCTPMIS.Business.Legacy.CaseUpdate>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceProgrammeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceProgramme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HhId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HhRegistrationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldCGMemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewCGMemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldCGHhMemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewCGHhMemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationChangeReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsChronicallyIll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDisabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceHeathCentre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthChangeReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldSubLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewSubLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PSPBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacePaymentCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PSPChangeReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlternativeRecipientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlternativeRecipientIDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionNotes)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceProgrammeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceProgramme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HhId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HhRegistrationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldCGMemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewCGMemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldCGHhMemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewCGHhMemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationChangeReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsChronicallyIll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDisabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceHeathCentre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthChangeReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldSubLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewSubLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSPBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplacePaymentCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSPChangeReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlternativeRecipientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlternativeRecipientIDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionNotes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    </table>
</body>
</html>