﻿@model CCTPMIS.Models.Payment.PayrollDetailVm
@{

}
<div class="row">
    <div class="col-md-12">
        @Html.Partial("Common/_SummaryPaymentCycle", Model.PaymentCycleDetail)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("Common/_PayrollSummary", Model.GetPayrollSummaryVm)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("Common/_BackToList")
    </div>
</div>