﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.PaymentCycleDetail>

@{
    ViewBag.Title = "Payrolls";
    var canViewPayroll = User.UserGroupHasRight("PAYROLL:VIEW");
    var canProcessPayroll = User.UserGroupHasRight("PAYROLL:PROCESS");
    var canVerifyPayroll = User.UserGroupHasRight("PAYROLL:VERIFY");
    var canApprovePayroll = User.UserGroupHasRight("PAYROLL:APPROVAL");
    var canSharePayroll = User.UserGroupHasRight("PAYROLL:SHARE");
    var canDownloadPayroll = User.UserGroupHasRight("PAYROLL:DOWNLOAD");

}

<div role="tabpanel">
    @Html.Partial("Common/_PartialMenu")
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>
                            Programme
                        </th>
                        <th>
                            Financial Year
                        </th>
                        <th>
                            Payment Period
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                        </th>
                    </tr>

                    @foreach (var item in Model.OrderByDescending(x=>x.PaymentCycleId))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Programme.Name)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.PaymentCycle.FinancialYear.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentCycle.FromMonth.Description) - @Html.DisplayFor(modelItem => item.PaymentCycle.ToMonth.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentStage.Code)
                            </td>

                            <td>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Actions</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu  dropdown-menu-right">
                                        @if (canViewPayroll)
                                        {
                                            <li><a class="" href="@Url.Action("Details", new { paymentcycleId = item.PaymentCycleId, programmeId = item.ProgrammeId })"> View </a></li>
                                        }
                                        @if (canProcessPayroll)
                                        {
                                            if (item.PaymentStage.Code == "PAYROLL")
                                            {
                                                <li><a class="modal-link" href="@Url.Action("ProcessPayroll", new { paymentcycleId = item.PaymentCycleId, programmeId = item.ProgrammeId })"> Process Payroll </a></li>
                                            }
                                        }
                                        @if (canVerifyPayroll)
                                        {
                                            if (item.PaymentStage.Code == "PAYROLLVER")
                                            {
                                                if (item.PayrollBy != int.Parse(User.Identity.GetUserId()))
                                                {
                                                    <li><a class="modal-link" href="@Url.Action("VerifyPayroll", new { paymentcycleId = item.PaymentCycleId, programmeId = item.ProgrammeId })"> Verify Payroll </a></li>
                                                }
                                                else
                                                {
                                                    <li><a class="btn-ver-pyl-disabled" href=""> Verify Payroll </a></li>
                                                }
                                            }
                                        }
                                        @if (canApprovePayroll)
                                        {
                                            if (item.PaymentStage.Code == "PAYROLLAPV")
                                            {
                                                <li><a class="modal-link" href="@Url.Action("ApprovePayroll", new { paymentcycleId = item.PaymentCycleId, programmeId = item.ProgrammeId })"> Approve Payroll </a></li>
                                            }
                                        }
                                        @if (canSharePayroll)
                                        {
                                            if (item.PaymentStage.Code == "PAYROLLEX")
                                            {
                                                <li><a class="modal-link" href="@Url.Action("ShareWithPsp", new { paymentcycleId = item.PaymentCycleId, programmeId = item.ProgrammeId })">Share with PsPs </a></li>
                                            }
                                            if (item.PaymentStage.Code == "PAYROLLEXCONF")
                                            {
                                                <li><a class="modal-link" href="@Url.Action("ResendPayrollFile", new { paymentcycleId = item.PaymentCycleId, programmeId = item.ProgrammeId })">Resend Payroll Notification</a></li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
            </div>
            <div class="col-md-4">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                Showing @Model.Count of @Model.TotalItemCount
            </div>
        </div>
    </div>
</div>