﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.FileCreation>
@{
    ViewBag.Title = "Payroll Mobilization Lists";
    var canDownloadPayroll = User.UserGroupHasRight("PAYROLL:DOWNLOAD");
}

<div role="tabpanel">
    @Html.Partial("Common/_PartialMenu")
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped table-bordered ">
                    <tr>
                        <th>
                            File
                        </th>
                        <th>
                            Date Created
                        </th>

                        
                        <th>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>

                            
                            <td>
                                @if (canDownloadPayroll)
                                {
                                    <a class="btn btn-primary  btn-sm" href="@Url.Action("Verify", "Services", new { id = item.Id, area = "" })">
                                        <i class="fa fa-download"></i> Download/Verify
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                @Html.PagedListPager(Model, page => Url.Action("Files", new { page, DistrictId = Request["DistrictId"] }), PagedListRenderOptions.Classic)
            </div>
            <div class="col-md-4">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                Showing  @Model.Count of   @Model.TotalItemCount
            </div>
        </div>
    </div>
</div>