﻿@model CCTPMIS.Business.Model.PaymentCycleDetail

@{
    ViewBag.Title = "Process Payroll";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}

@using (Html.BeginForm())
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <strong>Are you sure you want to Process Payroll?</strong>
                    <p>
                        Please note that this Cannot be change!
                    </p>
                </div>
            </div>
        </div>

        <div class="modal-footer">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PaymentCycleId, new { Value = Request["PaymentCycleId"] })
            @Html.HiddenFor(model => model.ProgrammeId, new { Value = Request["ProgrammeId"] })
            <div class="col-md-12">
                <button type="button" class="btn btn-default" data-dismiss="modal">Later</button>

                <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Process Payroll </button>
            </div>
        </div>
    </div>
}