﻿@model CCTPMIS.Models.Payment.ResendPayrollFileViewModel

@{
    ViewBag.Title = "ReSharing Payroll File with PSPs";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PaymentCycleId)
    @Html.HiddenFor(model => model.UserId)
<div class="modal-body">
    <input type="hidden" id="id" value="0" name="id" />
    <p>
        Are you sure you want to share the Payroll Files for the @Model.PaymentCycle Payment Cycle with PSP's?
    </p>
    <p>
       	By clicking share, Individual  files will be shared with  each of the PSPs
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-success">Share </button>
</div>

}