﻿@model dynamic

@{
    ViewBag.Title = "Sharing Payroll Files with PSP's";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="modal-body">
    <input type="hidden" id="programmeId" value="@Request["programmeId"]" name="programmeId" />
    <input type="hidden" id="paymentCycleId" value="@Request["paymentCycleId"]" name="paymentCycleId" />
    <p>
        Are you sure you want to share the specified Payroll Files File with PSP's?
    </p>
    <p>
        By clicking share, the Notifications will be shared with specified PSP with active accounts
    </p>
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Share </button>
    </div>
}