﻿@model CCTPMIS.Models.Payment.VerifyPayrollVm

@{
    ViewBag.Title = "Verify Payroll";
}

<div class="row">
    <div class="col-md-12">
        <table class="table  table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Analysis</th>
                    <th>Initial Payroll </th>
                    <th>Verification Payroll</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.GetPayrollSummaryVm.TotalPayrollHhs) </th>
                <td> @Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.TotalPayrollHhs)</td>
                <td> @Html.DisplayFor(modelItem => Model.VerifyPayrollSummaryVm.TotalPayrollHhs)</td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => Model.GetPayrollSummaryVm.PayrollSuspiciousHhs) </th>
                <td>@Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.PayrollSuspiciousHhs)</td>
                <td>@Html.DisplayFor(modelItem => Model.VerifyPayrollSummaryVm.PayrollSuspiciousHhs)</td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => Model.GetPayrollSummaryVm.PayrollExceptionsHhs) </th>
                <td> @Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.PayrollExceptionsHhs) </td>
                <td> @Html.DisplayFor(modelItem => Model.VerifyPayrollSummaryVm.PayrollExceptionsHhs) </td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => Model.GetPayrollSummaryVm.PayrollInvalidIdHhs) </th>
                <td> @Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.PayrollInvalidIdHhs)</td>
                <td> @Html.DisplayFor(modelItem => Model.VerifyPayrollSummaryVm.PayrollInvalidIdHhs)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.GetPayrollSummaryVm.PayrollInvalidPaymentAccountHhs) </th>
                <td>@Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.PayrollInvalidPaymentAccountHhs)</td>
                <td>@Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.PayrollInvalidPaymentAccountHhs)</td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => Model.GetPayrollSummaryVm.PayrollInvalidPaymentCardHhs) </th>
                <td>@Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.PayrollInvalidPaymentCardHhs)</td>
                <td>@Html.DisplayFor(modelItem => Model.VerifyPayrollSummaryVm.PayrollInvalidPaymentCardHhs)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.GetPayrollSummaryVm.PayrollIneligibleHhs) </th>
                <td> @Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.PayrollIneligibleHhs)</td>
                <td> @Html.DisplayFor(modelItem => Model.VerifyPayrollSummaryVm.PayrollIneligibleHhs)</td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => Model.GetPayrollSummaryVm.PayrollDuplicateIdHhs) </th>
                <td>@Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.PayrollDuplicateIdHhs)</td>
                <td>@Html.DisplayFor(modelItem => Model.VerifyPayrollSummaryVm.PayrollDuplicateIdHhs)</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.GetPayrollSummaryVm.TotalPayrollAmount) </th>
                <td> @Html.DisplayFor(modelItem => Model.GetPayrollSummaryVm.TotalPayrollAmount)</td>
                <td> @Html.DisplayFor(modelItem => Model.VerifyPayrollSummaryVm.TotalPayrollAmount)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("Common/_BackToList")
    </div>
</div>