﻿@model CCTPMIS.Models.Email.ActivateUserEmail

@{
}

<p>
    Dear @Model.FirstName,
</p>

<p>
 Your Account has been Activated.
</p>

<p>
    Please visit the App and sign into your account.
</p>

<p>
    The following are your new credentials
    <br />
    Username: <strong>@Model.To</strong>
    <br />
    Your One Time Password : <strong>@Model.Password</strong>
</p>