﻿@model CCTPMIS.Models.Email.ChangePasswordEmail

@{
}

<p>
    Dear @Model.FirstName,
</p>

<p>
 Your System password has been reset by System Admin.
</p>

<p>
    Kindly use the one time password below to create your own Password
    <br />
    Your Username  is <strong>@Model.To</strong>
    <br />
    Your One Time Password  is  <strong>@Model.Password</strong>

    <br />
    Link: <strong>@Model.PortalLink</strong>
</p>

<p>
</p>