﻿@model CCTPMIS.Models.Email.ComplaintNotificationEmail

@{
}

<p>
    Dear @Model.FirstName,
</p>

<p>
   The Change Update #@Model.Id was @Model.Action on  @Model.ActionDate  
</p>

<p>
    For more information, kindly access the System.
</p>
<p>
    Thank you.
</p>

 