﻿@model CCTPMIS.Models.Email.ComplaintsEditEmail
@{
    ViewBag.Title = "MobileRegister";
    Layout = "_Layout.cshtml";
}
<p>Dear @Model.User.FullName,</p>
<br/>
A @Model.Complaint.ComplaintType.ComplaintCategory.Name complaint has been <strong>@Model.Action</strong> by @Model.User.Name
@if (Model.ComplaintNote!=null && Model.ComplaintNote.Category != null)
{
    <p>&nbsp;</p>
    <p><strong>@Model.ComplaintNote.Category.Name Notes</strong></p>
    <hr />
   
    <p>@Model.ComplaintNote.Description</p>
}
<p>&nbsp;</p>
<p><strong>Complaint Details</strong></p>

<hr />
<p><strong>Form Number: </strong>@Model.Complaint.FormNumber</p>
<p><strong>Complaint Date: </strong>@Model.Complaint.ComplaintDate</p>
<p><strong>Name of Complainant: </strong>@Model.Complaint.NameofComplainant</p>
<p><strong>Complaint Code: </strong>@Model.Complaint.ComplaintType.Code</p>
<p><strong>Complaint: </strong>@Model.Complaint.ComplaintType.Name @Model.Complaint.AdditionalInformation</p>
<p><strong>Details: </strong>@Model.Complaint.Details</p>
<p><strong>Complainant Location: </strong>@Model.Complaint.Beneficiary..Locality</p>
