﻿@model CCTPMIS.Models.Email.ConfirmEmail

@{
}

<p>
    Dear @Model.FirstName,
</p>

<p>
    Welcome to @Model.PortalName. Your Account has been created.
</p>

<p>
    Please visit the <a href="@Model.ConfirmationLink" target="_blank">link</a> and sign into your account to verify your email address and complete your registration.
</p>

<p>
    The following are your credentials
    <br />
    Username: <strong>@Model.To</strong>
    <br />
    Your One Time Password : <strong>@Model.Password</strong>
</p>