﻿@using System.Web.Configuration
@model CCTPMIS.Models.Email.ConfirmPinEmail

@{
}

<p>
    Dear @Model.FirstName,
</p>

<p>
    Welcome to @Model.PortalName. Your Account Enumerator  has been created.
</p>

 

<p>
    The following are your credentials
    <br />
    National ID: <strong>@Model.NationalIdNo</strong>
    <br />
    Email  Address: <strong>@Model.To</strong>
    <br />
    Your PIN : <strong>@Model.Pin</strong>
</p>

<p>
    Please note that this PIN should be kept a Secret.
</p>

<p>
    <a href="@WebConfigurationManager.AppSettings["SYSTEM_LINK"]/app/"> Click Here to download the Mobile Application</a>
</p>