﻿@{
    Layout = "_LayoutBlank.cshtml";
}
@*<table class="divider-wrapper" style="box-sizing: border-box; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-collapse: separate !important;" width="100%">
    <tr>
        <td class="divider-spacer" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; padding: 20px 0;" valign="top">
            <table class="divider divider- " cellpadding="0" cellspacing="0" style="box-sizing: border-box; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-collapse: separate !important;" width="100%">
                <tr>
                    <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; vertical-align: top; font-size: 0; border-top: 1px solid #ccc; line-height: 0; height: 1px; margin: 0; padding: 0;" valign="top"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</body>*@