﻿@{

}

<p>Dear @Model.FirstName,</p>

<p>
    We have received a password recovery request for your  account on  @Model.PortalName.

    <br />

    Follow the directions below to reset your password
</p>
<p>
    The username is  <strong>@Model.To</strong>
</p>

<table style="box-sizing: border-box; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto; border-collapse: separate !important;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; background-color: #348eda; border-radius: 5px; text-align: center;" align="center" valign="top" bgcolor="#348eda">
                <a href="@Model.ConfirmationLink" style="box-sizing: border-box; border-color: #348eda; text-decoration: none; background-color: #348eda; border: solid 1px #348eda; border-radius: 5px; cursor: pointer; color: #ffffff; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; display: inline-block;">Reset Password here</a>
            </td>
        </tr>
    </tbody>
</table>

<p>
    In case the link is not working properly, copy and paste the link below on your browser.
    <br />
    <a href="@Model.ConfirmationLink">@Model.ConfirmationLink</a>
</p>

<p>
    After you click the button above, you'll be prompted to complete the following steps:<br />
    1. 	Enter your username @Model.To <br />
    2. 	Enter your new password.<br />
    3. 	Click "Continue". <br />
</p>

<p>
    If you didn't request a password reset or you feel you've received this message in error,   don't worry – nobody will be able to change your password without access to this email.
</p>