﻿@model CCTPMIS.Models.Email.MisEnrolmentFileEmail
@{
}

<p>Dear @Model.FirstName,</p>

<p>
    Greetings From @Model.FromName, <br />
    We are pleased to inform you that  the new Enrolment File that has been generated for all Households that are ready for carding.
</p>
<p>
    The Following are the File Details
</p>
<div style="width: 90%; margin-left: 5%;"></div>
<p>
    File Name : <strong> @Model.FileName </strong>
</p>
<p>
    File Password : <strong style="color: rebeccapurple"> This will be shared after you have downloaded and verified the File Checksum </strong>
</p>

<p>
    File  Checksum : <strong> @Model.FileChecksum </strong>
</p>
<p>
    File  Checksum : <strong> @Model.Password </strong>
</p>
<p>
    File  Created : <strong> @Model.DateCreated.ToString("F") </strong>
</p>

<p>
    Please access the Portal to Downoad  the file.
</p>

<blockquote>
    <p>
        Kindly note that the File is password Protected.
        <br />
        The Password above should be Kept Securely.
        <br />
        You will not be able to use the  file without the Password.
    </p>
</blockquote>

<p>
    Thanks.
</p>