﻿@model CCTPMIS.Models.Email.PasswordResetRequestEmail

@{
    ViewBag.Title = "Reset Password ";
}

<p>
    Dear @Model.FirstName,
</p>

<p>
    To restore your password, please follow this <a href="@Model.ConfirmationLink" target="_blank">link</a>.
</p>