﻿@model CCTPMIS.Models.Email.PasswordChangeSuccessEmail

@{
}

<p>Dear @Model.FirstName,</p>

<p>
    The password for your @Model.PortalName Account @Model.To was recently changed.
</p>
<p>
    <strong> Don't recognize this activity? </strong> <br />

    Contact Administrator or Recover your password here @Model.PortalLink
</p>