﻿@model CCTPMIS.Models.Email.PasswordResetSuccessEmail

@{
    ViewBag.Title = "Customer Password successful";
}

<p>
    Dear @Model.FirstName
</p>

<p>
    Your new @Model.PortalName password for the account @Model.To has been set.
</p>
<p>
    You can now access your account, view your account history or change your account settings.
</p>