﻿@model CCTPMIS.Models.Email.PspEnrolmentVerifiedFileEmail
@{
}
<h1>
    Congratulations !!
</h1>

<p>Dear @Model.FirstName of @Model.PspName,</p>

<p>
    Greetings From @Model.FromName,   You have successfully Downloaded and verified the @Model.FileName using this Checksum.
</p>
<p>
    The following is the Password that you will use to  Access the Enrolment File Contents!
</p>

<p style="color: blueviolet; font-size: 120%">
    PASSWORD : @Model.Password
</p>

<p>
    Ypu can now proceed to Enroll the members on the File
</p>
<p style="color: darkgray; font-size: x-small; text-align: center">
    **Terms and conditions apply**
</p>