﻿@model CCTPMIS.Models.Email.PspEnrolmentFileEmail
@{
}

<p>Dear @Model.FirstName,</p>

<p>
    Greetings From @Model.FromName, we are pleased to inform you that there is a new File that has been generated for all Households that are ready for carding.
</p>
<p>
    The Following are the File Details
</p>
<div style="width: 90%; margin-left: 5%;"></div>
<p>
    File Name : <strong> @Model.FileName </strong>
</p>
<p>
    File Password : <strong style="color: rebeccapurple"> This will be shared after you have downloaded and verified the File Checksum </strong>
</p>

<p>
    File  Checksum : <strong> @Model.FileChecksum </strong>
</p>

<p>
    File  Created : <strong> @Model.DateCreated.ToString("F") </strong>
</p>

<p>
    Please access the Portal to Downoad  the file.
</p>

<blockquote>
    <p>
        Kindly note that the File is password Protected.
        <br />
        The Password will only be shared with you once you have downloaded the file and verified the checksum
        <br />
        You will not be able to use the  file without the Password.
    </p>
</blockquote>

<p>
    Thanks.
</p>