﻿@model CCTPMIS.Models.Email.PspPayrolFileEmail
@{
}

<p>Dear @Model.FirstName,</p>

<p>
    Greetings From @Model.FromName, we are pleased to inform you that  the Payroll File For @Model.PaymentCycle Cycle   .
</p>

<p>
    Please access the Portal to Downoad  the file.
</p>

<blockquote>
    <p>
        Kindly note that the File is password Protected.
        <br />
        The Password will only be shared with you once you have downloaded the file and verified the checksum
        <br />
        You will not be able to use the  file without the Password.
    </p>
</blockquote>

<p>
    Thank you as you credit the Beneficiaries.
</p>