﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.TargetPlan>

@{
    ViewBag.Title = "Targeting Plans";
    var userId = int.Parse(User.Identity.GetUserId());
    var canView = User.UserGroupHasRight("RECERTIFICATION CLOSURE:VIEW");
    var canException = User.UserGroupHasRight("RECERTIFICATION CLOSURE:EXCEPTIONS");
    var canApprove = User.UserGroupHasRight("RECERTIFICATION CLOSURE:APPROVAL");
    var canFinalize = User.UserGroupHasRight("RECERTIFICATION CLOSURE:FINALIZE");
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Exercise Period
                </th>
                <th>
                    Description
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start) - @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Description)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">

                                @if (canView)
                                {
                                    @*<li><a class="" href="@Url.Action("Search", new { id = item.Id })"><i class="fa fa-eye"></i> View Households </a></li>
                                    <li role="separator" class="divider"></li>*@

                                    <li>
                                        <a class="   " href="@Url.Action("Details", new {id = item.Id})">
                                            <i class="fa fa-eye"></i> Details
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                }
                                @if (item.Status.Code == "POSTREG")
                                {

                                    if (canException)
                                    {

                                        if (item.PostRegExceptionsFileId == null)
                                        {
                                            <li> <a class="modal-link" href="@Url.Action("GenerateExceptions", new {id = item.Id})">
                                                <i class="fa fa-file"></i> Generate Post Recertification Exceptions
                                            </a></li>
                                            <li role="separator" class="divider"></li>
                                        }

                                    }
                                    if (canFinalize)
                                    {

                                    }
                                    <li>
                                        <a class="modal-link" href="@Url.Action("Close", new {id = item.Id})">
                                            <i class="fa fa-power-off"></i>  Finalize and Close Recertification
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                }
                                @if (item.PostRegExceptionsFileId != null)
                                {
                                    <li>
                                        <a class="" href="@Url.Action("Verify", "Services", new {id = item.PostRegExceptionsFileId, area = ""})">
                                            <i class="fa fa-cloud-download"></i>
                                            Download Post Recertification Exceptions
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>