﻿@using Newtonsoft.Json
@model CCTPMIS.Web.Controllers.MapsViewModel

@{
    ViewBag.Title = "Maps";

}
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_DashboardsMenu")
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <div class="filter-cont">
            <div class="form-group">

                <div class="col-md-5">
                    <label class="control-label">Indicator</label>
                    <select ng-model="indicator" id="indicator" class="form-control">
                        <option ng-repeat="item in indicators" ng-selected="item.Id==1" value="{{item.Id}}">{{item.Name}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="control-label">Counties</label>
                    <select ng-model="county" id="counties" class="form-control">
                        <option value="All">All</option>
                        <option ng-repeat="item in counties" value="{{item.Id}}">{{item.Name}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="control-label">Programme</label>
                    <select ng-model="programme" id="programmes" class="form-control">
                        <option value="All">All</option>
                        <option ng-repeat="item in programmes" value="{{item.Id}}">{{item.Code}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Period</label>
                    <select id="reporting-period" ng-model="period" class="form-control">
                        <option value="">Select</option>
                        <option ng-repeat="item in periods" ng-selected="$index==0" value="{{item.Id}}">{{item.Name}}</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button style="margin-top: 30px" type="submit" ng-click="refreshData()" class="btn btn-success pull-left btn-filter inline">
                        <i class="glyphicon glyphicon-search"></i> Filter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-center map-info-label">Hover on a County / Constituency to see the details. Use Mouse Wheel to zoom in and out. This will display district names which are not visible.</p>
<div style="height:600px;" id="map-container"></div>
<input type="hidden" id="geojson" />
@section scripts{
    <script src="~/Scripts/highcharts/highmaps.js"></script>
    <script src="~/Scripts/highcharts/modules/data.js"></script>
    <script src="~/Scripts/maps.js"></script>
    <script type="text/javascript">
        showLoader();
        $(document).ready(function () {
            var scope = angular.element(document.querySelector('body')).scope();
            scope.$apply(function (filter) {
                scope.indicators = @Html.Raw(JsonConvert.SerializeObject(Model.Indicators));
                scope.counties = @Html.Raw(JsonConvert.SerializeObject(Model.Counties));
                scope.programmes = @Html.Raw(JsonConvert.SerializeObject(Model.Programmes));
                scope.periods = @Html.Raw(JsonConvert.SerializeObject(Model.MonitoringPeriods));
            });
            var root = $('#RootUrl').val();
            setTimeout(function() {

                $.getJSON(root +'Content/maps/710Nakuru.json', function(geojson) {
                    $('#geojson').val(JSON.stringify(geojson));
                    $.post(root + 'Maps/Beneficiaries')
                        .done(function (data) {
                         //   console.log(data);
                            hideLoader();
                           // $('#max').val(data.ScaleTotal);
                            setTimeout(function () {
                                BeneficiariesMaps(data);
                            }, 10);

                        })
                        .fail(ajaxError);
                });

            },100);

        });
    </script>

}