﻿@model CCTPMIS.Business.Model.UserGroupProfile

@{
    ViewBag.Title = "User Profile Details";
}

<div class="row">
    <div class="col-md-12">

        <table class="table table-hover table-bordered table-striped">
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3> User Groups under this Profile </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered  table-striped table-hover">
                <tbody>
                    <tr>
                        <th>  # </th>
                        <th> Group </th>
                        <th> Type </th>
                    </tr>

                    @if (Model.UserGroups.Any())
                    {
                        var i = 1;
                        foreach (var item in Model.UserGroups)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>@item.UserGroupType.Description</td>
                            </tr>
                            i = i + 1;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                <p class="m-tb-30">No User Groups assigned to this User Group Profile
                                </p>  </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="  col-md-12">
        <a href="@Url.Action("Index")" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
     </div>
</div>