﻿@using CCTPMIS.Business.Statics
@model  CCTPMIS.Models.Payment.PrepayrollViewModel
@{
    ViewBag.Title = "Approve Prepayroll";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canApprovePrepayroll = User.UserGroupHasRight("PRE-PAYROLL:FINALIZE");

}

@using (Html.BeginForm())
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <strong>Are you sure you want to Approve the Pre-payroll?</strong>
                    <p>
                        Please note that this will approve all the Exceptions that have been actioned.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                @Html.Partial("Common/_Summary", Model.PrepayrollAuditViewModel)
            </div>
        </div>
        <div class="modal-footer">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PaymentCycleId, new { Value = Request["PaymentCycleId"] })
            @Html.HiddenFor(model => model.ProgrammeId, new { Value = Request["ProgrammeId"] })
            <div class="col-md-12">
                <button type="button" class="btn btn-default" data-dismiss="modal">Later</button>
                @if (canApprovePrepayroll)
                {
                    <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Approve </button>
                }
            </div>
        </div>
    </div>
}