﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.PrepayrollExceptionsDetailsViewModel
@{
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
    ViewBag.Title = "Bulk Action";
    var id = ViewContext.RouteData.Values["id"];
    var canActionPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:ACTION");
}

@using (Html.BeginForm(null, null,FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p> Are you sure you want to Action this Record ?</p>
            </div>
            <div class="col-md-12">

                @*<table class="table table-condensed table-striped table-bordered table-hover">

                        <tbody>
                            <tr>
                                <th> Programme </th>
                                <td> @Model..Programme.Name </td>
                            </tr>
                            <tr>
                                <th> Payment Cycle </th>
                                <td> @Model.PrepayrollDuplicateId.PaymentCycle.CycleName </td>
                            </tr>
                        </tbody>
                    </table>*@
            </div>
        </div>
    </div>
    <div class="modal-footer">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PrepayrollBulkActionViewModel.PaymentCycle)
        @Html.HiddenFor(model => model.PrepayrollBulkActionViewModel.Programme)
        @Html.HiddenFor(model => model.PrepayrollBulkActionViewModel.Id, new { Value = ViewContext.RouteData.Values["id"] })

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.PrepayrollBulkActionViewModel.ExceptionTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.PrepayrollBulkActionViewModel.ExceptionTypeId, ViewBag.ExceptionTypeId as IEnumerable<SelectListItem>, new { @class = "form-control required", multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.PrepayrollBulkActionViewModel.ExceptionTypeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PrepayrollBulkActionViewModel.EnrolmentGroupId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.PrepayrollBulkActionViewModel.EnrolmentGroupId, ViewBag.EnrolmentGroupId as IEnumerable<SelectListItem>, new { @class = "form-control required", multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.PrepayrollBulkActionViewModel.EnrolmentGroupId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PrepayrollBulkActionViewModel.Notes, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.PrepayrollBulkActionViewModel.Notes, new { htmlAttributes = new { @class = "form-control required" } })
                                @Html.ValidationMessageFor(model => model.PrepayrollBulkActionViewModel.Notes, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PrepayrollBulkActionViewModel.ReplacePreviousActioning, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.PrepayrollBulkActionViewModel.ReplacePreviousActioning, new { htmlAttributes = new { @class = "form-control required" } })
                                @Html.ValidationMessageFor(model => model.PrepayrollBulkActionViewModel.ReplacePreviousActioning, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PrepayrollBulkActionViewModel.RemovePreviousSupportingDoc, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.PrepayrollBulkActionViewModel.RemovePreviousSupportingDoc, new { htmlAttributes = new { @class = "form-control required" } })
                                @Html.ValidationMessageFor(model => model.PrepayrollBulkActionViewModel.RemovePreviousSupportingDoc, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PrepayrollBulkActionViewModel.UploadFile, htmlAttributes: new { @class = "control-label col-md-12 " })
                            <div class="col-md-12">
                                <label class="btn btn-default btn-file">
                                    Browse   Supporting documents
                                    @Html.TextBoxFor(m => m.PrepayrollBulkActionViewModel.Upload, new { type = "file", accept = "application/pdf" })
                                </label>
                                <label>
                                    <span id="dataFileLabel"> </span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 m-tb-10">
                                <div class="alert alert-warning">
                                    <strong>Please note</strong>
                                    <p>
                                        If you are uploading a document to overwrite an existing document, please attach the previous document in the current document.
                                        <br />
                                        We store only one document!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            @if (canActionPrepayroll)
                            {
                                <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Action </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}