﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.PrepayrollExceptionsDetailsViewModel
@{
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
    var canActionPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:ACTION");
    var id = ViewContext.RouteData.Values["id"];
}
<div class="modal-body">

        <div class="row">
            <div class="col-md-12">
                @if ((string)id == "duplicateid")
                {
                    ViewBag.Title = @Model.PrepayrollDuplicateId.ExceptionType.Description;
                    <table class="table table-condensed table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th> Programme </th>
                                <td> @Model.PrepayrollDuplicateId.Programme.Name </td>
                            </tr>
                            <tr>
                                <th> Household No. </th>
                                <td> @Model.PrepayrollDuplicateId.Household.Id </td>
                            </tr>
                            <tr>
                                <th> Exception Type. </th>
                                <td> @Model.PrepayrollDuplicateId.ExceptionType.Description </td>
                            </tr>

                            <tr>
                                <th> Notes. </th>
                                <td> @Model.PrepayrollDuplicateId.Notes </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">

                        <tbody>
                            @foreach (var item in Model.PrepayrollDuplicateId.Household.HouseholdMembers.OrderBy(x => x.Relationship.Code))
                            {

                                <tr>
                                    <td colspan="2">
                                        <strong>
                                            @Html.DisplayFor(modelItem => item.Relationship.Code)
                                        </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.DisplayName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.DisplayName)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.NationalIdNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.NationalIdNo)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo1)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo2)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo2)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if ((string)id == "invalidacc")
                {
                    ViewBag.Title = @Model.PrepayrollInvalidPaymentAccount.ExceptionType.Description;
                    <table class="table table-condensed table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th> Programme </th>
                                <td> @Model.PrepayrollInvalidPaymentAccount.Programme.Name </td>
                            </tr>
                            <tr>
                                <th> Household No. </th>
                                <td> @Model.PrepayrollInvalidPaymentAccount.Household.Id </td>
                            </tr>
                            <tr>
                                <th> Exception Type. </th>
                                <td> @Model.PrepayrollInvalidPaymentAccount.ExceptionType.Description </td>
                            </tr>

                            <tr>
                                <th> Notes. </th>
                                <td> @Model.PrepayrollInvalidPaymentAccount.Notes </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">

                        <tbody>
                            @foreach (var item in Model.PrepayrollInvalidPaymentAccount.Household.HouseholdMembers.OrderBy(x => x.Relationship.Code))
                            {

                                <tr>
                                    <td colspan="2">
                                        <strong>
                                            @Html.DisplayFor(modelItem => item.Relationship.Code)
                                        </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.DisplayName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.DisplayName)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.NationalIdNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.NationalIdNo)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo1)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo2)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo2)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                @if ((string)id == "invalidcard")
                {
                    ViewBag.Title = @Model.PrepayrollInvalidPaymentCard.ExceptionType.Description;
                    <table class="table table-condensed table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th> Programme </th>
                                <td> @Model.PrepayrollInvalidPaymentCard.Programme.Name </td>
                            </tr>
                            <tr>
                                <th> Household No. </th>
                                <td> @Model.PrepayrollInvalidPaymentCard.Household.Id </td>
                            </tr>
                            <tr>
                                <th> Exception Type. </th>
                                <td> @Model.PrepayrollInvalidPaymentCard.ExceptionType.Description </td>
                            </tr>

                            <tr>
                                <th> Notes. </th>
                                <td> @Model.PrepayrollInvalidPaymentCard.Notes </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">

                        <tbody>
                            @foreach (var item in Model.PrepayrollInvalidPaymentCard.Household.HouseholdMembers.OrderBy(x => x.Relationship.Code))
                            {

                                <tr>
                                    <td colspan="2">
                                        <strong>
                                            @Html.DisplayFor(modelItem => item.Relationship.Code)
                                        </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.DisplayName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.DisplayName)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.NationalIdNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.NationalIdNo)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo1)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo2)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo2)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if ((string)id == "suspicious")
                {
                    ViewBag.Title = @Model.PrepayrollSuspicious.ExceptionType.Description;
                    <table class="table table-condensed table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th> Programme </th>
                                <td> @Model.PrepayrollSuspicious.Programme.Name </td>
                            </tr>
                            <tr>
                                <th> Household No. </th>
                                <td> @Model.PrepayrollSuspicious.Household.Id </td>
                            </tr>
                            <tr>
                                <th> Exception Type. </th>
                                <td> @Model.PrepayrollSuspicious.ExceptionType.Description </td>
                            </tr>

                            <tr>
                                <th> Notes. </th>
                                <td> @Model.PrepayrollSuspicious.Notes </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">

                        <tbody>
                            @foreach (var item in Model.PrepayrollSuspicious.Household.HouseholdMembers.OrderBy(x => x.Relationship.Code))
                            {

                                <tr>
                                    <td colspan="2">
                                        <strong>
                                            @Html.DisplayFor(modelItem => item.Relationship.Code)
                                        </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.DisplayName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.DisplayName)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.NationalIdNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.NationalIdNo)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo1)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo2)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo2)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                @if ((string)id == "ineligible")
                {
                    ViewBag.Title = @Model.PrepayrollIneligible.ExceptionType.Description;
                    <table class="table table-condensed table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th> Programme </th>
                                <td> @Model.PrepayrollIneligible.Programme.Name </td>
                            </tr>
                            <tr>
                                <th> Household No. </th>
                                <td> @Model.PrepayrollIneligible.Household.Id </td>
                            </tr>
                            <tr>
                                <th> Exception Type. </th>
                                <td> @Model.PrepayrollIneligible.ExceptionType.Description </td>
                            </tr>

                            <tr>
                                <th> Notes. </th>
                                <td> @Model.PrepayrollIneligible.Notes </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">

                        <tbody>
                            @foreach (var item in Model.PrepayrollIneligible.Household.HouseholdMembers.OrderBy(x => x.Relationship.Code))
                            {

                                <tr>
                                    <td colspan="2">
                                        <strong>
                                            @Html.DisplayFor(modelItem => item.Relationship.Code)
                                        </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.DisplayName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.DisplayName)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.NationalIdNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.NationalIdNo)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo1)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo2)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo2)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if ((string)id == "invalidid")
                {
                    ViewBag.Title = @Model.PrepayrollInvalidId.ExceptionType.Description;
                    <table class="table table-condensed table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th> Programme </th>
                                <td> @Model.PrepayrollInvalidId.Programme.Name </td>
                            </tr>
                            <tr>
                                <th> Household No. </th>
                                <td> @Model.PrepayrollInvalidId.Household.Id </td>
                            </tr>
                            <tr>
                                <th> Exception Type. </th>
                                <td> @Model.PrepayrollInvalidId.ExceptionType.Description </td>
                            </tr>

                            <tr>
                                <th> Notes. </th>
                                <td> @Model.PrepayrollInvalidId.Notes </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">

                        <tbody>
                            @foreach (var item in Model.PrepayrollInvalidId.Household.HouseholdMembers.OrderBy(x => x.Relationship.Code))
                            {

                                <tr>
                                    <td colspan="2">
                                        <strong>
                                            @Html.DisplayFor(modelItem => item.Relationship.Code)
                                        </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.DisplayName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.DisplayName)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.NationalIdNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.NationalIdNo)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo1)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(modelItem => item.Person.MobileNo2)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Person.MobileNo2)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>

<div class="modal-footer">
    <div class="col-md-12">
        <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa fa-close"></i>   Close</button>
    </div>
</div>