﻿@model CCTPMIS.Business.Model.PaymentCycleDetail

@{
    ViewBag.Title = "Update the  Pre-payroll as Final";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p> Are you sure you want to update the Prepayroll as Final ?</p>
            <p>
                Kindly note that after this, the Draft Prepayroll cannot be run again. The Final Payroll will be based upon the final Prepayroll taking into consideration all the Positive Actioning of all the Exceptions.
            </p>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th> Programme </th>
                        <td> @Model.Programme.Name  </td>
                    </tr>
                    <tr>
                        <th> Year </th>
                        <td> @Model.PaymentCycle.FinancialYear.Description  </td>
                    </tr>
                    <tr>
                        <th> Period </th>
                        <td> @Model.PaymentCycle.FromMonth.Description -  @Model.PaymentCycle.ToMonth.Description  </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PaymentCycleId)
    @Html.HiddenFor(model => model.ProgrammeId)

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Finalize Prepayroll </button>
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{

    <script type="text/javascript">

        $(document).on("submit", "form", function (e) {

            $(this).find("button[type='submit']").each(function () {
                $(this).addClass("disabled");
            });
            $("#progress").removeClass("hidden");
        });
    </script>
}
</div>