﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.PaymentCycleDetail>

@{
    ViewBag.Title = "Pre-Payrolls";
    var canViewPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:VIEW");
    var canRunPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:RUN & GENERATE EXCEPTIONS");
    var canReRunPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:RE-RUN");
    var canActionPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:ACTION");
    var canFinalizePrepayroll = User.UserGroupHasRight("PRE-PAYROLL:FINALIZE");
    var canDownloadPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:DOWNLOAD");
    var canApprovePrepayroll = User.UserGroupHasRight("PRE-PAYROLL:FINALIZE");

}

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "PrePayrollForm", id = "PrePayrollForm" }))
            {
                <div class="row">
                    <div class="col-md-2"></div>
                    @if (canRunPrepayroll)
                    {
                        <div class="col-md-4">
                            @Html.DropDownList("PaymentCycleId", null, "Select One to Run Pre-payroll", htmlAttributes: new { @class = "form-control required" })
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success  "> <i class="icon-check"></i> Run Pre-payroll </button>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Programme
                </th>
                <th>
                    Financial Year
                </th>
                <th>
                    Payment Period
                </th>
                <th>
                    Status
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Programme.Name)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.PaymentCycle.FinancialYear.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentCycle.FromMonth.Description) - @Html.DisplayFor(modelItem => item.PaymentCycle.ToMonth.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStage.Description)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button> <ul class="dropdown-menu  dropdown-menu-right">
                                @if (canViewPrepayroll)
                                {
                                    <li>
                                        <a class="" href="@Url.Action("Details", new { paymentcycle = item.PaymentCycleId, programme = item.ProgrammeId })"> Payment Cycle Summary </a>
                                    </li>

                                    <li>
                                        <a class="" href="@Url.Action("Summary", new { paymentcycle = item.PaymentCycleId, programme = item.ProgrammeId })"> Pre-payroll Summary </a>
                                    </li>



                                }

                                @if (canApprovePrepayroll)
                                {
                                    if (item.PaymentStage.Code == "PREPAYROLLAPV")
                                    {
                                        if (item.PrePayrollBy == int.Parse(User.Identity.GetUserId()))
                                        {
                                            <li>
                                                <a aria-disabled="True" class="btn-pc-approve" href="#">
                                                    <i class="icon-check"></i>
                                                    Approve
                                                </a>
                                            </li>

                                        }
                                        else
                                        {
                                            <li>
                                                <a class="modal-link text-green" href="@Url.Action("ApprovePrepayroll", new {paymentcycleId = item.PaymentCycleId, programmeId = item.ProgrammeId})">
                                                    Approve
                                                </a>
                                            </li>
                                        }
                                    }
                                }

                                @if (canReRunPrepayroll)
                                {
                                    if (item.PaymentStage.Code == "PREPAYROLLFINAL")
                                    {
                                        if (!item.ExceptionsFileId.HasValue)
                                        {
                                            <li>
                                                <a class="modal-link" href="@Url.Action("GenerateExceptionsFile", new { paymentcycleId = item.PaymentCycleId, programmeId = item.ProgrammeId })">
                                                    <i class="fa fa-file"></i>
                                                    Generate Exceptions File
                                                </a>
                                            </li>
                                        }

                                        else
                                        {
                                            if (item.PrepayrollApvBy == int.Parse(User.Identity.GetUserId()))
                                            {
                                                <li>
                                                    <a aria-disabled="True" class="btn-pc-approve" href="#">
                                                        <i class="icon-check"></i>
                                                        Finalize Pre-payroll
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a class="modal-link" href="@Url.Action("Final", new { paymentcycleId = item.PaymentCycleId, programmeId = item.ProgrammeId })">
                                                        <i class="icon-check"></i> Finalize Pre-payroll
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }

                                }

                                @if (canDownloadPrepayroll)
                                {
                                    if (item.ExceptionsFileId.HasValue)
                                    {
                                        <li>
                                            <a class=" " href="@Url.Action("Verify", "Services", new { id = item.ExceptionsFileId, verify = 1, area = "" })">
                                                <i class="fa fa-cloud-download"></i>
                                                Download Exceptions File
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>