﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model CCTPMIS.Models.Payment.PrepayrollExceptionsListViewModel

@{
    ViewBag.Title = "Ineligible Exceptions";
    var canActionPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:ACTION");
}
@Html.Partial("Common/_SubMenu")
@Html.Partial("Common/_HeaderFilter", Model.PrepayrollExceptionsFilterViewModel)

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Household No.</th>
                    <th>Exception</th>
                    <th> Is Actioned </th>
                    <th>Actioned By</th>
                    <th>Actioned On</th>
                    <th>Approved By</th>
                    <th>Approved On</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.PrepayrollIneligiblesList.OrderBy(x => x.HhId))
                {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.HhId)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExceptionType.Description)</td>
                    <td>@item.Actioned</td>
                    <td>@Html.DisplayFor(modelItem => item.ActionedByUser.DisplayName) </td>
                    <td>@Html.DisplayFor(modelItem => item.ActionedOn)</td>
                    <td>@Html.DisplayFor(modelItem => item.ActionedApvByUser.DisplayName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ActionedApvOn)</td>

                    <td>
                        @if (!item.Actioned)
                        {
                            <a class="btn btn-sm btn-primary modal-link" href="@Url.Action("SingleActioning",   new { id ="INELIGIBLE", paymentcycle=item.PaymentCycleId, programme = item.ProgrammeId, exceptionTypeId = item.ExceptionTypeId, hhId = item.HhId,   })"><i class="fa fa-thumbs-up"></i>  Action  </a>
                        }
                        else
                        {
                            if (canActionPrepayroll)
                            {
                                <a class="btn btn-sm btn-primary modal-link" href="@Url.Action("ExceptionDetails",   new {id ="INELIGIBLE", paymentcycle=item.PaymentCycleId, programme = item.ProgrammeId, exceptionTypeId = item.ExceptionTypeId, hhId = item.HhId,   })"><i class="fa fa-eye"></i>   Summary   </a>

                            }
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.PrepayrollIneligiblesList, page => Url.Action("IneligibleExceptions", new { page, paymentcycle = Request["paymentcycle"], programme = Request["programme"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PrepayrollIneligiblesList.PageCount < Model.PrepayrollIneligiblesList.PageNumber ? 0 : Model.PrepayrollIneligiblesList.PageNumber) of @Model.PrepayrollIneligiblesList.PageCount
        Showing @Model.PrepayrollIneligiblesList.Count of @Model.PrepayrollIneligiblesList.TotalItemCount
    </div>
</div>