﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model CCTPMIS.Models.Payment.PrepayrollExceptionsListViewModel
@{
    ViewBag.Title = "Invalid Payment Accounts";
    var canActionPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:ACTION");
}

@Html.Partial("Common/_SubMenu")

@Html.Partial("Common/_HeaderFilter", Model.PrepayrollExceptionsFilterViewModel)

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Household No.</th>
                    <th>Exception</th>
                    <th> Account No </th>
                    <th> Is Actioned </th>
                    <th>Actioned By</th>
                    <th>Actioned On</th>
                    <th>Approved By</th>
                    <th>Approved On</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.PrepayrollInvalidPaymentAccountsList.OrderBy(x => x.HhId))
                {

                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.HhId)</td>
                          <td> @Html.DisplayFor(modelItem => item.ExceptionType.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prepayroll.BeneficiaryAccount.AccountNo) </td>
                      
                        <td>@item.Actioned</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedByUser.DisplayName) </td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvByUser.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvOn)</td>

                        <td>
                            @if (!item.Actioned)
                            {
                                <a class="btn btn-sm btn-primary modal-link" href="@Url.Action("SingleActioning",   new { id ="INVALIDACC", paymentcycle=item.PaymentCycleId, programme = item.ProgrammeId, exceptionTypeId = item.ExceptionTypeId, hhId = item.HhId,   })"><i class="fa fa-thumbs-up"></i>  Action  </a>

                            }
                            else
                            {
                                if (canActionPrepayroll)
                                {
                                    <a class="btn btn-sm btn-primary modal-link" href="@Url.Action("ExceptionDetails", new { id = "INVALIDACC", paymentcycle = item.PaymentCycleId, programme = item.ProgrammeId, exceptionTypeId = item.ExceptionTypeId, hhId = item.HhId, })"><i class="fa fa-eye"></i> Summary </a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.PrepayrollInvalidPaymentAccountsList, page => Url.Action("InvalidAccExceptions", new { page, paymentcycle = Request["paymentcycle"], programme = Request["programme"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PrepayrollInvalidPaymentAccountsList.PageCount < Model.PrepayrollInvalidPaymentAccountsList.PageNumber ? 0 : Model.PrepayrollInvalidPaymentAccountsList.PageNumber) of @Model.PrepayrollInvalidPaymentAccountsList.PageCount
        Showing @Model.PrepayrollInvalidPaymentAccountsList.Count of @Model.PrepayrollInvalidPaymentAccountsList.TotalItemCount
    </div>
</div>