﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.PrepayrollExceptionsDetailsViewModel
@{
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
    var canActionPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:ACTION");
    var id = ViewContext.RouteData.Values["id"];
}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p> Are you sure you want to Action this Record ?</p>
        </div>
        <div class="col-md-12">
            @if ((string)id == "duplicateid")
            {
                ViewBag.Title = "Action Duplicate National ID Number";
                <table class="table table-condensed table-striped table-bordered table-hover">

                    <tbody>
                        <tr>
                            <th> Programme </th>
                            <td> @Model.PrepayrollDuplicateId.Programme.Name </td>
                        </tr>
                        <tr>
                            <th> Name </th>
                            <td> @Model.PrepayrollDuplicateId.Person.DisplayName </td>
                        </tr>
                        <tr>
                            <th> National ID No. </th>
                            <td> @Model.PrepayrollDuplicateId.Person.NationalIdNo </td>
                        </tr>
                        <tr>
                            <th> Household No. </th>
                            <td> @Model.PrepayrollDuplicateId.Household.Id </td>
                        </tr>
                        <tr>
                            <th> Exception Type. </th>
                            <td> @Model.PrepayrollDuplicateId.ExceptionType.Description </td>
                        </tr>
                    </tbody>
                </table>
            }
            @if ((string)id == "invalidid")
            {
                ViewBag.Title = "Action INVALID National ID Number";
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th> Programme </th>
                            <td> @Model.PrepayrollInvalidId.Programme.Name </td>
                        </tr>
                        <tr>
                            <th> Name </th>
                            <td> @Model.PrepayrollInvalidId.Person.DisplayName </td>
                        </tr>
                        <tr>
                            <th> National ID No. </th>
                            <td> @Model.PrepayrollInvalidId.Person.NationalIdNo </td>
                        </tr>
                        <tr>
                            <th> Household No. </th>
                            <td> @Model.PrepayrollInvalidId.Household.Id </td>
                        </tr>
                        <tr>
                            <th> Exception Type. </th>
                            <td> @Model.PrepayrollInvalidId.ExceptionType.Description </td>
                        </tr>
                    </tbody>
                </table>
            }

            @if ((string)id == "invalidid")
            {
                ViewBag.Title = "Action INVALID National ID Number";
                <table class="table table-condensed table-striped table-bordered table-hover">

                    <tbody>
                        <tr>
                            <th> Programme </th>
                            <td> @Model.PrepayrollInvalidId.Programme.Name </td>
                        </tr>
                        <tr>
                            <th> Name </th>
                            <td> @Model.PrepayrollInvalidId.Person.DisplayName </td>
                        </tr>
                        <tr>
                            <th> National ID No. </th>
                            <td> @Model.PrepayrollInvalidId.Person.NationalIdNo </td>
                        </tr>
                        <tr>
                            <th> Household No. </th>
                            <td> @Model.PrepayrollInvalidId.Household.Id </td>
                        </tr>
                        <tr>
                            <th> Exception Type. </th>
                            <td> @Model.PrepayrollInvalidId.ExceptionType.Description </td>
                        </tr>
                    </tbody>
                </table>
            }

            @if ((string)id == "ineligible")
            {
                ViewBag.Title = "INELIGIBLE Beneficiary Household";
                <table class="table table-condensed table-striped table-bordered table-hover">

                    <tbody>
                    <tr>
                        <th> Programme </th>
                        <td> @Model.PrepayrollIneligible.Programme.Name </td>
                    </tr>
                    <tr>
                        <th> Name </th>
                        <td> @Model.PrepayrollIneligible.Household. </td>
                    </tr>

                    <tr>
                        <th> Household No. </th>
                        <td> @Model.PrepayrollIneligible.Household.Id </td>
                    </tr>
                    <tr>
                        <th> Exception Type. </th>
                        <td> @Model.PrepayrollIneligible.ExceptionType.Description </td>
                    </tr>
                    </tbody>
                </table>
            }

            @if ((string)id == "suspicious")
            {
                ViewBag.Title = "Suspicious Beneficiary Household";
                <table class="table table-condensed table-striped table-bordered table-hover">

                    <tbody>
                    <tr>
                        <th> Programme </th>
                        <td> @Model.PrepayrollSuspicious.Programme.Name </td>
                    </tr>

                    <tr>
                        <th> Household No. </th>
                        <td> @Model.PrepayrollSuspicious.Household.Id </td>
                    </tr>
                    <tr>
                        <th> Exception Type. </th>
                        <td> @Model.PrepayrollSuspicious.ExceptionType.Description </td>
                    </tr>
                    </tbody>
                </table>
            }

            @if ((string)id == "invalidcard")
            {
                ViewBag.Title = " Beneficiary Household with Invalid Payment Card";
                <table class="table table-condensed table-striped table-bordered table-hover">

                    <tbody>
                    <tr>
                        <th> Programme </th>
                        <td> @Model.PrepayrollInvalidPaymentCard.Programme.Name </td>
                    </tr>
                    <tr>
                        <th> Notes </th>
                        <td> @Model.PrepayrollInvalidPaymentCard.Notes </td>
                    </tr>

                    <tr>
                        <th> Household No. </th>
                        <td> @Model.PrepayrollInvalidPaymentCard.Household.Id </td>
                    </tr>
                    <tr>
                        <th> Exception Type. </th>
                        <td> @Model.PrepayrollInvalidPaymentCard.ExceptionType.Description </td>
                    </tr>
                    </tbody>
                </table>
            }

            @if ((string)id == "invalidacc")
            {
                ViewBag.Title = " Beneficiary Household with Invalid Payment Account";
                <table class="table table-condensed table-striped table-bordered table-hover">

                    <tbody>
                    <tr>
                        <th> Programme </th>
                        <td> @Model.PrepayrollInvalidPaymentAccount.Programme.Name </td>
                    </tr>
                    <tr>
                        <th> Notes </th>
                        <td> @Model.PrepayrollInvalidPaymentAccount.Notes </td>
                    </tr>

                    <tr>
                        <th> Household No. </th>
                        <td> @Model.PrepayrollInvalidPaymentAccount.Household.Id </td>
                    </tr>
                    <tr>
                        <th> Exception Type. </th>
                        <td> @Model.PrepayrollInvalidPaymentAccount.ExceptionType.Description </td>
                    </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm(null, null,FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PrepayrollSingleActionViewModel.PaymentCycle)
        @Html.HiddenFor(model => model.PrepayrollSingleActionViewModel.Programme)
        @Html.HiddenFor(model => model.PrepayrollSingleActionViewModel.PersonId)
        @Html.HiddenFor(model => model.PrepayrollSingleActionViewModel.HhId)
        @Html.HiddenFor(model => model.PrepayrollSingleActionViewModel.ExceptionTypeId)
        @Html.HiddenFor(model => model.PrepayrollSingleActionViewModel.Id, new {Value= ViewContext.RouteData.Values["id"] })

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                    @Html.LabelFor(model => model.PrepayrollSingleActionViewModel.Notes, htmlAttributes: new {@class = "control-label col-md-12"})
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.PrepayrollSingleActionViewModel.Notes, new {htmlAttributes = new {@class = "form-control required",}})
                        @Html.ValidationMessageFor(model => model.PrepayrollSingleActionViewModel.Notes, string.Empty, new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PrepayrollSingleActionViewModel.ReplacePreviousActioning, htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PrepayrollSingleActionViewModel.ReplacePreviousActioning, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.PrepayrollSingleActionViewModel.ReplacePreviousActioning, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PrepayrollSingleActionViewModel.RemovePreviousSupportingDoc, htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PrepayrollSingleActionViewModel.RemovePreviousSupportingDoc, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.PrepayrollSingleActionViewModel.RemovePreviousSupportingDoc, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PrepayrollSingleActionViewModel.UploadFile, htmlAttributes: new { @class = "control-label col-md-8 " })
                    <div class="col-md-4">
                        <label class="btn btn-default btn-file">
                            Browse   Supporting documents
                            @Html.TextBoxFor(m => m.PrepayrollSingleActionViewModel.Upload, new { type = "file", accept = "application/pdf" })
                        </label>
                        <label>
                            <span id="dataFileLabel"> </span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 m-tb-10">
                        <div class="alert alert-warning">
                            <strong>Please note</strong>
                            <p>
                                If you are uploading a document to overwrite an existing document, please attach the previous document in the current document.
                                <br />
                                We store only one document!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    @if (canActionPrepayroll)
                    {
                        <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Action </button>
                    } </div>
            </div>
        </div>

    }
</div>