﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model CCTPMIS.Models.Payment.PrepayrollExceptionsListViewModel

@{
    ViewBag.Title = "Suspicious Payment";
    var canActionPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:ACTION");
}

@Html.Partial("Common/_SubMenu")
@Html.Partial("Common/_HeaderFilter", Model.PrepayrollExceptionsFilterViewModel)

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Household No.</th>

                    <th>Exception</th>
                    <th> Is Actioned </th>
                    <th>Actioned By</th>
                    <th>Actioned On</th>
                    <th>Approved By</th>
                    <th>Approved On</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.PrepayrollSuspiciousList.OrderBy(x => x.HhId))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.HhId)</td>
                        <td> @Html.DisplayFor(modelItem => item.ExceptionType.Description)</td>
                        <td>@item.Actioned</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedByUser.DisplayName) </td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvByUser.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvOn)</td>
                        <td>
                            @if (!item.Actioned)
                            {
                                <a class="btn btn-sm btn-primary modal-link" href="@Url.Action("SingleActioning",   new { id ="suspicious", paymentcycle=item.PaymentCycleId, programme = item.ProgrammeId, exceptionTypeId = item.ExceptionTypeId, hhId = item.HhId  })"><i class="fa fa-thumbs-up"></i>  Action  </a>
                            }
                            else
                            {
                                if (canActionPrepayroll)
                                {
                                    <a class="btn btn-sm btn-primary modal-link" href="@Url.Action("ExceptionDetails", new { id = "suspicious", paymentcycle = item.PaymentCycleId, programme = item.ProgrammeId, exceptionTypeId = item.ExceptionTypeId, hhId = item.HhId })"><i class="fa fa-eye"></i> Summary </a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.PrepayrollSuspiciousList, page => Url.Action("SuspiciousExceptions", new { page, paymentcycle = Request["paymentcycle"], programme = Request["programme"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PrepayrollSuspiciousList.PageCount < Model.PrepayrollSuspiciousList.PageNumber ? 0 : Model.PrepayrollSuspiciousList.PageNumber) of @Model.PrepayrollSuspiciousList.PageCount
        Showing @Model.PrepayrollSuspiciousList.Count of @Model.PrepayrollSuspiciousList.TotalItemCount
    </div>
</div>