﻿@*<div class="jumbotron">
        <h1>ASP.NET API</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default">button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>

    @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { @class = "LookupForm", @id = "LookupForm", role = "form" }))
    {

        <input type="number" name="UserId" id="UserId" class="form-control" value="1" required title="">
        <button type="submit" class="btn btn-primary">Send</button>
    }

    @section scripts
    {
        <script type="text/javascript">

            $(document).ready(function () {
                $(document).on("submit", ".LookupForm", function (e) {

                    e.preventDefault();
                    e.stopPropagation();

                    var id = $("#UserId").val();
                    console.log('this is the ID >> ' + id);
                    jQuery.ajax({
                        type: 'GET',
                        url: '/api/households/' + id,
                        beforeSend: function () {
                            console.log('starting ..... ');
                        }
                    }).done(function (data) {
                        console.log(data);
                    }).fail(showError);

                });

                $(document).on("click", ".btn1", function () {

                    var loginData =
                        {
                            grant_type: 'password',
                            username: 'bkibicho@developmentpathways.co.uk',
                            password: 'password'
                        };

                    jQuery.ajax({
                        type: 'POST',
                        url: '/Token',
                        data: loginData,
                        beforeSend: function () {
                            console.log('starting ..... ');
                        }
                    }).done(function (data) {
                        console.log('starting ..... ');
                        console.log(data);

                        sessionStorage.setItem(tokenKey, data.access_token);

                    }).fail(showError);

                });
                function showError(jqXHR) {
                    console.log(jqXHR);
                    console.log(jqXHR.status + ': ' + jqXHR.statusText);
                    var response = jqXHR.responseJSON;
                    if (response) {
                        if (response.Message) console.log(response.Message);
                        if (response.ModelState) {
                            var modelState = response.ModelState;
                            for (var prop in modelState) {
                                if (modelState.hasOwnProperty(prop)) {
                                    var msgArr = modelState[prop]; // expect array here
                                    if (msgArr.length) {
                                        for (var i = 0; i < msgArr.length; ++i) console.log(msgArr[i]);
                                    }
                                }
                            }
                        }
                        if (response.error) console.log(response.error);
                        if (response.error_description) console.log(response.error_description);
                    }
                }

            });
        </script>
    }*@