﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Targeting.TargetPlanVm
@{
    ViewBag.Title = "Edit a Household Listing Plan";
    var canEditPlan = User.UserGroupHasRight("HH LISTING PLANS:MODIFIER");
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required" } })
                            @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control required" } })
                            @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        <div class=" input-daterange input-group">
                            @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control  required ", @data_format = "yyyy-mm-dd", @Value = Model.Start.ToString("yyyy-MM-dd") } })
                            <span class="input-group-addon">To</span>
                            @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control  required ", @data_format = "yyyy-mm-dd" }, @Value = Model.End.ToString("yyyy-MM-dd") })
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    @Html.ValidationMessageFor(model => model.End, string.Empty, new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Start, string.Empty, new { @class = "text-danger" })
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <table id="EnrolmentGroupsTable" class="table table-condensed table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> Select </th>
                                    <th> Programme  </th>
                                </tr>
                            </thead>
                            <tbody id="EnrolmentGroups">
                                @{
                                    int i = 0;
                                    foreach (var item in Model.ListingPlanProgrammeOptions)
                                    {
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(model => model.ListingPlanProgrammeOptions[i].IsSelected, new { })
                                            </td>
                                            <td>
                                                @item.Name
                                                @Html.HiddenFor(model => model.ListingPlanProgrammeOptions[i].ProgrammeId)
                                            </td>
                                        </tr>
                                        i += 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class=" col-md-12">
                    <div class="form-group m-tb-30">
                        @if (canEditPlan)
                        {
                            @Html.Partial("Common/_EditFooter", Model.Id)
                        }
                        else
                        {
                            @Html.Partial("Common/_BackToList")

                            <div class="alert alert-info">
                                <strong>Access Rights</strong>
                                <p>
                                    You do not have the rights to perfom this action.
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>