﻿
@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc


@model IEnumerable<CCTPMIS.Business.Model.ReconciliationDetail>
@{
    var canViewReconciliation = User.UserGroupHasRight("RECONCILIATION:VIEW");
    var canCreateReconciliation = User.UserGroupHasRight("RECONCILIATION:ENTRY");
    var canModifyReconciliation = User.UserGroupHasRight("RECONCILIATION:MODIFIER");
    var canCloseReconciliation = User.UserGroupHasRight("RECONCILIATION:CLOSE");
    var canApproveReconciliation = User.UserGroupHasRight("RECONCILIATION:APPROVAL");
}
<table class="table table-condensed table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PspId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model.OrderBy(x => x.Psp.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Psp.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BalanceStatement)
                    </td>

                    <td>
                        @item.Reconciliation.ReconciliationDetails.FirstOrDefault(x => x.PspId == item.PspId).CreatedByUser.DisplayName
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                       @item.Reconciliation.ReconciliationDetails.FirstOrDefault(x => x.PspId == item.PspId).Status.Description
                    </td>
                    <td>

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm">Actions</button>
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                @if (canViewReconciliation)
                                {

                                    <li>
                                        <a class="modal-link" href="@Url.Action("Details", "ReconciliationDetails", new {pspId = item.PspId, reconciliationId = item.ReconciliationId})">
                                            <i class="fa fa-eye"></i> View
                                        </a>
                                    </li>
                                }
                                <li role="separator" class="divider"></li>
                                @if (item.Reconciliation.ReconciliationDetails.FirstOrDefault(x => x.PspId == item.PspId).Status.Code == "RECONOPEN")
                                {
                                    if (canModifyReconciliation)
                                    {
                                        <li>
                                            <a class="" href="@Url.Action("Edit", "ReconciliationDetails", new {pspId = item.PspId, reconciliationId = item.ReconciliationId})">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                        </li>
                                    }
                                    @*<li role="separator" class="divider"></li>*@
                                    if (item.ModifiedBy == int.Parse(User.Identity.GetUserId()) || item.CreatedBy == int.Parse(User.Identity.GetUserId()))
                                    {
                                        <li><a class="modal-link" href="@Url.Action("Finalize", "ReconciliationDetails", new {pspId = item.PspId, reconciliationId = item.ReconciliationId})"> Finalize Psp Reconciliation </a></li>
                                    }
                                }

                                @*@if (item.Status.Code == "RECONAPV")
                                {
                                    if (item.ModifiedBy == int.Parse(User.Identity.GetUserId()) || item.CreatedBy == int.Parse(User.Identity.GetUserId()))
                                    {
                                        <li><a class="modal-link" href="@Url.Action("Finalize", "ReconciliationDetails", new {pspId = item.PspId, reconciliationId = item.ReconciliationId})"> Finalize Psp Reconciliation </a></li>
                                    }
                                }*@

                                @*@if (item.Status.Code == "RECONCLOSED")
                                {
                                    <li>
                                        <a class="" href="@Url.Action("GenerateReconciliationReport", "ReconciliationDetails", new { id = item.ReconciliationId, pspId = item.PspId})">
                                            <i class="fa fa-edit"></i> Download Statement
                                        </a>
                                    </li>

                                }*@
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    <p>
                        No Reconciled PSP for this Period
                    </p>
                </td>
            </tr>

        }
    </tbody>
</table>