﻿@using CCTPMIS.Business.Statics
@{
    var canViewPayroll = User.UserGroupHasRight("PAYROLL:VIEW");
}
@if (canViewPayroll)
{
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a href="@Url.Action("Index", new{})">Payrolls</a>
        </li>
        <li role="presentation">
            <a href="@Url.Action("Files", new{})"> Payroll Files </a>
        </li>
        <li role="presentation">
            <a href="@Url.Action("MobilizationLists", new{})"> Payroll Mobilization Lists </a>
        </li>
    </ul>
}