﻿@model CCTPMIS.Models.Payment.GetPayrollSummaryVm

<div class="row">
    <div class="col-md-12">
        <table class="table  table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.TotalPayrollHhs) </th>
                <td> @Html.DisplayFor(modelItem => Model.TotalPayrollHhs)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.TotalPayrollAmount) </th>
                <td> @Html.DisplayFor(modelItem => Model.TotalPayrollAmount)</td>
            </tr>
            </tbody>
        </table>

        <table class="table  table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <th> Exceptions </th>
                <td> Beneficiary Households</td>
            </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.PayrollSuspiciousHhs) </th>
                    <td>@Html.DisplayFor(modelItem => Model.PayrollSuspiciousHhs)</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.PayrollExceptionsHhs) </th>
                    <td> @Html.DisplayFor(modelItem => Model.PayrollExceptionsHhs) </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.PayrollInvalidIdHhs)  </th>
                    <td> @Html.DisplayFor(modelItem => Model.PayrollInvalidIdHhs)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => Model.PayrollInvalidPaymentAccountHhs) </th>
                    <td>@Html.DisplayFor(modelItem => Model.PayrollInvalidPaymentAccountHhs)</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.PayrollInvalidPaymentCardHhs) </th>
                    <td>@Html.DisplayFor(modelItem => Model.PayrollInvalidPaymentCardHhs)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => Model.PayrollIneligibleHhs) </th>
                    <td> @Html.DisplayFor(modelItem => Model.PayrollIneligibleHhs)</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.PayrollDuplicateIdHhs) </th>
                    <td>@Html.DisplayFor(modelItem => Model.PayrollDuplicateIdHhs)</td>
                </tr>
            </tbody>
        </table>
      </div>
</div>