﻿@model CCTPMIS.Business.Model.PaymentCycleDetail

<table class="table  table-bordered table-striped table-hover">
    <tbody>
        <tr>
            <th>Programme </th>
            <td>@Model.Programme.Name</td>
            <th>Year </th>
            <td>@Model.PaymentCycle.FinancialYear.Description</td>
        </tr>
        <tr>
            <th> Start Month  </th>
            <td> @Html.DisplayFor(modelItem => Model.PaymentCycle.FromMonth.Description) </td>
            <th> End Month  </th>
            <td> @Html.DisplayFor(modelItem => Model.PaymentCycle.ToMonth.Description)</td>
        </tr>
        <tr>
            <th> Payrol Stage </th>
            <td> [@Html.DisplayFor(modelItem => Model.PaymentStage.Code) ] @Html.DisplayFor(modelItem => Model.PaymentStage.Description)</td>
            <th> Enrolled Households </th>
            <td>@Html.DisplayFor(modelItem => Model.EnrolledHHs)</td>
        </tr>
        <tr>
            <th>Created By </th>
            <td> @Html.DisplayFor(modelItem => Model.CreatedByUser.DisplayName)</td>
            <th>Created On </th>
            <td>@Html.DisplayFor(modelItem => Model.CreatedOn)</td>
        </tr>

        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.ModifiedBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.ModifiedByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.ModifiedOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.ModifiedOn)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.ApvBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.ApvByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.ApvOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.ApvOn)</td>
        </tr>

        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.PrePayrollBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.PrePayrollByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.PrePayrollOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.PrePayrollOn)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.PrepayrollApvBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.PrepayrollApvByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.PrepayrollApvOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.PrepayrollApvOn)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.FundsRequestBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.FundsRequestByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.FundsRequestOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.FundsRequestOn)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.FundsRequestApvBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.FundsRequestApvByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.FundsRequestApvOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.FundsRequestApvOn)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.PayrollBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.PayrollByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.PayrollOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.PayrollOn)</td>
        </tr>

        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.PayrollApvBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.PayrollApvByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.PayrollApvOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.PayrollApvOn)</td>
        </tr>

        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.PayrollExBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.PayrollExByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.PayrollExOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.PayrollExOn)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.PayrollExConfBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.PayrollExConfByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.PayrollExConfOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.PayrollExConfOn)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.PostPayrollBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.PostPayrollByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.PostPayrollOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.PostPayrollOn)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.PostPayrollApvby) </th>
            <td> @Html.DisplayFor(modelItem => Model.PostPayrollApvbyUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.PostPayrollApvOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.PostPayrollApvOn)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(modelItem => Model.PayrollVerBy) </th>
            <td> @Html.DisplayFor(modelItem => Model.PayrollVerByUser.DisplayName)</td>
            <th>@Html.DisplayNameFor(modelItem => Model.PayrollVerOn) </th>
            <td>@Html.DisplayFor(modelItem => Model.PayrollVerOn)</td>
        </tr>
        @*<tr>
                <th> @Html.DisplayNameFor(modelItem => Model.PostPayrollApvby) </th>
                <td> @Html.DisplayFor(modelItem => Model.PostPayrollApvbyUser.DisplayName)</td>
                <th>@Html.DisplayNameFor(modelItem => Model.PostPayrollApvOn) </th>
                <td>@Html.DisplayFor(modelItem => Model.PostPayrollApvOn)</td>
            </tr>*@
    </tbody>
</table>