﻿@model CCTPMIS.Business.Model.HouseholdEnrolmentPlan

@{
    ViewBag.Title = "Approve";

}

@Html.Partial("_EnrolmentPlanData", Model)

<div class="row">
    <div class="col-md-12">
        <div id="progress" class="progress hidden active">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only"> Processing</span>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("Index")" class="btn    btn-primary"><i class="fa fa-arrow-left"></i> Back to List</a>
                    @if (Model.Status.Code == "PROGENROLAPV")
                    {
                        <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Approve Now </button>
                    }
                    else
                    {

                    }
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{

    <script type="text/javascript">

        $(document).on("submit", "form", function (e) {

            $(this).find("button[type='submit']").each(function() {
                $(this).addClass("disables");
            });
            $("#progress").removeClass("hidden");
        });
    </script>
}