﻿@model CCTPMIS.Business.Model.HouseholdEnrolmentPlan

@{
    ViewBag.Title = "Create enrolment File";
}

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.DropDownList("ProgrammeId", null, " Select  Programme ", htmlAttributes: new { @class = "form-control filter required", })
                                    @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RegGroupId, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.DropDownList("RegGroupId", null, " Select  Registration Group ", htmlAttributes: new { @class = "form-control filter required", })
                                    @Html.ValidationMessageFor(model => model.RegGroupId, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div id="alert" class="alert  hidden" role="alert">
                                <div id="message">
                                </div>
                            </div>

                            <div id="data" class="data hidden control">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge badge-primary">
                                            <span id="EnrolledHh"></span>
                                        </span> Enrolled HouseHolds
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-primary">
                                            <span id="RegisteredHh"></span>
                                        </span>  Registered HouseHolds
                                    </li>

                                    <li class="list-group-item">
                                        <span class="badge badge-primary">
                                            <span id="ScaleUpEqualShare"></span>
                                        </span> Scale up Equal Share
                                    </li>

                                    <li class="list-group-item">
                                        <span class="badge badge-primary">
                                            <span id="ScaleUpPovertyPrioritized"></span>
                                        </span> Scale Up Poverty Prioritized
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-primary">
                                            <span id="EnrolmentReady"></span>
                                        </span> Ready For Enrolment
                                    </li>
                                </ul>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EnrolmentNumbers, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.EnrolmentNumbers, new { htmlAttributes = new { @class = "form-control required", @data_range_min = 1 } })
                                        @Html.ValidationMessageFor(model => model.EnrolmentNumbers, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="alertNumbers" class="alert alert-danger hidden" role="alert">
                                    <div id="messageNumbers">
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EnrolmentGroupId, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.DropDownList("EnrolmentGroupId", null, " Select  Enrollment Group ", htmlAttributes: new { @class = "form-control required", })
                                        @Html.ValidationMessageFor(model => model.EnrolmentGroupId, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" id="MaxToEnrol" name="MaxToEnrol" value="0" />

                            @Html.HiddenFor(model => model.RegGroupHhs)
                            @Html.HiddenFor(model => model.BeneHhs)
                            @Html.HiddenFor(model => model.ExpPlanEqualShare)
                            @Html.HiddenFor(model => model.ExpPlanPovertyPrioritized)

                            <a href="@Url.Action("Index")" class="btn btn-primary"><i class=" fa fa-arrow-circle-left"></i> Back </a>
                            <input type="button" class="btn btn-primary" value="Reset" />
                            <button id="btnSubmit" type="submit" class="btn hidden btn-success"> <i class="fa fa-plus"></i> Proceed </button>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

@section scripts
{
    <script>

        $(document).on("textchange", "#EnrolmentNumbers",
            function (e) {
                setNumber();
            });
        $(document).on("keyup mouseup", "#EnrolmentNumbers",
            function (e) {
                setNumber();
            });

        function setNumber() {

            //console.log($("#MaxToEnrol").val());

            var maxToEnrol = parseInt($("#MaxToEnrol").val());
            var enrolmentNumbers = parseInt($("#EnrolmentNumbers").val());

            if (enrolmentNumbers > maxToEnrol || enrolmentNumbers < 1 || $("#EnrolmentNumbers").val() === "") {
                $("#alertNumbers").removeClass('hidden');
                $("#messageNumbers").html("The Households to Enroll  must be between 1 and " + maxToEnrol);
                $("#btnSubmit").addClass('hidden');

            } else {
                $("#alertNumbers").addClass('hidden');
                $("#btnSubmit").removeClass('hidden');

            }

        }

        $(document).on("change",
            ".filter",
            function (e) {
                $("#data").addClass('hidden');
                $("#alert").addClass('hidden');
                $("#alert").removeClass('alert-danger');
                $("#alert").removeClass('alert-success');
                $("#alert").removeClass('alert-info');
                if ($("#ProgrammeId").val() !== "" && $("#RegGroupId").val() !== "") {

                    $.ajax({
                        url: "/Enrolments/BeneForEnrolment/",
                        dataType: "json",
                        crossDomain: true,
                        data: { id: $("#ProgrammeId").val(), regGroupId: $("#RegGroupId").val() },
                        beforeSend: function () {
                            $("#alert").removeClass('hidden');

                            $("#message").html("Filtering Data ...");

                            $("#alert").removeClass('alert-danger');
                            $("#alert").removeClass('alert-success');
                            $("#alert").addClass('alert-info');
                        },
                        success: function (json) {
                            var data = json;

                            //console.log(data);
                            $("#message").html("Retrieving Data ...");
                            $("#data").removeClass('hidden');

                            //display data
                            $("#EnrolmentReady").text(data.ReadyForEnrolment);
                            $("#RegisteredHh").text(data.RegGroupHhs);
                            $("#EnrolledHh").text(data.EnrolledHH);
                            $("#ScaleUpEqualShare").text(data.PlanEqualShare);
                            $("#ScaleUpPovertyPrioritized").text(data.PlanPovertyPrioritized);

                            //data
                            $("#RegGroupHhs").val(data.RegGroupHhs);
                            $("#BeneHhs").val(data.BeneHhs);
                            $("#ExpPlanEqualShare").val(data.ExpPlanEqualShare);
                            $("#ExpPlanPovertyPrioritized").val(data.ExpPlanPovertyPrioritized);

                            if (data.MaxToEnrol !== "0")
                                $("#MaxToEnrol").val(data.ReadyForEnrolment);
                            else
                                $("#MaxToEnrol").val(data.MaxToEnrol);

                            if ($("#MaxToEnrol").val() === "0") {

                                $("#alert").removeClass('alert-danger');
                                $("#alert").addClass('alert-success');
                                $("#alert").removeClass('alert-info');
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $("#message").html(xhr.responseText + "\r\n");
                            $("#alert").addClass('alert-danger');
                            $("#alert").removeClass('alert-success');
                            $("#alert").removeClass('alert-info');
                        },

                        complete: function () {
                            //$("#message").innerHTML = "";
                            //$("#alert").addClass('hidden');
                        }
                    });

                }

            });
    </script>

}