﻿@model CCTPMIS.Business.Model.HouseholdEnrolmentPlan

@{
    ViewBag.Title = "Delete Enrolment Plan";

}

@Html.Partial("_EnrolmentPlanData", Model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("Index")" class="btn    btn-primary"><i class="fa fa-arrow-left"></i> Back to List</a>
                    <button   type="submit" class="btn   btn-danger"> <i class="icon-trash"></i> Delete Enrolment  </button>
                </div>
            </div>
        </div>
    </div>

}