﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.FileCreation>
@{
    ViewBag.Title = "Enrolment Files Shared with PSPs ";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-striped table-bordered ">
            <tr>
                <th>
                    File
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Downloads
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @item.FileDownloads.Count()
                    </td>
                    <td>
                        <a class="btn btn-success  btn-sm" href="@Url.Action("Verify","Services", new { id = item.Id, area="" })">
                            <i class="fa fa-download"></i> Download/Verify
                        </a>
                        <a class="btn btn-success  modal-link btn-sm" href="@Url.Action("ResendEnrolmentFile", new { id = item.Id })">
                            <i class="fa fa-mail-forward"></i> Resend File
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Files", new { page, DistrictId = Request["DistrictId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing  @Model.Count of   @Model.TotalItemCount
    </div>
</div>