﻿@using System.Collections
@using CCTPMIS.Models.Enrolment
@model System.Collections.Generic.List<System.Collections.IEnumerable>

@{
    ViewBag.Title = "Enrolment Progress Summary";

}
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            if (item is EnrolmentProgress || item is IEnumerable<EnrolmentProgress>)
            {
                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Programme</th>
                        <th> Status</th>
                        <th> Reg Group </th>
                        <th> Reg Group Hhs</th>
                        <th>  Enrolment Numbers by Programme </th>
                        @*<th> BeneHhs</th>

                        <th> Exp Plan Equal Share </th>
                        <th>  Exp Plan Poverty Prioritized </th>*@
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var subitem in (IEnumerable)item)
                    {
                        if (subitem is EnrolmentProgress)
                        {
                            var x = (EnrolmentProgress)subitem;

                            <tr>
                                <td>
                                    @Html.DisplayFor(model => x.Programme)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => x.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => x.RegGroup)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => x.RegGroupHhs)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => x.EnrolmentNumbers)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(model => x.BeneHhs)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => x.ExpPlanEqualShare)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => x.ExpPlanPovertyPrioritized)
                                </td>*@
                            </tr>

                        }

                    }
                    </tbody>
                </table>
            }

            if (item is BankEnrolmentProgress || item is IEnumerable<BankEnrolmentProgress>
                )
            {

                int? accounts = 0;
                int? carded = 0;

                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>PSP</th>
                        <th> Account Opened</th>
                        <th> Carded HHs</th>
                        <th> Not Carded</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var subitem in (IEnumerable)item)
                    {
                        if (subitem is BankEnrolmentProgress)
                        {
                            var x = (BankEnrolmentProgress)subitem;

                            accounts += x.AccountOpenedHhs;
                            carded += x.CardedHhs;

                            <tr>
                                <td>@x.Psp</td>
                                <td>@x.AccountOpenedHhs</td>
                                <td>@x.CardedHhs</td>
                                <td>@(x.AccountOpenedHhs - x.CardedHhs)</td>
                            </tr>
                        }

                    }

                    <tfoot>
                    <tr>
                        <th>TOTAL</th>
                        <th>@accounts</th>
                        <th> @carded </th>
                        <th> @(accounts - carded )</th>
                    </tr>
                    </tfoot>
                </table>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("Index")" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
            </div>
        </div>
    </div>
</div>