﻿@using Microsoft.AspNet.Identity
@model CCTPMIS.Business.Model.FileCreation

@{
    ViewBag.Title = "Download and Verify the Enrolment File";
}

<div class="row">
    <div class="col-md-12">

        <div class="cards-container box-view">

            <div class="animatedParent animateOnce z-index-50">
                <div class="card animated fadeInUp go">

                    <div class="card-header">

                        <div class="card-photo">
                            <a href="@Url.Action("Download", new { id = Model.Id })">  <i class="fa fa-cloud-download fa-3x"></i><br /> Download </a>
                        </div>
                        <div class="card-short-description">
                            <h5>
                                <span class="user-name">
                                    FILE NAME :  @Html.DisplayFor(model => model.Name)
                                </span>
                            </h5>

                            <h5>
                                <span class="user-name">
                                    FILE CHECKSUM :  @Html.DisplayFor(model => model.FileChecksum)
                                </span>
                            </h5>
                        </div>
                    </div>
                    <div class="card-content">
                        <p>
                            <strong>
                                Kindly browse the File you have downloaded. and verify the Checksum Automatically <br />

                                Note that if the File Checksum is not Verified, you will not be able to submit the Enrolled Members data
                            </strong>
                        </p>

                        <div class="form-group">
                            <label class="btn btn-danger btn-file">
                                VERIFY CHECKSUM <input type="file" style="display: none" id="EnrolmentFile" accept="text/csv,application/x-rar-compressed,application/pdf" name="upload" />
                            </label>
                            <label>
                                <span id="dataFileLabel"> </span>
                            </label>
                        </div>
                        <input type="hidden" name="ServerSha256" value="@Model.FileChecksum" id="ServerSha256" />
                        <input type="hidden" name="UserId" value="@User.Identity.GetUserId()" id="UserId" />
                        <input type="hidden" name="FileCreationId" value="@Model.Id" id="FileCreationId" />
                        <input type="hidden" name="CheckSum" value="" id="CheckSum" />
                    </div>
                    <div id="verificationresults" class="hidden card-header">
                        <div class="card-photo">
                        </div>
                        <div class="card-short-description">
                            <h5>
                                <span class="user-name">
                                    UPLOADED FILE NAME :  <label id="FileName"></label>
                                </span>
                            </h5>

                            <h5>
                                <span class="user-name">
                                    UPLOADED  FILE CHECKSUM :    <label id="FileCheckSum"></label>
                                </span>
                            </h5>
                            <p>
                                <br />
                            </p>

                            <div id="successCheckSum" class="alert hidden alert-success">
                                <strong>Success</strong>
                                <p>
                                    The Checksum has been Verified Successfully
                                </p>
                                <div id="successCheckSumInner"></div>
                            </div>

                            <div id="dangerCheckSum" class="alert hidden alert-danger">
                                <strong>Error</strong>
                                <p>
                                    The Checksum has Failed. Kindly Download the File a new.
                                </p>
                                <div id="dangerCheckSumInner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="list" class="col-md-12">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index", "Default")" class="btn btn-info">
            <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/encryption")

    <script type="text/javascript">
        (function () {

        });
    </script>

}