﻿@model CCTPMIS.Business.Model.Location

<div class="row">
    <div class="col-md-12">

        <table class="table table-striped table-bordered ">
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Division.CountyDistrict.District.GeoMasterId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Division.CountyDistrict.District.GeoMaster.Name)
                    </td>
                </tr>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Division.CountyDistrict.DistrictId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Division.CountyDistrict.District.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Division.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Division.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Code)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>