﻿@model PagedList.IPagedList<CCTPMIS.Business.Model.Location>
@using PagedList.Mvc

@{
    ViewBag.Title = "Locations";
}

<div class="row">
    <div class="col-md-9">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            <div class="col-md-9">
                <div class="form-group">
                    @Html.Label("Division", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("DivisionId", null, "Select Division ", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        }
    </div>

    <div class="col-md-3">
        <div class="pull-right">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Division
                </th>
                <th>
                    Location Code
                </th>
                <th>
                  Location  Name
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Division.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.Partial("Common/_GridDIcons", item.Id)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, DivisionId = Request["DivisionId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>