﻿@model CCTPMIS.Models.Payment.FundsRequestApvViewModel
@{
    ViewBag.Title = "Approve Funds Request";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <strong>Are you sure you want to Approve the Funds Request?</strong>
                    <p>
                        Please Attach the Approved, Signed and Stamped Funds Request Document.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.UploadFile, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="col-md-12">
                        <label class="btn btn-default btn-file">
                            Browse   Supporting documents
                            @Html.TextBoxFor(m => m.Upload, new { type = "file", accept = "application/pdf" })
                        </label>
                        <label>
                            <span id="dataFileLabel"> </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.PaymentCycleId)
            <div class="col-md-12">
                <button type="button" class="btn btn-default" data-dismiss="modal">Later</button>

                <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Approve Funds Request </button>
            </div>
        </div>
    </div>
}