﻿@model CCTPMIS.Models.Payment.RequestForFunds
@{
    ViewBag.Title = "Request For Funds";
    var dataList = Model.FundsRequest.FundsRequestDetails.ToList();
}

<div class="row">
    <div class="col-md-12">
        <table class="table  table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th> Start Month  </th>
                    <td> @Html.DisplayFor(modelItem => Model.FundsRequest.PaymentCycle.FromMonth.Description) </td>
                    <th> End Month  </th>
                    <td> @Html.DisplayFor(modelItem => Model.FundsRequest.PaymentCycle.ToMonth.Description)</td>
                </tr>
            <tr>
                <th> Payrol Stage </th>
                <td> [@Html.DisplayFor(modelItem => Model.FundsRequest.PaymentCycle.Status.Code) ] @Html.DisplayFor(modelItem => Model.FundsRequest.PaymentCycle.Status.Description)</td>
                <th> @Html.DisplayNameFor(modelItem => Model.FundsRequest.PaymentCycle.CycleName) </th>
                <td>@Html.DisplayFor(modelItem => Model.FundsRequest.PaymentCycle.CycleName)</td>
            </tr>

            <tr>
                <th> Funds Request By  </th>
                <td> @Html.DisplayFor(modelItem => Model.FundsRequest.PaymentCycle.PaymentCycleDetails.First().FundsRequestByUser.DisplayName) </td>
                <th> Funds Request On  </th>
                <td> @Html.DisplayFor(modelItem => Model.FundsRequest.PaymentCycle.PaymentCycleDetails.First().FundsRequestOn)</td>
            </tr>

            <tr>
                <th> Funds Request Approved By  </th>
                <td> @Html.DisplayFor(modelItem => Model.FundsRequest.PaymentCycle.PaymentCycleDetails.First().FundsRequestApvByUser.DisplayName) </td>
                <th> Funds Request Approved On  </th>
                <td> @Html.DisplayFor(modelItem => Model.FundsRequest.PaymentCycle.PaymentCycleDetails.First().FundsRequestApvOn)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped  table-fundstable table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Programme</th>
                    <th>Source</th>
                    <th>PSP</th>
                    <th>No. Of HHs</th>
                    <th>Amount</th>
                    <th>Commission</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReqForFundsVMs)
                {
                    <tr>
                        <td>@item.No</td>
                        <td>@item.Programme</td>
                        <td>GOK</td>
                        <td>@item.PSP</td>
                        <td class="text-right">@item.NoOfHouseholds.ToString("##,#####")</td>
                        <td class="text-right">@item.Amount.ToString("##,#####.00")</td>
                        <td class="text-right">@item.Commission.ToString("##,#####.00")</td>
                        <td class="text-right">@item.Total.ToString("##,#####.00")</td>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4"> TOTAL:</th>
                    <th class="text-right">@Model.ReqForFundsVMs.Sum(x => x.NoOfHouseholds).ToString("##,###")</th>
                    <th class="text-right">@Model.ReqForFundsVMs.Sum(x => x.Amount).ToString("##,###.00")</th>
                    <th class="text-right">@Model.ReqForFundsVMs.Sum(x => x.Commission).ToString("##,###.00")</th>
                    <th class="text-right">@Model.ReqForFundsVMs.Sum(x => x.Total).ToString("##,###.00")</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>