﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.FundsRequest>

@{
    ViewBag.Title = "Funds Requests";
    var canViewFundsRequest = User.UserGroupHasRight("REQUEST FOR FUNDS:VIEW");
    var canCreateFundsRequest = User.UserGroupHasRight("REQUEST FOR FUNDS:ENTRY");
    var canEditFundsRequest = User.UserGroupHasRight("REQUEST FOR FUNDS:MODIFIER");
    var canApproveFundsRequest = User.UserGroupHasRight("REQUEST FOR FUNDS:APPROVAL");
    var canDownloadFundsRequest = User.UserGroupHasRight("REQUEST FOR FUNDS:DOWNLOAD");

}

@if (canCreateFundsRequest)
{

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "FundsRequestForm", id = "FundsRequestForm" }))
                {
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            @Html.DropDownList("PaymentCycleId", null, "Select Payment Cycle", htmlAttributes: new { @class = "form-control required" })
                        </div>
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-success  "> <i class="icon-check"></i> REQUEST FOR FUNDS </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Payment Cycle
                </th>
                <th>
                    Financial Year
                </th>
                <th>
                    Payment Period
                </th>

                <th>
                    Request For Funds File
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentCycle.CycleName)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.PaymentCycle.FinancialYear.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentCycle.FromMonth.Description) - @Html.DisplayFor(modelItem => item.PaymentCycle.ToMonth.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FileCreation.Name)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>       <ul class="dropdown-menu  dropdown-menu-right">
                                @if (canViewFundsRequest)
                                {
                                    <li><a class="" href="@Url.Action("Details", new { id = item.Id })"> View </a></li>
                                }

                                @if (canDownloadFundsRequest)
                                {
                                    if (item.FileCreationId == null)
                                    {
                                        <li>
                                            <a class=" " href="@Url.Action("GenerateFundsRequestLetter", new { id = item.Id, name = $"{item.PaymentCycle.CycleName}" })"><i class="fa fa-file"></i> Generate Letter </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="" href="@Url.Action("Download", "Services",   new { area="", id = item.FileCreationId})"><i class="fa fa-cloud-download"></i> Download </a>
                                        </li>
                                    }
                                }
                                @if (canApproveFundsRequest)
                                {

                                    if (item.FileCreationId == null)
                                    {
                                        if (item.PaymentCycle.PaymentCycleDetails.First().FundsRequestBy != int.Parse(User.Identity.GetUserId()))
                                        {
                                            <li>
                                                <a class="  modal-link " href="@Url.Action("Approve",    new {  id = item.Id})"><i class="fa fa-file"></i> Approve Request For Funds Letter </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li> <a aria-disabled="True" class="btn-disabled " href="#"><i class="icon-check"></i>  Approval </a></li>
                                        }
                                    }

                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>