﻿@model CCTPMIS.Models.Payment.RequestForFunds

@{
    ViewBag.Title = "INTERNAL MEMO";
    Layout = "../../../../Views/Shared/_LayoutDocument.cshtml";
    var Names = string.Join(",", Model.FundsRequest.FundsRequestDetails.Select(x => x.Programme).Select(c => c.Name).Distinct());
   var i= 1;
}
<style>
</style>
<hr />
<table class="table table-head">
    <tbody>
        <tr>
            <th>To: </th>
            <td>Principal Secretary</td>
        </tr>
        <tr>
            <th>Thro':</th>
            <td>Chief Finance Officer</td>
        </tr>
        <tr>
            <th>From:</th>
            <td> Head Of Social Assistance Unit </td>
        </tr>
        <tr>
            <th>Ref.:</th>
            <td> SAU/ </td>
        </tr>
        <tr>
            <th>Date:</th>
            <td> @DateTime.Now.ToString("dd MMMM,yyyy") </td>
        </tr>
    </tbody>
</table>
<hr />
<table class="table table-head">
    <tbody>
        <tr>
            <th>Subject:</th>
            <th> REQUEST FOR FUNDS FOR PAYMENT OF CONSOLIDATED SOCIAL ASSISTANCE PROGRAMMES FOR THE @Model.FundsRequest.PaymentCycle.CycleName.ToUpper() PAYMENT CYCLE </th>
        </tr>
    </tbody>
</table>

<p>
    The <strong>@Model.FundsRequest.PaymentCycle.CycleName.ToUpper()  CYCLE </strong>  for Beneficiaries Under the <strong>@Names </strong> is due in @Model.FundsRequest.PaymentCycle.ToMonth.Description
</p>
<p>
    The Social Assistance Unit plans to effect the Payment of  <strong>@Model.FundsRequest.FundsRequestDetails.Sum(x => x.PayrollHhs).ToString("##,###") Households (HH) </strong>
</p>
<p>
    The requirements of the <strong>@Names</strong> are as detailed in the table Below.
</p>

<table class="table table-condensed table-striped  table-fundstable table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Programme</th>
            <th>Source</th>
            <th>PSP</th>
            <th>No. Of HHs</th>
            <th>Amount</th>
            <th>Commission</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReqForFundsVMs.OrderBy(x=>x.PSP))
        {
            <tr>
                <td>@i</td>
                <td>@item.Programme</td>
                <td>GOK</td>
                <td>@item.PSP</td>
                <td class="text-right">@item.NoOfHouseholds.ToString("##,#####")</td>
                <td class="text-right">@item.Amount.ToString("##,#####.00")</td>
                <td class="text-right">@item.Commission.ToString("##,#####.00")</td>
                <td class="text-right">@item.Total.ToString("##,#####.00")</td>
            </tr>
     i = i+1;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4"> TOTAL:</th>
            <th class="text-right">@Model.ReqForFundsVMs.Sum(x => x.NoOfHouseholds).ToString("##,###")</th>
            <th class="text-right">@Model.ReqForFundsVMs.Sum(x => x.Amount).ToString("##,###.00")</th>
            <th class="text-right">@Model.ReqForFundsVMs.Sum(x => x.Commission).ToString("##,###.00")</th>
            <th class="text-right">@Model.ReqForFundsVMs.Sum(x => x.Total).ToString("##,###.00")</th>
        </tr>
    </tfoot>
</table>
<p>
    <br />
    <br />
    This is therefore to request for your authority to process exchequer requisition and thereafter transfer KES @Model.ReqForFundsVMs.Sum(x => x.Total).ToString("##,###.00") to the aforementioned banks for disbursement.
</p>

<p>

    <br />

    _____________________________________________________________
</p>
<p>
    <strong> </strong>
    <br />
    <strong><em>HEAD, SOCIAL ASSISTANCE UNIT (SAU)</em></strong>
</p>