﻿@model CCTPMIS.Business.Model.PaymentCycle

@{
    ViewBag.Title = "Generate Funds Request";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p> Are you sure you want to Generate Funds Request ?</p>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th> Year </th>
                        <td> @Model.FinancialYear.Description  </td>
                    </tr>
                    <tr>
                        <th> Period </th>
                        <td> @Model.FromMonth.Description -  @Model.ToMonth.Description  </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Programme</th>
                        <th>Payment Stage</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PaymentCycleDetails)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Programme.Name) </td>
                            <td> @Html.DisplayFor(modelItem => item.PaymentStage.Description) </td>
                            <td> @Html.DisplayFor(modelItem => item.Programme.IsActive) </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm(null, null, new { id = ViewContext.RouteData.Values["id"] }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Run </button>
            </div>
        </div>

    }

    @section scripts
            {
        <script type="text/javascript">
            $(document).on("submit",
                "form",
                function (e) {
                    $(this).find("button[type='submit']").each(function () {
                        $(this).addClass("disabled");
                    });
                    $("#progress").removeClass("hidden");
                });
        </script>
    }
</div>