﻿@model CCTPMIS.Business.Model.HouseholdEnrolmentPlan

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-hover">

            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Id)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.ProgrammeId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Programme.Name)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RegGroupId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.RegGroup.Description)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.EnrolmentGroupId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.EnrolmentGroup.Description)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EnrolmentNumbers)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.EnrolmentNumbers)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.BeneHhs)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.BeneHhs)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpPlanEqualShare)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ExpPlanEqualShare)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpPlanPovertyPrioritized)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ExpPlanEqualShare)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EnrolledHH)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.EnrolledHH)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.MaxToEnrol)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.MaxToEnrol)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedByUser.DisplayName)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApvBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ApvByUser.DisplayName)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.ApvOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ApvOn)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>