﻿@model CCTPMIS.Business.Model.HouseholdEnrolmentPlan

@Html.Partial("_EnrolmentPlanData", Model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("Index")" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
                    </div>
                </div>
        </div>
    </div>

}