﻿@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.HouseholdEnrolmentPlan>

@{
    ViewBag.Title = "Enrolments";
}

<div class="row">
    <div class="col-md-12">
        <div class="m-b-10 pull-right ">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-asterisk"></i>   Reports <span class="caret"></span>
                </button>
                <ul class="dropdown-menu  dropdown-menu-right">
                    <li><a class="   " href="@Url.Action("Summary", new { })"><i class="fa fa-newspaper-o"></i> Enrolment Progress Summary </a></li>
                    @*<li><a class="   " href="@Url.Action("Export", new {  })"><i class="fa fa-cloud-download"></i> Download Individual Reports </a></li>*@
                </ul>
            </div>
            @if (Model.Count(x => x.Status.Code == "PROGSHAREPSP") > 0)
            {
                <a class="btn  modal-link btn-success" href="@Url.Action("ShareWithPsp")"><i class="fa fa-share"></i> Share with PSPs</a>
            }
            <a href="@Url.Action("Create")" class="btn   btn-primary"><i class="fa fa-plus"></i> New Enroll </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table  table-striped table-bordered  table-hover">
            <thead>
                <tr>
                    <th> #  </th>
                    <th> Programme  </th>
                    <th>  Enrolment Group  </th>
                    <th> Registration Group  </th>
                    <th>  Enrolment Numbers by Programme   </th>
                    <th> Status </th>
                    <th>   </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>#@item.Id</td>
                        <td>@item.Programme.Name</td>
                        <td>@item.EnrolmentGroup.Description</td>
                        <td>@item.RegGroup.Description</td>
                        <td>@item.EnrolmentNumbers</td>
                        <td>@item.Status.Description</td>
                        <td>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ACTIONS <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu  dropdown-menu-right">
                                    <li><a class="   " href="@Url.Action("Details", new { id=item.Id })"><i class="fa fa-eye"></i> Details </a></li>
                                    <li><a class="   " href="@Url.Action("Report", new { id = item.Id })"><i class="fa fa-eye"></i> Enrolment Updates </a></li>
                                    <li><a class="   " href="@Url.Action("Export", new { id = item.Id })"><i class="fa fa-th-list"></i> Download Progress  Reports </a></li>
                                    @if (item.FileCreationId != null)
                                    {
                                        <li> <a href="@Url.Action("Verify", new { id = item.FileCreationId })"><i class="fa fa-cloud-download"></i> Download Enrolment File </a></li>

                                    }

                                    @if (item.Status.Code == "PROGENROLAPV")
                                    {
                                        if (item.CreatedBy == int.Parse(User.Identity.GetUserId()))
                                        {
                                            <li> <a aria-disabled="True" class="btn-disabled " href="#"><i class="icon-check"></i>  Approve </a></li>
                                        }
                                        else
                                        {
                                            <li> <a href="@Url.Action("Approve", new { id = item.Id })"><i class="icon-check"></i> Approve </a></li>

                                        }
                                        <li> <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-paste"></i>Edit </a></li>
                                        @*<li> <a href="@Url.Action("Reject", new { id = item.Id })"><i class="icon-trash"></i> Reject </a></li>*@
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, DivisionId = Request["DivisionId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>