﻿@using System.Collections
@using CCTPMIS.Models.Enrolment
@model System.Collections.IEnumerable

@{
    ViewBag.Title = "Enrolment Progress";
}

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {

            foreach (var subitem in (IEnumerable)item)
            {
                if (subitem is EnrolmentProgress)
                {
                    var x = (EnrolmentProgress)subitem;

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed table-bordered table-striped table-hover">

                                <tbody>
                                    <tr>

                                        <th>
                                            @Html.DisplayNameFor(model => x.Programme)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => x.Programme)
                                        </td>
                                        <th>
                                            @Html.DisplayNameFor(model => x.Status)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => x.Status)
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => x.RegGroup)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => x.RegGroup)
                                        </td>
                                        <th>
                                            @Html.DisplayNameFor(model => x.RegGroupHhs)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => x.RegGroupHhs)
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => x.EnrolmentNumbers)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => x.EnrolmentNumbers)
                                        </td>

                                        <td></td>
                                        <td></td>
                                        @*<th>
                                                @Html.DisplayNameFor(model => x.BeneHhs)
                                            </th>

                                            <td>
                                                @Html.DisplayFor(model => x.BeneHhs)
                                            </td>*@
                                    </tr>
                                    @*<tr>
                                            <th>
                                                @Html.DisplayNameFor(model => x.ExpPlanEqualShare)
                                            </th>

                                            <td>
                                                @Html.DisplayFor(model => x.ExpPlanEqualShare)
                                            </td>
                                            <th>
                                                @Html.DisplayNameFor(model => x.ExpPlanPovertyPrioritized)
                                            </th>

                                            <td>
                                                @Html.DisplayFor(model => x.ExpPlanPovertyPrioritized)
                                            </td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>

                }

            }

            if (item is BankEnrolmentProgress || item is IEnumerable<BankEnrolmentProgress>)
            {

                int? accounts = 0;
                int? carded = 0;

                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>PSP</th>
                            <th> Account Opened</th>
                            <th> Carded HHs</th>
                            <th> Not Carded</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subitem in (IEnumerable)item)
                        {
                            if (subitem is BankEnrolmentProgress)
                            {
                                var x = (BankEnrolmentProgress)subitem;

                                accounts += x.AccountOpenedHhs;
                                carded += x.CardedHhs;

                                <tr>
                                    <td>@x.Psp</td>
                                    <td>@x.AccountOpenedHhs</td>
                                    <td>@x.CardedHhs</td>
                                    <td>@(x.AccountOpenedHhs - x.CardedHhs)</td>
                                </tr>
                            }

                        }

                    <tfoot>
                        <tr>
                            <th>TOTAL</th>
                            <th>@accounts</th>
                            <th> @carded </th>
                            <th> @(accounts - carded )</th>
                        </tr>
                    </tfoot>
                </table>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("Index")" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
            </div>
        </div>
    </div>
</div>