﻿@model CCTPMIS.Models.Enrolment.ResendEnrolmentFileViewModel

@{
    ViewBag.Title = "ReSharing Enrolment File with PSPs";
    Layout = "../../Views/Shared/_LayoutModal.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.FileName)
    @Html.HiddenFor(model => model.UserId)

<div class="modal-body">

    <input type="hidden" id="id" value="0" name="id" />

    <p>
         	Are you sure you want to share the specified file Enrolment File #@Model.Id (@Model.FileName) with PSP's?
    </p>
    <p>
       	By clicking share, the file will be shared with  all the PSPs with active accounts
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-success">Share </button>
</div>

}