﻿@model dynamic

@{
    ViewBag.Title = "	Sharing Enrolment File with PSP's";
    Layout = "../../Views/Shared/_LayoutModal.cshtml";
}

@using (Html.BeginForm())
{@Html.AntiForgeryToken()
<div class="modal-body">

    <input type="hidden" id="id" value="0" name="id" />

    <p>
         	Are you sure you want to share the specified Enrolment File with PSP's?
    </p>
    <p>
       	By clicking share, the file will be shared with specified PSP with active accounts
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-success">Share </button>
</div>

}