﻿@model CCTPMIS.Business.Model.PspBranch

@{
    ViewBag.Title = "Bank Details";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommonDetails", Model)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="@Url.Action("Index", "Branches", new {  })" class="btn btn-info"> Back </a>
            <a href="@Url.Action("Edit", "Branches", new { id = Model.Id })" class="btn btn-danger"> Edit </a>
        </div>
    </div>
</div>