﻿@model CCTPMIS.Business.Model.PspBranch

@{
    ViewBag.Title = "Bank Branch - Edit";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.PspId)
                @Html.HiddenFor(model => model.SubLocationId)
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                @*<div class="form-group">
                    @Html.LabelFor(model => model.SubLocationId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("SubLocationId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubLocationId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.Code, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control required " } })
                        @Html.ValidationMessageFor(model => model.Latitude, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.Longitude, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.CreatedOn)
                @Html.HiddenFor(model => model.ModifiedBy)
                @Html.HiddenFor(model => model.ModifiedOn)
                @Html.HiddenFor(model => model.CreatedBy)

                <div class="form-group">
                    <div class=" col-md-12">
                        <a href="@Url.Action("Index")" class="btn btn-primary"><i class=" fa fa-arrow-circle-left"></i> Back </a>
                        <button type="submit" value="Create" class="btn btn-success"> <i class="fa fa-send"></i> Update Branch </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>