﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.PspBranch>

@{
    ViewBag.Title = "My  Branches";
}

<div class="row">
    <div class="col-md-12">
        <div class="m-tb-10 pull-right">
            @*<a href="@Url.Action("BulkUpload")" class="btn     btn-danger"><i class="fa fa-cloud-upload"></i> Bulk Upload </a>*@
            <a href="@Url.Action("Create")" class="btn    btn-primary"><i class="fa fa-plus"></i>  Create New</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered ">
            <tr>
                <th>
                    Psp
                </th>
                <th>
                    Code
                </th>
                <th>
                    Name
                </th>
                <th>
                    Is Active
                </th>
                <th>
                    Geo Cordinate
                </th>
                <th>
                    Sub Location
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Psp.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @if (item.Longitude != null)
                        {
                            <span>
                                [ @Html.DisplayFor(modelItem => item.Latitude), @Html.DisplayFor(modelItem => item.Longitude) ]
                            </span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubLocation.Name)
                    </td>
                    <td>
                        <a class="btn btn-success btn-xs" href="@Url.Action("Details", new { id = item.Id })">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { id = item.Id })">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, DistrictId = Request["DistrictId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>