﻿@{
    ViewBag.Title = "PSP is Not Configured";
}

<div class="row">
    <div class="col-md-12">
        <h3> The Bank Details are not yet Set Up </h3>
    </div>
    <div class="col-md-12">
        <p>
            The Bank Details are not yet Set Up. Contact the Programme for more information.
        </p>
    </div>
</div>