﻿@model PagedList.IPagedList<CCTPMIS.Business.Model.Division>
@using PagedList.Mvc

@{
    ViewBag.Title = "Divisions";
}

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label(" Filter by District", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">

                            @Html.DropDownList("CdId", null, "Select District ", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.Partial("Common/_Filter")
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @*<div class="col-md-6">
        <div class="pull-right">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>*@
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    District
                </th>
                <th>
                    County
                </th>
                <th>
                    Division Name
                </th>
                <th>
                    Division  Code
                </th>
                @*<th>
                    Created On
                </th>
                <th>
                    Modified By
                </th>
                <th>
                    Modified On
                </th>
                <th>
                    Created By
                </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountyDistrict.District.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountyDistrict.County.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.FirstName)
                    </td>*@
                    <td>
                        @Html.Partial("Common/_GridDIcons", item.Id)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, DistrictId = Request["DistrictId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>