﻿@model IEnumerable<CCTPMIS.Business.Model.ModuleRight>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="pull-right m-tb-10">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Module.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SystemCodeDetail.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Module.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SystemCodeDetail.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>