﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Registration.HHListingClosureVm

@{
    ViewBag.Title = "Finalize and Close Household Listing Exercise";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want  Finalize and Close <strong> @Model.TargetPlan.Name </strong>Household Listing  Exercise?
            </p>
        </div>

        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Programme </th>
                        <th> Potential Beneficary Households </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Summary)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.ProgrammeName)</td>
                            <td> @Html.DisplayFor(modelItem => item.BeneficiaryHousehold)</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-12  ">
            <div class="info">
                <p class="text-red">
                    Kindly note the following
                </p>

                <ul class="text-red">
                    <li>The Households in the Universal Programmes will be availed ready for Enrolment </li>
                    <li>The Households in Targeted Programmes will be ready for Registration </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>

                        <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    }
    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>