﻿@model CCTPMIS.Models.Registration.ComValSummaryVm

@{
    ViewBag.Title = "Household Listing Closure ";

}

<div class="row">
    <div class="col-md-12 animatedParent animateOnce z-index-49">
        <table class="table   table-users table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Name) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Name)
                    </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Description) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Description)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Start) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Start)
                    </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.End) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.End)
                    </td>
                </tr>

                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.StatusId) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Status.Description)
                    </td>
                    <th> Associated Programmes </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ListingPlanProgrammes.Count)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedByUser.DisplayName)  </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedOn)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedByUser.DisplayName)  </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedOn)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvByUser.DisplayName)  </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvOn)</td>
                </tr>

                <tr>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.FinalizeBy) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.FinalizeByUser.DisplayName)</td>

                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.FinalizeOn)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.FinalizeOn)  </td>
                </tr>
                <tr>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.FinalizeApvBy) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.FinalizeApvByUser.DisplayName)</td>

                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.FinalizeApvOn)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.FinalizeApvOn)  </td>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ExceptionByUser.DisplayName)  </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ExceptionOn)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ValByUser.DisplayName)  </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ValOn)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionsFileId)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ExceptionsFile.Name)  </td>

                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValidationFileId)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ValidationFile.Name)  </td>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValApvBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ValApvByUser.DisplayName)  </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValApvOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ValApvOn)</td>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedByUser.DisplayName)  </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedOn)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 animatedParent animateOnce z-index-50">
        <table class="table table-users table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th> Programme </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.TargetPlan.ListingPlanProgrammes)

                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Programme.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12 animatedParent animateOnce z-index-50">
                <div class="panel minimal panel-default animated fadeInUp go">
                    <div class="panel-heading clearfix">
                        <div class="panel-title">Household Listings</div>
                    </div>
                    <div class="panel-body">
                        <div class="row col-with-divider">
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.CvalHH)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.CvalHH)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.ConfirmedHH)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.ConfirmedHH)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.AmendedHH)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.AmendedHH)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetComValSummaryVm.ExitedHH)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetComValSummaryVm.ExitedHH)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.TargetPlan.PostRegExceptionsFileId != null)
            {
                <div class="col-md-12 animatedParent animateOnce z-index-49">

                    <div class="panel panel-default animated fadeInUp go">
                        <div class="panel-heading clearfix">
                            <div class="panel-title">
                                Post Household Listing Exception.
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="speed-analyzer">
                                <div class="speed-score">
                                    <strong class="score">

                                        <a href="@Url.Action("Verify", "Services", new {area = "", id = Model.TargetPlan.PostRegExceptionsFileId})">
                                            <i class="fa fa-cloud-download"></i>
                                        </a>
                                    </strong>
                                    @*<span class="uppercase"> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.PostRegExceptionsFileId)</span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>