﻿
@{
    ViewBag.Title = "CONSOLIDATED CASH TRANSFER PROGRAMME MANAGEMENT INFORMATION SYSTEM (CCTP – MIS) APPLICATION PROGRAMMING INTERFACE (API)";
}


<p> &nbsp;</p><p> &nbsp;</p><p> &nbsp;</p>
<p> &nbsp;</p><p> &nbsp;</p>
<h1 class="text-center">@ViewBag.Title</h1>