﻿<div class="col-md-12">
    <a href="@Url.Action("Index")" class="btn btn-sm pull-left btn-primary">
        <i class="fa fa-navicon"></i> Back to List
    </a>
    <input type="submit" value="Delete" onclick="return confirm('Are you sure you wish to delete this article?');" class="btn btn-sm pull-right btn-primary" />
</div>