﻿@model dynamic

    <div class="  col-md-12">
        <a href="@Url.Action("Index")" class="btn   btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to List</a>

        @*<a href="@Url.Action("Edit", new { @id = Model })" class="btn btn-primary "><i class="fa fa-edit"></i> Edit </a>
            <a href="@Url.Action("Delete", new { @id = Model })" class="btn btn-danger "><i class="fa fa-trash-o"></i> Delete</a>*@
    </div>