﻿<div class="  col-md-12">
    <a href="@Url.Action("Index")" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
    <button type="submit" value="Save" class="btn  btn-success" > <i class="fa fa-save"></i> Update </button>
</div>