﻿@model dynamic

    <a class="btn btn-success btn-xs" data-placement="top" title="View Details" href="@Url.Action("Details", new { id = Model })"><i class="fa fa-eye"></i></a>
    <a class="btn btn-primary btn-xs" data-placement="top" title="Edit" href="@Url.Action("Edit", new { id = Model })"><i class="fa fa-edit"></i></a>
    <a class="btn btn-danger btn-xs" data-placement="top" title="Delete" href="@Url.Action("Delete", new { id = Model })"><i class="fa fa-trash-o"></i></a>