﻿@model CCTPMIS.Business.Model.Programme

@{
    ViewBag.Title = "Create a Programme";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BeneProgNoPrefix, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.BeneProgNoPrefix, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BeneProgNoPrefix, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BeneficiaryTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("BeneficiaryTypeId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.BeneficiaryTypeId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.PriReciCanReceivePayment)
                                    @Html.ValidationMessageFor(model => model.PriReciCanReceivePayment, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.PriReciCanReceivePayment, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EntitlementAmount, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.EntitlementAmount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EntitlementAmount, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PrimaryRecipientId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("PrimaryRecipientId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.PrimaryRecipientId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SecondaryRecipientId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("SecondaryRecipientId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.SecondaryRecipientId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentFrequencyId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("PaymentFrequencyId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.PaymentFrequencyId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.SecondaryRecipientMandatory)
                                    @Html.ValidationMessageFor(model => model.SecondaryRecipientMandatory, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.SecondaryRecipientMandatory, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>

                        @Html.HiddenFor(model => model.ModifiedOn)
                        @Html.HiddenFor(model => model.ModifiedBy)
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Partial("Common/_CreateFooter")
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>