﻿@model CCTPMIS.Business.Model.Programme

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeneficiaryType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentFrequencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentFrequency.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryRecipientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryRecipient.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryRecipientMandatory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryRecipientMandatory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>