﻿@model CCTPMIS.Business.Model.Programme

@{
    ViewBag.Title = "Programme Details";
}

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped table-condensed">
            <tbody>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Code)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IsActive)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.EntitlementAmount)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.EntitlementAmount)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BeneficiaryTypeId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.BeneficiaryType.Description)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.PrimaryRecipientId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.PrimaryRecipient.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SecondaryRecipientId)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.SecondaryRecipient.Description)
                    </td>

                    <th>
                    </th>

                    <td></td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SecondaryRecipientMandatory)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.SecondaryRecipientMandatory)
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedByUser.DisplayName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="  col-md-12">
    <a href="@Url.Action("Index")" class="btn btn-sm  btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to List</a>

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit </a>
</div>