﻿@model CCTPMIS.Business.Model.ProgrammeOfficer

@{
    ViewBag.Title = "Approve a Programme Officer";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p> Are you sure you want to Approve Programme Officer User</p>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">

                <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.UserId)   </th>
                    <td>  @Html.DisplayFor(modelItem => Model.User.FullName)  </td>
                </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.User.StaffNo)   </th>
                        <td>  @Html.DisplayFor(modelItem => Model.User.StaffNo)  </td>
                    </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.User.NationalIdNo)   </th>
                    <td>  @Html.DisplayFor(modelItem => Model.User.NationalIdNo)  </td>
                </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => Model.CountyId)  </th>
                        <td>  @Html.DisplayFor(modelItem => Model.County.Name) </td>
                    </tr>
                    @if (Model.ConstituencyId != null)
                    {
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.ConstituencyId) </th>
                            <td>  @Html.DisplayFor(modelItem => Model.Constituency.Name) </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <p>
                <strong>
                    Please note that this action can not be undone!
                </strong>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Approve </button>
                    </div>
                </div>
            </div>
        </div>

    }

    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>