﻿@model CCTPMIS.Business.Model.ProgrammeOfficer

@{
    ViewBag.Title = "Assign User Programme Officer";

}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("UserId", null, "-- Select User  --", htmlAttributes: new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.UserId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("CountyId", null, "-- Select County --", htmlAttributes: new { @class = "form-control filter" })

                                @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("ConstituencyId", null, "-- Select Constituency --", htmlAttributes: new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Partial("Common/_CreateFooter")
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).on("change", "#UserId",
            function (e) {
                var working = "<span id ='spin' ><i class='fa fa-spinner fa-spin fa-3x fa-fw'></i></span>";

                if ($(this).val() !== "") {
                    $.ajax({
                        url: "/Data/GetUserRole/" + $(this).val(),
                        dataType: "json",
                        crossDomain: true,

                        beforeSend: function () {
                            $(this).parent().append(working);
                        },
                        success: function (json) {
                            var role;
                            var data = json;

                            $.each(data, function (index, value) {
                                role = value.Role;
                            });


                            if (role === 'CC') {
                                $("#ConstituencyId").removeClass("required");
                                $("#ConstituencyId").parent().parent().addClass("hidden");
                            }

                            if (role === 'SCC')
                            {
                                $("#ConstituencyId").addClass("required");
                                $("#ConstituencyId").parent().parent().removeClass("hidden");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                        },

                        complete: function () {
                            $("#spin").remove();
                        }
                    });
                }
     });


    </script>
}