﻿@model CCTPMIS.Business.Model.ProgrammeOfficer

@{
    ViewBag.Title = "Assign User Programme Officer";

}

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.User.FullName) </th>
                            <td> @Html.DisplayFor(model => model.User.FullName) </td>

                            <th> @Html.DisplayNameFor(model => model.User.Email) </th>
                            <td> @Html.DisplayFor(model => model.User.Email) @Html.DisplayFor(model => model.User.EmailConfirmed) </td>

                            <th> @Html.DisplayNameFor(model => model.User.PhoneNumber) </th>
                            <td> @Html.DisplayFor(model => model.User.PhoneNumber) @Html.DisplayFor(model => model.User.PhoneNumberConfirmed) </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.CreatedOn) </th>
                            <td> @Html.DisplayFor(model => model.CreatedOn) </td>

                            <th> @Html.DisplayNameFor(model => model.User.LoginDate) </th>
                            <td> @Html.DisplayFor(model => model.User.LoginDate) </td>

                            <th> @Html.DisplayNameFor(model => model.User.ActivityDate) </th>
                            <td> @Html.DisplayFor(model => model.User.ActivityDate) </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.User.LockoutEnabled) </th>
                            <td> @Html.DisplayFor(model => model.User.LockoutEnabled) </td>

                            <th> @Html.DisplayNameFor(model => model.User.LockoutEndDateUtc) </th>
                            <td> @Html.DisplayFor(model => model.User.LockoutEndDateUtc) </td>

                            <th> @Html.DisplayNameFor(model => model.User.PasswordChangeDate) </th>
                            <td> @Html.DisplayFor(model => model.User.PasswordChangeDate) </td>
                        </tr>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.User.IsActive) </th>
                            <td> @Html.DisplayFor(model => model.User.IsActive) </td>

                            <th> @Html.DisplayNameFor(model => model.User.AccessFailedCount) </th>
                            <td> @Html.DisplayFor(model => model.User.AccessFailedCount) </td>

                            <td> @Html.DisplayNameFor(model => model.User.TwoFactorEnabled) </td>
                            <th> @Html.DisplayFor(model => model.User.TwoFactorEnabled) </th>
                        </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(model => model.User.UserGroupId) </th>
                        <td> @Html.DisplayFor(model => model.User.UserGroup.Name) </td>

                        <th> </th>
                        <td> </td>

                        <td> </td>
                        <th> </th>
                    </tr>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.ConstituencyId)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Constituency.Name)
                        </td>

                        <th>
                            @Html.DisplayNameFor(modelItem => Model.StatusId)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Status.Code)
                        </td>

                        <td> </td>
                        <th> </th>
                    </tr>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.User.StaffNo)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.User.StaffNo)
                        </td>

                        <th>
                            @Html.DisplayNameFor(modelItem => Model.User.NationalIdNo)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.User.NationalIdNo)
                        </td>

                        <td> </td>
                        <th> </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

<div class="row">
    <div class="col-md-12">
            <a href="@Url.Action("Index")" class="btn     btn-primary">
                <i class="fa fa-arrow-circle-left"></i> Back to List
            </a>
    </div>
</div>