﻿@model CCTPMIS.Business.Model.ProgrammeOfficer

@{
    ViewBag.Title = "Assign User Programme Officer";

}

<table class="table table-condensed table-striped table-hover">

    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.UserId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.User.FullName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.User.StaffNo)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.User.StaffNo)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.User.NationalIdNo)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.User.NationalIdNo)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.CountyId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.County.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.ConstituencyId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.Constituency.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.StatusId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.Status.Code)
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.CreatedOn)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.ModifiedOn)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.ModifiedBy)
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("CountyId", null, "-- Select County --", htmlAttributes: new { @class = "form-control required filter " })

                                @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("ConstituencyId", null, "-- Select Constituency --", htmlAttributes: new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Partial("Common/_EditFooter", Model.Id)
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>