﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model CCTPMIS.Models.Users.ProgrammeOfficersListViewModel

@{
    ViewBag.Title = "Programme Officers";

    var canView = User.UserGroupHasRight("PROGRAMME-OFFICERS:VIEW");
    var canCreate = User.UserGroupHasRight("PROGRAMME-OFFICERS:ENTRY");
    var canModify = User.UserGroupHasRight("PROGRAMME-OFFICERS:MODIFIER");
    var canDeactivate = User.UserGroupHasRight("PROGRAMME-OFFICERS:DEACTIVATION");
    var canApprove = User.UserGroupHasRight("PROGRAMME-OFFICERS:APPROVAL");
}

@using (Html.BeginForm(null, null, FormMethod.Get))
{

    <p class="panel-title"> Filter  @ViewBag.Title </p>

    <hr>
    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Officer Name", name = "Name" } })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownList("County", null, "--All Counties--", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownList("Constituency", null, "--Constituencies--", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button type="submit" class="btn    btn-success"> <i class="fa fa-filter"></i> Filter </button>
                @if (canCreate)
                {
                    @Html.Partial("Common/_AddButton")
                }
            </div>
        </div>
    </div>
    <hr>
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped">
            <tbody>
                <tr>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Staff No.
                    </th>
                    <th>
                        ID No.
                    </th>
                    <th>
                        County
                    </th>
                    <th>
                        Sub County
                    </th>
                    <th>
                        Status
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.Officers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.StaffNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.NationalIdNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Code)
                        </td>

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Actions</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu  dropdown-menu-right">
                                    @if (canView)
                                    {
                                        <li><a class="" href="@Url.Action("Details", new {id = item.Id})"> View </a></li>
                                    }
                                    @if (canModify)
                                    {
                                        <li><a class="" href="@Url.Action("Edit", new {id = item.Id})"> Edit </a></li>
                                    }
                                    @if (canApprove)
                                    {
                                        <li><a class="modal-link" href="@Url.Action("Approve", new {  id = item.Id })"> Approve </a></li>
                                    }
                                    @if (canDeactivate)
                                    {
                                        <li><a class="modal-link" href="@Url.Action("Deactivate", new { id=item.Id })"> Deactivate  </a></li>
                                    }
                                    @if (canApprove)
                                    {
                                        <li><a class="modal-link" href="@Url.Action("DeactivateApprove", new {  id = item.Id })">  Approve Deactivation </a></li>
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.Officers, page => Url.Action("Index", new { page, constituency = Request["constituency"], name = Request["name"], county = Request["county"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.Officers.PageCount < Model.Officers.PageNumber ? 0 : Model.Officers.PageNumber) of @Model.Officers.PageCount
        Showing @Model.Officers.Count of @Model.Officers.TotalItemCount
    </div>
</div>