﻿@model dynamic

@{
    ViewBag.Title = "Beneficiaries";

}

<div id="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_DashboardsMenu")
        </div>
    </div>
    <div class="row m-tb-30">
        <div class="col-md-12 ">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="filter-cont">
                        <div class="row">

                            <div class="col-md-3">
                                <label class="control-label">Indicator</label>
                                <select ng-change="refreshBeneficiaryData()" ng-model="indicator" id="indicator" class="form-control col-md-3">
                                    <option ng-repeat="item in indicators" ng-selected="item.Id==1" value="{{item.Id}}">{{item.Name}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Period</label>
                                <select id="reporting-period" ng-change="refreshBeneficiaryData()" ng-model="period" class="form-control col-md-3">
                                    <option ng-repeat="item in periods" ng-selected="$index==0" value="{{item.Id}}">{{item.Name}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">County</label>
                                <select ng-change="refreshBeneficiaryData()" ng-model="county" id="counties" class="form-control">
                                    <option value="All">All</option>
                                    <option ng-repeat="item in counties" value="{{item.Id}}">{{item.Name}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Programme</label>
                                <select ng-change="refreshBeneficiaryData()" ng-model="programme" id="programmes" class="form-control">
                                    <option value="All">All</option>
                                    <option ng-repeat="item in programmes" value="{{item.Id}}">{{item.Name}}</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="chart col-md-12" id="totals-barchart">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="chart col-md-12" id="totals-piechart">
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<input type="hidden" id="max" />
@section scripts
{

    <script type="text/javascript">
        $(document).ready(function () {

            var root = $('#RootUrl').val();



            showLoader();
            $.post(root + 'Beneficiaries/FirstChart')
                .done(function (data) {
                    hideLoader();
                    var scope = angular.element(document.querySelector('body')).scope();
                    scope.$apply(function (filter) {
                        scope.data = data;
                    //    scope.allBeneficiaries = data.Beneficiaries;
                        scope.indicators = data.Indicators;
                        scope.counties = data.Counties;
                        scope.programmes = data.Programmes;
                        scope.periods = data.Periods;
                        scope.period = scope.periods[0].Id;
                        
                        scope.itemsPerPage = 20;
                        scope.currentPage = 1;
                        $('#max').val(data.ScaleTotal);
                        setTimeout(function () {
                            BeneficiaryChats(data);
                        }, 10);

                    });

                })
                .fail(ajaxError);
        });

    </script>
}