﻿@using System.Web.Configuration
@using CCTPMIS.Business.Context
@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity

@{
    var userId = int.Parse(User.Identity.GetUserId());
    var db = new ApplicationDbContext();
    var user = User.GetUserSummary();

    <!DOCTYPE html>
    <html>
    <head>
        <title> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] : @ViewBag.Title </title>
        @Html.Partial("_Head")
        <style>
            .margin-top-25 {
                margin-top: 25px
            }

            hr {
                float: left;
                width: 100%;
            }
        </style>
    </head>
    <body>
        @Html.Partial("_HeaderStrip")
        <div class="page-container">
            <div class="page-sidebar">
                <header class="site-header">
                    <div class="sidebar-collapse hidden-xs">
                        <a class="sidebar-collapse-icon" href="#">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                    <div class="sidebar-mobile-menu visible-xs">
                        <a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </header>
                @Html.Partial("_Sidebar", user)
            </div>
            <div class="main-container">
                <div class="main-header row">
                    @Html.Partial("_Header", user)
                </div>
                <div class="main-content">
                    @if (TempData["MESSAGE"] != null)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-@TempData["KEY"] alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong></strong>
                                    @TempData["MESSAGE"]
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @Scripts.Render("~/bundles/plugins")
                    @Scripts.Render("~/bundles/jqueryval")
                    @*@Scripts.Render("~/bundles/signalr")*@
                    @*@Scripts.Render("~/signalr/hubs")*@
                    @Scripts.Render("~/bundles/cctpmis")
                    @RenderSection("scripts", required: false)
                    <script>
                        $(document).ready(function () {

                            $('.pagination a').on('click', function () {
                                var page = $.urlParam($(this).attr('href'), 'page');
                                if (page !== 0) {
                                    $('#pagination-page').val(page);
                                    $('.form-vertical.filter').trigger('submit');
                                }
                                return false;
                            });
                            $.urlParam = function (url, shows) {
                                var results = new RegExp('[\\?&]' + shows + '=([^&#]*)').exec(url);
                                if (!results) { return 0; } return results[1] || 0;
                            }
                        });
                    </script>
                </div>
                <footer class="animatedParent animateOnce z-index-10">
                    @Html.Partial("_Footer")
                    <link rel="stylesheet" href="/content/bootstrap-multiselect.css">
                    <script src="/scripts/bootstrap-multiselect.js"></script>
                    <script>

                        var JS_DATE_FORMAT = "DD-MM-YYYY";
                        var JS_TIME_FORMAT = "hh:mm a";
                        var LOCALE = "en";
                        var MONEY_NUM_DECIMALS = 2;
                        var IS_MOBILE = true;

                        $(function () {
                            $('.multi-select').multiselect({
                                includeSelectAllOption: true,
                                enableFiltering: true,
                                onChange: function (option, checked) {
                                },
                                buttonText: function (options) {
                                    if (options.length === 0) {
                                        return 'None selected';
                                    }
                                    else if (options.length > 0) {
                                        return options.length + ' selected';
                                    }
                                }

                            });
                            $('.single-select').multiselect({
                                includeSelectAllOption: false,
                                buttonText: function (options) {
                                    if (options.length === 0) {
                                        return 'None selected';
                                    }
                                    else if (options.length > 0) {
                                        return options.length + ' selected';
                                    }
                                }
                            });
                            $(document).on("change",
                                "#CountyId.multi-select",
                                function (e) {
                                    setTimeout(function () { $('#ConstituencyId.multi-select').multiselect('rebuild'); }, 3000);

                                });
                            $(document).on("change", "#DateRange", function (e) {
                                if ($("#DateRange option:selected").text() === 'Custom Date Range')
                                {

                                    $('#custom_range').removeClass('hidden');
                                }
                                else {

                                    $('#custom_range').addClass('hidden');
                                }
                                e.preventDefault();
                                e.stopPropagation();

                            });

                            $(document).on("change", "#DobDateRangeId", function (e) {
                                if ($("#DobDateRangeId option:selected").text() === 'Specific') {

                                    $('#custom_date_range').removeClass('hidden');
                                }
                                else {

                                    $('#custom_date_range').addClass('hidden');
                                }
                                e.preventDefault();
                                e.stopPropagation();

                            });

                        });
                    </script>
                </footer>
            </div>
        </div>
    </body>
</html>
}