﻿@model CCTPMIS.Models.CaseManagement.EFCViewModel

@{
    /**/

    ViewBag.Title = "Report new Error, Fraud and Corruption";
}

<div class="row">
    <div class="col-md-12 ">
        @using (Html.BeginForm("Create", "EfCs", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal new-complaint", role = "form" }))

        {
            @Html.AntiForgeryToken()
            <div class="row create-new">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h3 class="panel-title">1.   DETAILS </h3>
                            <div class="clearfix"></div>
                        </div>

                        <div class="panel-body">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @if (ViewBag.HasConstituencyId != null && (bool)ViewBag.HasConstituencyId)
                                            {
                                                @Html.HiddenFor(x => x.ConstituencyId, htmlAttributes: new { @Name = "ConstituencyId" })
                                                @Html.HiddenFor(x => x.CountyId, htmlAttributes: new { @Name = "CountyId" })
                                            }
                                            else
                                            {
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("CountyId", null, "Select", htmlAttributes: new { @class = (ViewBag.HasConstituencyId == true ? "form-control required" : "form-control   filter  required") })
                                                </div>

                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("ConstituencyId", null, "Select", htmlAttributes: new { @class = "form-control  required " })
                                                </div>

                                            }

                                            <div class="col-md-12">

                                                @Html.LabelFor(model => model.SourceId, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownList("SourceId", null, "Select", htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.SourceId, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">

                                                @Html.LabelFor(model => model.EFCTypeId, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownList("EFCTypeId", null, "Select", htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EFCTypeId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.SerialNo, htmlAttributes: new { @class = "control-label" })

                                                @Html.EditorFor(model => model.SerialNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SerialNo, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.ReceivedOn, htmlAttributes: new { @class = "control-label" })

                                                @Html.EditorFor(model => model.ReceivedOn, new { htmlAttributes = new { @class = "form-control ReceiveDate no-typing" } })

                                                @Html.ValidationMessageFor(model => model.ReceivedOn, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.ReceivedBy, htmlAttributes: new { @class = "control-label" })

                                                @Html.EditorFor(model => model.ReceivedBy, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ReceivedBy, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label" })

                                                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.Regards, htmlAttributes: new { @class = "control-label" })

                                                @Html.EditorFor(model => model.Regards, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Regards, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.ReportedByTypeId, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("ReportedByTypeId", null, "Select", htmlAttributes: new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.ReportedByTypeId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.ReportedByName, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ReportedByName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ReportedByName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.ReportedByIdNo, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ReportedByIdNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ReportedByIdNo, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.ReportedBySexId, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("ReportedBySexId", null, "Select", htmlAttributes: new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.ReportedBySexId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.ReportedByPhone, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ReportedByPhone, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ReportedByPhone, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label" })
                                                <input type="file" name="file" class="form-control" accept="application/pdf" />
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12 ">
                                                <p>&nbsp;</p>
                                                <button type="submit" class="btn btn-success pull-right">
                                                    <i class="glyphicon glyphicon-ok-sign"></i> Submit
                                                </button>
                                                <a href="@Url.Action("Index")" class="btn btn-danger pull-left" type="button">
                                                    <i class="glyphicon glyphicon-step-backward"></i> Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).on("change",
            "#ReportedByTypeId",
            function (e) {

                if ($("#ReportedByTypeId option:selected").text() === "ANONYMOUS") {
                    $(".reporter").addClass("hidden");
                } else {
                    $(".reporter").removeClass("hidden");
                }

                if ($("#ReportedByTypeId option:selected").text() === "BENEFICIARY") {
                    $("#ReportedByName").val($("#BeneName").val());
                    $("#ReportedBySexId").val($("#BeneSexId").val());
                    $("#ReportedByIdNo").val($("#BeneIdNo").val());
                    $("#ReportedByPhone").val($("#BenePhone").val());
                } else if ($("#ReportedByTypeId option:selected").text() === "CAREGIVER") {
                    $("#ReportedByName").val($("#CgName").val());
                    $("#ReportedBySexId").val($("#CgSexId").val());
                    $("#ReportedByIdNo").val($("#CgIdNo").val());
                    $("#ReportedByPhone").val($("#CgPhone").val());
                } else {
                    $("#ReportedByName").val("");
                    $("#ReportedBySexId").val("");
                    $("#ReportedByIdNo").val("");
                    $("#ReportedByPhone").val("");
                }
                e.preventDefault();
                e.stopPropagation();

            });
    </script>
}