﻿@model CCTPMIS.Business.Model.EFC

@{
    ViewBag.Title = $"Error, Fraud and Corruption  Details #{Model.Id}";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title  ">
                    Case Summary
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                    @if (Model.Status.Code != "Closed")
                    {
                        <div class="btn-group pull-right m-tb-10   ">
                            <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                @if (Model.Status.Code == "Open")
                                {
                                    <li><a class="modal-link" href="@Url.Action("FollowUp", new {id = Model.Id})">Follow Up</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="modal-link" href="@Url.Action("Close", new {id = Model.Id})">Close </a></li>
                                    <li role="separator" class="divider"></li>
                                }
                            </ul>
                        </div>
                    }
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered action-complaint-details">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <td><span>@Html.DisplayFor(model => model.Id) </span></td>

                                <th>@Html.DisplayNameFor(model => model.SerialNo)</th>
                                <td><span>@Html.DisplayFor(model => model.SerialNo) </span></td>
                            </tr>

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ConstituencyId)</th>
                                <td><span>@Html.DisplayFor(model => model.Constituency.Name)</span></td>

                                <th>@Html.DisplayNameFor(model => model.SourceId)</th>
                                <td><span>@Html.DisplayFor(model => model.Source.Description) </span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReportedByTypeId)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByType.Description)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ReportedByName)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByName)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReportedBySexId)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedBySex.Description)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ReportedByIdNo)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByIdNo)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReportedByPhone)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByPhone)</span></td>

                                <th>@Html.DisplayNameFor(model => model.EFCTypeId)</th>
                                <td><span>@Html.DisplayFor(model => model.EFCType.Description)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.StatusId)</th>
                                <td><span>@Html.DisplayFor(model => model.Status.Description)</span></td>

                                <th> </th>
                                <td><span> </span></td>
                            </tr>
                            <tr>

                                <th>@Html.DisplayNameFor(model => model.ReceivedBy)</th>
                                <td><span>@Html.DisplayFor(model => model.ReceivedBy)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ReportedDate)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedDate)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                                <td><span>@Html.DisplayFor(model => model.CreatedByUser.DisplayName)</span></td>

                                <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                                <td><span> @Html.DisplayFor(model => model.CreatedOn) </span></td>
                            </tr>
                            @if (Model.ModifiedBy != null)
                            {

                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ModifiedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ModifiedOn)</span></td>
                                </tr>
                            }
                            @if (Model.ApvBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ApvBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ApvByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ApvOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ApvOn)</span></td>
                                </tr>

                            }

                            @if (Model.ClosedBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ClosedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ClosedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ClosedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ClosedOn)</span></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">  History</h3>
                <div class="clearfix"></div>
            </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="timeline-basic">
                        @foreach (var item in Model.EFCNotes.OrderByDescending(x => x.Id))
                        {

                            <div class="timeline-entry animatedParent animateOnce z-index-@item.Id">
                                <div class="timeline-circle">&nbsp;</div>
                                <div class="timeline-panel animated fadeInUp">
                                    <div class="timeline-heading">
                                        <h2 class="timeline-title">@Html.DisplayFor(modelItem => item.Category.Description)</h2>
                                    </div>
                                    <div class="timeline-body">
                                        <p>@Html.DisplayFor(modelItem => item.Note) </p>
                                        <div class="meta-wrapper">
                                            <span class="meta-date"><i class="icon-calendar"></i>@item.CreatedOn.Value.ToString("D")</span>
                                            <span> | </span>  <span class="meta-comment"><i class="icon-user"></i>@Html.DisplayFor(modelItem => item.CreatedBy.FullName)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
            <div class="panel-heading">
                <h3 class="panel-title">   Documents </h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-users ">
                    <tbody>
                        <tr>
                            <th>Download</th>
                            <th>Category</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>FileName</th>
                            <th>Preview</th>
                        </tr>
                        @foreach (var item in Model.EFCDocuments)
                        {
                        <tr>
                            <td>
                                <a href="@Url.Action("Download", new {id = item.Id})" class="btn btn-sm btn-primary">
                                    <i class="fa fa-cloud-download"></i>
                                </a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Category.Code)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedBy.FullName)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileName)
                            </td>
                            <td align="center">
                                <a href="@Url.Action("Preview", new {id = item.Id})" target='_blank'>
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                        @if (!Model.EFCDocuments.Any())
                        {
                            <tr>
                                <td colspan="5">
                                    <p class="text-danger">
                                        No data found.
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>