﻿@using PagedList.Mvc
@model CCTPMIS.Models.CaseManagement.EFCListViewModel
@{
    ViewBag.Title = "Error, Fraud and Corruption";

}

@using (Html.BeginForm("Index", "EfCs", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter", role = "form" }))

{
    <div class=" col-md-10">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("StatusId", null, "Select", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.TypeId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("TypeId", null, "Select", htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("CountyId", null, " Select ", htmlAttributes: new { @class = "form-control filter" })
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ConstituencyId", null, " Select ", htmlAttributes: new { @class = "form-control filterSL" })
        </div>
    </div>

    <div class="col-md-2 m-b-10 ">
        <a href="@Url.Action("Create")" class="btn btn-sm  btn-block     btn-primary"><i class="fa fa-plus"></i> New EFC </a>

        <button type="submit" class="btn btn-success btn-block  btn-sm  ">
            <i class="glyphicon glyphicon-search"></i> Search
        </button>
        <button type="button" class="btn btn-default btn-sm  btn-block  btn-reset ">
            <i class="fa fa-eraser"></i> Clear
        </button>
        <input type="hidden" name="Page" id="pagination-page" value="1" />
    </div>

}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="table-filter" class="table   table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.ConstituencyId)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.EFC.SerialNo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.EFC.EFCTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.StatusId)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.EFC.ReceivedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EFC.Designation)
                        </th>
                        <th> </th>
                    </tr>

                    @foreach (var item in Model.EFCs)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.EFCType.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Description)
                        </td>

                        <td>
                            @Html.DisplayFor(model => item.ReceivedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Designation)
                        </td>
                        <td>
                            @Html.ActionLink("  View", "Details", new { id = item.Id }, new { @class = "fa fa-eye" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.EFCs, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.EFCs.PageCount < Model.EFCs.PageNumber ? 0 : Model.EFCs.PageNumber) of @Model.EFCs.PageCount
        Showing @Model.EFCs.Count of @Model.EFCs.TotalItemCount
    </div>
</div>