﻿@using CCTPMIS.Business.Statics
@model dynamic

@{
    ViewBag.Title = "Feedback, Error, Fraud and Corruption";

    var canViewEFC = User.UserGroupHasRight("EFC:VIEW");
    var canAddEFC = User.UserGroupHasRight("EFC:ENTRY");

}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> <i class="fa fa-warning"></i> @ViewBag.Title Anonymous Reporting </h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12 efc-info">
                <p class="">
                    Kindly report any Feedback, Error, Fraud and Corruption for in  all Social Protection Programmes
                </p>
                <p>
                    All supplied information will be treated confidentially and will only be accessible to the Top line Managers.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                @if (canAddEFC)
                {
                    <a href="@Url.Action("Create")" class="btn btn-success "> <i class="fa fa-plus"></i>  New EFC </a>
                }
            </div>
            <div class="col-sm-6">
                @if (canViewEFC)
                {<a href="@Url.Action("Index")" class="btn btn-info "> <i class="fa fa-eye"></i> View All  </a>
                }
            </div>
        </div>
    </div>
</div>