﻿@model CCTPMIS.Business.Model.ApplicationRole

@{
    ViewBag.Title = "Delete  System Role / Task";
}
<div class="row">
    <div class="col-md-12">
        <h2>Delete.</h2>
        <h3>Are you sure you want to delete this Role? </h3>
        <p>Deleting this Role will remove all users from this role. It will not delete the users.</p>
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-md-12">
                    <a href="@Url.Action("Index")" class="btn btn-sm pull-left btn-primary">
                        <i class="fa fa-navicon"></i> Back to List
                    </a>
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you wish to delete this role?');" class="btn btn-sm pull-right btn-primary" />
                </div>
            }
        </div>
    </div>
</div>