﻿<ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
        <a href="@Url.Action("Details",new {paymentcycle=Request["paymentcycle"], programme =Request["programme"], })">Payment Cycle Summary </a>
    </li>
    <li role="presentation">
        <a href="@Url.Action("Summary",new {paymentcycle=Request["paymentcycle"], programme =Request["programme"], })">  Pre-payroll Summary </a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Exceptions <span class="caret"></span></a>
        <ul class="dropdown-menu  dropdown-menu-right">
            <li role="presentation">
                <a href="@Url.Action("InvalidIdExceptions", new { paymentcycle=Request["paymentcycle"], programme =Request["programme"]})">Invalid  National IDs</a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("DuplicateIdExceptions", new { paymentcycle=Request["paymentcycle"], programme =Request["programme"]})">Duplicate National IDs</a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("IneligibleExceptions", new { paymentcycle=Request["paymentcycle"], programme =Request["programme"]})"> Ineligible Households / Individuals </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("InvalidAccExceptions", new { paymentcycle=Request["paymentcycle"], programme =Request["programme"]})">Invalid  Bank Accounts </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("InvalidCardExceptions", new { paymentcycle=Request["paymentcycle"], programme =Request["programme"]})">Invalid  Payment Cards </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("SuspiciousExceptions", new { paymentcycle=Request["paymentcycle"], programme =Request["programme"]})"> Suspicious Payments </a>
            </li>
        </ul>
    </li>
</ul>

@section scripts
{
    <script type="text/javascript">
    </script>

}