﻿@model  CCTPMIS.Models.Payment.PrepayrollAuditViewModel

<div class="row">
    <div class="col-md-12">
        @if (Model.ExceptionsFileId != null)
        {
            <label>
                <a class="btn   btn-primary" href="@Url.Action("Verify","Services", new{id = Model.ExceptionsFileId,verify=1, area=""})"> <i class="fa fa-cloud-download"></i> Download Exceptions File </a>
            </label>
        }
        @if (ViewBag.PaymentStageCode == "PREPAYROLLAPV")
        {
            <label>
                <a class="btn modal-link  btn-primary" href="@Url.Action("ApprovePrepayroll", new {paymentcycleId = Request["paymentcycle"], programmeId = Request["programme"]})"> <i class="fa fa-forward"></i> Approve </a>
            </label>
        }
        @if (ViewBag.PaymentStageCode == "PREPAYROLLDRAFT" || ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
        {
            if (Model.ExceptionsFileId == null)
            {
                <label>
                    <a class="btn btn-primary modal-link" href="@Url.Action("GenerateExceptionsFile", new {paymentcycleId = Request["paymentcycle"], programmeId = Request["programme"]})"><i class="fa fa-file"></i> Generate Exceptions File </a>
                </label>
            }

            if (Model.PayrollHasBeenActioned != 1)
            {
                <label>
                    <a class="btn btn-primary modal-link" href="@Url.Action("Run", new {id = Request["paymentcycle"] + '-' + Request["programme"]})"><i class="fa fa-paste"></i> Re-run Draft Pre-payroll </a>
                </label>
            }
            if (Model.ExceptionsFileId != null)
            {
                <label>
                    <a class="btn btn-success modal-link" href="@Url.Action("Final", new {paymentcycleId = Request["paymentcycle"], programmeId = Request["programme"]})"><i class="icon-check"></i> Finalize Pre-payroll </a>
                </label>
            }
        }
    </div>
</div>

<div class="row">

    <div class="col-md-12 no-margin">

        <div class="alert alert-danger">
            <strong> WARNING </strong>
            <p>
                Though Bulk Action has been Enabled for all the categories. Only Action those categories that are in line with the OM for each Programme.
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-users table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => Model.EnroledHhs)</th>
                    <td>@Html.DisplayFor(modelItem => Model.EnroledHhs)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => Model.EnrolmentGroupHhs)</th>
                    <td>@Html.DisplayFor(modelItem => Model.EnrolmentGroupHhs)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => Model.PayrollHhs)</th>
                    <td>@Html.DisplayFor(modelItem => Model.PayrollHhs)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-users table-bordered table-striped table-hover">
            <tbody>

                <tr>
                    <th>@Html.DisplayNameFor(modelItem => Model.PayrollEntitlementAmount)</th>
                    <td>@Html.DisplayFor(modelItem => Model.PayrollEntitlementAmount)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => Model.PayrollAdjustmentAmount)</th>
                    <td>@Html.DisplayFor(modelItem => Model.PayrollAdjustmentAmount)</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(modelItem => Model.PayrollAmount)</th>
                    <td>@Html.DisplayFor(modelItem => Model.PayrollAmount)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>