﻿@model CCTPMIS.Business.Model.PaymentCycleDetail

<table class="table  table-bordered table-striped table-hover">
    <tbody>
        <tr>
            <th>Programme </th>
            <td>@Model.Programme.Name</td>
            <th>Year </th>
            <td>@Model.PaymentCycle.FinancialYear.Description</td>
        </tr>
        <tr>
            <th> Start Month  </th>
            <td> @Html.DisplayFor(modelItem => Model.PaymentCycle.FromMonth.Description) </td>
            <th> End Month  </th>
            <td> @Html.DisplayFor(modelItem => Model.PaymentCycle.ToMonth.Description)</td>
        </tr>
        <tr>
            <th> Payrol Stage </th>
            <td> [@Html.DisplayFor(modelItem => Model.PaymentStage.Code) ] @Html.DisplayFor(modelItem => Model.PaymentStage.Description)</td>
            <th> Enrolled Households </th>
            <td>@Html.DisplayFor(modelItem => Model.EnrolledHHs)</td>
        </tr>

        <tr>
            <th>Created By </th>
            <td> @Html.DisplayFor(modelItem => Model.CreatedByUser.DisplayName)</td>
            <th>Created On </th>
            <td>@Html.DisplayFor(modelItem => Model.CreatedOn)</td>
        </tr>
        <tr>
            <th>Modified By </th>
            <td>@Html.DisplayFor(modelItem => Model.ModifiedByUser.DisplayName)</td>
            <th>Modified On </th>
            <td>@Html.DisplayFor(modelItem => Model.ModifiedOn)</td>
        </tr>
    <tr>

        <th>Approved By </th>
        <td>@Html.DisplayFor(modelItem => Model.ApvByUser.DisplayName)</td>

        <th>Approved On </th>
        <td>@Html.DisplayFor(modelItem => Model.ApvOn)</td>
    </tr>

    <tr>

        <th>Pre-Payroll  By </th>
        <td>@Html.DisplayFor(modelItem => Model.PrePayrollByUser.DisplayName)</td>

        <th>Pre-Payroll On </th>
        <td>@Html.DisplayFor(modelItem => Model.PrePayrollOn)</td>
    </tr>
    <tr>

        <th>Pre-Payroll Approved By </th>
        <td>@Html.DisplayFor(modelItem => Model.PrepayrollApvByUser.DisplayName)</td>

        <th>Pre-Payroll On </th>
        <td>@Html.DisplayFor(modelItem => Model.PrepayrollApvOn)</td>
    </tr>

    <tr>
            <td colspan="4">
                <p>
                    Description
                </p>
                <p>
                    @Html.DisplayFor(modelItem => Model.PaymentCycle.Description)
                </p>
            </td>
        </tr>
        @if (Model.FileCreationId != null)
        {

            <tr>
                <td colspan="4">
                    <p>
                        File
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => Model.FileCreation.Name)
                        <br />
                        <a class="btn btn-primary" href="@Url.Action("Download","Services",new {area=string.Empty, id = Model.FileCreationId })"><i class="fa fa-cloud-download"></i>  Download Supporting Document  @Html.DisplayFor(modelItem => Model.FileCreation.Name) </a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>