﻿@model  CCTPMIS.Models.Payment.PrepayrollAuditViewModel
<div class="row animatedParent animateOnce z-index-46">

<div class="col-lg-12 animated fadeInUp">

<div class="accordion" id="prepayroll">

<div class="panel accordion-group">
    <div class="accordion-heading">
        <h4 class="title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#InvalidNationalIDHhs">
                @Html.DisplayNameFor(model => model.InvalidNationalIDHhs)
            </a>
        </h4>
    </div>
    <div id="InvalidNationalIDHhs" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-bordered">
                <thead>
                <tr>

                    <th> Exception Type </th>
                    <th> Total Exceptions </th>
                    <th> Actioned </th>
                    <th class="size-80">actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.InvalidNationalIDHhs_BENE)</strong></td>
                    <td>@Html.DisplayFor(model => model.InvalidNationalIDHhs_BENE)</td>
                    <td>@Html.DisplayFor(model => model.ActionedInvalidNationalIDHhs_BENE)</td>
                    <td class="size-80">
                        @if (ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
                        {

                            if (Model.InvalidNationalIDHhs_BENE != 0 && Model.InvalidNationalIDHhs_BENE != Model.ActionedInvalidNationalIDHhs_BENE)
                            {
                                <label>
                                    <a class="btn btn-sm modal-link btn-primary" href="@Url.Action("BulkActioning", new {id = "INVALIDID", paymentcycle = Request["paymentcycle"], programme = Request["programme"]})"> Action </a>
                                </label>
                            }
                        }
                    </td>
                </tr>

                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.InvalidNationalIDHhs_CG)</strong></td>
                    <td>@Html.DisplayFor(model => model.InvalidNationalIDHhs_CG)</td>
                    <td>@Html.DisplayFor(model => model.ActionedInvalidNationalIDHhs_CG)</td>
                    <td class="size-80">
                        @if (ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
                        {

                            if (Model.InvalidNationalIDHhs_CG != 0 && Model.InvalidNationalIDHhs_CG != Model.ActionedInvalidNationalIDHhs_CG)
                            {
                                <label>
                                    <a class="btn btn-sm modal-link btn-primary" href="@Url.Action("BulkActioning", new {id = "INVALIDID", paymentcycle = Request["paymentcycle"], programme = Request["programme"]})"> Action </a>
                                </label>
                            }
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel accordion-group">
    <div class="accordion-heading">
        <h4 class="title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#DuplicateNationalIDHhs">
                @Html.DisplayNameFor(model => model.DuplicateNationalIDHhs)
            </a>
        </h4>
    </div>
    <div id="DuplicateNationalIDHhs" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-bordered">
                <thead>
                <tr>

                    <th> Exception Type </th>
                    <th> Total Exceptions </th>
                    <th> Actioned </th>
                    <th class="size-80">actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.DuplicateNationalIDHhs_BENEIN)</strong></td>
                    <td>@Html.DisplayFor(model => model.DuplicateNationalIDHhs_BENEIN)</td>
                    <td>@Html.DisplayFor(model => model.ActionedDuplicateNationalIDHhs_BENEIN)</td>
                    <td class="size-80">
                        @if (ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
                        {

                            if (Model.DuplicateNationalIDHhs_BENEIN != 0 && Model.DuplicateNationalIDHhs_BENEIN != Model.ActionedDuplicateNationalIDHhs_BENEIN)
                            {
                                <label>
                                    <a class="btn btn-sm modal-link btn-primary" href="@Url.Action("BulkActioning", new {id = "DUPLICATEID", paymentcycle = Request["paymentcycle"], programme = Request["programme"]})"> Action </a>
                                </label>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.DuplicateNationalIDHhs_CGIN)</strong></td>
                    <td>@Html.DisplayFor(model => model.DuplicateNationalIDHhs_CGIN)</td>
                    <td>@Html.DisplayFor(model => model.ActionedDuplicateNationalIDHhs_CGIN)</td>
                    <td class="size-80">
                        @if (ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
                        {

                            if (Model.DuplicateNationalIDHhs_CGIN != 0 && Model.DuplicateNationalIDHhs_CGIN != Model.ActionedDuplicateNationalIDHhs_CGIN)
                            {
                                <label>
                                    <a class="btn btn-sm modal-link btn-primary" href="@Url.Action("BulkActioning", new {id = "DUPLICATEID", paymentcycle = Request["paymentcycle"], programme = Request["programme"]})"> Action </a>
                                </label>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.DuplicateNationalIDHhs_BENEACC)</strong></td>
                    <td>@Html.DisplayFor(model => model.DuplicateNationalIDHhs_BENEACC)</td>
                    <td>@Html.DisplayFor(model => model.ActionedDuplicateNationalIDHhs_BENEACC)</td>
                    <td class="size-80">
                        @if (ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
                        {

                            if (Model.DuplicateNationalIDHhs_BENEACC != 0 && Model.DuplicateNationalIDHhs_BENEACC != Model.ActionedDuplicateNationalIDHhs_BENEACC)
                            {
                                <label>
                                    <a class="btn btn-sm modal-link btn-primary" href="@Url.Action("BulkActioning", new {id = "DUPLICATEID", paymentcycle = Request["paymentcycle"], programme = Request["programme"]})"> Action </a>
                                </label>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.DuplicateNationalIDHhs_CGACC)</strong></td>
                    <td>@Html.DisplayFor(model => model.DuplicateNationalIDHhs_CGACC)</td>
                    <td>@Html.DisplayFor(model => model.ActionedDuplicateNationalIDHhs_CGACC)</td>
                    <td class="size-80">
                        @if (ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
                        {

                            if (Model.DuplicateNationalIDHhs_CGACC != 0 && Model.DuplicateNationalIDHhs_CGACC != Model.ActionedDuplicateNationalIDHhs_CGACC)
                            {
                                <label>
                                    <a class="btn btn-sm modal-link btn-primary" href="@Url.Action("BulkActioning", new {id = "DUPLICATEID", paymentcycle = Request["paymentcycle"], programme = Request["programme"]})"> Action </a>
                                </label>
                            }
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel accordion-group">
    <div class="accordion-heading">
        <h4 class="title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#InvalidPaymentAccountHhs">
                @Html.DisplayNameFor(model => model.InvalidPaymentAccountHhs) + @Html.DisplayNameFor(model => model.ActionedInvalidPaymentCardHhs)
            </a>
        </h4>
    </div>
    <div id="InvalidPaymentAccountHhs" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-bordered">
                <thead>
                <tr>

                    <th> Exception Type </th>
                    <th> Total Exceptions </th>
                    <th> Actioned </th>
                    <th class="size-80">actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.InvalidPaymentAccountHhs)</strong></td>
                    <td>@Html.DisplayFor(model => model.InvalidPaymentAccountHhs)</td>
                    <td>@Html.DisplayFor(model => model.ActionedInvalidPaymentAccountHhs)</td>
                    <td class="size-80">
                        @if (ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
                        {
                                            @*if (Model.InvalidPaymentAccountHhs != 0 && Model.InvalidPaymentAccountHhs != Model.ActionedInvalidPaymentAccountHhs)
                                                {
                                                    <label>
                                                        <a class="btn btn-sm modal-link btn-primary" href="@Url.Action("BulkActioning", new {id = "INVALIDACC", paymentcycle = Request["paymentcycle"], programme = Request["programme"]})"> Action </a>
                                                    </label>
                                                }*@
                        }
                    </td>
                </tr>

                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.InvalidPaymentCardHhs)</strong></td>
                    <td>@Html.DisplayFor(model => model.InvalidPaymentCardHhs)</td>
                    <td>@Html.DisplayFor(model => model.ActionedInvalidPaymentCardHhs)</td>
                    <td class="size-80">
                        @if (ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
                        {
                            if (Model.InvalidPaymentCardHhs != 0 && Model.InvalidPaymentCardHhs != Model.ActionedInvalidPaymentCardHhs)
                            {
                                <label>
                                    <a class="btn btn-sm modal-link btn-primary" href="@Url.Action("BulkActioning", new {id = "INVALIDCARD", paymentcycle = Request["paymentcycle"], programme = Request["programme"]})"> Action </a>
                                </label>
                            }
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel accordion-group">
    <div class="accordion-heading">
        <h4 class="title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#IneligibleHhs">
                @Html.DisplayNameFor(model => model.IneligibleHhs)
            </a>
        </h4>
    </div>
    <div id="IneligibleHhs" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th> Exception Type </th>
                    <th> Total Exceptions </th>
                    <th> Actioned </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.IneligibleHhs_BENE)</strong></td>
                    <td>@Html.DisplayFor(model => model.IneligibleHhs_BENE)</td>
                    <td>@Html.DisplayFor(model => model.ActionedIneligibleHhs_BENE)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.IneligibleHhs_CG)</strong></td>
                    <td>@Html.DisplayFor(model => model.IneligibleHhs_CG)</td>
                    <td>@Html.DisplayFor(model => model.ActionedIneligibleHhs_CG)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="panel accordion-group">
    <div class="accordion-heading">
        <h4 class="title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#prepayroll" href="#SuspiciousPaymentHhs">
                @Html.DisplayNameFor(model => model.SuspiciousPaymentHhs)
            </a>
        </h4>
    </div>
    <div id="SuspiciousPaymentHhs" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th> Exception Type </th>
                    <th> Total Exceptions </th>
                    <th> Actioned </th>
                    <th class="size-80">actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.SuspiciousPaymentHhs)</strong></td>
                    <td>@Html.DisplayFor(model => model.SuspiciousPaymentHhs)</td>
                    <td>@Html.DisplayFor(model => model.ActionedSuspiciousPaymentHhs)</td>
                    <td class="size-80">
                        @if (ViewBag.PaymentStageCode == "PREPAYROLLFINAL")
                        {
                            if (Model.SuspiciousPaymentHhs != 0 && Model.SuspiciousPaymentHhs != Model.ActionedSuspiciousPaymentHhs)
                            {
                                <label>
                                    <a class="btn btn-sm modal-link btn-primary" href="@Url.Action("BulkActioning", new {id = "SUSPICIOUS", paymentcycle = Request["paymentcycle"], programme = Request["programme"]})"> Action </a>
                                </label>

                            }
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>