﻿@model CCTPMIS.Business.Legacy.HhRegistration

@{
    ViewBag.Title = "Legacy Beneficiary Statement";
}

<div class="row">
    <div class="col-md-12">
        <h3>Household Registration Summary </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.Programme) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Programme)
                    </td>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.ProgrammeNumber) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.ProgrammeNumber)
                    </td>
                </tr>
                @*<tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.Id) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Id)
                    </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.HhId) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.HhId)
                    </td>
                </tr>*@
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.County) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.County)
                    </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.Constituency) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Constituency)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.District) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.District)
                    </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.Division) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Division)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.Location) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Location)
                    </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.SubLocation) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.SubLocation)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.Village) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Village)
                    </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.NearestLandmark) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.NearestLandmark)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#Registration" aria-controls="Registration" role="tab" data-toggle="tab">Registration</a>
        </li>
        <li role="presentation">
            <a href="#Members" aria-controls="Members" role="tab" data-toggle="tab">
                Members
            </a>
        </li>
        <li role="presentation">
            <a href="#Payments" aria-controls="Payments" role="tab" data-toggle="tab">
                Payments
            </a>
        </li>
        <li role="presentation">
            <a href="#Updates" aria-controls="Updates" role="tab" data-toggle="tab">
                Case Updates
            </a>
        </li>
        <li role="presentation">
            <a href="#Grievances" aria-controls="Updates" role="tab" data-toggle="tab">
                Case Grievances
            </a>
        </li>
        @*<li role="presentation">
            <a href="#Migration" aria-controls="Migration" role="tab" data-toggle="tab">
                Migration Analysis
            </a>
        </li>*@
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Registration">

            <div class="row">
                <div class="col-md-12">

                    <h3> Registration Summary </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-condensed table-striped table-bordered table-hover">

                        <tbody>
                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.HasRealEstate) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.HasRealEstate)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.IsLivingInOwnHouse) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.IsLivingInOwnHouse)
                                </td>
                            </tr>

                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.RentAmount) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.RentAmount)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.LandSize) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.LandSize)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">

                    <h3> Livestock </h3>
                </div>
                <div class="col-md-12">

                    <table class="table table-condensed table-striped table-bordered table-hover">

                        <tbody>
                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.ZebuCattle) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.HybridCattle) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Sheep) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Goats) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Pigs) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Camels) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Poultry) </th>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.ZebuCattle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.HybridCattle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Sheep)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Goats)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Pigs)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Camels)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Poultry)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">

                    <h3>   </h3>
                </div>
                <div class="col-md-12">
                    <table class="table table-condensed table-striped table-bordered table-hover">

                        <tbody>
                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.MealsPerDay) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.MealsPerDay)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.NoMealPerWeek) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.NoMealPerWeek)
                                </td>
                            </tr>
                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.NoMealPerMonth) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.NoMealPerMonth)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.ReasonForNoMeal) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.ReasonForNoMeal)
                                </td>
                            </tr>

                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.WallMaterial) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.WallMaterial)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.FloorMaterial) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.FloorMaterial)
                                </td>
                            </tr>

                            <tr>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.RoofMaterial) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.RoofMaterial)
                                </td>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.ToiletType) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.ToiletType)
                                </td>
                            </tr>

                            <tr>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.WaterSource) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.WaterSource)
                                </td>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.LightingSource) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.LightingSource)
                                </td>
                            </tr>

                            <tr>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.FuelSource) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.FuelSource)
                                </td>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.OtherProg) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.OtherProg)
                                </td>
                            </tr>

                            <tr>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.OtherProgBenefitType) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.OtherProgBenefitType)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.OtherProgBenefitFrequency) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.OtherProgBenefitFrequency)
                                </td>
                            </tr>

                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.OtherProgBenefitAmount) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.OtherProgBenefitAmount)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.OtherProgOtherBenefits) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.OtherProgOtherBenefits)
                                </td>
                            </tr>
                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.EnrolmentStatus) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.EnrolmentStatus)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.EnrolmentDate) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.EnrolmentDate)
                                </td>
                            </tr>
                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.EnrolmentReason) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.EnrolmentReason)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.EnrolledBy) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.EnrolledBy)
                                </td>
                            </tr>
                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.ApprovalDate) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.ApprovalDate)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.ApprovedBy) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.ApprovedBy)
                                </td>
                            </tr>

                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.PSP) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.PSP)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.PSPBranch) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.PSPBranch)
                                </td>
                            </tr>

                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Inactive) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Inactive)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.CapturedBy) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.CapturedBy)
                                </td>
                            </tr>
                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Inactive) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Inactive)
                                </td>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.PovertyScore) </th>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.PovertyScore)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="Members">

            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>

                        <th>
                            Name
                        </th>
                        <th>
                            Sex
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Birth Cert Number
                        </th>
                        <th>
                            National Id Number
                        </th>

                        <th>
                            Relationship
                        </th>
                        <th>
                            Type of Occupation
                        </th>
                        <th>
                            Is Exited
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.HhMembers.OrderByDescending(x => x.Id))
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)

                                @Html.DisplayFor(modelItem => item.MiddleName)

                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BirthCertNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NationalIdNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Relationship)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OccupationType)
                            </td>
                            <td>
                                @(item.IsExited==true?"Yes" : "No")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="Payments">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <tr>

                    <th>
                        Payment Cycle
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PSPBranch)
                    </th>

                    <th>
                        Primary Recipient Name
                    </th>
                    <th>
                        Primary Recipient NationalId Number
                    </th>
                    <th>
                        Secondary Recipient Name
                    </th>
                    <th>
                        Secondary Recipient NationalId Number
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Paid Amount
                    </th>
                    <th>
                        Date Paid
                    </th>
                    <th>
                        Payment Transaction Number
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.Payments.OrderByDescending(x => x.CycleId))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.CycleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PSP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PSPBranch)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PrimaryRecipientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimaryRecipientNationalIdNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecondaryRecipientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecondaryRecipientNationalIdNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaidAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaidDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaidTrxNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GeneratedBy)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="Updates">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Update Type </th>
                        <th>Update Reason </th>
                        <th>Update Date </th>
                        <th>Created By </th>
                        <th>Created On </th>
                        <th>Approved By </th>
                        <th>Approved On </th>
                        <th>Action Notes </th>

                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.CaseUpdates.OrderByDescending(x => x.Id))
                    {
                    <tr>
                        <td>   @Html.DisplayFor(modelItem => item.UpdateName)</td>
                        <td>   @Html.DisplayFor(modelItem => item.UpdateReason)</td>
                        <td>   @Html.DisplayFor(modelItem => item.UpdateDate)</td>
                        <td>   @Html.DisplayFor(modelItem => item.CreatedBy)</td>
                        <td>   @Html.DisplayFor(modelItem => item.CreatedOn)</td>
                        <td>   @Html.DisplayFor(modelItem => item.ApprovedBy)</td>
                        <td>   @Html.DisplayFor(modelItem => item.ApprovedOn)</td>
                        <td>   @Html.DisplayFor(modelItem => item.ActionNotes)</td>
                        <td></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="Grievances">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>  Type </th>
                        <th>  Grievance </th>
                        <th>Description </th>
                        <th>Status</th>
                        <th> Constituency  </th>
                        <th>SubLocation</th>
                        <th>Received On </th>
                        <th>Received By </th>
                        <th>Receipt level </th>
                        <th>Created By </th>
                        <th>Created On </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.CaseGrievances.OrderByDescending(x => x.Id))
                    {
                        <tr>
                            <td>   @Html.DisplayFor(modelItem => item.ComplainantType)</td>
                            <td>   @Html.DisplayFor(modelItem => item.GrievanceTypeName)</td>
                            <td>   @Html.DisplayFor(modelItem => item.GrievanceDescription)</td>
                            <td>   @Html.DisplayFor(modelItem => item.CaseStatus)</td>

                            <td>   @Html.DisplayFor(modelItem => item.Constituency)</td>
                            <td>   @Html.DisplayFor(modelItem => item.SubLocation)</td>
                            <td>   @Html.DisplayFor(modelItem => item.ReceiptOn)</td>
                            <td>   @Html.DisplayFor(modelItem => item.ReceivedBy)</td>
                            <td>   @Html.DisplayFor(modelItem => item.ReceiptLevel)</td>
                            <td>   @Html.DisplayFor(modelItem => item.CreatedBy)</td>
                            <td>   @Html.DisplayFor(modelItem => item.CreatedOn)</td>
                             <td>
                                @*<a class="modal-link" href="@Url.Action("Grievance", new {id = item.Id})">  <i class="fa fa-eye"></i> </a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*<div role="tabpanel" class="tab-pane" id="Migration">

            @if (Model.ExceptionsDSDS.Any())
            {
                <div class="row">
                    <div class="col-md-12">
                        <h3>  Legacy DSD MIS Exceptions</h3>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-condensed table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Household caught by Exception </th>

                                    <th>   </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.ExceptionsDSDS.OrderByDescending(x => x.Id))
                                {
                                    <tr>
                                        <td> @Html.DisplayFor(modelItem => item.EXCEPTION)</td>

                                        <td>
                                            @ *<a class="modal-link" href="@Url.Action("dsd", new {id = item.Id})">
            <i class="fa fa-eye"></i>
        </a>* @
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            }

            @if (Model.ExceptionsCTOVCS.Any())
            {
                <div class="row">
                    <div class="col-md-12">
                        <h3> Legacy  CT OVC Exceptions </h3>
                    </div>
                    <div class="col-md-12">

                        <table class="table table-condensed table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Exception </th>
                                    <th> Household members </th>
                                    <th> Male OVCs </th>
                                    <th> Female OVCs</th>

                                    <th> </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.ExceptionsCTOVCS.OrderByDescending(x => x.Id))
                                {
                                    <tr>
                                        <td> @Html.DisplayFor(modelItem => item.EXCEPTION)</td>

                                        <td> @Html.DisplayFor(modelItem => item.NoOfHouseholdMembers)</td>
                                        <td> @Html.DisplayFor(modelItem => item.NoOfMaleOVC)</td>
                                        <td> @Html.DisplayFor(modelItem => item.NoOfFemaleOVC)</td>

                                        <td>
                                         </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>*@
    </div>
</div>