﻿@model CCTPMIS.Models.CaseManagement.LegacyBeneStatementFilterViewModel

@{
    ViewBag.Title = "Legacy MIS Beneficiary Statement";

}

<div class="panel panel-danger animated fadeInUp go">
    <div class="panel-heading clearfix">
        <h3 class="panel-title"> Search Legacy MIS Database  using any of the fields below</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "LegacyBeneficiaryStatement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-strip", role = "form" }))
        {

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.ProgrammeNo, htmlAttributes: new { @class = "control-label", data_toggle = "tooltip", data_placement = "top", title = "Do not include the Programme Prefix" })
                <i class="icon-star pull-right text-danger" data-toggle="tooltip" data-placement="top" title="The 7 digit Programme number"></i>
                @Html.EditorFor(model => model.ProgrammeNo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.NationalId, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NationalId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                <br />
                <button type="submit" class="btn btn-success   btn-block  ">
                    <i class="glyphicon glyphicon-search"></i> Search
                </button>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="hidden" name="Page" id="pagination-page" value="1" />
        @if (Model.Households != null)
        {
            <div class="no-margin">
                <table class="table  table-users table-striped table-bordered">
                    <thead>
                    <tr>

                        <th>
                            Programme
                        </th>
                        <th>
                            Programme No
                        </th>
                        <th>
                            Constituency
                        </th>
                        <th>
                         Location
                        </th>
                        <th>
                           Sub Location
                        </th>
                        <th> Enrolment Status </th>
                        <th> Active </th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Households)
                        {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Programme)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgrammeNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Constituency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.SubLocation)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.EnrolmentStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Inactive)
                            </td>
                            <td>
                                <a class=" " data-toggle="tooltip" data-placement="top" title="View Details" href="@Url.Action("Details", new {id = item.Id})">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        }
                        @if (!Model.Households.Any())
                        {
                            <tr class="odd">
                                <td colspan="7" class="dataTables_empty text-center">No data available in table</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
    </div>
</div>