﻿@model CCTPMIS.Business.Model.District

@{
    ViewBag.Title = "Delete District " + Model.Name;
}

<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to delete this?</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommonDetails", Model)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions ">
                @Html.Partial("Common/_DeleteFooter", Model.Id)
            </div>
        }
    </div>
</div>