﻿@model CCTPMIS.Business.Model.District

@{
    ViewBag.Title = Model.Name + " Divisions ";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommonDetails", Model)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    District
                </th>
                <th>
                    Division
                </th>
                <th>
                    Code
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Modified By
                </th>
                <th>
                    Modified On
                </th>
                <th>
                    Created By
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.CountyDistricts)
            {
                foreach (var i in item.Divisions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.District.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => i.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => i.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedByUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedByUser.FirstName)
                        </td>
                        <td>
                            @Html.Partial("Common/_GridDIcons", item.Id)
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>