﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.Household
<div class="row">
    <div class="col-md-9">
        <h3> Household Summary</h3>
    </div>
    <div class="col-md-3">
        <div class="pull-right">
            <a target="_blank" href="@Url.Action("Print","BeneficiaryStatement", new {area="Reports", id = @Model.Id})" class="btn   btn-primary"> <i class="fa fa-print"></i> Print </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th class="text-bold fit">@Html.DisplayNameFor(model => Model.ProgrammeId).</th>
                <td> @Html.DisplayFor(model => Model.Programme.Name)</td>

                <th class="text-bold fit">@Html.DisplayNameFor(model => Model.StatusId)</th>
                <td>@*@Html.DisplayFor(model => Model.Status.Code) -*@ @Html.DisplayFor(model => Model.Status.Description)</td>
            </tr>
            <tr>
                <th class="text-bold fit">@Html.DisplayNameFor(model => Model.CreatedBy)</th>
                <td>@Html.DisplayFor(model => Model.CreatedByUser.DisplayName)</td>

                <th class="text-bold fit">@Html.DisplayNameFor(model => Model.CreatedOn)</th>
                <td>@Html.DisplayFor(model => Model.CreatedOn)</td>
            </tr>
            <tr>
                @* <th class="text-bold fit">Reference @Html.DisplayNameFor(model => Model.Id)</th>
                <td> # @Html.DisplayFor(model => Model.Id)</td>

                <th class="text-bold fit">@Html.DisplayNameFor(model => Model.SourceId)</th>
                <td>@Html.DisplayFor(model => Model.Source.Name)</td>*@
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation">
                <a href="@Url.Action("Householdmembers", new{ id = ViewContext.RouteData.Values["id"] })"> Household Members</a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("Enrolment", new{ id = ViewContext.RouteData.Values["id"] })"> Enrolment </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("PrePayroll", new{ id = ViewContext.RouteData.Values["id"] })"> Prepayroll </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("Payroll", new{ id = ViewContext.RouteData.Values["id"] })"> Payroll </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("Payments", new{ id = ViewContext.RouteData.Values["id"] })"> Credit Report </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("MonthlyStatement", new{ id = ViewContext.RouteData.Values["id"] })">  Monthly Activity </a>
            </li>

            <li role="presentation">
                <a href="@Url.Action("Updates", new{ id = ViewContext.RouteData.Values["id"] })"> Updates </a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("Complaints", new{ id = ViewContext.RouteData.Values["id"] })"> Complaints </a>
            </li>
        </ul>
    </div>
</div>