﻿@using PagedList
@using PagedList.Mvc
@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement - Household Updates";
}

@Html.Partial("_PartialMenu", Model.Household)
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th class="fit">
                    Complaint Number
                </th>
                <th>
                    Type of Complaint
                </th>
                <th>
                    Status
                </th>
                <th>
                  Where
                </th>
                <th>
                    Received On
                </th>
                <th>
                    Closed On
                </th>
                <th>
                    Meets SLA?
                </th>
                <th>
                    Days
                </th>
            </tr>
            @foreach (var item in Model.Complaints)
            {
                <tr>
                    <td>
                        #  @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComplaintType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComplaintStatus.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Constituency.Name)
                    </td>

                    <td>
                        @item.ReceivedOn.ToString("d")
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ClosedOn)
                    </td>
                    <td class="bold @(((item.ClosedOn??DateTime.Today).Day - item.ReceivedOn.Day)< item.ComplaintType.Timeline ? "text-success" :"text-danger")">
                        @if (item.ClosedOn != null)
                        {
                            <span> @((item.ClosedOn.Value - item.ReceivedOn).Days < item.ComplaintType.Timeline ? "Yes" : "No")  </span>
                        }
                        else
                        {
                            <span> @((DateTime.Today - item.ReceivedOn).Days < item.ComplaintType.Timeline ? "Yes" : "No")   </span>
                        }
                    </td>
                    <td class="bold @(((item.ClosedOn??DateTime.Today).Day - item.ReceivedOn.Day)< item.ComplaintType.Timeline ? "text-success " :"text-danger")">
                        @if (item.ClosedOn != null)
                        {
                            <span> @(Math.Abs(item.ComplaintType.Timeline - (item.ClosedOn.Value.Day - item.ReceivedOn.Day))) day/s </span>
                        }
                        else
                        {
                            <span> @(Math.Abs(item.ComplaintType.Timeline - (DateTime.Today.Day - item.ReceivedOn.Day))) day/s </span>
                        }

                        @if (item.ClosedOn != null)
                        {
                            <span> @((item.ClosedOn.Value.Day - item.ReceivedOn.Day) < item.ComplaintType.Timeline ? "Remaining" : "Past SLA day/s")  </span>
                        }
                        else
                        {
                            <span> @((DateTime.Today.Day - item.ReceivedOn.Day) < item.ComplaintType.Timeline ? "Remaining" : "Past SLA day/s")   </span>
                        }
                    </td>
                </tr>
            }
            @if (!Model.Complaints.Any())
            {
                <tr class="odd">
                    <td colspan="21" class="dataTables_empty text-center">No data available in table</td>
                </tr>
            }
        </table>
    </div>
</div>