﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement - Household members";

}

@Html.Partial("_PartialMenu", Model.Household)

<div class="clearfix m-tb-30">
</div>

@*<div class="row">
    <div class="col-lg-3 col-md-6 animatedParent animateOnce z-index-50">
        <div class="panel minimal panel-default animated fadeInUp go">
            <div class="panel-heading clearfix">
                <div class="panel-title">Household Members</div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="stack-order">
                    <h1 class="no-margins">@Model.Summary.Members</h1>
                    <small>@Model.Summary.ActiveMembers  currently active </small>
                </div>
                <div class="fa fa-users"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 animatedParent animateOnce z-index-49">
        <div class="panel minimal panel-default animated fadeInUp go">
            <div class="panel-heading clearfix">
                <div class="panel-title">  Pre-Payrolls </div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="stack-order">
                    <h1 class="no-margins">@Model.Summary.Prepayrolls </h1>
                    <small>@Model.Summary.Prepayrolls  Run </small>
                </div>
                <div class="fa fa-money-check"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 animatedParent animateOnce z-index-49">
        <div class="panel minimal panel-default animated fadeInUp go">
            <div class="panel-heading clearfix">
                <div class="panel-title"> Successful Payrolls </div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="stack-order">
                    <h1 class="no-margins">@Model.Summary.PayrolAmount </h1>
                    <small>@Model.Summary.SuccessfulCreditAmount successfully credited</small>
                </div>
                <div class="fa fa-money-check"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 animatedParent animateOnce z-index-48">
        <div class="panel minimal panel-default animated fadeInUp go">
            <div class="panel-heading clearfix">
                <div class="panel-title">Complaints </div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="stack-order">
                    <h1 class="no-margins">@Model.Summary.Complaints</h1>
                    <small> @Model.Summary.OpenComplaints currently open.</small>
                </div>
                <div class="fa fa-hand-o-down"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 animatedParent animateOnce z-index-47">
        <div class="panel minimal panel-default animated fadeInUp go">
            <div class="panel-heading clearfix">
                <div class="panel-title"> Updates </div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="stack-order">
                    <h1 class="no-margins">@Model.Summary.Changes</h1>
                    <small> @Model.Summary.OpenChanges currently.</small>
                </div>
                <div class="fa fa-edit"></div>
            </div>
        </div>
    </div>
</div>*@