﻿@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement - Beneficiary Details";
}

@Html.Partial("_PartialMenu", Model.Household)

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped  table-hover">
            <thead>
                <tr>
                    @*<th> Enrolment No. </th>*@
                    @*<th> Enrolment Date. </th>*@
                    <th> Programme Number </th>
                    <th> Account Name </th>
                    <th> Account Number  </th>
                    <th> Account Opened On  </th>
                    <th> Account Submitted On  </th>
                    <th> Account Status </th>
                    <th> Bank </th>
                    <th> Branch  </th>
                    <th> Payment Card Number  </th>
                </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.GetBeneInfoVm)
            {
                <tr>
                    @*<td>
            @Html.DisplayFor(modelItem => item.EnrolmentNo)
        </td>*@
                    @*<td>
            @Html.DisplayFor(modelItem => item.EnrolmentDate)
        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgrammeNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountOpenedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountAddedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PSP)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PSPBranch)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentCardNo)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>