﻿@using CCTPMIS.Business.Model
@using PagedList
@using PagedList.Mvc
@model CCTPMIS.Models.CaseManagement.BeneStatementFilterViewModel
@{
    ViewBag.Title = "Search Household";
}

<div class="panel panel-default animated fadeInUp go">
    <div class="panel-heading clearfix">
        <h3 class="panel-title"> Search using any of the fields below</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Filter", "BeneficiaryStatement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-strip form-paginated", role = "form" }))

        {

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.ProgrammeNo, htmlAttributes: new { @class = "control-label", data_toggle = "tooltip", data_placement = "top", title = "Do not include the Programme Prefix" })
                <i class="icon-star pull-right text-danger" data-toggle="tooltip" data-placement="top" title="The 7 digit Programme number"></i>
                @Html.EditorFor(model => model.ProgrammeNo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.NationalId, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NationalId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group col-md-4">
                <br />
                <button type="submit" class="btn btn-success   btn-block  ">
                    <i class="glyphicon glyphicon-search"></i> Search
                </button>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="hidden" name="Page" id="pagination-page" value="1" />
        @if (Model.Households != null)
        {
            <div class="no-margin">
                <table class="table  table-users table-striped table-bordered">
                    <thead>

                    <tr>
                        <th>
                            Enrolment No
                        </th>
                        <th>
                            Programme No
                        </th>
                        <th>
                            Programme
                        </th>
                        <th>
                            Primary Recipient Name
                        </th>
                        <th>
                            Primary Recipient National ID No.
                        </th>

                        <th>
                            Status
                        </th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Households)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseholdEnrolment.FirstOrDefault().ProgrammeNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Programme.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseholdMembers.FirstOrDefault(x => x.Relationship.Code == x.Household.Programme.PrimaryRecipient.Code).Person.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseholdMembers.FirstOrDefault(x => x.Relationship.Code == x.Household.Programme.PrimaryRecipient.Code).Person.NationalIdNo)
                            </td>
                            <td>
                                <span data-toggle="popover" data-trigger="focus" title="Household Status" data-content="@Html.DisplayFor(modelItem => item.Status.Description)"> @Html.DisplayFor(modelItem => item.Status.Code)</span>
                            </td>

                            <td>

                                <div class="btn-group pull-right m-tb-10   ">
                                    <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Actions <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu  dropdown-menu-right">
                                        <li>
                                            <a class="  modal-link  " data-toggle="tooltip" data-placement="top" title="View Details" href="@Url.Action("HouseholdSummary", new {id = item.Id})">
                                                <i class="fa fa-eye"></i> Preview Household Details
                                            </a>
                                        </li>
                                        @foreach (var option in (List<CaseCategory>)ViewBag.ComplaintTypeId)
                                        {
                                            <li>
                                                <a class=" " data-toggle="tooltip" data-placement="top" title="View Details" href="@Url.Action("Create", new {id = item.Id, changeTypeId = option.Id})">
                                                    <i class="fa fa-send"></i> @option.Description
                                                </a>
                                            </li>

                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                    @if (!Model.Households.Any())
                    {
                        <tr class="odd">
                            <td colspan="21" class="dataTables_empty text-center">No data available in table</td>
                        </tr>
                    }
                    </tbody>
                </table>
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-danger glyphicon glyphicon-step-backward" })
                @Html.PagedListPager((IPagedList)Model.Households, page => Url.Action("Filter", new { page = page }))
            </div>

        }
    </div>
</div>