﻿@model CCTPMIS.Models.CaseManagement.GetBeneInfoVm

@{
    ViewBag.Title = "Beneficiary Statement - Household Enrolment";

}

@Html.Partial("_PartialMenu")
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <td class="text-bold fit">Location :</td>
                <td>@Model.LocationName <br /> </td>

                <td class="text-bold fit">SubLocation :</td>
                <td>@Model.SubLocationName <br /> </td>
            </tr>
            <tr>
                <td class="text-bold fit">Division :</td>
                <td>@Model.DivisionName <br /> </td>

                <td class="text-bold fit"> District :</td>
                <td>@Model.DistrictName <br /> </td>
            </tr>

            <tr>
                <td class="text-bold fit"> Sub County :</td>
                <td>@Model.ConstituencyName <br /> </td>

                <td class="text-bold fit"> County :</td>
                <td>@Model.CountyName <br /> </td>
            </tr>
        </table>
    </div>
</div>