﻿@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement - Household members";

}

@Html.Partial("_PartialMenu",Model.Household)

<div class="row">
    <div class="col-md-12">
        <h3> Household Members</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped  table-hover">
            <thead>
            <tr>

                <th> Name  </th>
                <th> Sex  </th>
                <th> Date Of Birth  </th>
                <th> National ID Number  </th>
                <th> Birth Cert Number  </th>
                <th> Mobile Number  </th>
                <th> Relationship </th>
                <th> Member Role </th>
                <th> Status </th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.HouseholdMembers)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Person.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Sex.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.DateOfBirth)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Person.NationalIdNo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Person.BirthCertNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.MobileNo1)
                        <span> </span>
                        @Html.DisplayFor(modelItem => item.Person.MobileNo2)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Relationship.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberRole.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Description)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>