﻿@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement - Monthly Activity Report";

}

@Html.Partial("_PartialMenu", Model.Household)

<div class="table-responsive">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Account Name</th>
                        <th>Account Number </th>
                        <th>Bank</th>
                        <th>Branch </th>
                        <th>Had Unique Withdrawal </th>
                        <th>Unique Withdrawal Date </th>
                        <th>Unique Withdrawal Transaction Number </th>
                        <th>Verified Bios  </th>
                        <th>Account Dormant </th>
                        <th>Dormancy Date </th>
                        <th>Due for Claw-back  </th>
                        <th>Claw-back Amount  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BeneMonthlyStatements)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Month)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BRANCH)
                            </td>
                            <td>
                                @(item.HadUniqueWdl==true ? "Yes": "No")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UniqueWdlDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UniqueWdlTrxNo)
                            </td>
                            <td>
                                @(item.HadBeneBiosVerified == true ? "Yes": "No")
                            </td>
                            <td>
                                @(item.IsDormant == true ? "Yes" : "No")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DormancyDate)
                            </td>
                            <td>

                                @(item.IsDueForClawback == true ? "Yes": "No")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClawbackAmount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>