﻿@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement - Payroll Statement";

}

@Html.Partial("_PartialMenu", Model.Household)

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Payment Cycle</th>
                    <th>Payment Cycle Stage</th>
                    <th>Status</th>
                    <th>Payroll Amount</th>
                    <th>Transaction Successful</th>
                    <th> Transaction Number </th>
                    <th> Transaction Amount </th>
                    <th>Transaction Date  </th>
                    <th>Transaction Narration  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BeneCreditStatements)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinancialYear)
                        <br />
                        @Html.DisplayFor(modelItem => item.FromMonth) -
                        @Html.DisplayFor(modelItem => item.ToMonth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.PaymentAmount)</td>

                    <td>
                        @(item.WasTrxSuccessful==true?"Yes" :"No" )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrxNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrxAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrxDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrxNarration)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>