﻿@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement - Payroll Statement";

}

@Html.Partial("_PartialMenu", Model.Household)
<div class="table-responsive">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Payment Cycle</th>
                        <th>Programme Number</th>
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th>Amount  </th>
                        <th>Bank </th>
                        <th>Branch </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BenePayrollStatements)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentCycle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgrammeNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSPName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSPBranchName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>