﻿@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement -  Prepayroll Statements";

}

@Html.Partial("_PartialMenu", Model.Household)

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Payment Cycle</th>
                        <th>Programme Number</th>
                        <th>Account Number</th>
                        <th>Account Name</th>
                        <th>Entitlement Amount </th>
                        <th>Arrears Amount </th>
                        <th>Continuously Inactive </th>
                        <th>Account  Dormant  </th>
                        <th>Account Invalid  </th>
                        <th>Payment Card Invalid  </th>
                        <th>Beneficiary Duplicated  </th>
                        <th>Caregiver Duplicated  </th>
                        <th>Beneficiary Ineligible  </th>
                        <th>Caregiver Ineligible  </th>
                        <th>Payment Amount Non Standard </th>
                        <th>Payment Zone </th>
                        <th>Commission  </th>
                        <th>Prepayroll On  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BenePrepayrollStatements)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentCycle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgrammeNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntitlementAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdjustmentAmount)
                        </td>

                        <td>
                            @(item.ConseAccInactivity == 1 ? "Yes" : "No")
                        </td>

                        <td>
                            @(item.IsDormantAccount == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsInvalidAccount == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsInvalidPaymentCard == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsDuplicateBene == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsDuplicateCG == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsIneligibleBene == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsIneligibleCG == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsSuspiciousAmount == 1 ? "Yes" : "No")
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentZone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentZoneCommAmt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrepayrollApvdOn)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>