﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement";
    Layout = "../../../../Views/Shared/_LayoutPrint.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h3> Household Summary</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th class="text-bold fit">@Html.DisplayNameFor(model => Model.Household.ProgrammeId)</th>
                <td> @Html.DisplayFor(model => Model.Household.Programme.Name)</td>

                <th class="text-bold fit">@Html.DisplayNameFor(model => Model.Household.StatusId)</th>
                <td>@Html.DisplayFor(model => Model.Household.Status.Description)</td>
            </tr>
            <tr>
                <th class="text-bold fit">@Html.DisplayNameFor(model => Model.Household.CreatedBy)</th>
                <td>@Html.DisplayFor(model => Model.Household.CreatedByUser.DisplayName)</td>

                <th class="text-bold fit">@Html.DisplayNameFor(model => Model.Household.CreatedOn)</th>
                <td>@Html.DisplayFor(model => Model.Household.CreatedOn)</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3> Household Members</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th> Name  </th>
                    <th> Sex  </th>
                    <th> Date Of Birth  </th>
                    <th> National ID Number  </th>
                    <th> Birth Certificate Number  </th>
                    <th> Mobile Number   </th>
                    <th> Relationship </th>
                    <th> Member Role </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.HouseholdMembers)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Person.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.Sex.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.DateOfBirth)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Person.NationalIdNo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Person.BirthCertNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.MobileNo1)
                            &nbsp;
                            @Html.DisplayFor(modelItem => item.Person.MobileNo2)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Relationship.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MemberRole.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3> Enrolment and Card Opening</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th> Programme Number </th>
                    <th> Account Name </th>
                    <th> Account Number  </th>
                    <th> Account Opened On  </th>
                    <th> Bank </th>
                    <th>  Branch  </th>
                    <th> Payment Card Number  </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.GetBeneInfoVm)
                {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.EnrolmentNo)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.EnrolmentDate)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgrammeNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountOpenedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PSP)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PSPBranch)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentCardNo)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3> Pre-payroll Summary</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th> Payment Cycle</th>
                    <th> Total  Amount </th>
                    <th> Continuously Inactive </th>
                    <th> Account Dormant  </th>
                    <th> Account Invalid  </th>
                    <th> Payment Card Invalid  </th>
                    <th> Duplicated Primary Recipient  </th>
                    <th> Duplicated Secondary Recipient  </th>
                    <th> Ineligible Primary Recipient   </th>
                    <th> Ineligible Secondary Recipient   </th>
                    <th> Non Standard Payment Amount </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BenePrepayrollStatements)
                {
                    <tr>
                        <td>
                            <small> @Html.DisplayFor(modelItem => item.PaymentCycle)</small>
                        </td>
                        <td>
                            @(item.EntitlementAmount + item.AdjustmentAmount )
                        </td>
                        <td>
                            @(item.ConseAccInactivity == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsDormantAccount == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsInvalidAccount == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsInvalidPaymentCard == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsDuplicateBene == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsDuplicateCG == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsIneligibleBene == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsIneligibleCG == 1 ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsSuspiciousAmount == 1 ? "Yes" : "No")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3> Payroll Summary</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Payment Cycle</th>
                    <th>Programme Number</th>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Payroll Amount </th>
                    <th>Bank </th>
                    <th>Branch </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BenePayrollStatements)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentCycle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgrammeNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PSPName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PSPBranchName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3> Bank Credit Summary</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><small>Account Name</small></th>
                    <th> <small> Account Number</small></th>
                    <th> <small>Payment Cycle</small></th>
                    <th> <small> Payroll Amount</small></th>
                    <th> <small> Transaction Status</small></th>
                    <th> <small> Transaction Amount</small> </th>
                    <th> <small> Transaction Number</small> </th>
                    <th> <small>Transaction Date</small> </th>
                    <th> <small>Transaction Narration </small></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BeneCreditStatements)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentCycle)
                        </td>

                        <td> @Html.DisplayFor(modelItem => item.PaymentAmount)</td>

                        <td>
                            @(item.WasTrxSuccessful == true ? "Yes" : "No")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrxAmount)
                        </td>
                        <td>
                            @(item.TrxNo ?? "-")
                        </td>

                        <td>
                            @(item.TrxDate.HasValue ? (object)item.TrxDate.Value : "null")
                        </td>
                        <td>
                            @(item.TrxNarration ?? "-")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3> Monthly Statements</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><small>Reporting Month</small> </th>
                    <th> <small>Account Details </small></th>
                    <th><small>Bank</small></th>
                    <th><small>Branch</small> </th>
                    <th><small>Had A Withdrawal</small> </th>
                    <th> <small> Withdrawal Date </small> </th>
                    <th> <small> Withdrawal Transaction Number.</small>  </th>
                    <th><small>Bios Verified</small> </th>
                    <th><small>Dormant</small> </th>
                    <th><small>Dormancy Date</small> </th>
                    <th> <small>Due for Claw-back</small>  </th>
                    <th> <small>Claw back Amount</small>  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BeneMonthlyStatements)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Month),

                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                            <br />

                            @Html.DisplayFor(modelItem => item.AccountNo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PSP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BRANCH)
                        </td>
                        <td>
                            @(item.HadUniqueWdl == true ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.UniqueWdlDate.HasValue ? (object)item.UniqueWdlDate.Value : "-" )
                        </td>
                        <td>
                            @(item.UniqueWdlTrxNo ?? "-")
                        </td>
                        <td>
                            @(item.HadBeneBiosVerified == true ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.IsDormant == true ? "Yes" : "No")
                        </td>
                        <td>

                            @(item.DormancyDate.HasValue ? (object)item.DormancyDate.Value : "-" )
                        </td>
                        <td>
                            @(item.IsDueForClawback == true ? "Yes" : "No")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClawbackAmount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-12">
    <p>
        Generated by <strong>@User.GetUserSummary().DisplayName </strong> on <strong>@DateTime.Now.ToString("F")</strong>
    </p>
</div>

    <p style="text-align: center; font-weight: bold">
        This is a computer-generated document. No signature is required.
    </p>