﻿@using PagedList
@using PagedList.Mvc
@model CCTPMIS.Models.CaseManagement.BeneStatementModel

@{
    ViewBag.Title = "Beneficiary Statement - Household Updates";
}

@Html.Partial("_PartialMenu", Model.Household)

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th class="fit">
                    Update Number
                </th>
                <th>
                    Type of Update
                </th>

                <th>
                    Status
                </th>
                <th>
                    Where Received
                </th>

                <th>
                    Received On
                </th>
                <th>
                    Closed On
                </th>
                <th>
                    Meets SLA
                </th>
            </tr>
            @foreach (var item in Model.Changes)
            {
                <tr>
                    <td>
                        #  @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangeType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangeStatus.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Constituency.Name)
                    </td>

                    <td>
                        @item.ReceivedOn.ToString("d")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosedOn)
                    </td>
                    <td class="bold @(((item.ClosedOn??DateTime.Today).Day - item.ReceivedOn.Day)< item.ChangeType.Timeline ? "text-success" :"text-danger")">
                        @if (item.ClosedOn != null)
                        {
                            <span> @((item.ClosedOn.Value - item.ReceivedOn).Days < item.ChangeType.Timeline ? "Yes" : "No")  </span>
                        }
                        else
                        {
                            <span> @((DateTime.Today - item.ReceivedOn).Days < item.ChangeType.Timeline ? "Yes" : "No")   </span>
                        }
                    </td>
                </tr>
            }
            @if (!Model.Changes.Any())
            {
                <tr class="odd">
                    <td colspan="21" class="dataTables_empty text-center">No data available in table</td>
                </tr>
            }
        </table>
    </div>
</div>