﻿@model CCTPMIS.Models.Registration.RegistrationSummaryVm

@{
    ViewBag.Title = "Registration Plan Closure Details";

}

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">

            <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Name) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Name)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Description) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Description)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Start) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Start)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.End) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.End)
                    </td>
                </tr>

                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.StatusId) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Status.Description)
                    </td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedByUser.DisplayName)  </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedOn)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedByUser.DisplayName)  </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedOn)</td>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvByUser.DisplayName)  </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvOn)</td>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedByUser.DisplayName)  </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedOn)</td>
                </tr>

                <tr>
                        <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionsFileId)  </th>
                        <td>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionsFile.Name)  </td>
                    </tr>
                    <tr>
                        <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValidationFileId)  </th>
                        <td>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValidationFile.Name)  </td>
                    </tr>

                    <tr>
                        <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionBy)  </th>
                        <td>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionByUser.DisplayName)  </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ExceptionOn) </th>
                        <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ExceptionOn)</td>
                    </tr>

                    <tr>
                        <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValBy)  </th>
                        <td>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValByUser.DisplayName)  </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ValOn) </th>
                        <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ValOn)</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12 animatedParent animateOnce z-index-50">
                <div class="panel minimal panel-default animated fadeInUp go">
                    <div class="panel-heading clearfix">
                        <div class="panel-title">Registrations</div>
                    </div>
                    <div class="panel-body">
                        <div class="row col-with-divider">
                            <div class="col-xs-4 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.RegisteredHouseholds)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.RegisteredHouseholds)</small>
                            </div>
                            <div class="col-xs-4 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.AcceptedHouseholds)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.AcceptedHouseholds)</small>
                            </div>
                            <div class="col-xs-4 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.PendingHouseholds)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.PendingHouseholds)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 animatedParent animateOnce z-index-49">
                <div class="panel minimal panel-default animated fadeInUp go">
                    <div class="panel-heading clearfix">
                        <div class="panel-title">
                            Acceptance
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row col-with-divider">
                            <div class="col-xs-6 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.AcceptedBatches)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.AcceptedBatches)</small>
                            </div>
                            <div class="col-xs-6 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetRegistrationSummaryVm.PendingHouseholds)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegistrationSummaryVm.PendingHouseholds)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>