﻿@using CCTPMIS.Models.Reports
@using PagedList
@model CCTPMIS.Models.Reports.HouseholdsEnrolmentReportOption

@{
    ViewBag.Title = "Households Carding Reports";

}

<div id="ReportHeader" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:block" : "")>
    <h2>
        Filter reports
    </h2>
</div>
<div class="panel panel-primary  @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">

        <p>Report Options</p>
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>

    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("HouseholdCarding", "Enrolment", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="form-group  col-md-4">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>

                    <div class="col-md-4">
                        <label>
                            Show
                            @Html.DropDownList("PageSize", null, htmlAttributes: new { })
                            entries
                        </label>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.PriReciSexId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.PriReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.PriReciSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.SecReciSexId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.SecReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.SecReciSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.PspId, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.PspId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.PspId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.CardStatusId, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.CardStatusId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.CardStatusId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">

                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-4 " })

                    <div class="form-group col-md-4">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required multi-select" })
                    </div>

                    <div id="custom_range" class="form-group hidden   col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter required multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-4 " })
                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row hidden">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CompareDateRange, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("CompareDateRange", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CompareStartDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CompareStartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CompareEndDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CompareEndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">

                    @Html.LabelFor(model => model.DobDateRangeId, htmlAttributes: new { @class = "control-label col-md-4 " })

                    <div class="form-group col-md-4">
                        @Html.DropDownList("DobDateRangeId", null, htmlAttributes: new { @class = "form-control required single-select " })
                    </div>

                    <div id="custom_date_range" class="form-group hidden   col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobStartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobStartDate, new { htmlAttributes = new { @class = "form-control dob-start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobEndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobEndDate, new { htmlAttributes = new { @class = "form-control dob-end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-10">
                    @Html.EditorFor(model => Model.IsExportCsv)
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{

    <div class="table-responsive">
        <table class="table   table-bordered table-condensed  table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.ProgrammeNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.Programme)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.Psp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.PSPBranch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountOpenedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountAddedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.PaymentCardNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.CardingStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.HouseholdStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.BeneFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.BeneDoB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.BeneSex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.BeneIDNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.MobileNo1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.County)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.Constituency)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.SubLocation)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Details.Any())
                {
                    foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgrammeNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Programme)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Psp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSPBranch)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountOpenedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountAddedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentCardNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardingStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseholdStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneDoB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneSex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneIDNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MobileNo1)   @Html.DisplayFor(modelItem => item.MobileNo2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.County)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Constituency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubLocation)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("Pager_HPEDetailed", new StaticPagedList<ReportDetailedHouseholdEnrolment>(Model.Details, Model.Page, Model.PageSize, @Model.Details[0].NoOfRows))

}

else if (Model.ReportTypeId == 2)
{
    <div class="table-responsive">
        <table class="table   table-bordered table-condensed  table-striped">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.County)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Constituency)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.SubLocation)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.FemalePriReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.MalePriReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.FemalePriReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.MaleSecReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.TotalPriReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.TotalSecReci)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Summary)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FemalePriReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MalePriReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FemalePriReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaleSecReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPriReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalSecReci)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.Partial("Pager_HPESummary", new StaticPagedList<ReportSummaryHouseholdsPendingEnrolment>(Model.Summary, Model.Page, Model.PageSize, @Model.Summary[0].NoOfRows))
}