﻿@using CCTPMIS.Models.Reports
@using PagedList
@model CCTPMIS.Models.Reports.HouseholdsEnrolmentReportOption

@{
    ViewBag.Title = "Households Pending Account Opening";

}

<div id="ReportHeader" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:block" : "")>
    <h2>
        Filter reports
    </h2>
</div>
<div class="panel panel-primary  @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">

        Report Options

        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>

    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("householdspendingaccountopening", "Enrolment", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="control-label col-md-12">
                        Show Records / Page
                    </label>
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.PriReciSexId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.PriReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                        @Html.ValidationMessageFor(model => model.PriReciSexId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.SecReciSexId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.SecReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })

                        @Html.ValidationMessageFor(model => model.SecReciSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.StatusId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                        @Html.ValidationMessageFor(model => model.StatusId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.RegGroupId, htmlAttributes: new { @class = "control-label col-md-12" })

                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.RegGroupId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.RegGroupId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.EnrolmentGroupId, htmlAttributes: new { @class = "control-label col-md-12" })

                    <div class="form-group  col-md-4">
                        @Html.ListBoxFor(model => model.EnrolmentGroupId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.EnrolmentGroupId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">

                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12" })

                    <div class="form-group col-md-4">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required multi-select" })
                    </div>

                    <div id="custom_range" class="form-group hidden   col-md-4">
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter required multi-select " })
                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.DobDateRangeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DobDateRangeId", null, htmlAttributes: new { @class = "form-control required single-select " })
                    </div>

                    <div id="custom_date_range" class="form-group hidden   col-md-12">
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.DobStartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobStartDate, new { htmlAttributes = new { @class = "form-control dob-start-date" } })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.DobEndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobEndDate, new { htmlAttributes = new { @class = "form-control dob-end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    @Html.EditorFor(model => Model.IsExportCsv)
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{
    if (Model.Details.Any())
    {
        <div class="table-responsive">
            <table class="table   table-bordered table-condensed  table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.Programme)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.BeneFirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.BeneMiddleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.BeneSurname)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.BeneDoB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.BeneSex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.BeneIDNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.CGFirstName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.CGMiddleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.CGSurname)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.CGDoB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.CGSex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.CGIDNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.MobileNo1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.MobileNo2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.County)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.Constituency)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetailedReport.SubLocation)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Programme)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneFirstName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.BeneMiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneSurname)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.BeneDoB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneSex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneIDNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CGFirstName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CGMiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CGSurname)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CGDoB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CGSex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CGIDNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MobileNo1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MobileNo2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.County)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Constituency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubLocation)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("Pager_HPEDetailed", new StaticPagedList<ReportDetailedHouseholdEnrolment>(Model.Details, Model.Page, Model.PageSize, @Model.Details[0].NoOfRows))

    }
}

else if (Model.ReportTypeId == 2)
{
    <div class="table-responsive">
        <table class="table   table-bordered table-condensed  table-striped">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.County)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Constituency)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.SubLocation)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.FemalePriReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.MalePriReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.FemalePriReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.MaleSecReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.TotalPriReci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SummaryReport.TotalSecReci)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Summary)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FemalePriReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MalePriReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FemalePriReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaleSecReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPriReci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalSecReci)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.Partial("Pager_HPESummary", new StaticPagedList<ReportSummaryHouseholdsPendingEnrolment>(Model.Summary, Model.Page, Model.PageSize, @Model.Summary[0].NoOfRows))
}