﻿@using CCTPMIS.Models.Reports
@using PagedList
@using PagedList.Mvc
@model CCTPMIS.Models.Reports.HouseholdsEnrolmentReportOption

@{
    ViewBag.Title = "Households Account Opening Reports";

}

<div class="panel panel-primary  panel-toggle @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        Filter @ViewBag.Title  Options
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>
        @using (Html.BeginForm("HouseholdAccounts", "Enrolment", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "control-label col-md-12" })
                    @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control required single-select" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger  col-md-12 " })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.PriReciSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.PriReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })

                        @Html.ValidationMessageFor(model => model.PriReciSexId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.SecReciSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.SecReciSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })

                        @Html.ValidationMessageFor(model => model.SecReciSexId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.PspId, htmlAttributes: new { @class = "control-label col-md-12" })

                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.PspId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control  multi-select " })

                        @Html.ValidationMessageFor(model => model.PspId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required multi-select" })
                    </div>
                    <div id="custom_range" class="form-group hidden   col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter   multi-select " })

                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.DobDateRangeId, htmlAttributes: new { @class = "control-label col-md-12 " })

                    <div class="form-group col-md-12">
                        @Html.DropDownList("DobDateRangeId", null, htmlAttributes: new { @class = "form-control required single-select " })
                    </div>

                    <div id="custom_date_range" class="form-group hidden   col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobStartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobStartDate, new { htmlAttributes = new { @class = "form-control dob-start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobEndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobEndDate, new { htmlAttributes = new { @class = "form-control dob-end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    @Html.EditorFor(model => Model.IsExportCsv)
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{

    <div class="table-responsive">
        <table class="table   table-bordered table-condensed  table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.ProgrammeNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.Programme)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.Psp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.PSPBranch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountOpenedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountAddedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.AccountStatus)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.HouseholdStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.BeneFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.BeneDoB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.BeneSex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.BeneIDNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.MobileNo1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.County)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.Constituency)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetailedReport.SubLocation)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.BeneficiaryAccounts.Any())
                {
                    foreach (var item in Model.BeneficiaryAccounts)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseholdEnrolment.ProgrammeNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseholdEnrolment.Household.Programme.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PspBranch.Psp.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PspBranch.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OpenedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateAdded )
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.HouseholdEnrolment.Household.Status.Description)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.BeneFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneDoB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneSex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeneIDNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MobileNo1)   @Html.DisplayFor(modelItem => item.MobileNo2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.County)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Constituency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubLocation)
                            </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.PagedListPager(Model.BeneficiaryAccounts, page => Url.Action("HouseholdAccounts", new { page }), PagedListRenderOptions.Classic)
        </div>
        <div class="col-md-4">
            Page @(Model.BeneficiaryAccounts.PageCount < Model.BeneficiaryAccounts.PageNumber ? 0 : Model.BeneficiaryAccounts.PageNumber) of @Model.BeneficiaryAccounts.PageCount
            Showing @Model.BeneficiaryAccounts.Count of @Model.BeneficiaryAccounts.TotalItemCount
        </div>
    </div>

}

else if (Model.ReportTypeId == 2)
{

}