﻿@using PagedList.Mvc
@model CCTPMIS.Models.Enrolment.EnrolmentListViewModel
@{
    ViewBag.Title = "Enrolment Reports";
}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Enrolment Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("HouseholdsPendingEnrolment")" class="list-group-item">Households Pending Enrolment By Programme</a>
                <a href="@Url.Action("HouseholdsPendingAccountOpening")" class="list-group-item"> Beneficiary Households Pending Account Opening </a>
                 </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Account Opening & Carding Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("HouseholdAccounts")" class="list-group-item"> Beneficiary Households with PSP Accounts  Reports </a>
                <a href="@Url.Action("HouseholdCarding")" class="list-group-item"> Beneficiary Households with PSP Accounts Carding Reports </a>
            </div>
        </div>
    </div>
</div>