﻿@using CCTPMIS.Business.Statics

@model  PagedList.IPagedList<CCTPMIS.Business.Model.ListingAccept>
@{
    var canVerify = User.UserGroupHasRight("HH LISTING VALIDATION:VERIFY");
    var canValidate = User.UserGroupHasRight("HH LISTING VALIDATION:VALIDATE");
    var canView = User.UserGroupHasRight("HH LISTING VALIDATION:VIEW");
    var canAccept = User.UserGroupHasRight("HH LISTING VALIDATION:ACCEPT");

}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    #
                </th>
                <th>
                    Batch Name
                </th>
                <th>
                    Sub County
                </th>

                <th>
                    Received Households
                </th>
                <th>
                    Is Batch   Validated?
                </th>
                <th>
                    Members   Pending Validation
                </th>

                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        #@Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BatchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Constituency.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedHHs)
                    </td>

                    <td>
                       @(item.IsValidated?"Yes" :"No")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PendingValidation)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                <li><a class="   " href="@Url.Action("BatchDetails", new {id = item.Id})"><i class="fa fa-eye"></i> Details </a></li>
                                @if (canValidate)
                                {
                                    if (!item.IsValidated)
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li><a class=" modal-link  " href="@Url.Action("Validate", new {id = item.Id})"><i class="fa fa-eye"></i>    SR/IPRS Validate </a></li>
                                    }
                                    if (!item.IsValidated && item.PendingValidation > 0)
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li><a class=" modal-link  " href="@Url.Action("Override", new {id = item.Id})"><i class="fa fa-eye"></i>   Ignore Pending Data </a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>