﻿@model CCTPMIS.Business.Model.UserGroup

<table class="table table-hover table-striped table-bordered">
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserGroupTypeId)
            </th>

            <td>
                @Html.DisplayFor(model => model.UserGroupType.Description)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserGroupProfileId)
            </th>

            <td>
                @Html.DisplayFor(model => model.UserGroupProfile.Description)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>

            <td>
                @Html.DisplayFor(model => model.CreatedOn)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>

            <td>
                @Html.DisplayFor(model => model.ModifiedOn)
            </td>
        </tr>
    </tbody>
</table>