﻿@model CCTPMIS.Models.UserGroupEditorVm

@{
    ViewBag.Title = "Create User Group";

}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.UserGroup.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserGroup.UserGroupProfileId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("UserGroupProfileId", null, "Select", htmlAttributes: new { @class = "form-control required", name = "UserGroupId" })
                            @Html.ValidationMessageFor(model => model.UserGroup.UserGroupProfileId, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserGroup.UserGroupTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("UserGroupTypeId", null, "Select", htmlAttributes: new { @class = "form-control required", name = "UserGroupId" })
                            @Html.ValidationMessageFor(model => model.UserGroup.UserGroupTypeId, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserGroup.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserGroup.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserGroup.Name, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.UserGroup.CreatedBy)
                    @Html.HiddenFor(model => model.UserGroup.CreatedOn)
                    @Html.HiddenFor(model => model.UserGroup.ModifiedBy)
                    @Html.HiddenFor(model => model.UserGroup.ModifiedOn)
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <div class="control-label">
                            Module Rights
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div id="tree">
                            <ul id="treeData" class="hummingbird-treeview" style="display: block">
                                <li>
                                    <i class="fa fa-caret-right"></i>

                                        <input class="grandparent" rel="0" value="0" name="AllRights[]" type="checkbox" />

                                    <i class="fa fa-folder"></i> All Modules
                                    <ul>
                                        @foreach (var item in Model.Modules)
                                        {
                                            if (item.ChildModules.Any())
                                            {
                                                <li id="@item.Id" class="folder">
                                                    <i class="fa fa-caret-right"></i>

                                                        <input class="parent" rel="@item.Id" value="@item.Id" name="TaskIds[]" type="checkbox" />

                                                    <i class="fa fa-folder-open"></i> <span>@item.Name  </span>

                                                    <ul>
                                                        @foreach (var child in item.ChildModules)
                                                        {

                                                            if (child.ModuleRights.Any())
                                                            {

                                                                <li id="@child.Id" class="folder">
                                                                    <i class="fa fa-caret-right"></i>

                                                                        <input class="child" rel="@child.Id" value="@child.Id" name="TaskIds[]" type="checkbox" />

                                                                    <i class="fa fa-folder"> </i>

                                                                    <span>@child.Name   </span>
                                                                    <ul>
                                                                        @foreach (var grandchild in child.ModuleRights)
                                                                        {

                                                                            <li class="file">

                                                                                    <input value="@grandchild.Id" name="ModuleRightId[]" type="checkbox" />

                                                                                <i class="fa fa-file"> </i> <span> @grandchild.Description</span>
                                                                            </li>

                                                                        }
                                                                    </ul>
                                                                </li>

                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {

                                                if (item.ParentModuleId == null)
                                                {
                                                    if (item.ModuleRights.Any())
                                                    {

                                                        <li id="@item.Id" class="folder">
                                                            <i class="fa fa-caret-right"></i>

                                                                <input class="child" rel="@item.Id" value="@item.Id" name="TaskIds[]" type="checkbox" />

                                                            <i class="fa fa-folder"> </i> <span>@item.Name   </span>
                                                            <ul>
                                                                @foreach (var child in item.ModuleRights)
                                                                {

                                                                    <li class="file">

                                                                            <input value="@child.Id" name="ModuleRightId[]" type="checkbox" />

                                                                        <i class="fa fa-file"> </i> @child.Description
                                                                    </li>

                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Partial("Common/_CreateFooter")
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scripts/hummingbird-treeview.js")
    @Styles.Render("~/content/hummingbird-treeview.css")

    <script>

        $('input').on('ifChanged', function (event) {
            $(event.target).trigger('change');
        });
        $('input.parent, input.grandparent, input.child').change(function () {

            $(this).siblings().find("input[type='checkbox']").prop('checked', this.checked);

        });
        $(".hummingbird-treeview i.fa.fa-caret-right,.hummingbird-treeview i.fa.fa-caret-down ").click(function () {
            $(this).parent().find('ul').slideToggle();
            if ($(this).hasClass('fa-caret-right')) {
                $(this).addClass('fa-caret-down');
                $(this).removeClass('fa-caret-right');
            } else {
                $(this).addClass('fa-caret-right');
                $(this).removeClass('fa-caret-down');
            }
        });
    </script>
}