﻿@model CCTPMIS.Business.Model.UserGroup

@{
    ViewBag.Title = "Delete  User Group " + Model.Name + " ?";
}
<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to delete this?</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_Summary", Model)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions ">
                @Html.Partial("Common/_DeleteFooter", Model.Id)
            </div>
        }
    </div>
</div>