﻿@model CCTPMIS.Models.UserGroupEditorVm

@{
    ViewBag.Title = ""+ Model.UserGroup.Name + " User Group Details";
    var withRights = Model.GroupRights.Select(x => x.ModuleRight.ModuleId);

}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_Summary", Model.UserGroup)
    </div>
</div>

<div class="form-group">
    <div class="form-group">
        <div class="col-md-2">
            <div class="control-label">
                Module Rights
            </div>
        </div>
        <div class="col-md-10">
            <div id="tree">
                <ul id="treeData" class="hummingbird-treeview" style="display: block">
                    <li>
                        <i class="fa fa-caret-right"></i>
                        @if (Model.GroupRights.Any())
                        {
                            <input class="grandparent" rel="0" value="0" name="AllRights[]" checked="checked" type="checkbox" />
                        }
                        else
                        {
                            <input class="grandparent" rel="0" value="0" name="AllRights[]" type="checkbox" />
                        }
                        <i class="fa fa-folder"></i> All Modules
                        <ul>
                            @foreach (var item in Model.Modules)
                            {
                                if (item.ChildModules.Any())
                                {
                                    <li id="@item.Id" class="folder">
                                        <i class="fa fa-caret-right"></i>
                                        @if (item.ChildModules.Any(x => withRights.Contains(x.Id)))
                                        {
                                            <input class="parent" rel="@item.Id" value="@item.Id" name="TaskIds[]" type="checkbox" checked="checked" />
                                        }
                                        else
                                        {
                                            <input class="parent" rel="@item.Id" value="@item.Id" name="TaskIds[]" type="checkbox" />
                                        }
                                        <i class="fa fa-folder-open"></i> <span>@item.Name   </span>
                                        <ul>
                                            @foreach (var child in item.ChildModules)
                                            {
                                                if (child.ModuleRights.Any())
                                                {
                                                    <li id="@child.Id" class="folder">
                                                        <i class="fa fa-caret-right"></i>
                                                        @if (Model.GroupRights.Any(x => x.ModuleRight.ModuleId == child.Id))
                                                        {
                                                            <input class="child" rel="@child.Id" value="@child.Id" name="TaskIds[]" type="checkbox" checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input class="child" rel="@child.Id" value="@child.Id" name="TaskIds[]" type="checkbox" />
                                                        }
                                                        <i class="fa fa-folder"> </i>
                                                        <span>@child.Name   </span>
                                                        <ul>
                                                            @foreach (var grandchild in child.ModuleRights)
                                                            {
                                                                <li class="file">
                                                                    @if (Model.GroupRights.Any(x => x.ModuleRightId == grandchild.Id))
                                                                    {
                                                                        <input value="@grandchild.Id" name="ModuleRightId[]" type="checkbox" checked="checked" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input value="@grandchild.Id" name="ModuleRightId[]" type="checkbox" />
                                                                    }
                                                                    <i class="fa fa-file"> </i> <span> @grandchild.Description</span>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    if (item.ParentModuleId == null)
                                    {
                                        if (item.ModuleRights.Any())
                                        {
                                            <li id="@item.Id" class="folder">
                                                <i class="fa fa-caret-right"></i>
                                                @if (Model.GroupRights.Any(x => x.ModuleRight.ModuleId == item.Id))
                                                {
                                                    <input class="child" rel="@item.Id" value="@item.Id" name="TaskIds[]" type="checkbox" checked="checked" />
                                                }
                                                else
                                                {
                                                    <input class="child" rel="@item.Id" value="@item.Id" name="TaskIds[]" type="checkbox" />
                                                }
                                                <i class="fa fa-folder"> </i> <span>@item.Name   </span>
                                                <ul>
                                                    @foreach (var child in item.ModuleRights)
                                                    {
                                                        <li class="file">
                                                            @if (Model.GroupRights.Any(x => x.ModuleRightId == child.Id))
                                                            {
                                                                <input value="@child.Id" name="ModuleRightId[]" type="checkbox" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input value="@child.Id" name="ModuleRightId[]" type="checkbox" />
                                                            }
                                                            <i class="fa fa-file"> </i> @child.Description
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
 </div>
</div>
<div class="row">
    <div class="col-md-12 m-tb-10">
        <div class="pull-left">
            <a href="@Url.Action("Index", "UserGroups")" class="btn btn-info"> <i class="fa fa-arrow-circle-left"></i> Back </a>
         </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/scripts/hummingbird-treeview.js")
    @Styles.Render("~/content/hummingbird-treeview.css")
    <script type="text/javascript">
        document.querySelectorAll('.hummingbird-treeview input').forEach(function(a) {
            a.disabled = true;
        });
        $('input.parent, input.grandparent, input.child').change(function (e) {
            e.preventDefault();
            e.stopPropagation();
        });
        $(".hummingbird-treeview i.fa.fa-caret-right,.hummingbird-treeview i.fa.fa-caret-down ").click(function () {
            $(this).parent().find('ul').slideToggle();
            if ($(this).hasClass('fa-caret-right')) {
                $(this).addClass('fa-caret-down');
                $(this).removeClass('fa-caret-right');
            } else {
                $(this).addClass('fa-caret-right');
                $(this).removeClass('fa-caret-down');
            }
        });
    </script>
}