﻿@model CCTPMIS.Business.Model.UserGroup

<div class="form-horizontal">
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.UserGroupProfileId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("UserGroupProfileId", null, htmlAttributes: new { @class = "form-control required", name = "UserGroupId" })
            @Html.ValidationMessageFor(model => model.UserGroupProfileId, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedOn)
    @Html.HiddenFor(model => model.ModifiedBy)
    @Html.HiddenFor(model => model.ModifiedOn)


</div>
