﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.UserGroup>

@{
    ViewBag.Title = "User Groups";
}

<div class="row">
    <div class="col-md-12">
        <div class="m-b-10 pull-right">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered table-striped">
            <tr>
                <th>
                    User Group Profile
                </th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Last Modified On
                </th>

                <th>
                    Last Modified By
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserGroupProfile.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserGroupType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.Name)
                    </td>
                    <td>

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">

                                <li>
                                    <a href="@Url.Action("Details", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="View Details" class="btn btn-xs   btn-primary">
                                        <i class="fa fa-eye"></i> View
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Edit", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-xs btn-primary">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>