﻿@model CCTPMIS.Models.Payment.ReconciliationDetailCreateViewModel

@{
    ViewBag.Title = "PSP Reconciliation Summary";
    var startDate = ViewBag.StartDate.ToString("D");
    var endDate = ViewBag.EndDate.ToString("D");
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ReconciliationId, new { Value = Request["reconciliationId"] })
                    </div>

                    <div class="col-md-7">
                        <div class="form-group">

                            <div class="col-md-6">
                                <label class="col-md-12 control-label">   <span>Start Date </span></label>
                                <div class="col-md-12">
                                    @startDate
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-12 control-label">  <span>End Date </span></label>
                                <div class="col-md-12">
                                    @endDate
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PspId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("PspId", null, "Select PSP", htmlAttributes: new { @class = "form-control required  PaymentCycleProgramme" })
                                @Html.ValidationMessageFor(model => model.PspId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OpeningBalance, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.OpeningBalance, new { htmlAttributes = new { @class = "form-control  required", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.OpeningBalance, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <hr /> </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CrClawBacks, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <span id="Span_CrClawBacks">
                                @Html.DisplayFor(model => model.CrClawBacks, new {htmlAttributes = new {@class = "form-control  ", @data_range_min = 1}})
                                </span>
                                @Html.HiddenFor(model => model.CrClawBacks, new {htmlAttributes = new {@class = "form-control  ", @data_range_min = 1}})
                                @Html.ValidationMessageFor(model => model.CrClawBacks, string.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CrClawBacksStatement, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.CrClawBacksStatement, new { htmlAttributes = new { @class = "form-control  required", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.CrClawBacksStatement, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CrClawBacksDiffNarration, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.CrClawBacksDiffNarration, new { htmlAttributes = new { @class = "form-control required ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.CrClawBacksDiffNarration, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <hr /> </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CrFundsRequests, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <span id="Span_CrFundsRequests">
                                @Html.DisplayFor(model => model.CrFundsRequests, new { htmlAttributes = new { @class = "   ", @data_range_min = 1 } })
                                </span>
                                @Html.HiddenFor(model => model.CrFundsRequests, new { htmlAttributes = new { @class = "form-control  ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.CrFundsRequests, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CrFundsRequestsStatement, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.CrFundsRequestsStatement, new { htmlAttributes = new { @class = "form-control required ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.CrFundsRequestsStatement, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CrFundsRequestsDiffNarration, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.CrFundsRequestsDiffNarration, new { htmlAttributes = new { @class = "form-control required ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.CrFundsRequestsDiffNarration, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <hr /> </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DrCommissions, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <span id="Span_DrCommissions">
                                    @Html.DisplayFor(model => model.DrCommissions, new { htmlAttributes = new { @class = "form-control  ", name = "", @data_range_min = 1 } })
                                </span>
                                @Html.HiddenFor(model => model.DrCommissions, new { htmlAttributes = new { @class = "form-control  ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.DrCommissions, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DrCommissionsStatement, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DrCommissionsStatement, new { htmlAttributes = new { @class = "form-control required ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.DrCommissionsStatement, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DrCommissionsDiffNarration, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DrCommissionsDiffNarration, new { htmlAttributes = new { @class = "form-control required ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.DrCommissionsDiffNarration, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <hr /> </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DrPayments, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <span id="Span_DrPayments">
                                    @Html.DisplayFor(model => model.DrPayments, new { htmlAttributes = new { @class = "form-control  ", name = "Span_DrPayments", @data_range_min = 1 } })
                                </span>
                                @Html.HiddenFor(model => model.DrPayments, new { htmlAttributes = new { @class = "form-control  ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.DrPayments, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DrPaymentsStatement, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DrPaymentsStatement, new { htmlAttributes = new { @class = "form-control required ", @data_range_min = 1 } })

                                @Html.ValidationMessageFor(model => model.DrPaymentsStatement, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DrPaymentsDiffNarration, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DrPaymentsDiffNarration, new { htmlAttributes = new { @class = "form-control required ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.DrPaymentsDiffNarration, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <hr /> </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.HiddenFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control  ", @data_range_min = 1 } })
                                <span id="Span_Balance">
                                    @Html.DisplayFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control  ", name = "Span_Balance", @data_range_min = 1 } })
                                </span>
                                @Html.ValidationMessageFor(model => model.Balance, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BalanceStatement, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.BalanceStatement, new { htmlAttributes = new { @class = "form-control  required", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.BalanceStatement, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BalanceDiffNarration, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.BalanceDiffNarration, new { htmlAttributes = new { @class = "form-control required ", @data_range_min = 1 } })
                                @Html.ValidationMessageFor(model => model.BalanceDiffNarration, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <hr /> </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UploadFile, htmlAttributes: new { @class = "control-label col-md-12 " })
                            <div class="col-md-12">
                                <label class="btn btn-default btn-file">
                                    Browse for Supporting documents
                                    @Html.TextBoxFor(m => m.Upload, new { type = "file", accept = "application/pdf" })
                                </label>
                                <label>
                                    <span id="dataFileLabel"> </span>
                                </label>
                            </div>
                            <div class="col-md-12">

                                @Html.HiddenFor(m => m.UploadFile, new { id = "UploadFile" })
                                @Html.ValidationMessageFor(model => model.UploadFile, string.Empty, new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.Upload, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <hr /> </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class=" col-md-12">
                                <a href="@Url.Action("Details", "Reconciliation", new {id = Request["reconciliationId"]})" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>

                                <button type="submit" class="btn btn-success"> <i class="fa fa-send-o"></i> Add </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("change", "#PspId", function (e) {
                e.preventDefault();
                e.stopPropagation();
                if ($("#PspId").val() !== "") {
                    var url = "/Funds/ReconciliationDetails/Analysis/?reconciliationId=" +
                        $("#ReconciliationId").val() +
                        "&pspId=" +
                        $("#PspId").val()
                        ;
                    $.getJSON({
                        url: url,
                        dataType: "json",
                        crossDomain: false,
                        beforeSend: function () {

                            $("#CrClawBacks").val("0.00");
                            $("#CrFundsRequests").val("0.00");
                            $("#DrCommissions").val("0.00");
                            $("#DrPayments").val("0.00");
                            $("#Balance").val("0.00");

                            $("#Span_CrClawBacks").text("0.00");
                            $("#Span_CrFundsRequests").text("0.00");
                            $("#Span_DrCommissions").text("0.00");
                            $("#Span_DrPayments").text("0.00");
                            $("#Span_Balance").text("0.00");

                        },
                        success: function (json) {

                            //console.log(json);

                            $("#CrClawBacks").val(json.CrClawBacks);
                            $("#CrFundsRequests").val(json.CrFundsRequests);
                            $("#DrCommissions").val(json.DrCommissions);
                            $("#DrPayments").val(json.DrPayments);
                            $("#Balance").val(json.Balance);

                            $("#Span_CrClawBacks").text(json.CrClawBacks);
                            $("#Span_CrFundsRequests").text(json.CrFundsRequests);
                            $("#Span_DrCommissions").text(json.DrCommissions);
                            $("#Span_DrPayments").text(json.DrPayments);
                            $("#Span_Balance").text(json.Balance);

                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                            var errorData = $.parseJSON(xhr.responseText);
                            var errorMessages = [];
                            for (var key in errorData) {
                                if (errorData.hasOwnProperty(key)) {
                                    errorMessages.push(errorData[key]);
                                }
                            }

                            $("#messageinner").html(errorMessages.join("<br />") + "\r\n");
                            $("#message").removeClass("hidden");

                        },

                        complete: function () {

                        }
                    });

                }

            });
        });
    </script>
}