﻿@using System.Web.Configuration
@using CCTPMIS.Business.Context
@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
    <!DOCTYPE html >
    <html >
    <head>
        <title> @WebConfigurationManager.AppSettings["SYSTEM_NAME"] : @ViewBag.Title </title>
        @Html.Partial("_Head")
    </head>
    <body>
    @Html.Partial("_HeaderStrip")
    <div class="page-container">
        <div class="page-sidebar">
            <header class="site-header">
                <div class="sidebar-collapse hidden-xs">
                    <a class="sidebar-collapse-icon" href="#">
                        <i class="icon-menu"></i>
                    </a>
                </div>
                <div class="sidebar-mobile-menu visible-xs">
                    <a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
                        <i class="icon-menu"></i>
                    </a>
                </div>
            </header>
            @Html.Partial("_Sidebar")
        </div>
        <div class="main-container">
            <div class="main-header row">
            </div>
            <div class="main-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer class="animatedParent animateOnce z-index-10">
                @Html.Partial("_Footer")
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/plugins")

    @Scripts.Render("~/bundles/cctpmis")*@
    @RenderSection("scripts", required: false)
    </body>
    </html>
}