﻿@model CCTPMIS.Business.Model.Zone


    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>







                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CreatedOn)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ModifiedByUser.DisplayName)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ModifiedOn)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                </td>
                <td>
                    <a href="@Url.Action("Counties","GeoMasters" ,new { id = Model.Id })" class="btn btn-info btn-sm ">  <i class="fa fa-eye"></i> Counties </a>
                </td>
                <td>
                    <a href="@Url.Action("Districts","GeoMasters", new {id = Model.Id})" class="btn btn-info btn-sm ">  <i class="fa fa-eye"></i> Districts </a>
                </td>
            </tr>
        </tbody>
    </table>
