﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Registration.BatchesViewModel

@{
    ViewBag.Title = "Registration Supervisory Review Batches";
    var canVerify = User.UserGroupHasRight("REGISTRATION SUPERVISORY:VERIFY");
    var canValidate = User.UserGroupHasRight("REGISTRATION SUPERVISORY:VALIDATE");
    var canView = User.UserGroupHasRight("REGISTRATION SUPERVISORY:VIEW");
    var canAccept = User.UserGroupHasRight("REGISTRATION SUPERVISORY:ACCEPT");
}

@if (Model.PendingAcceptance > 0)
{
    if (canAccept)
    {
        <div class="row">
            <div class="col-md-12  m-tb-10">
                <div class="pull-right">
                    @*<a href="@Url.Action("Accept", new {id = ViewContext.RouteData.Values["id"]})" class="btn modal-link  btn-primary">
                            <i class="fa fa-get-pocket"></i> Accept  All @Model.PendingAcceptance Records
                        </a>*@
                    <a href="@Url.Action("Pending", new {id = ViewContext.RouteData.Values["id"]})" class="btn  btn-primary">
                        <i class="fa fa-eye"></i> View @Model.PendingAcceptance Pending Records
                    </a>
                </div>
            </div>
        </div>
    }
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Listing Plan
                </th>
                <th>
                    Batch Name
                </th>
                <th>
                    Sub County
                </th>

                <th>
                    Received
                </th>
                <th>
                    Date Accepted
                </th>
                <th>
                    Accepted By
                </th>
                <th>
                    Approved By
                </th>
                <th>
                    Approved Date
                </th>

                <th></th>
            </tr>
            <tbody>
                @Html.Partial("Common/Batches", Model.ListingBatches)
            </tbody>
        </table>
    </div>
</div>

<div class="row  m-tb-30">
    <div class="col-md-3">
        @Html.Partial("Common/_BackToList")
    </div>
</div>