﻿@model CCTPMIS.Models.Targeting.TargetingSummaryVm

@{
    ViewBag.Title = "Registration Supervisory Review  Details";

}

<div class="row">
    <div class="col-md-12">
        <table class="table   table-users table-striped table-bordered table-hover">
            <tbody>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Name) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.Name)
                </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Description) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.Description)
                </td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Start) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.Start)
                </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.End) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.End)
                </td>
            </tr>

            <tr>
                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.StatusId) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.Status.Description)
                </td>
                <th> Associated Programmes </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ListingPlanProgrammes.Count)</td>
            </tr>
            <tr>
                <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedBy)  </th>
                <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedByUser.DisplayName)  </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedOn) </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedOn)</td>
            </tr>
            <tr>
                <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedBy)  </th>
                <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedByUser.DisplayName)  </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedOn) </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedOn)</td>
            </tr>
            <tr>
                <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvBy)  </th>
                <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvByUser.DisplayName)  </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvOn) </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvOn)</td>
            </tr>
            <tr>
                <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedBy)  </th>
                <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedByUser.DisplayName)  </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedOn) </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedOn)</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <table class="table table-users table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th> Programme </th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.TargetPlan.TargetPlanProgrammes)

            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Programme.Name)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12 animatedParent animateOnce z-index-50">
                <div class="panel minimal panel-default animated fadeInUp go">
                    <div class="panel-heading clearfix">
                        <div class="panel-title"> Data Analysis </div>
                    </div>
                    <div class="panel-body">
                        <div class="row col-with-divider">
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetRegSummaryVm.ListedHouseholds??0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.ListedHouseholds)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetRegSummaryVm.RegisteredHouseholds??0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.RegisteredHouseholds)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetRegSummaryVm.AcceptedHouseholds??0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.AcceptedHouseholds)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetRegSummaryVm.PendingHouseholds ?? 0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.PendingHouseholds)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 animatedParent animateOnce z-index-50">
                <div class="panel minimal panel-default animated fadeInUp go">
                    <div class="panel-heading clearfix">
                        <div class="panel-title">Household Result Analysis </div>
                    </div>
                    <div class="panel-body">
                        <div class="row col-with-divider">
                            <div class="col-xs-4 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetRegSummaryVm.CompletedHouseholds ?? 0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.CompletedHouseholds)</small>
                            </div>
                            <div class="col-xs-4 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetRegSummaryVm.NoOneAtHomeHouseholds ?? 0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.NoOneAtHomeHouseholds)</small>
                            </div>
                            <div class="col-xs-4 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetRegSummaryVm.CannotFindHouseholds ?? 0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.CannotFindHouseholds)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 animatedParent animateOnce z-index-49">
                <div class="panel minimal panel-default animated fadeInUp go">
                    <div class="panel-heading clearfix">
                        <div class="panel-title">
                            Batches Acceptance
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row col-with-divider">
                            <div class="col-xs-6 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetRegSummaryVm.AcceptedBatches ?? 0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.AcceptedBatches)</small>
                            </div>

                            <div class="col-xs-6 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetRegSummaryVm.ApprovedBatches ?? 0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.ApprovedBatches)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>