﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.TargetPlan

@{
    ViewBag.Title = "Registration Supervisory Review - Finalize Approve ";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canApprove = User.UserGroupHasRight("REGISTRATION SUPERVISORY:APPROVAL");
}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want to   Approve Registration Finalize  for  <strong> @Model.Name </strong> Registration Exercise and proceed to  SR/IPRS Validation?
            </p>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.Name)</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.Name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.Description)</th>
                    <td>@Html.DisplayFor(modelItem => modelItem.Description)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                        @if (canApprove)
                        {
                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i>  Approve for PMT Listing   </button>
                        }
                    </div>
                </div>
            </div>
        </div>

    }

    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>