﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Targeting.TargetingSummaryVm

@{
    ViewBag.Title = "Registration Supervisory Review - Finalize";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canFinalize = User.UserGroupHasRight("REGISTRATION SUPERVISORY:FINALIZE");
}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want to  Finalize  <strong> @Model.TargetPlan.Name </strong> Registration Supervisory Review  ?
            </p>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <tbody>

                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.ListedHouseholds)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetRegSummaryVm.ListedHouseholds)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => modelItem.GetRegSummaryVm.RegisteredHouseholds)</th>
                        <td>@Html.DisplayFor(modelItem => modelItem.GetRegSummaryVm.RegisteredHouseholds)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            @if (Model.GetRegSummaryVm.ListedHouseholds == Model.GetRegSummaryVm.RegisteredHouseholds)
            {
            <div class="alert alert-info">
                All the Listed Households have not been Submitted.
            </div>
            }
        </div>
    </div>
</div>

<div class="modal-footer">
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                    @if (canFinalize)
                    {
                    if (Model.GetRegSummaryVm.ListedHouseholds == Model.GetRegSummaryVm.RegisteredHouseholds)
                    {
                    <button type="submit" class="btn btn-success "> <i class="icon-check"></i>  Finalize</button>
                    }
                    }
                </div>
            </div>
        </div>
    </div>

    }

    @section scripts
    {

    <script type="text/javascript">

        $(document).on("submit", "form", function (e) {

            $(this).find("button[type='submit']").each(function () {
                $(this).addClass("disabled");
            });
            $("#progress").removeClass("hidden");
        });
    </script>
    }
</div>