﻿@model CCTPMIS.Models.Registration.HhREjectVm

@{
    ViewBag.Title = "Reject Household Record.";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.LocationId)
    @Html.HiddenFor(model => model.TargetPlanId)
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.Reason, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>

            <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Reject </button>

        </div>
    </div>


}