﻿@model CCTPMIS.Models.UserGroupCheckBoxListItem

<li>
    @Html.HiddenFor(x => x.Id)
    @Html.CheckBoxFor(x => x.IsChecked)
    @Html.LabelFor(x => x.IsChecked, Model.Display)
    <ul>
        @if (Model.Rights!=null)
        {
            @Html.EditorFor(x=>x.Rights)
        }
    </ul>
</li>