﻿@model CCTPMIS.Business.Model.SystemCode

<div class="row">
    <div class="col-md-12">
        <table class="table-hover table table-bordered table-striped">
            <tbody>
            <tr>
                <th>
                    Code
                </th>
                <td>
                    @Model.Code
                </td>
            </tr>
            <tr>
                <th>
                    Description
                </th>
                <td>
                    @Model.Description
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>