﻿@model CCTPMIS.Business.Model.SystemCode

@{
    ViewBag.Title = "Bulk Upload PSP Branches";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_Summary", Model)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, new { id = ViewContext.RouteData.Values["id"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-6">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="btn btn-default btn-file">
                            Browse <input type="file" style="display: none" id="dataFile" name="upload" />
                        </label>
                        <label>
                            <span id="dataFileLabel"> </span>
                        </label>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <div id="upload_messages" class="alert alert-@ViewBag.MessageType">@ViewBag.Message</div>
                    }
                </div>

                <div class="col-md-6">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-send"></i> Upload </button>
                        <a href="@Url.Action("Details", "SystemCodes", new { id = Model.Id })" class="btn btn-info"> Details </a>
                        <a href="@Url.Action("Index", "SystemCodes")" class="btn btn-danger"> All Codes </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>