﻿@model CCTPMIS.Business.Model.SystemCode

@{
    ViewBag.Title = "General Parameters";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_Summary", Model)
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-tb-30">
        <div class="pull-right">
            <a href="@Url.Action("Index")" class="btn   btn-info"> <i class="fa fa-arrow-circle-left"></i> Back to List </a>

            @if (Model.IsUserMaintained)
            {
                <a href="@Url.Action("CreateDetail", new { id = Model.Id })" class="btn   btn-success"> <i class="fa fa-plus-circle"></i> new </a>
                <a href="@Url.Action("BulkUpload", new { id = Model.Id })" class="btn   btn-success"> <i class="fa fa-plus-circle"></i> Bulk Upload </a>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        @if (Model.SystemCodeDetails.Any())
        {
            <div class="table-responsive">

                <table class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th> Order Number</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.SystemCodeDetails)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Code</td>
                            <td>@item.Description</td>
                            <td>@item.OrderNo</td>
                            <td>
                                @if (Model.IsUserMaintained)
                                {
                                    <a href="@Url.Action("EditDetail", new { id = item.Id })" class="btn btn-danger btn-sm"> <i class="fa fa-edit"></i> Edit </a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>