﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.SystemCode>

@{
    ViewBag.Title = "System Codes";
}

<div class="row">
    <div class="col-md-12">
        <div class="m-tb-10 pull-right">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Is User Maintained
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsUserMaintained)
                    </td>
                    <td>
                        <a class="btn btn-success btn-xs" href="@Url.Action("Details", "SystemCodes", new { id = item.Id })">
                            <i class="fa fa-eye"></i>
                        </a>

                        @if (item.IsUserMaintained)
                        {
                            <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", "SystemCodes", new { id = item.Id })">
                                <i class="fa fa-edit"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>