﻿@model CCTPMIS.Business.Model.County

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped ">
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GeoMaster.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.GeoMaster.Name)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Code)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedByUser.DisplayName)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <a class="btn btn-default" href="@Url.Action("Details", new{id = Model.Id })" role="button">Details</a>
            <a class="btn btn-default" href="@Url.Action("Constituencies", new{id = Model.Id })" role="button">Constituencies</a>
            @*<a class="btn btn-default" href="@Url.Action("CountyDistricts", new{id = Model.Id })" role="button">County Districts</a>*@
        </div>
    </div>
</div>