﻿@model CCTPMIS.Business.Model.County

@{
    ViewBag.Title = "County Details";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommonDetails", Model)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    County Name
                </th>
                <th>
                    County Code
                </th>
                <th>
                    District Name
                </th>
                <th>
                    District Code
                </th>

                <th>
                    Created On
                </th>
                <th>
                    Modified By
                </th>
                <th>
                    Modified On
                </th>
                <th>
                    Created By
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.CountyDistricts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.County.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.County.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.District.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.District.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.FirstName)
                    </td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
</div>