﻿@model PagedList.IPagedList<CCTPMIS.Business.Model.County>
@using PagedList.Mvc

@{
    ViewBag.Title = "Counties - All";
}

<div class="row">
    <div class="col-md-9">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            <div class="col-md-9">
                <div class="form-group">
                    @Html.Label("Geo Master", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("GeoMasterId", null, "Select Geo Master", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        }
    </div>

    <div class="col-md-3">
        <div class="pull-right">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Geo Master
                </th>
                <th>
                    Name
                </th>
                <th>
                    Code
                </th>

                @*<th>
            Created On
        </th>
        <th>
            Modified By
        </th>
        <th>
            Modified On
        </th>
        <th>
            Created By
        </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeoMaster.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>

                    @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
                    </td>*@
                    <td>
                        @Html.Partial("Common/_GridDIcons", item.Id)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, countyId = Request["CountyId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>