﻿@model CCTPMIS.Business.Model.CaseCategory

@{
    ViewBag.Title = "Create a new Case Category";
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.CaseTypeId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("CaseTypeId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.CaseTypeId, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DocumentsToAttach, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DocumentsToAttach, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DocumentsToAttach, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReportingProcess, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ReportingProcess, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReportingProcess, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Timeline, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Timeline, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Timeline, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TypeofDayId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("TypeofDayId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.TypeofDayId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <a class="btn btn-info" href="@Url.Action("Index")"> <i class="fa fa-arrow-left"></i> Back </a>
                    <button type="submit" class="btn btn-success"> <i class="fa fa-send-o"></i> Create </button>
                </div>
            </div>
        </div>
        }
    </div>
</div>

@section scripts
{
    <script>

        $(document).on("change", "#CaseTypeId",
            function (e) {
                var working = "<span id ='spin' ><i class='fa fa-spinner fa-spin fa-3x fa-fw'></i></span>";

                if ($(this).val() !== "") {
                    $.ajax({
                        url: "/Data/GetCaseTypeCategories/" + $(this).val(),
                        dataType: "json",
                        crossDomain: true,

                        beforeSend: function () {
                            $(this).parent().append(working);
                            $("#CategoryId").html("");
                            $("#CategoryId").append("<option> Select </option>");
                        },
                        success: function (json) {
                            var data = json;
                            //console.log(data);

                            $(data).map(function () {

                                $("#CategoryId").append($('<option></option>').val(this.Id).html(this.Description));
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                        },

                        complete: function () {
                            $("#spin").remove();
                        }
                    });
                }
            });
    </script>

}