﻿@model CCTPMIS.Business.Model.CaseCategory

@{
    ViewBag.Title = "Case Category Details";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-hover">

            <tbody>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.CaseTypeId)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CaseType.Description)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CreatedOn)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Code)
                </td>

                <th>
                    @*@Html.DisplayNameFor(model => model.CreatedOn)*@
                </th>

                <td>
                    @*@Html.DisplayFor(model => model.CreatedOn)*@
                </td>
            </tr>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.DocumentsToAttach)
                </th>

                <td>
                    @Html.DisplayFor(model => model.DocumentsToAttach)
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.ReportingProcess)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ReportingProcess)
                </td>
            </tr>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ModifiedByUser.DisplayName)
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ModifiedOn)
                </td>
            </tr>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ApvOn)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ApvOn)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.ApvBy)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ApvByUser.DisplayName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Timeline)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Timeline)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.TypeofDayId)
                </th>

                <td>
                    @*@Html.DisplayFor(model => model.TypeofDay.Description)*@
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>