﻿@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.CaseCategory>

@{
    ViewBag.Title = "Case Categories";
}
<div class="row">
    <div class="col-md-12">
        <div class="m-tb-10 pull-right">

            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Name
                </th>
                <th>
                   Code
                </th>
                <th>
                   Timelines
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CaseType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timeline)  @Html.DisplayFor(modelItem => item.TypeofDay.Description) Days
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>