﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.RegAccept>
@{
    var canVerify = User.UserGroupHasRight("TARGETING ACCEPTANCE:VERIFY");
    var canValidate = User.UserGroupHasRight("TARGETING ACCEPTANCE:VALIDATE");
    var canView = User.UserGroupHasRight("TARGETING ACCEPTANCE:VIEW");
    var canAccept = User.UserGroupHasRight("TARGETING ACCEPTANCE:ACCEPT");
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Batch Name
                </th>
                <th>
                    Sub County
                </th>
                <th>
                    Recertification Plan
                </th>
                <th>
                    Received
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BatchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Constituency.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TargetPlan.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedHHs)
                    </td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                <li><a class="   " href="@Url.Action("BatchDetails", new {id = item.Id})"><i class="fa fa-eye"></i> Details </a></li>
                                <li role="separator" class="divider"></li>
                                @if (canValidate)
                                {
                                    <li><a class=" modal-link  " href="@Url.Action("Validate", new {id = item.Id})"><i class="fa fa-eye"></i>    SR/IPRS Validate </a></li>
                                    <li role="separator" class="divider"></li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>


