﻿@model CCTPMIS.Business.Model.GroupRight

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-12">

        <h3>Are you sure you want to delete this?</h3>
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserGroup.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserGroup.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>