﻿@model CCTPMIS.Business.Model.GroupRight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserGroup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserGroup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUser.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>