﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.UserGroup>

@{
    ViewBag.Title = "Group Rights";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered table-striped">
            <tr>
                <th>
                    User Group Profile
                </th>
                <th>
                    Name
                </th>

                <th>
                    Created On
                </th>

                <th>
                    Last Modified On
                </th>

                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserGroupProfile.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        <a href="@Url.Action("Rights", new { id = item.Id })" class="btn btn-xs  btn-primary"><i class="fa fa-eye"></i> View </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>