﻿@model CCTPMIS.Business.Model.UserGroup

@{
    ViewBag.Title = Model.Name + " Modules";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label class="col-md-12 control-label">
                        Modules
                    </label>
                    <div class="col-md-12">
                        @foreach (var item in ViewBag.ModuleRightId)
                        {
                            <div class="checkbox">

                                <input type="checkbox" name="selectedModuleId" checked="@item.Selected" value="@item.Value" class="checkbox-inline" />
                                <label> @item.Text </label>
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.Partial("Common/_EditFooter", Model.Id)
                </div>
            </div>
        }
    </div>
</div>