﻿@model CCTPMIS.Business.Model.PaymentZone

@{
    ViewBag.Title = "Payment Zone Details";
}

<div class="row">
    <div class="col-md-12">

        <table class="table-bordered table table-striped table-hover">
            <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Commission)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Commission)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.IsPerc)
                </th>

                <td>
                    @Html.DisplayFor(model => model.IsPerc)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUser.FirstName)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CreatedByUser.FirstName)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CreatedOn)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedByUser.FirstName)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ModifiedByUser.FirstName)
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ModifiedOn)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("Common/_BackToList")
    </div>
</div>