﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.PaymentZone>

@{
    ViewBag.Title = "Payment Zones";
}

<div class="row">
    <div class="col-md-12">
        <div class="m-b-10 pull-right">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <tr>

                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Commission
                </th>
                <th>
                    Is Percentage?
                </th>
                <th>
                    Created By
                </th>

                <th>
                    Created On
                </th>
                <th>
                    Last Modified By
                </th>
                <th>
                    Last Modified On
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Commission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPerc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        <a class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="View Details" href="@Url.Action("Details", new { id = item.Id })">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Edit" href="@Url.Action("Edit", new { id = item.Id })">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>