﻿@model CCTPMIS.Models.Registration.ListingAcceptVm

@{
    ViewBag.Title = "Accept Submitted Data";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownList("ConstituencyId", null, "Select Sub County", htmlAttributes: new { @class = "form-control required", })
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                @Html.HiddenFor(model => model.CountyId)
                @Html.HiddenFor(model => model.TargetPlanId)
                @Html.HiddenFor(model => model.BatchName)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Yes, I Accept.</button>
    </div>

}