﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Registration.BatchesViewModel

@{
    ViewBag.Title = "Listed Households Supervisory Review";
    var canVerify = User.UserGroupHasRight("HH LISTING SUPERVISORY REVIEW:VERIFY");
    var canValidate = User.UserGroupHasRight("HH LISTING SUPERVISORY REVIEW:VALIDATE");
    var canView = User.UserGroupHasRight("HH LISTING SUPERVISORY REVIEW:VIEW");
    var canAccept = User.UserGroupHasRight("HH LISTING SUPERVISORY REVIEW:ACCEPT");
}

@if (Model.PendingAcceptance > 0)
{
    if (canAccept)
    {
        <div class="row">
            <div class="col-md-12  m-tb-10">
                <div class="pull-right">

                    <a href="@Url.Action("Pending", new {id = ViewContext.RouteData.Values["id"]})" class="btn  btn-primary">
                        <i class="fa fa-get-pocket"></i> View @Model.PendingAcceptance Batch
                    </a>
                    @*<a href="@Url.Action("Accept", new {id = ViewContext.RouteData.Values["id"]})" class="btn modal-link  btn-primary">
                            <i class="fa fa-get-pocket"></i> Accept  All @Model.PendingAcceptance Records
                        </a>*@
                </div>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>

                <th>
                    Batch Name
                </th>
                <th>
                    Sub County
                </th>

                <th>
                    Received
                </th>
                <th>
                    Date Accepted
                </th>
                <th>
                    Accepted By
                </th>
                <th>
                    Approved By
                </th>
                <th>
                    Approved Date
                </th>
                <th>
                    Is Batch SR/IPRS Validated?
                </th>
                <th>
                    Members  Pending Validation
                </th>
                <th></th>
            </tr>

            @if (Model.ListingBatches !=null)
            {

                @Html.Partial("Common/Batches", Model.ListingBatches)

            }
        </table>
    </div>
</div>

<div class="row  m-tb-30">
    <div class="col-md-3">
        @Html.Partial("Common/_BackToList")
    </div>
</div>