﻿@model CCTPMIS.Models.Targeting.TargetingSummaryVm

@{
    ViewBag.Title = "Household Listing Supervisory Review Details ";

}

<div class="row">
    <div class="col-md-12">
        <table class="table   table-users table-striped table-bordered table-hover">
            <tbody>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Name) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.Name)
                </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Description) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.Description)
                </td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Start) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.Start)
                </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.End) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.End)
                </td>
            </tr>

            <tr>
                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.StatusId) </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TargetPlan.Status.Description)
                </td>
                <th> Associated Programmes </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ListingPlanProgrammes.Count)</td>
            </tr>
            <tr>
                <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedBy)  </th>
                <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedByUser.DisplayName)  </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedOn) </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedOn)</td>
            </tr>
            <tr>
                <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedBy)  </th>
                <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedByUser.DisplayName)  </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedOn) </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedOn)</td>
            </tr>
            <tr>
                <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvBy)  </th>
                <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvByUser.DisplayName)  </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvOn) </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvOn)</td>
            </tr>
            <tr>
                <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedBy)  </th>
                <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedByUser.DisplayName)  </td>

                <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedOn) </th>
                <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedOn)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-users table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th> Programme </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.TargetPlan.ListingPlanProgrammes)

                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Programme.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12 animatedParent animateOnce z-index-50">
                <div class="panel minimal panel-default animated fadeInUp go">
                    <div class="panel-heading clearfix">
                        <div class="panel-title">Data Analysis </div>
                    </div>
                    <div class="panel-body">
                        <div class="row col-with-divider">
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetTargetSummaryVm.RegisteredHouseholds)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetTargetSummaryVm.RegisteredHouseholds)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetTargetSummaryVm.AcceptedHouseholds)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetTargetSummaryVm.AcceptedHouseholds)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetTargetSummaryVm.RejectedHouseholds)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetTargetSummaryVm.RejectedHouseholds)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetTargetSummaryVm.PendingHouseholds)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetTargetSummaryVm.PendingHouseholds)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 animatedParent animateOnce z-index-49">
                <div class="panel minimal panel-default animated fadeInUp go">
                    <div class="panel-heading clearfix">
                        <div class="panel-title">
                            Acceptance
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row col-with-divider">
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetTargetSummaryVm.AcceptedBatches)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetTargetSummaryVm.AcceptedBatches)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@(Model.GetTargetSummaryVm.PendingApproval ?? 0)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetTargetSummaryVm.PendingApproval)</small>
                            </div>
                            <div class="col-xs-3 text-center stack-order">
                                <h1 class="no-margins">@Html.DisplayFor(modelItem => modelItem.GetTargetSummaryVm.ApprovedBatches)</h1>
                                <small>@Html.DisplayNameFor(modelItem => modelItem.GetTargetSummaryVm.ApprovedBatches)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>