﻿@model CCTPMIS.Business.Model.ListingPlanHH

@{
    ViewBag.Title = "Household Summary";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <h3> Household  Summary </h3>
                <tbody>
                    <tr>

                        <th> Targeting Id </th>
                        <td># @Html.DisplayFor(modelItem => modelItem.Id) </td>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.UniqueId) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.UniqueId)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.ProgrammeId) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Programme.Name)
                        </td>

                        <th> @Html.DisplayNameFor(modelItem => modelItem.LocationId) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Location.Name)
                        </td>
                    </tr>

                    <tr>

                        <th> @Html.DisplayNameFor(modelItem => modelItem.SubLocationId) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.SubLocation.Name)
                        </td>

                        <th> @Html.DisplayNameFor(modelItem => modelItem.Village) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Village)
                        </td>
                    </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.DurationDisplay) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.DurationDisplay)
                        </td>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.PhysicalAddress) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.PhysicalAddress)
                        </td>
                    </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.NearestReligiousBuilding) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.NearestReligiousBuilding)
                        </td>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.NearestSchool) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.NearestSchool)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.HouseholdMembers) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.HouseholdMembers)
                        </td>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.GeoPosition) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.GeoPosition)
                        </td>
                    </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.StatusId) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Status.Description)
                        </td>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.RegDate) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.RegDate)
                        </td>
                    </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.StartTime) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.StartTime)
                        </td>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.EndTime) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.EndTime)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.EnumeratorId) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Enumerator.FirstName)
                        </td>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.SyncEnumeratorId) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.SyncEnumerator.FullName)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.RejectReason) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.RejectReason)
                        </td>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.RejectById) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.RejectById)
                        </td>
                    </tr>
                </tbody>
            </table>

        @if (Model.BeneNationalIdNo != null)
        {
            <h3> Beneficiary Details</h3>

            <table class="table table-condensed table-bordered table-striped table-hover">

                <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.BeneFullName) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.BeneFullName)
                    </td>
                </tr>

                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.BeneNationalIdNo) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.BeneNationalIdNo)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.BeneSexId) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.BeneSexName)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.BeneDoB) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.BeneDoB)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.BenePhoneNumber) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.BenePhoneNumber)
                    </td>
                </tr>
                </tbody>
            </table>
        }

            <h3> Care giver  Details</h3>
            <table class="table table-condensed table-bordered table-striped table-hover">

                <tbody>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.CgFullName) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.CgFullName)
                        </td>
                    </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.CgNationalIdNo) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.CgNationalIdNo)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.CgSexId) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.CgSexName)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.CgDoB) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.CgDoB)
                        </td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.CgPhoneNumber) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.CgPhoneNumber)
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3> Device Details</h3>
            <table class="table table-condensed table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.EnumeratorDevice.DeviceManufacturer) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.EnumeratorDevice.DeviceManufacturer)
                        </td>

                        <th>  @Html.DisplayNameFor(modelItem => modelItem.EnumeratorDevice.DeviceModel) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.EnumeratorDevice.DeviceModel)
                        </td>

                        <th>  @Html.DisplayNameFor(modelItem => modelItem.EnumeratorDevice.DeviceId) </th>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.EnumeratorDevice.DeviceId)
                        </td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.EnumeratorDevice.DeviceName) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.EnumeratorDevice.DeviceName)
                    </td>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.EnumeratorDevice.Version) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.EnumeratorDevice.Version)
                    </td>

                    <th>  @Html.DisplayNameFor(modelItem => modelItem.EnumeratorDevice.Idiom) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.EnumeratorDevice.Idiom)
                    </td>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.AppBuild) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.AppBuild)
                    </td>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.AppVersion) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.AppVersion)
                    </td>

                    <th>  </th>
                    <td>                        </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>