﻿@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.ListingPlanHH>

@{
    ViewBag.Title = "Listed Households -   Supervisory Review";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Targeting Id</th>
                <th>Caregiver Name</th>
                <th>Caregiver National ID</th>
                <th>Caregiver DOB</th>
                <th>County</th>
                <th>SubCounty</th>
                <th>  Location</th>
                <th>Sub Location</th>
                <th>Village</th>
                <th>Programme </th>
                <th>Household Listing Date</th>
                <th> Geo Coordinates </th>
                <th> Enumerator's Name </th>
                <th>  </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CgFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CgNationalIdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CgDoB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCounty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubLocation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Village)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme.Code)
                </td>
                <td>
                    @item.RegDate.ToString("G")
                </td>
                <td>
                    [@item.Latitude, @item.Longitude]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enumerator.FullName)
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Actions</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu  dropdown-menu-right">

                            <li><a class="modal-link " href="@Url.Action("HouseholdSummary", new { id = item.Id, locationId = item.LocationId})"><i class="fa fa-eye"></i> View Household Details </a></li>
                            @if (item.RejectById == null)
                            {

                                <li role="separator" class="divider"></li>
                                <li><a class="modal-link" href="@Url.Action("RejectHousehold", new { id=item.Id })"><i class="fa fa-times-circle-o"></i> Reject </a></li>

                            }
                        </ul>
                    </div>
                </td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("PendingHouseholds", new { id = ViewContext.RouteData.Values["id"], locationId = Request["locationId"], page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>

    <div class="col-md-12">
        <a onclick="window.history.go(-1); return false;" class="btn   btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to Batch List  </a>
    </div>
</div>