﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Registration.RejectBatches
@using Microsoft.AspNet.Identity
@using PagedList.Mvc


@{
    ViewBag.Title = "Listed Households Supervisory Review";
    var canVerify = User.UserGroupHasRight("HH LISTING SUPERVISORY REVIEW:VERIFY");
    var canValidate = User.UserGroupHasRight("HH LISTING SUPERVISORY REVIEW:VALIDATE");
    var canView = User.UserGroupHasRight("HH LISTING SUPERVISORY REVIEW:VIEW");
    var canAccept = User.UserGroupHasRight("HH LISTING SUPERVISORY REVIEW:ACCEPT");
}



<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>

                <th>
                    Target Plan
                </th>

                <th>
                    Start Date
                </th>

                <th>
                    End Date
                </th>
                <th>
                    County
                </th>

                <th>
                    SubCounty
                </th>
                <th>
                    Total Rejected
                </th>
                <th>

                </th>
            </tr>

            @if (Model.RejectedBatches.Any())
            {
                foreach (var item in Model.RejectedBatches)
                {
                    <tr>
                        <td>@item.TargetPlanId</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.County</td>
                        <td>@item.Constituency</td>
                        <td>@item.TotalRejected</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Actions</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu  dropdown-menu-right">
                                    <li><a class="   " href="@Url.Action("RejectedBatchesDetails", new { id = item.TargetPlanId, countyid = item.CountyId, subcountyid = item.ConstituencyId })"><i class="fa fa-eye"></i> Details </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
<div class="row">
   

</div>
<div class="row  m-tb-30">
    <div class="col-md-3">
        @Html.Partial("Common/_BackToList")
    </div>
</div>