﻿@model CCTPMIS.Models.Registration.SrIprsValidateVm
@{
    ViewBag.Title = "Validate Submitted Data";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.TargetPlanId)
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Are you Sure you want to Validate All the Households in this Batch Against SR/IPRS?
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Yes, Proceed.</button>
    </div>
}