﻿@model CCTPMIS.Business.Model.ELMAH_Error

@{
    ViewBag.Title = "Error ";
    //Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Error Details </h3>
    </div>
    <div class="panel-body">
        <div class="row animatedParent animateOnce z-index-45">
            <div class="col-lg-12 animated fadeInUp go">
                <table class="table table-condensed table-striped">

                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.ErrorId) </th>
                            <td> @Html.DisplayFor(modelItem => Model.ErrorId)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Host) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Host)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Type) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Type)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Source) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Source)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.User) </th>
                            <td> @Html.DisplayFor(modelItem => Model.User)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.StatusCode) </th>
                            <td> @Html.DisplayFor(modelItem => Model.StatusCode)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.TimeUtc) </th>
                            <td> @Html.DisplayFor(modelItem => Model.TimeUtc)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Sequence) </th>
                            <td> @Html.DisplayFor(modelItem => Model.Sequence)</td>
                        </tr>
                        <tr>
                            <th colspan="2">@Html.DisplayNameFor(modelItem => Model.Message) </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>
                                    @Html.DisplayFor(modelItem => Model.Message)
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <th colspan="2">@Html.DisplayNameFor(modelItem => Model.AllXml) </th>
                        </tr>
                        <tr>
                            <td style="width: 700px;" colspan="2">
                                <p>
                                 <pre>
                                  @Html.DisplayFor(modelItem => Model.AllXml)
                                </pre>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>