﻿@model PagedList.IPagedList<CCTPMIS.Business.Model.Village>
@using PagedList.Mvc

@{
    ViewBag.Title = "Sub Locations";
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("SubLocation", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.DropDownList("SubLocationId", null, "Select Location ", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @Html.Partial("Common/_AddButton")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Constituency
                </th>
                <th>
                    Location
                </th>
                <th>
                    SubLocation Name
                </th>
                <th>
                    Code
                </th>
                <th>
                    Locality
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Modified By
                </th>
                <th>
                    Modified On
                </th>
                <th>
                    Created By
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubLocation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubLocation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubLocation.LocalityId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.FirstName)
                    </td>
                    <td>
                        @Html.Partial("Common/_GridDIcons", item.Id)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, LocationId = Request["LocationId"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>