﻿@model CCTPMIS.Business.Model.BulkTransfer

@{
    ViewBag.Title = "Bulk Transfer";
}
@if (Model.Status.Code == "Open")
{
    <div class="row">
        <div class="col-md-12">

            @if (Model.ApvBy == null)
            {<div class="btn-group pull-right m-tb-10   ">
                    <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu  dropdown-menu-right">

                        <li><a class="modal-link" href="@Url.Action("AddUpdates", new {id = Model.Id})">Add Updates to Batch</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="modal-link" href="@Url.Action("Approve", new {id = Model.Id})"> Approve </a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </div>
            }
        </div>
    </div>

}
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id) </th>
                    <td>@Html.DisplayFor(model => model.Id) </td>

                    <th>  </th>
                    <td>  </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.StatusId) </th>
                    <td>@Html.DisplayFor(model => model.Status.Description) </td>

                    <th>@Html.DisplayNameFor(model => model.Name) </th>
                    <td>@Html.DisplayFor(model => model.Name) </td>
                </tr>
                <tr>
                    <th colspan="4">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                </tr>
                <tr>
                    <td colspan="4">
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CreatedBy) </th>
                    <td>@Html.DisplayFor(model => model.CreatedByUser.DisplayName) </td>
                    <th>@Html.DisplayNameFor(model => model.CreatedOn) </th>
                    <td>@Html.DisplayFor(model => model.CreatedOn) </td>
                </tr>

                @if (Model.ModifiedBy != null)
                {
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ModifiedBy) </th>
                        <td>@Html.DisplayFor(model => model.ModifiedByUser.DisplayName) </td>
                        <th>@Html.DisplayNameFor(model => model.ModifiedOn) </th>
                        <td>@Html.DisplayFor(model => model.ModifiedOn) </td>
                    </tr>
                }

                @if (Model.ApvBy != null)
                {

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ApvBy) </th>
                        <td>@Html.DisplayFor(model => model.ApvByUser.DisplayName) </td>
                        <th>@Html.DisplayNameFor(model => model.ApvOn) </th>
                        <td>@Html.DisplayFor(model => model.ApvOn) </td>
                    </tr>
                }
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FileId) </th>
                    <td>
                        @if (Model.FileId != null)
                        {
                            <a href="@Url.Action("Verify", "Services", new {area = "", id = Model.FileId})">
                                <i class="fa fa-cloud-download"></i> Download
                            </a>
                        }
                    </td>
                    <th>  </th>
                    <td>  </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> Change Type </th>
                            <th> No. Of Updates </th>
                        </tr>
                    </thead>
                    @if (Model.BulkTransferDetails.Any())
                    {
                        var looper = Model.BulkTransferDetails.GroupBy(x => x.Change.ChangeType.Description);

                        <tbody>
                            @foreach (var item in looper)
                            {
                                <tr>
                                    <td> @item.Key </td>
                                    <td> @item.Count()</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>