﻿@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.BulkTransfer>

@{
    ViewBag.Title = "Bulk Transfers";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="pull-right m-tb-10 ">
            @Html.Partial("Common/_AddButton")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped ">
            <tr>

                <th>
                    Name
                </th>
                <th>
                    Description
                </th>

                <th>
                    Created By
                </th>
                <th>
                    Created On
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>

                    <td>
                        @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-eye" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>