﻿@using System.Web.Configuration
<div class="footer-main animated fadeInUp slow">
    &copy; @DateTime.Now.ToString("yyyy") <strong>
        @WebConfigurationManager.AppSettings["SYSTEM_OWNER"]  
           
       
    </strong>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="popup">
        </div>
    </div>
</div>

@section scripts
{
   

        
    
}