﻿@model CCTPMIS.Models.Reports.TargetingReportVm

@if (Model.GroupBy == "PSP")
{

    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModelMins.Any())
            {
                foreach (var item in Model.SummaryReportVieModelMins)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.GroupBy == "COUNTY")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModelMins.Any())
            {
                foreach (var item in Model.SummaryReportVieModelMins)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.GroupBy == "SUBCOUNTY")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Constituency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModelMins.Any())
            {
                foreach (var item in Model.SummaryReportVieModelMins)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.GroupBy == "LOCATION")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModelMins.Any())
            {
                foreach (var item in Model.SummaryReportVieModelMins)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.GroupBy == "SUBLOCATION")
{
    <table class="table table-condensed table-striped table-hover table-bordered ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.SubLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Constituency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Male)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Female)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryReportVieModelMin.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SummaryReportVieModelMins.Any())
            {
                foreach (var item in Model.SummaryReportVieModelMins)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.SubLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constituency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Male)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Female)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}