﻿@using PagedList.Mvc
@model CCTPMIS.Models.Reports.TargetingReportVm

@{
    ViewBag.Title = "Household Listing Community Validation";

}

<div class="panel panel-primary  panel-toggle @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        Filter @ViewBag.Title  Options
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("HouseholdListingCommunityValidation", "Targeting", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label col-md-12 ">
                        Show entries per page
                    </label>
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control required single-select" })

                        @Html.ValidationMessageFor(model => model.PageSize, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.CgSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.CgSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.CgSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.BeneSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.BeneSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.BeneSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required single-select" })
                    </div>

                    <div id="custom_range" class="form-group hidden  ">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.DobDateRangeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DobDateRangeId", null, htmlAttributes: new { @class = "form-control required single-select " })
                    </div>
                    <div id="custom_date_range" class="form-group hidden   col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobStartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobStartDate, new { htmlAttributes = new { @class = "form-control dob-start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobEndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobEndDate, new { htmlAttributes = new { @class = "form-control dob-end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.GroupBy, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.GroupBy, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.GroupBy, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    @Html.EditorFor(model => Model.IsExportCsv)
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{
    if (Model.ComValListingPlanDetails.Any())
    {
        <div class="row">
            <div class="col-md-12">

                <table class="table table-condensed table-stripped table-hover">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.BeneFullName) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.BeneDoB) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.BeneNationalIdNo) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.BeneSexId) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.CgFullName) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.CgDoB) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.CgNationalIdNo) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.CgSexId) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.StatusId) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.SubLocationId) </th>
                            <th> @Html.DisplayNameFor(model => model.ComValListingPlanHH.ComValDate) </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ComValListingPlanDetails)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.BeneFullName) </td>
                                <td> @Html.DisplayFor(modelItem => item.BeneDoB) </td>
                                <td> @Html.DisplayFor(modelItem => item.BeneNationalIdNo) </td>
                                <td> @Html.DisplayFor(modelItem => item.BeneSex) </td>
                                <td> @Html.DisplayFor(modelItem => item.CgFullName) </td>
                                <td> @Html.DisplayFor(modelItem => item.CgDoB) </td>
                                <td> @Html.DisplayFor(modelItem => item.CgNationalIdNo) </td>
                                <td> @Html.DisplayFor(modelItem => item.CgSex) </td>
                                <td> @Html.DisplayFor(modelItem => item.Status) </td>
                                <td> @Html.DisplayFor(modelItem => item.SubLocation) </td>
                                <td> @Html.DisplayFor(modelItem => item.ComValDate) </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @Html.PagedListPager(Model.ComValListingPlanDetails, page => Url.Action("HouseholdListingCommunityValidation", new { page }), PagedListRenderOptions.Classic)
            </div>
            <div class="col-md-4">
                Page @(Model.ComValListingPlanDetails.PageCount < Model.ComValListingPlanDetails.PageNumber ? 0 : Model.ComValListingPlanDetails.PageNumber) of @Model.ComValListingPlanDetails.PageCount
                Showing @Model.ComValListingPlanDetails.Count of @Model.ComValListingPlanDetails.TotalItemCount
            </div>
        </div>
    }
}

else if (Model.ReportTypeId == 2)
{
    @Html.Partial("_SummaryReports", Model)
}