﻿@using PagedList.Mvc
@model CCTPMIS.Models.Reports.TargetingReportVm

@{
    ViewBag.Title = "Household Listing Exceptions Reports";

}

<div class="panel panel-primary  panel-toggle @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        <span> Filter @ViewBag.Title  Options </span>
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("HouseholdListingException", "Targeting", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                        @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-12 ">
                        Show entries per page
                    </label>
                    <div class="form-group  col-md-12">
                        @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control required single-select" })

                        @Html.ValidationMessageFor(model => model.PageSize, string.Empty, new { @class = "text-danger " })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CgSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.CgSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.CgSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CgSexMatches, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.CgSexMatches, null, "Ignore", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.CgSexMatches, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CgDobMatches, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.CgDobMatches, null, "Ignore" ,htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.CgDobMatches, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CgDobYearMatches, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.CgDobYearMatches, null, "Ignore", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.CgDobYearMatches, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CgIdNoExists, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.CgDobYearMatches, null, "Ignore", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.CgDobYearMatches, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CgNameMatch, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.CgNameMatch, null, "Ignore", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.CgNameMatch, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BeneSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.BeneSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.BeneSexId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BeneSexMatches, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.BeneSexMatches, null, "Ignore", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.BeneSexMatches, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BeneDobMatches, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.BeneDobMatches, null, "Ignore", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.BeneDobMatches, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BeneDobYearMatches, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.BeneDobYearMatches, null, "Ignore", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.BeneDobYearMatches, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BeneIdNoExists, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.BeneDobYearMatches, null, "Ignore", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.BeneDobYearMatches, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BeneNameMatch, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.BeneNameMatch, null, "Ignore", htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.BeneNameMatch, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.GroupBy, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.DropDownListFor(model => model.GroupBy, null, htmlAttributes: new { @class = "form-control   single-select " })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.GroupBy, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter  multi-select " })
                    </div>

                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group  col-md-12">
                        @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">

                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required single-select" })
                    </div>

                    <div id="custom_range" class="form-group hidden  ">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">

                    @Html.LabelFor(model => model.DobDateRangeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                    <div class="form-group col-md-12">
                        @Html.DropDownList("DobDateRangeId", null, htmlAttributes: new { @class = "form-control required single-select " })
                    </div>
                    <div id="custom_date_range" class="form-group hidden   col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobStartDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobStartDate, new { htmlAttributes = new { @class = "form-control dob-start-date" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DobEndDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DobEndDate, new { htmlAttributes = new { @class = "form-control dob-end-date" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    @Html.EditorFor(model => Model.IsExportCsv)
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>

@if (Model.ReportTypeId == 1)
{
    if (Model.HouseholdListingExceptions.Any())
    {
        <div class="row">
            <div class="col-md-12">

                <table class="table table-condensed table-stripped table-hover">
                    <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CgName) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CgDob) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CgNationalIdNo) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CgSex) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.IPRS_CG_DoB) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.IPRS_CG_Name) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.IPRS_CG_IDNo) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CG_DoBYearMatch) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CG_DoBMatch) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CG_SexMatch) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CG_FirstNameExists) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CG_MiddleNameExists) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.CG_SurnameExists) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.BeneName) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.BeneDob) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.BeneNationalIdNo) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.BeneSex) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.Bene_IDNoExists) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.Bene_DoBYearMatch) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.Bene_DoBMatch) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.Bene_SexMatch) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.Bene_FirstNameExists) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.Bene_MiddleNameExists) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.Bene_SurnameExists) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.ListingPlanHh.SubLocationId) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.ListingPlanHh.RegDate) </th>
                        <th> @Html.DisplayNameFor(model => model.ListingException.DateValidated) </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.HouseholdListingExceptions)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.CgName) </td>
                            <td> @Html.DisplayFor(modelItem => item.CgDob) </td>
                            <td> @Html.DisplayFor(modelItem => item.CgNationalIdNo) </td>
                            <td> @Html.DisplayFor(modelItem => item.CgSex) </td>
                            <td> @Html.DisplayFor(modelItem => item.IPRS_CG_DoB) </td>
                            <td> @Html.DisplayFor(modelItem => item.IPRS_CG_Name) </td>
                            <td> @Html.DisplayFor(modelItem => item.IPRS_CG_IDNo) </td>
                            <td> @Html.DisplayFor(modelItem => item.CG_DoBYearMatch) </td>
                            <td> @Html.DisplayFor(modelItem => item.CG_DoBMatch) </td>
                            <td> @Html.DisplayFor(modelItem => item.CG_SexMatch) </td>
                            <td> @Html.DisplayFor(modelItem => item.CG_FirstNameExists) </td>
                            <td> @Html.DisplayFor(modelItem => item.CG_MiddleNameExists) </td>
                            <td> @Html.DisplayFor(modelItem => item.CG_SurnameExists) </td>
                            <td> @Html.DisplayFor(modelItem => item.BeneName) </td>
                            <td> @Html.DisplayFor(modelItem => item.BeneDob) </td>
                            <td> @Html.DisplayFor(modelItem => item.BeneNationalIdNo) </td>
                            <td> @Html.DisplayFor(modelItem => item.BeneSex) </td>
                            <td> @Html.DisplayFor(modelItem => item.Bene_IDNoExists) </td>
                            <td> @Html.DisplayFor(modelItem => item.Bene_DoBYearMatch) </td>
                            <td> @Html.DisplayFor(modelItem => item.Bene_DoBMatch) </td>
                            <td> @Html.DisplayFor(modelItem => item.Bene_SexMatch) </td>
                            <td> @Html.DisplayFor(modelItem => item.Bene_FirstNameExists) </td>
                            <td> @Html.DisplayFor(modelItem => item.Bene_MiddleNameExists) </td>
                            <td> @Html.DisplayFor(modelItem => item.Bene_SurnameExists) </td>
                            <td> @Html.DisplayFor(modelItem => item.ListingPlanHh.SubLocationId) </td>
                            <td> @Html.DisplayFor(modelItem => item.ListingPlanHh.RegDate) </td>
                            <td> @Html.DisplayFor(modelItem => item.DateValidated) </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @Html.PagedListPager(Model.HouseholdListingExceptions, page => Url.Action("HouseholdListingException", new { page }), PagedListRenderOptions.Classic)
            </div>
            <div class="col-md-4">
                Page @(Model.HouseholdListingExceptions.PageCount < Model.HouseholdListingExceptions.PageNumber ? 0 : Model.HouseholdListingExceptions.PageNumber) of @Model.HouseholdListingExceptions.PageCount
                Showing @Model.HouseholdListingExceptions.Count of @Model.HouseholdListingExceptions.TotalItemCount
            </div>
        </div>

    }
}

else if (Model.ReportTypeId == 2)
{
    @Html.Partial("_SummaryReports", Model)
}