﻿@model dynamic

@{
    ViewBag.Title = "Targeting Reports";

}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">HouseholdListing Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("HouseholdListing")" class="list-group-item"> Household Listing Reports </a>
                <a href="@Url.Action("HouseholdListingException")" class="list-group-item"> Household Listing Exception Reports </a>
                <a href="@Url.Action("HouseholdListingCommunityValidation")" class="list-group-item"> Household Listing Community Validation  Reports </a>
                <a href="@Url.Action("HouseholdListingCommunityValidationException")" class="list-group-item"> Household Listing Community Validation Exception Reports </a>
                @*<a href="@Url.Action("HouseholdListingRegistration")" class="list-group-item"> Household Listing - Registration Reports </a>*@
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Registration Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("Registration")" class="list-group-item">Registration Reports</a>
                <a href="@Url.Action("RegistrationProfiles")" class="list-group-item">Registration Profile Reports</a>
                @*<a href="@Url.Action("RegistrationEnrolment")" class="list-group-item"> Registration - Enrolment Reports </a>*@
                @*<a href="@Url.Action("RegistrationExceptions")" class="list-group-item">Registration Exceptions Reports</a>*@
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Re-certification Reports</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("Recertification")" class="list-group-item">Re-certification Reports</a>
                <a href="@Url.Action("RecertificationProfiles")" class="list-group-item">Re-certification Profile Reports</a>
                <a href="@Url.Action("RecertificationStatus")" class="list-group-item">Re-certification Status Reports</a>
                <a href="@Url.Action("RecertificationExceptions")" class="list-group-item">Re-certification Exceptions Reports</a>
            </div>
        </div>
    </div>
</div>