﻿@model CCTPMIS.Models.Reports.TargetingReportVm

@{
    ViewBag.Title = "Recertification Exceptions Reports";

}
<div class="panel panel-primary  panel-toggle @((Model.ReportTypeId>0)? "panel-collapse":"")    ">
    <div class="panel-heading">
        Filter @ViewBag.Title  Options
        <ul class="panel-tool-options">
            <li>
                <a data-rel="collapse" href="#"><i class="icon-down-open"></i></a>
            </li>
        </ul>
    </div>
    <div id="ReportFilter" class="panel-body" @((Model.ReportTypeId > 0) ? "style=display:none" : "")>

        @using (Html.BeginForm("RecertificationExceptions", "Targeting", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter col-md-11", role = "form" }))

        {
        <div class="row">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.ReportTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="form-group  col-md-12">
                    @Html.DropDownList("ReportTypeId", null, "Select Type of Report", htmlAttributes: new { @class = "form-control required single-select" })
                    @Html.ValidationMessageFor(model => model.ReportTypeId, string.Empty, new { @class = "text-danger " })
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label col-md-12 ">
                    Show entries per page
                </label>
                <div class="form-group  col-md-12">
                    @Html.DropDownList("PageSize", null, htmlAttributes: new { @class = "form-control required single-select" })

                    @Html.ValidationMessageFor(model => model.PageSize, string.Empty, new { @class = "text-danger " })
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.ListBoxFor(model => model.ProgrammeId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control required multi-select " })
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.CgSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.ListBoxFor(model => model.CgSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                </div>

                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.CgSexId, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.BeneSexId, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.ListBoxFor(model => model.BeneSexId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.BeneSexId, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.InterviewStatusId, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.ListBoxFor(model => model.InterviewStatusId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.InterviewStatusId, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.InterviewResultId, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.ListBoxFor(model => model.InterviewResultId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.InterviewResultId, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.ListBoxFor(model => model.CountyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control filter  multi-select " })
                </div>

                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.CountyId, string.Empty, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.HasDisability, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.ListBoxFor(model => model.HasDisability, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.HasDisability, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.HasOrphans, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.ListBoxFor(model => model.HasOrphans, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.HasOrphans, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.ListBoxFor(model => model.ConstituencyId, null, htmlAttributes: new { @multiple = "multiple", @class = "form-control   multi-select " })
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.ConstituencyId, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">

                @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group col-md-12">
                    @Html.DropDownList("DateRange", null, htmlAttributes: new { @class = "form-control required single-select" })
                </div>

                <div id="custom_range" class="form-group hidden  ">
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control start-date" } })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control end-date" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">

                @Html.LabelFor(model => model.DobDateRangeId, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group col-md-12">
                    @Html.DropDownList("DobDateRangeId", null, htmlAttributes: new { @class = "form-control required single-select " })
                </div>
                <div id="custom_date_range" class="form-group hidden   col-md-12">
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.DobStartDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.DobStartDate, new { htmlAttributes = new { @class = "form-control dob-start-date" } })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.DobEndDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.DobEndDate, new { htmlAttributes = new { @class = "form-control dob-end-date" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.GroupBy, htmlAttributes: new { @class = "control-label col-md-12 " })
                <div class="form-group  col-md-12">
                    @Html.DropDownListFor(model => model.GroupBy, null, htmlAttributes: new { @class = "form-control   single-select " })
                </div>

                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.GroupBy, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
        </div>
            <div class="row">
                <div class="form-group col-md-10">
                    @Html.EditorFor(model => Model.IsExportCsv)
                    @Html.LabelFor(model => model.IsExportCsv, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-blue margin-top-25 pull-right">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
                <input type="hidden" name="Page" id="pagination-page" value="1" />
            </div>
        }
    </div>
</div>