﻿@model CCTPMIS.Models.Registration.RegistrationSummaryVm

@{
    ViewBag.Title = "Registration  Plan Details";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-users table-condensed table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Name) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Name)
                    </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Description) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Description)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.Start) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Start)
                    </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.End) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.End)
                    </td>
                </tr>

                <tr>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.StatusId) </th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TargetPlan.Status.Description)
                    </td>
                    <th> </th>
                    <td></td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedByUser.DisplayName)  </td>
                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.CreatedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.CreatedOn)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedByUser.DisplayName)  </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ModifiedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ModifiedOn)</td>
                </tr>
                <tr>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvBy) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvByUser.DisplayName) </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ApvOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ApvOn)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedBy)  </th>
                    <td>  @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedByUser.DisplayName)  </td>

                    <th> @Html.DisplayNameFor(modelItem => modelItem.TargetPlan.ClosedOn) </th>
                    <td> @Html.DisplayFor(modelItem => modelItem.TargetPlan.ClosedOn)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-users  accordion-innertable-striped table-hover">
            <thead>
                <tr>
                    <th> Registration Group </th>
                    <th> Programme </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TargetPlan.TargetPlanProgrammes)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ListingPlan.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Programme.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>