﻿@model CCTPMIS.Models.CaseManagement.ComplaintActionViewModel

@{
    ViewBag.Title = $"Close Change #{Model.Id}";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
}

@using (Html.BeginForm("Close", "Changes", FormMethod.Post, new { @enctype = "multipart/form-data", role = "form" }))

{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.Notes, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="form-group  ">
                    <div class="col-md-12">
                        <input type="file" name="file" class="form-control" accept="application/pdf" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.HhEnrolmentId)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
        <button type="submit" class="btn btn-primary">Close</button>
    </div>

}