﻿@model CCTPMIS.Models.CaseManagement.ChangeViewModel
@using CCTPMIS.Business.Model
@{
    ViewBag.Title = "Change Management Details";
    var Person = (List<Person>)ViewBag.Person;
}

<div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
        
        <div class="panel">
            <div class="panel-title">
                <h2>HOUSEHOLD SUMMARY INFORMATION  </h2>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body" style="min-height: 300px">
                <div class="form-horizontal">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td class="text-bold fit">Programme.</td>
                            <td>@Model.GetBeneInfoVm.ProgrammeName</td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">Programme No.</td>
                            <td>@Model.HouseholdEnrolment.Id</td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">Primary Recipient Name:</td>
                            <td>
                                @Model.GetBeneInfoVm.PriReciFirstName
                                @Model.GetBeneInfoVm.PriReciMiddleName
                                @Model.GetBeneInfoVm.PriReciSurname
                            </td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">Primary Recipient National Id:</td>
                            <td>@Model.GetBeneInfoVm.PriReciNationalIdNo</td>
                        </tr>

                        <tr>
                            <td class="text-bold fit">Primary Recipient Sex :</td>
                            <td>@Model.GetBeneInfoVm.PriReciSex</td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">Primary Recipient Birth Cert No.:</td>
                            <td>@Model.GetBeneInfoVm.PriReciBirthCertNo</td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">Primary Recipient Mobile No:</td>
                            <td>@Model.GetBeneInfoVm.PriReciMobileNo1 <br /> @Model.GetBeneInfoVm.PriReciMobileNo2</td>
                        </tr>

                        <tr>
                            <td class="text-bold fit">Secondary Recipient Name:</td>
                            <td>@Model.GetBeneInfoVm.SecReciFirstName  @Model.GetBeneInfoVm.SecReciMiddleName  @Model.GetBeneInfoVm.SecReciSurname </td>
                        </tr>
                        @if (!string.IsNullOrEmpty(@Model.GetBeneInfoVm.SecReciFirstName))
                        {

                            <tr>
                                <td class="text-bold fit">Secondary Recipient National Id:</td>
                                <td>@Model.GetBeneInfoVm.SecReciNationalIdNo</td>
                            </tr>

                            <tr>
                                <td class="text-bold fit">Secondary Recipient Sex :</td>
                                <td>@Model.GetBeneInfoVm.SecReciSex</td>
                            </tr>
                            <tr>
                                <td class="text-bold fit">Secondary Recipient Birth Cert No.:</td>
                                <td>@Model.GetBeneInfoVm.SecReciBirthCertNo</td>
                            </tr>
                            <tr>
                                <td class="text-bold fit">Secondary Recipient Mobile No:</td>
                                <td>@Model.GetBeneInfoVm.SecReciMobileNo1 <br /> @Model.GetBeneInfoVm.SecReciMobileNo2</td>
                            </tr>

                        }
                        else
                        {
                            <tr>
                                <td class="text-bold fit" colspan="2">Secondary Recipient Not Specified:</td>
                            </tr>
                        }
                        <tr>
                            <td class="text-bold fit"> PSP :</td>
                            <td>@Model.GetBeneInfoVm.PSP   </td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">PSP Branch  :</td>
                            <td>@Model.GetBeneInfoVm.PSPBranch</td>
                        </tr>

                        <tr>
                            <td class="text-bold fit">Bank Account Opened:</td>
                            <td>@Model.GetBeneInfoVm.AccountOpenedOn</td>
                        </tr>
                        <tr>
                            <td class="text-bold fit"> Bank Account Name.:</td>
                            <td>@Model.GetBeneInfoVm.AccountName</td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">Bank Account No.:</td>
                            <td>@Model.GetBeneInfoVm.AccountNo <br /> </td>
                        </tr>

                        <tr>
                            <td class="text-bold fit"> Payment Card No. :</td>
                            <td>@Model.GetBeneInfoVm.PaymentCardNo <br /> </td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">Location :</td>
                            <td>@Model.GetBeneInfoVm.LocationName <br /> </td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">Sub Location   :</td>
                            <td>@Model.GetBeneInfoVm.SubLocationName <br /> </td>
                        </tr>
                        <tr>
                            <td class="text-bold fit">Division   :</td>
                            <td>@Model.GetBeneInfoVm.DivisionName <br /> </td>
                        </tr>

                        <tr>
                            <td class="text-bold fit"> District   :</td>
                            <td>@Model.GetBeneInfoVm.DistrictName <br /> </td>
                        </tr>

                        <tr>
                            <td class="text-bold fit"> Sub County   :</td>
                            <td>@Model.GetBeneInfoVm.ConstituencyName <br /> </td>
                        </tr>
                        <tr>
                            <td class="text-bold fit"> County   :</td>
                            <td>@Model.GetBeneInfoVm.CountyName <br /> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @Html.DisplayFor(model => model.ChangeType.Description, new { @class = "control-label col-md-12" })
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                        @if (Model.ChangeType != null)
                        {

                        }
                        @using (Html.BeginForm("Create", "Changes", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal change-form", role = "form" }))

                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            <div class="row">
                                <div class="col-md-12">
                                    @if ((bool)ViewBag.HasConstituencyId)
                                    {
                                        @Html.HiddenFor(x => x.ConstituencyId, htmlAttributes: new { @Name = "ConstituencyId" })
                                        @Html.HiddenFor(x => x.CountyId, htmlAttributes: new { @Name = "CountyId" })
                                    }
                                    else
                                    {
                                        @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("CountyId", null, "Select", htmlAttributes: new { @class = (ViewBag.HasConstituencyId == true ? "form-control required" : "form-control   filter  required") })

                                        @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("ConstituencyId", null, "Select", htmlAttributes: new { @class = "form-control  required filterSL" })
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ReportedByTypeId, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("ReportedByTypeId", null, "Select", htmlAttributes: new { @class = "form-control required" })
                                    @Html.ValidationMessageFor(model => model.ReportedByTypeId, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ReportedByName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ReportedByName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ReportedByName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ReportedByIdNo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ReportedByIdNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ReportedByIdNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ReportedBySexId, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("ReportedBySexId", null, "Select", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ReportedBySexId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ReportedByPhone, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ReportedByPhone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ReportedByPhone, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-12">
                                    @Html.HiddenFor(x => x.GetBeneInfoVm.ProgrammeId, htmlAttributes: new { @Name = "ProgrammeId" })
                                    @Html.HiddenFor(x => x.Id, htmlAttributes: new { @Name = "HhEnrolmentId" })
                                    @Html.LabelFor(model => model.ChangeSourceId, htmlAttributes: new { @class = "control-label" })

                                    @Html.DropDownList("ChangeSourceId", null, "Select", htmlAttributes: new { @class = "form-control required" })
                                </div>
                            </div>

                            <div class="row">
                                <hr />
                                @if (Model.ChangeType != null)
                                {

                                    <h3 class="panel-heading">
                                        @Html.DisplayFor(model => model.ChangeType.Description, new { @class = "control-label col-md-12" })
                                    </h3>
                                    <hr />
                                    if (Model.ChangeType.Code == "BENEFICIARY_DEATH")
                                    {
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DeathDate, htmlAttributes: new { @class = "control-label" })
                                                <div class="col-md-12">

                                                    @Html.EditorFor(model => model.DeathDate, new { htmlAttributes = new { @class = "form-control  death-date " } })

                                                    @Html.ValidationMessageFor(model => model.DeathDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NotificationDate, htmlAttributes: new { @class = "control-label" })
                                                <div class="col-md-12">

                                                    @Html.EditorFor(model => model.NotificationDate, new { htmlAttributes = new { @class = "form-control  death-notif-date" } })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.NotificationDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    }
                                    if (Model.ChangeType.Code == "CAREGIVER_CHANGE")
                                    {
                                        <div id="Message"></div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedRelationshipId, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("UpdatedRelationshipId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.UpdatedRelationshipId, string.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div id="Edit">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UpdatedNationalIdNo, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.UpdatedNationalIdNo, new { htmlAttributes = new { @class = "form-control required" } })
                                                            <span class="input-group-btn">
                                                                <button id="SearchIPRS" class="btn btn-success" type="button"> <i></i> Search SR/IPRS</button>
                                                            </span>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.UpdatedNationalIdNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UpdatedFirstName, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.UpdatedFirstName, new { htmlAttributes = new { @class = "form-control required" } })
                                                        @Html.ValidationMessageFor(model => model.UpdatedFirstName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UpdatedMiddleName, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.UpdatedMiddleName, new { htmlAttributes = new { @class = "form-control  " } })
                                                        @Html.ValidationMessageFor(model => model.UpdatedMiddleName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UpdatedSurname, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.UpdatedSurname, new { htmlAttributes = new { @class = "form-control required" } })
                                                        @Html.ValidationMessageFor(model => model.UpdatedSurname, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UpdatedSexId, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-12">
                                                        @Html.DropDownList("UpdatedSexId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(model => model.UpdatedSexId, string.Empty, new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UpdatedDob, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.UpdatedDob, new { htmlAttributes = new { @class = "form-control required date-of-birth-cg" } })
                                                        @Html.ValidationMessageFor(model => model.UpdatedDob, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="Detail" class="hidden">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6"> @Html.LabelFor(model => model.UpdatedNationalIdNo, htmlAttributes: new { @class = "control-label" })</div>
                                                    <div class="col-md-6">  <span id="IPRSNationalIdNo"></span> </div>
                                                </div>  <div class="row">
                                                    <div class="col-md-6"> @Html.LabelFor(model => model.UpdatedFirstName, htmlAttributes: new { @class = "control-label " })</div>
                                                    <div class="col-md-6"> <span id="IPRSFirstName"></span>  </div>
                                                </div>  <div class="row">
                                                    <div class="col-md-6"> @Html.LabelFor(model => model.UpdatedMiddleName, htmlAttributes: new { @class = "control-label " })</div>
                                                    <div class="col-md-6"><span id="IPRSMiddleName"></span> </div>
                                                </div>  <div class="row">
                                                    <div class="col-md-6"> @Html.LabelFor(model => model.UpdatedSurname, htmlAttributes: new { @class = "control-label " })</div>
                                                    <div class="col-md-6"><span id="IPRSSurname"></span> </div>
                                                </div>  <div class="row">
                                                    <div class="col-md-6"> @Html.LabelFor(model => model.UpdatedSexId, htmlAttributes: new { @class = "control-label " })</div>
                                                    <div class="col-md-6"><span id="IPRSGender"></span> </div>
                                                </div>  <div class="row">
                                                    <div class="col-md-6"> @Html.LabelFor(model => model.UpdatedDob, htmlAttributes: new { @class = "control-label " })</div>
                                                    <div class="col-md-6"><span id="IPRSDob"></span> </div>
                                                </div>
                                            </div>
                                        </div>

                                        @Html.HiddenFor(model => model.IsIPRSed)

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedMobileNo1, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.UpdatedMobileNo1, new { htmlAttributes = new { @class = "form-control required" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedMobileNo1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedMobileNo2, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.UpdatedMobileNo2, new { htmlAttributes = new { @class = "form-control  " } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedMobileNo2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    if (Model.ChangeType.Code == "NEW_HH_MEMBER")
                                    {
                                        <div class="col-md-12">
                                            <h3><b>New Household Member</b></h3>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedRelationshipId, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("UpdatedRelationshipId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.UpdatedRelationshipId, string.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedFirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedFirstName, new { htmlAttributes = new { @class = "form-control required" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedFirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedMiddleName, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedMiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedMiddleName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedSurname, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedSurname, new { htmlAttributes = new { @class = "form-control required" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedSurname, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedSexId, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("UpdatedSexId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.UpdatedSexId, string.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedBirthCertNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedBirthCertNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedBirthCertNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedNationalIdNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedNationalIdNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedNationalIdNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedMobileNo1, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.UpdatedMobileNo1, new { htmlAttributes = new { @class = "form-control required" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedMobileNo1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedMobileNo2, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.UpdatedMobileNo2, new { htmlAttributes = new { @class = "form-control " } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedMobileNo2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedDob, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.UpdatedDob, new { htmlAttributes = new { @class = "form-control date-of-birth required" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedDob, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    if (Model.ChangeType.Code == "HH_MEMBER_EXIT")
                                    {

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PersonId, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("PersonId", null, "Select ", htmlAttributes: new { @class = "form-control required hhmexit" })
                                                    @Html.ValidationMessageFor(model => model.PersonId, string.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div id="divPersonToExit" class="row col-md-12" style="display: none;">
                                            <div class="col-md-12">
                                                <table id="tblPersonToExit" class="table table-bordered table-condensed table-striped  table-hover">
                                                    <thead>

                                                        <tr>

                                                            <th> Name  </th>
                                                            <th> Sex  </th>
                                                            <th> Date Of Birth  </th>
                                                            <th> National ID Number  </th>
                                                            <th> Birth Cert Number  </th>
                                                            <th> Mobile Number  </th>
                                                            <th> Relationship </th>
                                                            <th> Member Role </th>
                                                            <th> Status </th>
                                                        </tr>
                                                    </thead>

                                                </table>
                                            </div>
                                        </div>

                                    }
                                    if (Model.ChangeType.Code == "HH_EXIT")
                                    {

                                    }
                                    if (Model.ChangeType.Code == "HH_CORRECTION")
                                    {

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedSubLocationId, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("UpdatedSubLocationId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.UpdatedSubLocationId, string.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    if (Model.ChangeType.Code == "PSP_CHANGE")
                                    {

                                    }
                                    if (Model.ChangeType.Code == "CARD_REPLACEMENT")
                                    {

                                    }
                                    if (Model.ChangeType.Code == "BANK_ACC_CHANGE")
                                    {

                                    }

                                    if (Model.ChangeType.Code == "HHM_CORRECT")
                                    {
                                        <div class="col-md-12">
                                            <h3><b>Household Member</b></h3>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedPersonId, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("UpdatedPersonId", null, "Select ", htmlAttributes: new { @class = "form-control required hhmcorrect" })
                                                    @Html.ValidationMessageFor(model => model.UpdatedPersonId, string.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UpdatedRelationshipId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("UpdatedRelationshipId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                            @Html.ValidationMessageFor(model => model.UpdatedRelationshipId, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedFirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedFirstName, new { htmlAttributes = new { @class = "form-control required" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedFirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedMiddleName, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedMiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedMiddleName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedSurname, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedSurname, new { htmlAttributes = new { @class = "form-control required" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedSurname, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedSexId, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("UpdatedSexId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.UpdatedSexId, string.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedBirthCertNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedBirthCertNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedBirthCertNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedNationalIdNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedNationalIdNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedNationalIdNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedMobileNo1, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedMobileNo1, new { htmlAttributes = new { @class = "form-control required" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedMobileNo1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedMobileNo2, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedMobileNo2, new { htmlAttributes = new { @class = "form-control " } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedMobileNo2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedDob, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.UpdatedDob, new { htmlAttributes = new { @class = "form-control date-of-birth required" } })
                                                    @Html.ValidationMessageFor(model => model.UpdatedDob, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="over18" class="col-md-12 hidden">
                                            <div class="form-group">
                                                <span class="input-group-btn ">
                                                    <button id="SearchIPRS" class="btn btn-success" type="button"> <i></i> Search SR/IPRS</button>
                                                </span>
                                            </div>
                                        </div>

                                    }
                                    if (Model.ChangeType.Code == "RELOCATION")
                                    {
                                        <div class="col-md-12">
                                            <h3 class="alert alert-danger">
                                                Kindly Select the New Sub Location
                                            </h3>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.UpdatedSubLocationId, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("UpdatedSubLocationId", null, "Select ", htmlAttributes: new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.UpdatedSubLocationId, string.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                                <div id="DocumentsToAttach" class="col-md-12">
                                </div>
                                <div id="ReportingProcess" class="col-md-12">
                                </div>

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label" })
                                    <input type="file" class="form-control required" id="filecontrol" name="file" accept="application/pdf" />
                                    @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Document)
                                </div>
                                <div class="col-md-12">
                                    <div class="panel-heading row">
                                        <h3 class="panel-title">Form Received/Acted By</h3>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ReceivedBy, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.ReceivedBy, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ReceivedBy, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ReceivedOn, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.ReceivedOn, new { htmlAttributes = new { @class = "form-control ReceiveDate " } })

                                    @Html.ValidationMessageFor(model => model.ReceivedOn, "", new { @class = "text-danger col-md-offset-3 col-md-9" })
                                </div>
                                <div class="col-md-6 hidden">

                                    @Html.HiddenFor(model => model.SerialNo, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.SerialNo, "", new { @class = "text-danger col-md-offset-3 col-md-9" })
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.ActionLink(" Back", "Beneficiaries", null, new { @class = "btn btn-danger glyphicon glyphicon-step-backward" })
                                        <button type="submit" class="btn btn-success pull-right btn-submit">
                                            <i class="glyphicon glyphicon-ok-sign"></i> Save
                                        </button>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="baselink" value="/casemanagement/changes/create/@Model.HouseholdEnrolment.Id/" />
    </div>
</div>

<input type="hidden" id="BeneName" value="@Model.GetBeneInfoVm.PriReciName" />
<input type="hidden" id="BeneSexId" value="@Model.GetBeneInfoVm.PriReciSexId" />
<input type="hidden" id="BeneIdNo" value="@Model.GetBeneInfoVm.PriReciNationalIdNo" />
<input type="hidden" id="BenePhone" value="@Model.GetBeneInfoVm.PriReciMobileNo1" />
<input type="hidden" id="CgName" value="@Model.GetBeneInfoVm.SecReciName" />
<input type="hidden" id="CgSexId" value="@Model.GetBeneInfoVm.SecReciSexId" />
<input type="hidden" id="CgIdNo" value="@Model.GetBeneInfoVm.SecReciNationalIdNo" />
<input type="hidden" id="CgPhone" value="@Model.GetBeneInfoVm.SecReciMobileNo1" />

@section scripts{

    @if (Model.ChangeType.Code == "CAREGIVER_CHANGE")
    {
        <script type="text/javascript">
            $("#IsIPRSed").val(0);
        </script>

    }

    <script type="text/javascript">
        /**/

        /**/
        var isWorking = " fa fa-spinner fa-spin fa-fw ";
        $(document).on("click", "#SearchIPRS", function (e) {
            if ($("#UpdatedNationalIdNo").val() !== "") {
                $.ajax({
                    url: "/Data/GetCaregiver/" + $("#UpdatedNationalIdNo").val(),
                    dataType: "json",
                    crossDomain: true,
                    beforeSend: function () {
                        $("#SearchIPRS").find("i").addClass(isWorking);
                        $("#UpdatedFirstName").val("");
                        $("#UpdatedMiddleName").val("");
                        $("#UpdatedSurname").val("");
                        $("#UpdatedSexId").val("");
                        $("#UpdatedDob").val("");
                        $("#IsIPRSed").val(0);
                        $("#alert-danger").remove();

                    },
                    success: function (json) {
                        var data = json;
                        //console.log(json);
                        if (data != null)
                            if (data.ID_Number !== "" && data.ID_Number != null) {
                                $("#Edit").addClass("hidden");
                                $("#Detail").removeClass("hidden");
                                $("#UpdatedFirstName").val(data.First_Name);
                                $("#UpdatedMiddleName").val(data.Middle_Name);
                                $("#UpdatedSurname").val(data.Surname);
                                $("#UpdatedDob").val(data.Date_of_Birth);
                                $("#UpdatedSexId").val(data.Gender);
                                $("#IsIPRSed").val(1);

                                $("#IPRSNationalIdNo").text(data.ID_Number);
                                $("#IPRSFirstName").text(data.First_Name);
                                $("#IPRSMiddleName").text(data.Middle_Name);
                                $("#IPRSSurname").text(data.Surname);
                                $("#IPRSDob").text(data.Date_of_Birth);
                                $("#IPRSGender").text(data.Sex);

                            } else {
                                $("#Message").prepend(
                                    '<div id="alert-danger" class="col-md-12 alert alert-danger"><strong> IPRS Verification Failed! </strong>' +
                                    '<p> This Person was not found on IPRS. This is  could be due to wrong National ID Number or IPRS System could not be reached. Kindly Confirm the National ID Number and try again. If This persists on correct National ID Number, proceed to fill the details manually, IPRS Verification will be done before Approval</p></div>');
                            }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                        $("#SearchIPRS").find("i").removeClass(isWorking);
                    },
                    complete: function () {
                        $("#SearchIPRS").find("i").removeClass(isWorking);
                    }
                });
            }
        });

        $(document).on("change",
            "#ReportedByTypeId",
            function (e) {

                if ($("#ReportedByTypeId option:selected").text() === "ANONYMOUS") {
                    $(".reporter").addClass("hidden");
                } else {
                    $(".reporter").removeClass("hidden");
                }

                if ($("#ReportedByTypeId option:selected").text() === "BENEFICIARY") {
                    $("#ReportedByName").val($("#BeneName").val());
                    $("#ReportedBySexId").val($("#BeneSexId").val());
                    $("#ReportedByIdNo").val($("#BeneIdNo").val());
                    $("#ReportedByPhone").val($("#BenePhone").val());
                } else if ($("#ReportedByTypeId option:selected").text() === "CAREGIVER") {
                    $("#ReportedByName").val($("#CgName").val());
                    $("#ReportedBySexId").val($("#CgSexId").val());
                    $("#ReportedByIdNo").val($("#CgIdNo").val());
                    $("#ReportedByPhone").val($("#CgPhone").val());
                } else {
                    $("#ReportedByName").val("");
                    $("#ReportedBySexId").val("");
                    $("#ReportedByIdNo").val("");
                    $("#ReportedByPhone").val("");
                }
                e.preventDefault();
                e.stopPropagation();

            });

        $(document).on("change",
            "#UpdatedPersonId.hhmcorrect",
            function (e) {
                if ($("#UpdatedPersonId.hhmcorrect").val() !== "") {
                    $.ajax( {
                        url: "/Data/GetPersonDetails/" + $("#UpdatedPersonId.hhmcorrect").val(),
                        dataType:"json",
                        crossDomain:true,
                        beforeSend: function ()
                        {

                        },
                        success: function (json) {

                            var data = json;
                            console.log(json);
                            if (data != null) {
                            $("#UpdatedFirstName").val(data.FirstName);
                            $("#UpdatedMiddleName").val(data.MiddleName);
                            $("#UpdatedSurname").val(data.Surname);
                                $("#UpdatedDob").val(data.DateOfBirth);
                                $("#UpdatedSexId").val(data.SexId);
                                $("#UpdatedBirthCertNo").val(data.BirthCertNo);
                                $("#UpdatedNationalIdNo").val(data.NationalIdNo);
                                $("#UpdatedMobileNo1").val(data.MobileNo1);
                                $("#UpdatedMobileNo2").val(data.MobileNo2);
                                $("#UpdatedRelationshipId").val(data.RelationshipId);

                             }
                        },
                        error:function (xhr, ajaxOptions, thrownError) {
                        },
                        complete:function () {
                        }
                    });
                }
            });


        $(document).on("change",
            "#PersonId.hhmexit",
            function (e) {

                if ($("#PersonId.hhmexit").val() !== "") {
                    $.ajax({
                        url: "/Data/GetPersonDetails/" + $("#PersonId.hhmexit").val() +"/?mode=" + 1,
                        dataType: "json",
                        crossDomain: true,
                        beforeSend: function () {

                        },
                        success: function (json) {

                            var data = json;
                            console.log(json);
                            if (data != null) {
                                $("#divPersonToExit").show();

                                $('#tblPersonToExit').find('tbody').detach();

                                $('#tblPersonToExit').append($('<thead>'));  
                                $('#tblPersonToExit').append($('<tbody>'));  
                                $("#tblPersonToExit tbody").append('<tr><td>'
                                    + json[0].Person.DisplayName
                                    + '</td><td>' + json[0].Person.Sex.Code
                                    + '</td><td>' + json[0].Person.DateOfBirth
                                    + '</td><td>' + json[0].Person.NationalIdNo
                                    + '</td><td>' + json[0].Person.BirthCertNo
                                    + '</td><td>' + (json[0].Person.MobileNo1)
                                    + '</td><td>' + json[0].Relationship.Code
                                    + '</td><td>' + json[0].MemberRole.Code
                                    + '</td><td>' + json[0].Status.Description
                                    + '</td></tr>');
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $("#divPersonToExit").hide();
                            console.log(xhr.status);
                            console.log(xhr.responseText);
                        },
                        complete: function () {
                        }
                    });
                }
            });

        var input = document.getElementById('filecontrol');
        input.addEventListener('change', function () {
            if (input.files.length > 0)

                $("#Document").val(input.files[0].name);
            else
                $("#Document").val("");
        });

        $(function () {
            setTimeout(function () {
            $.ajax({
                        url: "/Data/GetCMRequirements/@Model.ChangeType.Id/",
                        dataType: "json",
                        crossDomain: true,

                        success: function (json) {
                            var data = json;
                            //console.log(data);
                            $("#DocumentsToAttach").html('<br /> <p class="alert alert-info"> <strong> REQUIRED DOCS. </strong> <br />' + data.DocumentsToAttach + '</p>' );

                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                        },

                        complete: function () {

                        }
                    });

            }, 400);
        });
    </script>
}