﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.Change

@{
    ViewBag.Title = "Change Management Details";

    var changeTypes = "PSP_CHANGE,CARD_REPLACEMENT,BANK_ACC_CHANGE";

    var canCreate = User.UserGroupHasRight("UPDATES:ENTRY");
    var canView = User.UserGroupHasRight("UPDATES:VIEW");
    var canEdit = User.UserGroupHasRight("UPDATES:MODIFIER");
    var canApprove = User.UserGroupHasRight("UPDATES:APPROVAL");
    var canVerify = User.UserGroupHasRight("UPDATES:VERIFY");
    var canClose = User.UserGroupHasRight("UPDATES:CLOSE");
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title  ">
                    Change Summary
                </h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    @if (Model.ChangeStatus.Code == "Escalated")
                    {
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                <strong> Awaiting Bulk Transfer </strong>
                                <p>
                                    Necessary Updates have been effected on Approval, However, This Update required Bulk Transfer to the PSP(s)
                                </p>
                            </div>
                        </div>
                    }

                    @if (Model.ChangeStatus.Code == "Bulk Transfer")
                    {
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                <strong> Bulk Transfer </strong>
                                <p>
                                    On receiving the feedback from the PSP regarding the Update.
                                    <br />
                                    Kindly Update this Change Request as Closed with necessary comments.
                                </p>
                            </div>
                        </div>
                    }
                    <div class="col-md-12">
                        @if (Model.ChangeStatus.Code != "Closed" && Model.ChangeStatus.Code != "Rejected" && Model.ChangeStatus.Code != "Escalated")
                        {
                            <div class="btn-group pull-right m-tb-10   ">
                                <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu  dropdown-menu-right">
                                    @if (Model.ChangeStatus.Code == "Open")
                                    {
                                        if (canVerify)
                                        {
                                            <li><a class="modal-link" href="@Url.Action("Accept", new {id = Model.Id})">Accept</a></li>
                                            <li role="separator" class="divider"></li>

                                            <li><a class="modal-link" href="@Url.Action("Reject", new {id = Model.Id})">Reject</a></li>
                                            <li role="separator" class="divider"></li>
                                        }
                                    }
                                    @if (Model.ChangeStatus.Code == "Accepted" && canApprove)
                                    {
                                        <li><a class="modal-link" href="@Url.Action("Approve", new {id = Model.Id})">Approve</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a class="modal-link" href="@Url.Action("Reject", new {id = Model.Id})">Reject</a></li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    @if (Model.ChangeStatus.Code == "Approved" || Model.ChangeStatus.Code == "Bulk Transfer")
                                    {
                                        if (canClose)
                                        {
                                            <li><a class="modal-link" href="@Url.Action("Close", new {id = Model.Id})"> Close </a></li>
                                            <li role="separator" class="divider"></li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered action-Change-details">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <td><span>@Html.DisplayFor(model => model.Id) </span></td>

                                <th> </th>
                                <td><span>  </span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Programme)</th>
                                <td><span>@Html.DisplayFor(model => model.Programme.Name) </span></td>
                                <th>@Html.DisplayNameFor(model => model.HhEnrolmentId)</th>
                                <td>
                                    <span>@Html.DisplayFor(model => model.HhEnrolmentId)</span>
                                    @Html.ActionLink("View", "HouseholdSummary", "Changes", new { id = Model.HhEnrolmentId }, new { @class = "btn btn-primary modal-link btn-xs pull-right fa fa-eye" })
                                </td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ConstituencyId)</th>
                                <td><span>@Html.DisplayFor(model => model.Constituency.Name)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ChangeSourceId)</th>
                                <td><span>@Html.DisplayFor(model => model.ChangeSource.Description) </span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReportedByTypeId)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByType.Description)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ReportedByName)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByName)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReportedBySexId)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedBySex.Description)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ReportedByIdNo)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByIdNo)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReportedByPhone)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByPhone)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ChangeTypeId)</th>
                                <td><span>@Html.DisplayFor(model => model.ChangeType.Description)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ChangeLevelId)</th>
                                <td><span>@Html.DisplayFor(model => model.ChangeLevel.Description)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ChangeStatusId)</th>
                                <td><span>@Html.DisplayFor(model => model.ChangeStatus.Description)</span></td>
                            </tr>
                            <tr>

                                <th>@Html.DisplayNameFor(model => model.ReceivedBy)</th>
                                <td><span>@Html.DisplayFor(model => model.ReceivedBy)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ReceivedOn)</th>
                                <td><span>@Html.DisplayFor(model => model.ReceivedOn)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                                <td><span>@Html.DisplayFor(model => model.CreatedByUser.DisplayName)</span></td>

                                <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                                <td><span> @Html.DisplayFor(model => model.CreatedOn) </span></td>
                            </tr>
                            @if (Model.ModifiedBy != null)
                            {

                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ModifiedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ModifiedOn)</span></td>
                                </tr>
                            }
                            @if (Model.ApvBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ApvBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ApvByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ApvOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ApvOn)</span></td>
                                </tr>

                            }

                            @if (Model.VerifiedBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.VerifiedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.VerifiedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.VerifiedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.VerifiedOn)</span></td>
                                </tr>

                            }
                            @if (Model.EscalatedBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.EscalatedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.EscalatedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.EscalatedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.EscalatedOn)</span></td>
                                </tr>

                            }
                            @if (Model.BulkTransferBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.BulkTransferBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.BulkTransferByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.BulkTransferOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.BulkTransferOn)</span></td>
                                </tr>

                            }
                            @if (Model.ClosedBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ClosedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ClosedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ClosedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ClosedOn)</span></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2> Update Details </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered action-Change-details">
                            <tbody>
                                @if (Model.ChangeType.Code == "BENEFICIARY_DEATH")
                                {
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.DeathDate)</th>
                                        <td><span>@Html.DisplayFor(model => model.DeathDate) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.DeathNotificationDate)</th>
                                        <td><span>@Html.DisplayFor(model => model.DeathNotificationDate) </span></td>
                                    </tr>

                                }
                                @if (Model.ChangeType.Code == "HHM_CORRECT")
                                {
                                    <tr>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedBirthCertNo)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedBirthCertNo) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedNationalIdNo)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedNationalIdNo) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedFirstName)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedFirstName) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedMiddleName)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedMiddleName) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedSurname)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedSurname) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedSexId)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedSex.Description) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedMobileNo1)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedMobileNo1) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedMobileNo2)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedMobileNo2) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedDoB)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedDoB) </span></td>
                                        <th> </th>
                                        <td><span> </span></td>
                                    </tr>
                                }
                                @if (Model.ChangeType.Code == "CAREGIVER_CHANGE")
                                {
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedRelationshipId)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedRelationship.Description) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedNationalIdNo)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedNationalIdNo) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedFirstName)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedFirstName) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedMiddleName)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedMiddleName) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedSurname)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedSurname) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedSexId)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedSex.Description) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedMobileNo1)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedMobileNo1) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedMobileNo2)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedMobileNo2) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedDoB)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedDoB) </span></td>
                                        <th> </th>
                                        <td><span> </span></td>
                                    </tr>
                                }
                                @if (Model.ChangeType.Code == "NEW_HH_MEMBER")
                                {
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedRelationshipId)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedRelationship.Description) </span></td>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedDoB)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedDoB) </span></td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedNationalIdNo)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedNationalIdNo) </span></td>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedBirthCertNo)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedBirthCertNo) </span></td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedFirstName)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedFirstName) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedMiddleName)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedMiddleName) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedSurname)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedSurname) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedSexId)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedSex.Description) </span></td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedMobileNo1)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedMobileNo1) </span></td>

                                        <th>@Html.DisplayNameFor(model => model.UpdatedMobileNo2)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedMobileNo2) </span></td>
                                    </tr>

                                }
                                @if (Model.ChangeType.Code == "HH_MEMBER_EXIT")
                                {
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.PersonId)</th>
                                        <td><span>@Html.DisplayFor(model => model.Person.DisplayName) </span></td>
                                        <th> </th>
                                        <td><span> </span></td>
                                    </tr>

                                }

                                @if (Model.ChangeType.Code == "RELOCATION")
                                {
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedSubLocationId)</th>
                                        <td><span>@Html.DisplayFor(model => model.UpdatedSubLocation.Name) </span></td>
                                        <th> </th>
                                        <td><span> </span></td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-heading">
                <h3 class="panel-title">Change History</h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="timeline-basic">
                            @foreach (var item in Model.ChangeNotes.OrderByDescending(x => x.Id))
                            {

                                <div class="timeline-entry animatedParent animateOnce z-index-@item.Id">
                                    <div class="timeline-circle">&nbsp;</div>
                                    <div class="timeline-panel animated fadeInUp">
                                        <div class="timeline-heading">
                                            <h2 class="timeline-title">@Html.DisplayFor(modelItem => item.Category.Description)</h2>
                                        </div>
                                        <div class="timeline-body">
                                            <p>@Html.DisplayFor(modelItem => item.Note) </p>
                                            <div class="meta-wrapper">
                                                <span class="meta-date"><i class="icon-calendar"></i>@item.CreatedOn.Value.ToString("D")</span>
                                                <span> | </span>  <span class="meta-comment"><i class="icon-user"></i>@Html.DisplayFor(modelItem => item.CreatedBy.FullName)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title"> Change Documents </h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-users ">
                    <tbody>
                        <tr>
                            <th>Download</th>
                            <th>Category</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>FileName</th>
                            <th>Preview</th>
                        </tr>
                        @foreach (var item in Model.ChangeDocuments)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Download", new {id = item.Id})" class="btn btn-sm btn-primary">
                                        <i class="fa fa-cloud-download"></i>
                                    </a>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Category.Code)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedBy.FullName)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td align="center">
                                    <a href="@Url.Action("Preview", new {id = item.Id})" target='_blank'>
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        @if (!Model.ChangeDocuments.Any())
                        {
                            <tr>
                                <td colspan="5">
                                    <p class="text-danger">
                                        No data found.
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>