﻿@model CCTPMIS.Models.CaseManagement.GetBeneInfoVm

@{
    ViewBag.Title = "Change Management Details";
}

@{
    ViewBag.Title = "Household Details";

    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="modal-body">
    <table class="table table-bordered table-striped">
        <tr>
            <td class="text-bold fit">Programme.</td>
            <td>@Model.ProgrammeName</td>
        </tr>
        @*<tr>
            <td class="text-bold fit">Programme No.</td>
            <td>@Model.P</td>
        </tr>*@
        <tr>
            <td class="text-bold fit">Beneficiary Name:</td>
            <td>@Model.PriReciFirstName  @Model.PriReciMiddleName  @Model.PriReciSurname </td>
        </tr>
        <tr>
            <td class="text-bold fit">Beneficiary National Id:</td>
            <td>@Model.PriReciNationalIdNo</td>
        </tr>

        <tr>
            <td class="text-bold fit">Beneficiary Sex :</td>
            <td>@Model.PriReciSex</td>
        </tr>
        <tr>
            <td class="text-bold fit">Beneficiary Birth Cert No.:</td>
            <td>@Model.PriReciBirthCertNo</td>
        </tr>
        <tr>
            <td class="text-bold fit">Beneficiary Mobile No:</td>
            <td>@Model.PriReciMobileNo1 <br /> @Model.PriReciMobileNo2</td>
        </tr>

        <tr>
            <td class="text-bold fit">Caregiver Name:</td>
            <td>@Model.SecReciFirstName  @Model.SecReciMiddleName  @Model.SecReciSurname </td>
        </tr>
        <tr>
            <td class="text-bold fit">Caregiver National Id:</td>
            <td>@Model.SecReciNationalIdNo</td>
        </tr>

        <tr>
            <td class="text-bold fit">Caregiver Sex :</td>
            <td>@Model.SecReciSex</td>
        </tr>
        <tr>
            <td class="text-bold fit">Caregiver Birth Cert No.:</td>
            <td>@Model.SecReciBirthCertNo</td>
        </tr>
        <tr>
            <td class="text-bold fit">Caregiver Mobile No:</td>
            <td>@Model.SecReciMobileNo1 <br /> @Model.SecReciMobileNo2</td>
        </tr>

        <tr>
            <td class="text-bold fit">Bank :</td>
            <td>@Model.PSP   </td>
        </tr>
        <tr>
            <td class="text-bold fit">Bank Branch  :</td>
            <td>@Model.PSPBranch</td>
        </tr>

        <tr>
            <td class="text-bold fit"> Account Opened:</td>
            <td>@Model.AccountOpenedOn</td>
        </tr>
        <tr>
            <td class="text-bold fit">Account Name.:</td>
            <td>@Model.AccountName</td>
        </tr>
        <tr>
            <td class="text-bold fit">Account No.:</td>
            <td>@Model.AccountNo <br /> </td>
        </tr>

        <tr>
            <td class="text-bold fit"> Payment Card No. :</td>
            <td>@Model.PaymentCardNo <br /> </td>
        </tr>
        <tr>
            <td class="text-bold fit">Location :</td>
            <td>@Model.LocationName <br /> </td>
        </tr>
        <tr>
            <td class="text-bold fit">SubLocation   :</td>
            <td>@Model.SubLocationName <br /> </td>
        </tr>
        <tr>
            <td class="text-bold fit">Division   :</td>
            <td>@Model.DivisionName <br /> </td>
        </tr>

        <tr>
            <td class="text-bold fit"> District   :</td>
            <td>@Model.DistrictName <br /> </td>
        </tr>

        <tr>
            <td class="text-bold fit"> Sub County   :</td>
            <td>@Model.ConstituencyName <br /> </td>
        </tr>
        <tr>
            <td class="text-bold fit"> County   :</td>
            <td>@Model.CountyName <br /> </td>
        </tr>
    </table>
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>

}