﻿@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc

@model CCTPMIS.Models.CaseManagement.ChangeListViewModel
@{
    ViewBag.Title = "Case Management - Updates";

    var userId = User.Identity.GetUserId();
}
<div class="row">
    @using (Html.BeginForm("Index", "Changes", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical filter form-paginated", role = "form" }))

    {
        <div class=" col-md-10">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.ChangeTypeId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("ChangeTypeId", null, "Select", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("ChangeStatusId", null, "Select", htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.HouseholdEnrolmentId, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.HouseholdEnrolmentId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.NationalId, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NationalId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("CountyId", null, " Select ", htmlAttributes: new { @class = "form-control filter" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("ConstituencyId", null, " Select ", htmlAttributes: new { @class = "form-control filterSL" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("PageSize", null, " Select ", htmlAttributes: new { @class = "form-control filterSL" })
            </div>
        </div>
        <input type="hidden" name="Page" id="pagination-page" value="1" />
        <div class="col-md-2  ">
            <button type="submit" class="btn btn-success btn-block  btn-sm  ">
                <i class="glyphicon glyphicon-search"></i> Search
            </button>
            <button type="button" class="btn btn-default btn-sm btn-reset btn-block   ">
                <i class="fa fa-eraser"></i> Clear
            </button>
            <br />
            @Html.ActionLink("Add Change", "Beneficiaries", null, new { @class = "btn  btn-block btn-primary btn-sm pull-right" })
        </div>

    }
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th class="fit">
                    Update No
                </th>
                <th>
                    Update Type
                </th>

                <th>
                    Programme
                </th>
                <th>
                    Programme No
                </th>

                <th>
                    Received On
                </th>
                <th>
                    Closed On
                </th>
                <th>
                    Meets SLA?
                </th>
                <th>
                    Days
                </th>
                <th>
                    Status
                </th>
                <th>
                    Sub County
                </th>
                <th>View</th>
            </tr>
            @foreach (var item in Model.Changes)
            {
                <tr>
                    <td>
                        #  @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangeType.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Programme.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HhEnrolment.ProgrammeNumber)
                    </td>

                    <td>
                        @item.ReceivedOn.ToString("d")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosedOn)
                    </td>
                    <td class="bold @(((item.ClosedOn??DateTime.Today).Day - item.ReceivedOn.Day)< item.ChangeType.Timeline ? "text-success" :"text-danger")">
                        @if (item.ClosedOn != null)
                        {
                            <span> @((item.ClosedOn.Value - item.ReceivedOn).Days < item.ChangeType.Timeline ? "Yes" : "No")  </span>
                        }
                        else
                        {
                            <span> @((DateTime.Today - item.ReceivedOn).Days < item.ChangeType.Timeline ? "Yes" : "No")   </span>
                        }
                    </td>
                    <td class="bold @(((item.ClosedOn??DateTime.Today).Day - item.ReceivedOn.Day)< item.ChangeType.Timeline ? "text-success " :"text-danger")">
                        @if (item.ClosedOn != null)
                        {
                            <span> @(Math.Abs(item.ChangeType.Timeline - (item.ClosedOn.Value.Day - item.ReceivedOn.Day))) day/s </span>
                        }
                        else
                        {
                            <span> @(Math.Abs(item.ChangeType.Timeline - (DateTime.Today.Day - item.ReceivedOn.Day))) day/s </span>
                        }

                        @if (item.ClosedOn != null)
                        {
                            <span> @((item.ClosedOn.Value.Day - item.ReceivedOn.Day) < item.ChangeType.Timeline ? "Remaining" : "Past SLA day/s")  </span>
                        }
                        else
                        {
                            <span> @((DateTime.Today.Day - item.ReceivedOn.Day) < item.ChangeType.Timeline ? "Remaining" : "Past SLA day/s")   </span>
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ChangeStatus.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Constituency.Name)
                    </td>
                    <td class="fit text-center">
                        @Html.ActionLink("  View", "Details", new { id = item.Id, pageNo = Model.Page }, new { @class = "fa fa-eye" })
                    </td>
                </tr>
            }
            @if (!Model.Changes.Any())
            {
                <tr class="odd">
                    <td colspan="21" class="dataTables_empty text-center">No data available in table</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.Changes, page => Url.Action("Index", new { page = page }))
    </div>

    <div class="col-md-4">
        Page @(Model.Changes.PageCount < Model.Changes.PageNumber ? 0 : Model.Changes.PageNumber) of @Model.Changes.PageCount
        Showing @Model.Changes.Count of @Model.Changes.TotalItemCount
    </div>
</div>