﻿@model CCTPMIS.Business.Model.Person

    @{
        ViewBag.Title = "Person Details";
        Layout = "~/Views/Shared/_LayoutModal.cshtml";
    }

    <div class="modal-body">
        <table class="table table-bordered table-striped">
            <tr>
                <td> @Html.DisplayNameFor(modelItem => Model.FirstName)</td>
                <td>
                    @Html.DisplayFor(modelItem => Model.FirstName)
                </td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(modelItem => Model.MiddleName)</td>
                <td>
                    @Html.DisplayFor(modelItem => Model.MiddleName)
                </td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(modelItem => Model.Surname)</td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Surname)
                </td>
            </tr>

            <tr>
                <td> @Html.DisplayNameFor(modelItem => Model.SexId)</td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Sex.Description)
                </td>
            </tr>

            <tr>
                <td> @Html.DisplayNameFor(modelItem => Model.Dob)</td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Dob)
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>