﻿@model CCTPMIS.Models.CaseManagement.ComplaintViewModel
@{
    ViewBag.Title = "Add a new Complaint / Grievance";
}

<div class="row">
    <div class="col-md-12 ">
        @using (Html.BeginForm("Create", "Complaints", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal new-complaint", role = "form" }))

        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.GetBeneInfoVm.ProgrammeId, htmlAttributes: new { @Name = "ProgrammeId" })

            @Html.HiddenFor(x => x.HhEnrolmentId, htmlAttributes: new { @Name = "HhEnrolmentId" })
            <div class="row create-new">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">1.  HOUSEHOLD SUMMARY INFORMATION</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <td class="text-bold fit">Programme.</td>
                                        <td>@Model.GetBeneInfoVm.ProgrammeName</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Programme No.</td>
                                        <td>@Model.HouseholdEnrolment.Id</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Primary Recipient Name:</td>
                                        <td>
                                            @Model.GetBeneInfoVm.PriReciFirstName
                                            @Model.GetBeneInfoVm.PriReciMiddleName
                                            @Model.GetBeneInfoVm.PriReciSurname
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Primary Recipient National Id:</td>
                                        <td>@Model.GetBeneInfoVm.PriReciNationalIdNo</td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit">Primary Recipient Sex :</td>
                                        <td>@Model.GetBeneInfoVm.PriReciSex</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Primary Recipient Birth Cert No.:</td>
                                        <td>@Model.GetBeneInfoVm.PriReciBirthCertNo</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Primary Recipient Mobile No:</td>
                                        <td>@Model.GetBeneInfoVm.PriReciMobileNo1 <br /> @Model.GetBeneInfoVm.PriReciMobileNo2</td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit">Secondary Recipient Name:</td>
                                        <td>@Model.GetBeneInfoVm.SecReciFirstName  @Model.GetBeneInfoVm.SecReciMiddleName  @Model.GetBeneInfoVm.SecReciSurname </td>
                                    </tr>
                                    @if (!string.IsNullOrEmpty(@Model.GetBeneInfoVm.SecReciFirstName))
                                    {

                                        <tr>
                                            <td class="text-bold fit">Secondary Recipient National Id:</td>
                                            <td>@Model.GetBeneInfoVm.SecReciNationalIdNo</td>
                                        </tr>

                                        <tr>
                                            <td class="text-bold fit">Secondary Recipient Sex :</td>
                                            <td>@Model.GetBeneInfoVm.SecReciSex</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold fit">Secondary Recipient Birth Cert No.:</td>
                                            <td>@Model.GetBeneInfoVm.SecReciBirthCertNo</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold fit">Secondary Recipient Mobile No:</td>
                                            <td>@Model.GetBeneInfoVm.SecReciMobileNo1 <br /> @Model.GetBeneInfoVm.SecReciMobileNo2</td>
                                        </tr>

                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="text-bold fit" colspan="2">Secondary Recipient Not Specified:</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="text-bold fit"> PSP :</td>
                                        <td>@Model.GetBeneInfoVm.PSP   </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">PSP Branch  :</td>
                                        <td>@Model.GetBeneInfoVm.PSPBranch</td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit">Bank Account Opened:</td>
                                        <td>@Model.GetBeneInfoVm.AccountOpenedOn</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit"> Bank Account Name.:</td>
                                        <td>@Model.GetBeneInfoVm.AccountName</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Bank Account No.:</td>
                                        <td>@Model.GetBeneInfoVm.AccountNo <br /> </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit"> Payment Card No. :</td>
                                        <td>@Model.GetBeneInfoVm.PaymentCardNo <br /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Location :</td>
                                        <td>@Model.GetBeneInfoVm.LocationName <br /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Sub Location   :</td>
                                        <td>@Model.GetBeneInfoVm.SubLocationName <br /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Division   :</td>
                                        <td>@Model.GetBeneInfoVm.DivisionName <br /> </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit"> District   :</td>
                                        <td>@Model.GetBeneInfoVm.DistrictName <br /> </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit"> Sub County   :</td>
                                        <td>@Model.GetBeneInfoVm.ConstituencyName <br /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit"> County   :</td>
                                        <td>@Model.GetBeneInfoVm.CountyName <br /> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h3 class="panel-title">2. COMPLAINT DETAILS </h3>
                            <div class="clearfix"></div>
                        </div>

                        <div class="panel-body">
                            <div class="form-horizontal">

                                <div class="form-group">

                                    <div class="col-md-12">
                                        @if ((bool)ViewBag.HasConstituencyId)
                                        {
                                            @Html.HiddenFor(x => x.ConstituencyId, htmlAttributes: new { @Name = "ConstituencyId" })
                                            @Html.HiddenFor(x => x.CountyId, htmlAttributes: new { @Name = "CountyId" })
                                        }
                                        else
                                        {
                                            @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("CountyId", null, "Select", htmlAttributes: new { @class = (ViewBag.HasConstituencyId == true ? "form-control required" : "form-control   filter  required") })

                                            @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("ConstituencyId", null, "Select", htmlAttributes: new { @class = "form-control  required " })
                                        }
                                    </div>

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.ReportedByTypeId, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("ReportedByTypeId", null, "Select", htmlAttributes: new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(model => model.ReportedByTypeId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="reporter">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReportedByName, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.ReportedByName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReportedByName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReportedByIdNo, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.ReportedByIdNo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReportedByIdNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReportedBySexId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("ReportedBySexId", null, "Select", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ReportedBySexId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReportedByPhone, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.ReportedByPhone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReportedByPhone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.ComplaintTypeId, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("ComplaintTypeId", null, "Select", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ComplaintTypeId, "", new { @class = "text-danger" })
                                    </div>

                                    <div id="DocumentsToAttach" class="col-md-12">
                                    </div>
                                    <div id="ReportingProcess" class="col-md-12">
                                    </div>

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.SourceId, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("SourceId", null, "Select", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SourceId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label" })
                                        <input type="file" name="file" class="form-control" accept="application/pdf" />
                                    </div>

                                    @*<div class="col-md-6">
                                        @Html.LabelFor(model => model.SerialNo, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.SerialNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SerialNo, "", new { @class = "text-danger" })
                                    </div>*@

                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.ReceivedOn, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ReceivedOn, new { htmlAttributes = new { @class = "form-control ReceiveDate no-typing" } })

                                        @Html.ValidationMessageFor(model => model.ReceivedOn, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.ReceivedBy, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ReceivedBy, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ReceivedBy, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-12 ">
                                        <p>&nbsp;</p>
                                        <button type="submit" class="btn btn-success pull-right">
                                            <i class="glyphicon glyphicon-ok-sign"></i> Submit
                                        </button>
                                        <a href="@Url.Action("Beneficiaries")" class="btn btn-danger pull-left" type="button">
                                            <i class="glyphicon glyphicon-step-backward"></i> Back
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<input type="hidden" id="BeneName" value="@Model.GetBeneInfoVm.PriReciName" />
<input type="hidden" id="BeneSexId" value="@Model.GetBeneInfoVm.PriReciSexId" />
<input type="hidden" id="BeneIdNo" value="@Model.GetBeneInfoVm.PriReciNationalIdNo" />
<input type="hidden" id="BenePhone" value="@Model.GetBeneInfoVm.PriReciMobileNo1" />
<input type="hidden" id="CgName" value="@Model.GetBeneInfoVm.SecReciName" />
<input type="hidden" id="CgSexId" value="@Model.GetBeneInfoVm.SecReciSexId" />
<input type="hidden" id="CgIdNo" value="@Model.GetBeneInfoVm.SecReciNationalIdNo" />
<input type="hidden" id="CgPhone" value="@Model.GetBeneInfoVm.SecReciMobileNo1" />

@section scripts{
    <script type="text/javascript">

        $(document).on("change",
            "#ReportedByTypeId",
            function (e) {

                if ($("#ReportedByTypeId option:selected").text() === "ANONYMOUS") {
                    $(".reporter").addClass("hidden");
                } else {
                    $(".reporter").removeClass("hidden");
                }

                if ($("#ReportedByTypeId option:selected").text() === "BENEFICIARY") {
                    $("#ReportedByName").val($("#BeneName").val());
                    $("#ReportedBySexId").val($("#BeneSexId").val());
                    $("#ReportedByIdNo").val($("#BeneIdNo").val());
                    $("#ReportedByPhone").val($("#BenePhone").val());
                } else if ($("#ReportedByTypeId option:selected").text() === "CAREGIVER") {
                    $("#ReportedByName").val($("#CgName").val());
                    $("#ReportedBySexId").val($("#CgSexId").val());
                    $("#ReportedByIdNo").val($("#CgIdNo").val());
                    $("#ReportedByPhone").val($("#CgPhone").val());
                } else {
                    $("#ReportedByName").val("");
                    $("#ReportedBySexId").val("");
                    $("#ReportedByIdNo").val("");
                    $("#ReportedByPhone").val("");
                }
                e.preventDefault();
                e.stopPropagation();

            });

        $(document).on("change", "#ComplaintTypeId",
            function (e) {
                var working = "<span id ='spin' ><i class='fa fa-spinner fa-spin fa-3x fa-fw'></i></span>";

                if ($(this).val() !== "") {
                    $.ajax({
                        url: "/Data/GetCMRequirements/" + $(this).val(),
                        dataType: "json",
                        crossDomain: true,

                        beforeSend: function () {
                            $(this).parent().append(working);
                            $("#DocumentsToAttach").html("");
                            $("#ReportingProcess").html("");

                        },
                        success: function (json) {
                            var data = json;
                            //console.log(data);
                            $("#DocumentsToAttach").html('<br /> <p class="alert alert-info"> <strong> REQUIRED DOCS. </strong> <br />' + data.DocumentsToAttach + '</p>');
                            //   $("#ReportingProcess").html('<p class="alert alert-info">' + data.ReportingProcess + '</p>' );

                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                        },

                        complete: function () {
                            $("#spin").remove();
                        }
                    });
                }
            });
    </script>
}