﻿@model CCTPMIS.Business.Model.Complaint

@{
    ViewBag.Title = $"Complaint  Details #{Model.Id}";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title  ">
                    Complaint Summary
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                    @if (Model.ComplaintStatus.Code != "Closed")
                    {
                        <div class="btn-group pull-right m-tb-10   ">
                            <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                @if (Model.ComplaintStatus.Code == "Open")
                                {
                                    <li><a class="modal-link" href="@Url.Action("Verify", new {id = Model.Id})">Verify</a></li>
                                    <li role="separator" class="divider"></li>
                                    @*<li><a class="" href="@Url.Action("Edit", new {id = Model.Id})">Edit</a></li>
                                    <li role="separator" class="divider"></li>*@
                                }
                                @if (Model.ComplaintStatus.Code == "Verified")
                                {
                                    <li><a class="modal-link" href="@Url.Action("FollowUp", new {id = Model.Id})"> FollowUp </a></li>
                                    <li role="separator" class="divider"></li>
                                    if (Model.ComplaintLevel.Code != "National")
                                    {
                                        <li><a class="modal-link" href="@Url.Action("Escalate", new {id = Model.Id})"> Escalate </a></li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    <li><a class="modal-link" href="@Url.Action("Resolve", new {id = Model.Id})"> Resolve </a></li>
                                    <li role="separator" class="divider"></li>
                                }
                                @if (Model.ComplaintStatus.Code == "Escalated")
                                {
                                    <li><a class="modal-link" href="@Url.Action("FollowUp", new {id = Model.Id})"> FollowUp </a></li>
                                    <li role="separator" class="divider"></li>
                                    if (Model.ComplaintLevel.Code != "National")
                                    {
                                        <li><a class="modal-link" href="@Url.Action("Escalate", new {id = Model.Id})"> Escalate </a></li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    <li><a class="modal-link" href="@Url.Action("Resolve", new {id = Model.Id})"> Resolve </a></li>
                                    <li role="separator" class="divider"></li>
                                }
                                @if (Model.ComplaintStatus.Code == "Resolved")
                                {
                                    <li><a class="modal-link" href="@Url.Action("Close", new {id = Model.Id})"> Close </a></li>
                                    <li role="separator" class="divider"></li>
                                }
                            </ul>
                        </div>
                    }
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered action-complaint-details">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <td><span>@Html.DisplayFor(model => model.Id) </span></td>
                                <th> </th>
                                <td><span>  </span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Programme)</th>
                                <td><span>@Html.DisplayFor(model => model.Programme.Name) </span></td>
                                <th>@Html.DisplayNameFor(model => model.HhEnrolmentId)</th>
                                <td>
                                    <span>@Html.DisplayFor(model => model.HhEnrolmentId)</span>
                                    @Html.ActionLink("View", "HouseholdSummary", "Changes", new { id = Model.HhEnrolmentId }, new { @class = "btn btn-primary modal-link btn-xs pull-right fa fa-eye" })
                                </td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ConstituencyId)</th>
                                <td><span>@Html.DisplayFor(model => model.Constituency.Name)</span></td>

                                <th>@Html.DisplayNameFor(model => model.SourceId)</th>
                                <td><span>@Html.DisplayFor(model => model.Source.Description) </span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReportedByTypeId)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByType.Description)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ReportedByName)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByName)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReportedBySexId)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedBySex.Description)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ReportedByIdNo)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByIdNo)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReportedByPhone)</th>
                                <td><span>@Html.DisplayFor(model => model.ReportedByPhone)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ComplaintTypeId)</th>
                                <td><span>@Html.DisplayFor(model => model.ComplaintType.Description)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ComplaintLevelId)</th>
                                <td><span>@Html.DisplayFor(model => model.ComplaintLevel.Description)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ComplaintStatusId)</th>
                                <td><span>@Html.DisplayFor(model => model.ComplaintStatus.Description)</span></td>
                            </tr>
                            <tr>

                                <th>@Html.DisplayNameFor(model => model.ReceivedBy)</th>
                                <td><span>@Html.DisplayFor(model => model.ReceivedBy)</span></td>

                                <th>@Html.DisplayNameFor(model => model.ReceivedOn)</th>
                                <td><span>@Html.DisplayFor(model => model.ReceivedOn)</span></td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                                <td><span>@Html.DisplayFor(model => model.CreatedByUser.DisplayName)</span></td>

                                <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                                <td><span> @Html.DisplayFor(model => model.CreatedOn) </span></td>
                            </tr>
                            @if (Model.ModifiedBy != null)
                            {

                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ModifiedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ModifiedOn)</span></td>
                                </tr>
                            }
                            @if (Model.ApvBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ApvBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ApvByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ApvOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ApvOn)</span></td>
                                </tr>

                            }

                            @if (Model.VerifiedBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.VerifiedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.VerifiedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.VerifiedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.VerifiedOn)</span></td>
                                </tr>

                            }
                            @if (Model.EscalatedBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.EscalatedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.EscalatedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.EscalatedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.EscalatedOn)</span></td>
                                </tr>

                            }
                            @if (Model.Escalated2By != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Escalated2By)</th>
                                    <td><span>@Html.DisplayFor(model => model.Escalated2ByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.Escalated2On)</th>
                                    <td><span>@Html.DisplayFor(model => model.Escalated2On)</span></td>
                                </tr>

                            }

                            @if (Model.ResolvedBy != null)
                            {
                                <tr>

                                    <th>@Html.DisplayNameFor(model => model.ResolvedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ResolvedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ResolvedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ResolvedOn)</span></td>
                                </tr>
                            }
                            @if (Model.ClosedBy != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ClosedBy)</th>
                                    <td><span>@Html.DisplayFor(model => model.ClosedByUser.DisplayName)</span></td>

                                    <th>@Html.DisplayNameFor(model => model.ClosedOn)</th>
                                    <td><span>@Html.DisplayFor(model => model.ClosedOn)</span></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">Complaint History</h3>
                <div class="clearfix"></div>
            </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="timeline-basic">
                        @foreach (var item in Model.ComplaintNotes.OrderByDescending(x => x.Id))
                        {

                            <div class="timeline-entry animatedParent animateOnce z-index-@item.Id">
                                <div class="timeline-circle">&nbsp;</div>
                                <div class="timeline-panel animated fadeInUp">
                                    <div class="timeline-heading">
                                        <h2 class="timeline-title">@Html.DisplayFor(modelItem => item.Category.Description)</h2>
                                    </div>
                                    <div class="timeline-body">
                                        <p>@Html.DisplayFor(modelItem => item.Note) </p>
                                        <div class="meta-wrapper">
                                            <span class="meta-date"><i class="icon-calendar"></i>@item.CreatedOn.Value.ToString("D")</span>
                                            <span> | </span>  <span class="meta-comment"><i class="icon-user"></i>@Html.DisplayFor(modelItem => item.CreatedBy.FullName)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
            <div class="panel-heading">
                <h3 class="panel-title"> Complaint Documents </h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-users ">
                    <tbody>
                        <tr>
                            <th>Download</th>
                            <th>Category</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>FileName</th>
                            <th>Preview</th>
                        </tr>
                        @foreach (var item in Model.ComplaintDocuments)
                        {
                        <tr>
                            <td>
                                <a href="@Url.Action("Download", new {id = item.Id})" class="btn btn-sm btn-primary">
                                    <i class="fa fa-cloud-download"></i>
                                </a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Category.Code)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedBy.FullName)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileName)
                            </td>
                            <td align="center">
                                <a href="@Url.Action("Preview", new {id = item.Id})" target='_blank'>
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                        @if (!Model.ComplaintDocuments.Any())
                        {
                            <tr>
                                <td colspan="5">
                                    <p class="text-danger">
                                        No data found.
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>