﻿@model CCTPMIS.Models.CaseManagement.ComplaintViewModel
@{
    ViewBag.Title = "Add a new Complaint / Grievance";
}

<div class="row">
    <div class="col-md-12 ">
        @using (Html.BeginForm("Edit", "Complaints", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal new-complaint", role = "form" }))

        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.GetBeneInfoVm.ProgrammeId, htmlAttributes: new { @Name = "ProgrammeId" })
            @Html.HiddenFor(x => x.HhEnrolmentId)
            <div class="row create-new">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">1.  HOUSEHOLD SUMMARY INFORMATION</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <td class="text-bold fit">Programme.</td>
                                        <td>@Model.GetBeneInfoVm.ProgrammeName</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Programme No.</td>
                                        <td>@Model.HouseholdEnrolment.Id</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Primary Recipient Name:</td>
                                        <td>@Model.GetBeneInfoVm.PriReciFirstName  @Model.GetBeneInfoVm.PriReciMiddleName  @Model.GetBeneInfoVm.PriReciSurname </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Primary Recipient National Id:</td>
                                        <td>@Model.GetBeneInfoVm.PriReciNationalIdNo</td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit">Primary Recipient Sex :</td>
                                        <td>@Model.GetBeneInfoVm.PriReciSex</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Primary Recipient Birth Cert No.:</td>
                                        <td>@Model.GetBeneInfoVm.PriReciBirthCertNo</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Primary Recipient Mobile No:</td>
                                        <td>@Model.GetBeneInfoVm.PriReciMobileNo1 <br /> @Model.GetBeneInfoVm.PriReciMobileNo2</td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit">Secondary Recipient Name:</td>
                                        <td>@Model.GetBeneInfoVm.SecReciFirstName  @Model.GetBeneInfoVm.SecReciMiddleName  @Model.GetBeneInfoVm.SecReciSurname </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Secondary Recipient National Id:</td>
                                        <td>@Model.GetBeneInfoVm.SecReciNationalIdNo</td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit">Secondary Recipient Sex :</td>
                                        <td>@Model.GetBeneInfoVm.SecReciSex</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Secondary Recipient Birth Cert No.:</td>
                                        <td>@Model.GetBeneInfoVm.SecReciBirthCertNo</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Secondary Recipient Mobile No:</td>
                                        <td>@Model.GetBeneInfoVm.SecReciMobileNo1 <br /> @Model.GetBeneInfoVm.SecReciMobileNo2</td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit">Bank :</td>
                                        <td>@Model.GetBeneInfoVm.PSP   </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Bank Branch  :</td>
                                        <td>@Model.GetBeneInfoVm.PSPBranch</td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit"> Account Opened:</td>
                                        <td>@Model.GetBeneInfoVm.AccountOpenedOn</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Account Name.:</td>
                                        <td>@Model.GetBeneInfoVm.AccountName</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Account No.:</td>
                                        <td>@Model.GetBeneInfoVm.AccountNo <br /> </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit"> Payment Card No. :</td>
                                        <td>@Model.GetBeneInfoVm.PaymentCardNo <br /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Location :</td>
                                        <td>@Model.GetBeneInfoVm.LocationName <br /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">SubLocation   :</td>
                                        <td>@Model.GetBeneInfoVm.SubLocationName <br /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit">Division   :</td>
                                        <td>@Model.GetBeneInfoVm.DivisionName <br /> </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit"> District   :</td>
                                        <td>@Model.GetBeneInfoVm.DistrictName <br /> </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold fit"> Sub County   :</td>
                                        <td>@Model.GetBeneInfoVm.ConstituencyName <br /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold fit"> County   :</td>
                                        <td>@Model.GetBeneInfoVm.CountyName <br /> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h3 class="panel-title">2. COMPLAINT DETAILS </h3>
                            <div class="clearfix"></div>
                        </div>

                        <div class="panel-body">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ReportedByTypeId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("ReportedByTypeId", null, "Select", htmlAttributes: new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.ReportedByTypeId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="reporter">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReportedByName, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.ReportedByName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReportedByName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReportedByIdNo, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.ReportedByIdNo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReportedByIdNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReportedBySexId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("ReportedBySexId", null, "Select", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ReportedBySexId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReportedByPhone, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.ReportedByPhone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReportedByPhone, "", new { @class = "text-danger" })
                                        </div>
                                        </div>

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ComplaintTypeId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("ComplaintTypeId", null, "Select", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ComplaintTypeId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label" })
                                            <input type="file" name="file" class="form-control" accept="application/pdf" />
                                        </div>

                                        <div class="col-md-6 hidden ">

                                            @Html.HiddenFor(model => model.SerialNo, new { htmlAttributes = new { @class = "form-control" } })
                                         </div>

                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReceivedOn, htmlAttributes: new { @class = "control-label" })

                                            @Html.EditorFor(model => model.ReceivedOn, new { htmlAttributes = new { @class = "form-control ReceiveDate no-typing" } })

                                            @Html.ValidationMessageFor(model => model.ReceivedOn, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ReceivedBy, htmlAttributes: new { @class = "control-label" })

                                            @Html.EditorFor(model => model.ReceivedBy, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReceivedBy, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label" })

                                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-12 ">
                                            <p>&nbsp;</p>
                                            <button type="submit" class="btn btn-success pull-right">
                                                <i class="glyphicon glyphicon-ok-sign"></i> Submit
                                            </button>
                                            <a href="@Url.Action("Beneficiaries")" class="btn btn-danger pull-left" type="button">
                                                <i class="glyphicon glyphicon-step-backward"></i> Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<input type="hidden" id="BeneName" value="@Model.GetBeneInfoVm.PriReciName" />
<input type="hidden" id="BeneSexId" value="@Model.GetBeneInfoVm.PriReciSexId" />
<input type="hidden" id="BeneIdNo" value="@Model.GetBeneInfoVm.PriReciNationalIdNo" />
<input type="hidden" id="BenePhone" value="@Model.GetBeneInfoVm.PriReciMobileNo1" />
<input type="hidden" id="CgName" value="@Model.GetBeneInfoVm.SecReciName" />
<input type="hidden" id="CgSexId" value="@Model.GetBeneInfoVm.SecReciSexId" />
<input type="hidden" id="CgIdNo" value="@Model.GetBeneInfoVm.SecReciNationalIdNo" />
<input type="hidden" id="CgPhone" value="@Model.GetBeneInfoVm.SecReciMobileNo1" />
@section scripts{
    <script type="text/javascript">

        $(document).on("change",
            "#ReportedByTypeId",
            function(e) {

                if ($("#ReportedByTypeId option:selected").text() === "ANONYMOUS") {
                    $(".reporter").addClass("hidden");
                } else {
                    $(".reporter").removeClass("hidden");
                }

                if ($("#ReportedByTypeId option:selected").text() === "BENEFICIARY") {
                    $("#ReportedByName").val($("#BeneName").val());
                    $("#ReportedBySexId").val($("#BeneSexId").val());
                    $("#ReportedByIdNo").val($("#BeneIdNo").val());
                    $("#ReportedByPhone").val($("#BenePhone").val());
                } else if ($("#ReportedByTypeId option:selected").text() === "CAREGIVER") {
                    $("#ReportedByName").val($("#CgName").val());
                    $("#ReportedBySexId").val($("#CgSexId").val());
                    $("#ReportedByIdNo").val($("#CgIdNo").val());
                    $("#ReportedByPhone").val($("#CgPhone").val());
                } else
                // if ($(this).val() === "")
                {
                    $("#ReportedByName").val("");
                    $("#ReportedBySexId").val("");
                    $("#ReportedByIdNo").val("");
                    $("#ReportedByPhone").val("");
                }
                e.preventDefault();
                e.stopPropagation();

            });
    </script>
}