﻿@using PagedList.Mvc
@model CCTPMIS.Models.CaseManagement.ComplaintListViewModel
@{
    ViewBag.Title = "Case Management - Complaints and Grievances";

}

@using (Html.BeginForm("Index", "Complaints", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical form-paginated filter", role = "form" }))

{
    <div class=" col-md-10">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.ComplaintStatusId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ComplaintStatusId", null, "Select", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.ComplaintCategoryId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ComplaintCategoryId", null, "Select", htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("CountyId", null, " Select ", htmlAttributes: new { @class = "form-control filter" })
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.ConstituencyId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ConstituencyId", null, " Select ", htmlAttributes: new { @class = "form-control filterSL" })
        </div>
    </div>

    <div class="col-md-2  ">
        <button type="submit" class="btn btn-success btn-block  btn-sm  ">
            <i class="glyphicon glyphicon-search"></i> Search
        </button>
        <button type="button" class="btn btn-default btn-sm  btn-block btn-reset  ">
            <i class="fa fa-eraser"></i> Clear
        </button>
        <br />
        <a href="@Url.Action("Beneficiaries")" class="btn   btn-primary"><i class="fa fa-plus"></i> New Complaint </a>
    </div>
    <input type="hidden" name="Page" id="pagination-page" value="1" />

}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="table-filter" class="table   table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.Constituency.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.Programme.Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ProgrammeNo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ComplaintTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ComplaintStatusId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ComplaintLevelId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ReceivedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.ClosedOn)
                        </th>

                        <th>
                            Meets SLA?
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complaint.Designation)
                        </th>
                        <th> </th>
                    </tr>

                    @foreach (var item in Model.Complaints)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Constituency.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Programme.Code)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ProgrammeNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComplaintType.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComplaintStatus.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComplaintLevel.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.ReceivedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.ClosedOn)
                            </td>
                            <td class="bold @(((item.ClosedOn??DateTime.Today).Day - item.ReceivedOn.Day)< item.ComplaintType.Timeline ? "text-success" :"text-danger")">
                                @if (item.ClosedOn != null)
                                {
                                    <span> @((item.ClosedOn.Value - item.ReceivedOn).Days < item.ComplaintType.Timeline ? "Yes" : "No")  </span>
                                }
                                else
                                {
                                    <span> @((DateTime.Today - item.ReceivedOn).Days < item.ComplaintType.Timeline ? "Yes" : "No")   </span>
                                }
                            </td>
                            <td class="bold @(((item.ClosedOn??DateTime.Today).Day - item.ReceivedOn.Day)< item.ComplaintType.Timeline ? "text-success " :"text-danger")">
                                @if (item.ClosedOn != null)
                                {
                                    <span> @(Math.Abs(item.ComplaintType.Timeline - (item.ClosedOn.Value.Day - item.ReceivedOn.Day))) day/s </span>
                                }
                                else
                                {
                                    <span> @(Math.Abs(item.ComplaintType.Timeline - (DateTime.Today.Day - item.ReceivedOn.Day))) day/s </span>
                                }

                                @if (item.ClosedOn != null)
                                {
                                    <span> @((item.ClosedOn.Value.Day - item.ReceivedOn.Day) < item.ComplaintType.Timeline ? "Remaining" : "Past SLA day/s")  </span>
                                }
                                else
                                {
                                    <span> @((DateTime.Today.Day - item.ReceivedOn.Day) < item.ComplaintType.Timeline ? "Remaining" : "Past SLA day/s")   </span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Designation)
                            </td>
                            <td>
                                @Html.ActionLink("  View", "Details", new { id = item.Id }, new { @class = "fa fa-eye" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.Complaints, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.Complaints.PageCount < Model.Complaints.PageNumber ? 0 : Model.Complaints.PageNumber) of @Model.Complaints.PageCount
        Showing @Model.Complaints.Count of @Model.Complaints.TotalItemCount
    </div>
</div>