﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.CreditReportViewModel

@{
    ViewBag.Title = "Approve Post Payroll";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canApprovePostpayroll = User.UserGroupHasRight("POST-PAYROLL:APPROVAL");
}

@using (Html.BeginForm())
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                @if (Model.PspAnalysis.Sum(x => x.PendingPayments) > 0)
                {
                    <div class="alert alert-danger">
                        <strong>There is missing data from the PSPs. The Payment Cycle Cannot be Closed. </strong>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">
                        <strong> Are you sure you want to Approve the Payment Cycle? </strong>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-striped table-condensed table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th> @Html.DisplayNameFor(modelItem => Model.PaymentCycle.CycleName) </th>
                            <td>@Html.DisplayFor(modelItem => Model.PaymentCycle.CycleName)</td>
                        </tr>
                        <tr>
                            <th> Period   </th>
                            <td> @Html.DisplayFor(modelItem => Model.PaymentCycle.FromMonth.Description) - @Html.DisplayFor(modelItem => Model.PaymentCycle.ToMonth.Description) </td>
                        </tr>
                        <tr>
                            <th> Payroll Stage </th>
                            <td> [@Html.DisplayFor(modelItem => Model.PaymentCycle.Status.Code) ] @Html.DisplayFor(modelItem => Model.PaymentCycle.Status.Description)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table  table-striped table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Bank.</th>
                            <th>Total In Payroll</th>
                            <th>Reported </th>
                            <th>Pending</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PspAnalysis)
                        {
                            <tr>
                                <td>@item.Psp</td>
                                <td class="text-right">@(item.TotalPayments)</td>
                                <td class="text-right">@item.ProcessedPayment</td>
                                <td class="text-right">@item.PendingPayments</td>
                                <td class="text-right">
                                    @if (item.ProcessedPayment == item.TotalPayments)
                                    {
                                        <span class="text-success"><i class="fa fa-check"></i> Success </span>
                                    }
                                    else
                                    {
                                        <span class="text-danger"><i class="fa fa-times-circle"></i> Pending </span>
                                    }
                                </td>
                            </tr>

                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th> TOTAL:</th>
                            <th class="text-right">@Model.PspAnalysis.Sum(x => x.TotalPayments)</th>
                            <th class="text-right">@Model.PspAnalysis.Sum(x => x.ProcessedPayment)</th>
                            <th class="text-right">@Model.PspAnalysis.Sum(x => x.PendingPayments)</th>
                            <th>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id, new { Value = ViewContext.RouteData.Values["id"] })
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @if (canApprovePostpayroll)
                {
                    if(Model.PspAnalysis.Any())
                    {
                    if (@Model.PspAnalysis.Sum(x => x.PendingPayments) <= 0)
                    {
                        if (Model.PaymentCycle.Status.Code == "PAYMENTOPEN")
                        {
                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Proceed </button>
                            }
                        }
                    }
                }
             </div>
        </div>
    </div>

}