﻿@model CCTPMIS.Models.Payment.CreditReportViewModel
@{
    ViewBag.Title = "Payment Cycle - Credit Report Analysis";
}

@Html.Partial("Common/_SubMenu")

@Html.Partial("Common/_PaymentCycleSummary", Model.PaymentCycle)

<div class="row">
    <div class="col-md-12">

        <table class="table  table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>PSP Name</th>
                    <th>Payroll Numbers</th>
                    <th>Submitted Credits</th>
                    <th>Successful Credits</th>
                    <th>Failed Credits</th>
                    <th>Credits Pending Submission </th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PspAnalysis)
                {
                <tr>
                    <td>@item.Psp</td>
                    <td class="text-right">@(item.ProcessedPayment + item.PendingPayments)  </td>
                    <td class="text-right">@item.ProcessedPayment</td>
                    <td class="text-right">@item.SuccessfulPayments</td>
                    <td class="text-right">@item.FailedPayments</td>
                    <td class="text-right">@item.PendingPayments</td>
                    <td class="text-right">
                        @if ((item.FailedPayments + item.SuccessfulPayments == item.ProcessedPayment) && item.PendingPayments <= 0)
                        {
                            <span class="text-success"><i class="fa fa-check"></i> Success </span>
                        }
                        else
                        {
                            <span class="text-danger"><i class="fa fa-times-circle"></i> Pending </span>
                        }
                    </td>
                </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <th> TOTAL:</th>
                    <th class="text-right">@Model.PspAnalysis.Sum(x => x.ProcessedPayment + x.PendingPayments)</th>
                    <th class="text-right">@Model.PspAnalysis.Sum(x => x.ProcessedPayment)</th>
                    <th class="text-right">@Model.PspAnalysis.Sum(x => x.SuccessfulPayments)</th>
                    <th class="text-right">@Model.PspAnalysis.Sum(x => x.FailedPayments)</th>
                    <th class="text-right">@Model.PspAnalysis.Sum(x => x.PendingPayments)</th>
                    <th>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("Common/_BackToList")
    </div>
</div>