﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model CCTPMIS.Models.Payment.PrepayrollExceptionsListViewModel

@{
    ViewBag.Title = "Duplicate National Id Numbers";
    var canActionPrepayroll = User.UserGroupHasRight("POST-PAYROLL:VIEW");

}
@Html.Partial("Common/_SubMenu")

<div class="row">
    <div class="col-md-12">

        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Household No.</th>
                    <th>Name </th>
                    <th>Id No.</th>
                    <th>Exception</th>
                    <th>Actioned By</th>
                    <th>Actioned On</th>
                    <th>Approved By</th>
                    <th>Approved On</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.PrepayrollDuplicateIdList.OrderBy(x => x.HhId).OrderBy(x => x.ExceptionType.Code).ThenBy(x => x.Person.NationalIdNo))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.HhId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Person.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Person.NationalIdNo)</td>
                        <td> @Html.DisplayFor(modelItem => item.ExceptionType.Description)</td>

                        <td>@Html.DisplayFor(modelItem => item.ActionedByUser.DisplayName) </td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvByUser.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvOn)</td>

                        <td>

                            @if (canActionPrepayroll)
                            {
                                <a class="btn btn-sm btn-primary modal-link" href="@Url.Action("ExceptionDetails",   new {id ="DuplicateId", paymentcycle=item.PaymentCycleId, programme = item.ProgrammeId, exceptionTypeId = item.ExceptionTypeId, hhId = item.HhId, personId = item.PersonId })"><i class="fa fa-eye"></i>   Summary   </a>

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.PrepayrollDuplicateIdList, page => Url.Action("DuplicateIdExceptions", new { page, paymentcycle = Request["paymentcycle"], programme = Request["programme"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PrepayrollDuplicateIdList.PageCount < Model.PrepayrollDuplicateIdList.PageNumber ? 0 : Model.PrepayrollDuplicateIdList.PageNumber) of @Model.PrepayrollDuplicateIdList.PageCount
        Showing @Model.PrepayrollDuplicateIdList.Count of @Model.PrepayrollDuplicateIdList.TotalItemCount
    </div>
</div>