﻿@model CCTPMIS.Models.Payment.CreditReportViewModel
@{
    ViewBag.Title = "Post Payroll Exceptions Summary ";
}
@Html.Partial("Common/_SubMenu")

@Html.Partial("Common/_PaymentCycleSummary", Model.PaymentCycle)

<div class="row">
    <div class="col-md-6">
        <table class="table table-users table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Credit Indicators</th>
                    <th> Numbers </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>@Html.DisplayNameFor(modelItem => Model.PostPayrollSummaryViewModel.SuccessfulPaymentsAmount)</td>
                    <td>  @Html.DisplayFor(modelItem => Model.PostPayrollSummaryViewModel.SuccessfulPaymentsAmount)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => Model.PostPayrollSummaryViewModel.FailedPaymentsAmount)</td>
                    <td>@Html.DisplayFor(modelItem => Model.PostPayrollSummaryViewModel.FailedPaymentsAmount)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => Model.PostPayrollSummaryViewModel.TotalPayrollAmount)</td>
                    <td>  @Html.DisplayFor(modelItem => Model.PostPayrollSummaryViewModel.TotalPayrollAmount)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-users table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th> Indicators</th>
                    <th> Numbers </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => Model.PostPayrollSummaryViewModel.FailedPayments)</td>
                    <td>@Html.DisplayFor(modelItem => Model.PostPayrollSummaryViewModel.FailedPayments)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => Model.PostPayrollSummaryViewModel.TotalPayrollHhs)</td>
                    <td>@Html.DisplayFor(modelItem => Model.PostPayrollSummaryViewModel.TotalPayrollHhs)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => Model.PostPayrollSummaryViewModel.SuccessfulPayments)</td>
                    <td>@Html.DisplayFor(modelItem => Model.PostPayrollSummaryViewModel.SuccessfulPayments)</td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Common/_PostPayrollSummary", Model.PostPayrollSummaryViewModel)
</div>
<div class="row">
    <div class="col-md-12 m-tb-30">
        @Html.Partial("Common/_BackToList")
    </div>
</div>