﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.CreditReportViewModel
@{
    ViewBag.Title = "Generate Post Payroll Exceptions File";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
    var canModifyPostpayroll = User.UserGroupHasRight("POST-PAYROLL:VIEW");
}
@using (Html.BeginForm())
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <strong> Are you sure you want to generate the Post Payroll Exceptions File? </strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-striped table-condensed table-bordered table-hover">
                    <tbody>

                        <tr>
                            <th> Period   </th>
                            <td> @Html.DisplayFor(modelItem => Model.PaymentCycle.FromMonth.Description) - @Html.DisplayFor(modelItem => Model.PaymentCycle.ToMonth.Description) </td>
                        </tr>
                        <tr>
                            <th> Year   </th>
                            <td> @Html.DisplayFor(modelItem => Model.PaymentCycle.FinancialYear.Description)  </td>
                        </tr>
                        <tr>
                            <th> Payroll Stage </th>
                            <td> [@Html.DisplayFor(modelItem => Model.PaymentCycle.Status.Code) ] @Html.DisplayFor(modelItem => Model.PaymentCycle.Status.Description)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PaymentCycleId, new { Value = ViewContext.RouteData.Values["id"] })
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default" data-dismiss="modal">Later</button>
                @if (canModifyPostpayroll)
                {
                    if (Model.PaymentCycle.ExceptionsFileId == null)
                    {
                        <button type="submit" class="btn btn-success "> <i class="fa fa-file"></i> Generate </button>
                    }
                }
            </div>
        </div>
    </div>
}