﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.PaymentCycle>

@{
    ViewBag.Title = "Post Payroll ";
    var canViewPostPayroll = User.UserGroupHasRight("POST-PAYROLL:VIEW");
    var canProcessPostPayroll = User.UserGroupHasRight("POST-PAYROLL:PROCESS");
    var canEditPostPayroll = User.UserGroupHasRight("POST-PAYROLL:MODIFIER");
    var canApprovePostPayroll = User.UserGroupHasRight("POST-PAYROLL:APPROVAL");
    var canDownloadPostPayroll = User.UserGroupHasRight("POST-PAYROLL:DOWNLOAD");

}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Payment Cycle
                </th>
                <th>
                    Financial Year
                </th>
                <th>
                    Payment Period
                </th>
                <th>
                    Status
                </th>

                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CycleName)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.FinancialYear.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FromMonth.Description) - @Html.DisplayFor(modelItem => item.ToMonth.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Description)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                @if (canViewPostPayroll)
                                {
                                    <li>
                                        <a class="" href="@Url.Action("Details", new {id = item.Id})">
                                            <i class="fa fa-folder-open"></i> Credit Report
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                }

                                @if (item.PaymentCycleDetails.Count(x => x.PaymentStage.Code != "POSTPAYROLL") == 0)
                                {
                                    if (item.ExceptionsFileId == null)
                                    {
                                        <li><a class="modal-link" href="@Url.Action("GenerateExceptionsFile", new {id = item.Id})"> <i class="fa   fa-map-o"> </i> Generate Post Payroll Exceptions </a></li>
                                        <li role="separator" class="divider"></li>
                                    }

                                }

                                @if (item.ExceptionsFileId != null)
                                {
                                    if (canDownloadPostPayroll)
                                    {
                                        <li><a class="" href="@Url.Action("Verify", "Services", new {id = item.ExceptionsFileId, area = ""})"> <i class="fa fa-download"> </i> Download Post Payroll Exceptions </a></li>
                                        <li role="separator" class="divider"></li>
                                    }
                                }
                                @if (item.PaymentCycleDetails.Count(x => x.PaymentStage.Code != "POSTPAYROLLAPV") == 0)
                                {
                                    if (item.Status.Code == "PAYMENTOPEN" && item.ExceptionsFileId != null)
                                    {
                                        <li><a class="modal-link" href="@Url.Action("ClosePostPayroll", new {id = item.Id})"> <i class="fa fa-send-o"> </i> Approve & Close Post payroll </a></li>
                                        <li role="separator" class="divider"></li>
                                    }

                                }
                                @if (canViewPostPayroll)
                                {
                                    <li>
                                        <a class="" href="@Url.Action("Exceptions", new {id = item.Id})">
                                            <i class="fa fa-folder-open"></i>   Exceptions Summary
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>