﻿@using CCTPMIS.Business.Statics
@using PagedList.Mvc
@model CCTPMIS.Models.Payment.PrepayrollExceptionsListViewModel

@{
    ViewBag.Title = "Invalid Payment cards";
    var canActionPrepayroll = User.UserGroupHasRight("PRE-PAYROLL:ACTION");
}

@Html.Partial("Common/_SubMenu")

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Household No.</th>
                    <th>Exception</th>

                    <th>Actioned By</th>
                    <th>Actioned On</th>
                    <th>Approved By</th>
                    <th>Approved On</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.PrepayrollInvalidPaymentCardsList.OrderBy(x => x.HhId))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.HhId)</td>
                        <td> @Html.DisplayFor(modelItem => item.ExceptionType.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedByUser.DisplayName) </td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvByUser.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActionedApvOn)</td>
                        <td>

                            @if (canActionPrepayroll)
                            {
                                <a class="btn btn-sm btn-primary modal-link" href="@Url.Action("ExceptionDetails", new { id = "INVALIDACC", paymentcycle = item.PaymentCycleId, programme = item.ProgrammeId, exceptionTypeId = item.ExceptionTypeId, hhId = item.HhId, })"><i class="fa fa-eye"></i> Summary </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model.PrepayrollInvalidPaymentCardsList, page => Url.Action("InvalidCardExceptions", new { page, paymentcycle = Request["paymentcycle"], programme = Request["programme"] }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PrepayrollInvalidPaymentCardsList.PageCount < Model.PrepayrollInvalidPaymentCardsList.PageNumber ? 0 : Model.PrepayrollInvalidPaymentCardsList.PageNumber) of @Model.PrepayrollInvalidPaymentCardsList.PageCount
        Showing @Model.PrepayrollInvalidPaymentCardsList.Count of @Model.PrepayrollInvalidPaymentCardsList.TotalItemCount
    </div>
</div>