﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.PaymentCycleDetailCreateViewModel

@{
    ViewBag.Title = "Create a Payment Cycle ";
    var canAddProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:ENTRY");
    var canViewProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:VIEW");
}

<div id="message" class="hidden">
    <div class="alert alert-danger">
        <strong>Error</strong>
        <div id="messageinner">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "PaymentCycleCreationFrm", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProgrammeId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("ProgrammeId", null, "Select Programme", htmlAttributes: new { @class = "form-control required PaymentCycleProgramme" })
                                @Html.ValidationMessageFor(model => model.ProgrammeId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentCycleId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("PaymentCycleId", null, "Select Payment Cycle", htmlAttributes: new { @class = "form-control required PaymentCycleProgramme" })
                                @Html.ValidationMessageFor(model => model.PaymentCycleId, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="EnrolmentSummary">
                        </div>
                        <div class="form-group">
                            <table id="EnrolmentGroupsTable" class="table table-condensed table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th> Enrolment Group </th>
                                        <th> Amount</th>
                                        <th class='' style="width: 30%"> New Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="EnrolmentGroups"></tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UploadFile, htmlAttributes: new { @class = "control-label col-md-12 " })
                            <div class="col-md-12">
                                <label class="btn btn-default btn-file">
                                    Browse for Supporting documents
                                    @Html.TextBoxFor(m => m.Upload, new { type = "file", accept = "application/pdf" })
                                </label>
                                <label>
                                    <span id="dataFileLabel"> </span>
                                </label>
                            </div>
                            <div class="col-md-12">
                                @Html.HiddenFor(m => m.EntitlementAmount)
                                @Html.HiddenFor(m => m.UploadFile, new { id = "UploadFile" })
                                @Html.ValidationMessageFor(model => model.UploadFile, string.Empty, new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.Upload, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-12">
                                @if (canViewProgrammes)
                                {
                                    <a href="@Url.Action("Programmes", "PaymentCycles", new { id = ViewContext.RouteData.Values["id"] })" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
                                }
                                @if (canAddProgrammes)
                                {
                                    <button type="submit" id="PaymentCycleCreation_Btn" class="btn btn-success"> <i class="fa fa-send-o"></i> Save </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("change", ".PaymentCycleProgramme", function (e) {
                $("#EnrolmentSummary").html('');
                $("#EnrolmentGroups").html('');
                $("#message").addClass("hidden");
                if ($("#ProgrammeId").val() !== "" && $("#PaymentCycleId").val() !== "") {

                    $.getJSON({
                        url: "/Payments/PaymentCycleDetails/Analysis/?ProgrammeId=" + $("#ProgrammeId").val() + "&PaymentCycleId=" + $("#PaymentCycleId").val(),
                        dataType: "json",
                        crossDomain: false,
                        beforeSend: function () {
                            $("#EnrolmentSummary").html('');
                            $("#EnrolmentGroups").html('');

                        },
                        success: function (json) {
                            var data = json;

                            var primarySummary = data[0][0];
                            var enrolmentGroupsSummary = data[1];
                            var line = "";
                            if (primarySummary.FinancialYear != undefined)
                                line += "<div class='col-md-4'> <label> Financial Year : </label> <span> " + primarySummary.FinancialYear + "</span> </div>";
                            if (primarySummary.EntitlementAmount != undefined)
                                line += "<div class='col-md-4'> <label> Entitlement  Amount : </label> <span>" + primarySummary.EntitlementAmount + " </span> </div>";
                            $("#EnrolmentSummary").html(line);
                            $("#EntitlementAmount").val(primarySummary.EntitlementAmount);
                            line = "";
                            console.dir(enrolmentGroupsSummary);

                            for (var i = 0; i < enrolmentGroupsSummary.length; i++) {
                                line +=
                                    "<tr>" +
                                    "<td> " + enrolmentGroupsSummary[i].EnrolmentGroup + "  </td>" +
                                    "<td> " + parseFloat(enrolmentGroupsSummary[i].EntitlementAmount) + " </td>" +
                                    "<td class=''> <input type = 'hidden' name ='PaymentCycleAddEnrolmentGroupViewModels[" + i + "].Id' id ='PaymentCycleAddEnrolmentGroupViewModels[" + i + "].Id'   value ='" + i + "' />" +
                                    "<input type = 'hidden' name ='PaymentCycleAddEnrolmentGroupViewModels[" + i + "].EnrolmentGroupId' id ='PaymentCycleAddEnrolmentGroupViewModels[" + i + "].EnrolmentGroupId'   value ='" + enrolmentGroupsSummary[i].EnrolmentGroupId + "' />" +
                                    "<input type='number' name='PaymentCycleAddEnrolmentGroupViewModels[" + i + "].PaymentAmount' id='PaymentCycleAddEnrolmentGroupViewModels[" + i + "].PaymentAmount' class='form-control enrolmentgroupamounts   required' value='" + enrolmentGroupsSummary[i].EntitlementAmount + "' /> </td>" +
                                    "</tr>";

                            }
                            $("#EnrolmentGroups").html(line);

                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                            var errorData = $.parseJSON(xhr.responseText);
                            var errorMessages = [];
                            for (var key in errorData) {
                                if (errorData.hasOwnProperty(key)) {
                                    errorMessages.push(errorData[key]);
                                }
                            }
                            $("#messageinner").html(errorMessages.join("<br />") + "\r\n");
                            $("#message").removeClass("hidden");
                        },
                        complete: function () {
                        }
                    });
                }
            });
            $(document).on("textchange keyup mouseup", ".enrolmentgroupamounts", function () {
                if ($(this).val() !== $("#EntitlementAmount").val()) {
                    $("#Upload").addClass("required");
                }
            });
            $(document).on("change", "#FromMonth", function () {
                var nextmonth = parseInt($(this).val()) + parseInt($("#PaymentFrequency").val()) - 1;
                $("#ToMonth").val(nextmonth);
                $("#ToMonthId").val(nextmonth);
                $("#FromMonthId").val(parseInt($(this).val()));
                $('#ToMonth').attr('disabled', 'disabled');
            });
        });
    </script>
}