﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.PaymentCycleDetail

@{
    ViewBag.Title = "Delete Programme Payment Cycle ";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";
    var candeletePcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:DELETION");
}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p> Are you sure you want to Delete the <strong>@Model.Programme.Name</strong> Payment Cycle ?</p>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-hover">

                <tbody>
                <tr>
                    <th> Programme </th>
                    <td> @Model.Programme.Name  </td>
                </tr>
                <tr>
                    <th> Year </th>
                    <td> @Model.PaymentCycle.FinancialYear.Description  </td>
                </tr>
                <tr>
                    <th> Period </th>
                    <td> @Model.PaymentCycle.FromMonth.Description -  @Model.PaymentCycle.ToMonth.Description  </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <p>
                <strong>
                    Please note that this action can not be undone!
                </strong>
            </p>
        </div>
    </div>
</div>

<div class="modal-footer">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ProgrammeId)
    @Html.HiddenFor(model => model.PaymentCycleId)
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @if (candeletePcProgrammes)
                    {
                        <button type="submit" class="btn btn-danger "> <i class="fa fa-times"></i> Delete </button>
                    }
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{

    <script type="text/javascript">

        $(document).on("submit", "form", function (e) {

            $(this).find("button[type='submit']").each(function () {
                $(this).addClass("disabled");
            });
            $("#progress").removeClass("hidden");
        });
    </script>
}
</div>