﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.PaymentCycleDetail

@{
    /**/

    ViewBag.Title = " Payment Cycle Details ";
    var canViewDetails = User.UserGroupHasRight("PAYMENT CYCLE:VIEW");
    var canViewProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:VIEW");

    Layout = null;
}

<div class="row">
    <div class="col-md-12 m-tb-10">
        <i class="pull-right fa fa-times closex"></i>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered table-hover">

            <tbody>

            <tr>
                <th> @Html.DisplayNameFor(modelItem => Model.PaymentCycle.StatusId) </th>
                <td>
                    @Html.DisplayFor(modelItem => Model.PaymentCycle.Status.Description)
                </td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => Model.PaymentStageId) </th>
                <td>
                    @Html.DisplayFor(modelItem => Model.PaymentStage.Description)
                </td>
            </tr>

            <tr>
                <th> Created By </th>
                <td> @Model.CreatedByUser.DisplayName </td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(modelItem => Model.CreatedOn) </th>
                <td>
                    @Html.DisplayFor(modelItem => Model.CreatedOn)
                </td>
            </tr>
            @if (Model.ModifiedBy != null)
            {
                <tr>
                    <th> Modified By </th>
                    <td>
                        @if (Model.ModifiedBy != null)
                        {

                            @Html.DisplayFor(modelItem => Model.ModifiedByUser.DisplayName)
                        }
                    </td>
                </tr>

                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.ModifiedOn) </th>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ModifiedOn)
                    </td>
                </tr>
            }
            @if (Model.ApvBy != null)
            {
                <tr>
                    <th> Approved By </th>
                    <td>
                        @if (Model.ApvBy != null)
                        {
                            @Html.DisplayFor(modelItem => Model.ApvByUser.DisplayName)

                        }
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.ApvOn) </th>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ApvOn)
                    </td>
                </tr>
            }

            </tbody>
        </table>


        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th> Enrolment Group </th>
                <th> Amount </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.PaymentEnrolmentGroups)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.EnrolmentGroup.Description)</td>
                    <td> @Html.DisplayFor(modelItem => item.PaymentAmount)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>      