﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.PaymentCycleDetailCreateViewModel
@{
    ViewBag.Title = "Edit Payment Cycle programme Details";
    var canEditPcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:MODIFIER");
    var canViewPcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:VIEW");
}

<div id="message" class="hidden">
    <div class="alert alert-danger">
        <strong>Error</strong>
        <div id="messageinner">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "PaymentCycleCreationFrm", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.ProgrammeId)
                        @Html.HiddenFor(model => model.PaymentCycleId)
                        <div class="form-group">
                            <table class="table table-bordered table-condensed table-striped table-hover">

                                <tbody>
                                    <tr>
                                        <th>Programme</th>
                                        <td>  @ViewBag.PaymentCycle.Programme.Name</td>
                                    </tr>
                                    <tr>
                                        <th>Financial Year</th>
                                        <td>
                                            @ViewBag.PaymentCycle.PaymentCycle.FinancialYear.Description
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Start</th>
                                        <td>
                                            @ViewBag.PaymentCycle.PaymentCycle.FromMonth.Description
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>End</th>
                                        <td>
                                            @ViewBag.PaymentCycle.PaymentCycle.ToMonth.Description
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <table id="EnrolmentGroupsTable" class="table table-condensed table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th> Enrolment Group </th>
                                        <th> Amount</th>
                                        <th style="width: 30%"> New Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="EnrolmentGroups">
                                    @{
                                        int i = 0;
                                        foreach (var item in Model.PaymentCycleAddEnrolmentGroupViewModels)
                                        {
                                            <tr>
                                                <td>
                                                    @item.EnrolmentGroup.Description
                                                    @Html.HiddenFor(model => model.PaymentCycleAddEnrolmentGroupViewModels[i].Id, new { Value = i })
                                                    @Html.HiddenFor(model => model.PaymentCycleAddEnrolmentGroupViewModels[i].EnrolmentGroupId, new { })
                                                </td>
                                                <td> @item.PaymentAmount.ToString("KES #,###.00") </td>
                                                <td>
                                                    @Html.EditorFor(model => model.PaymentCycleAddEnrolmentGroupViewModels[i].PaymentAmount, new { htmlAttributes = new { @class = "form-control enrolmentgroupamounts required", type = "number" } })
                                                    @Html.ValidationMessageFor(model => model.PaymentCycleAddEnrolmentGroupViewModels[i].PaymentAmount, string.Empty, new { @class = "text-danger" })
                                                </td>
                                            </tr>

                                            i += 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UploadFile, htmlAttributes: new { @class = "control-label col-md-12 " })
                            <div class="col-md-12">
                                <label class="btn btn-default btn-file">
                                    Browse for Supporting documents
                                    @Html.TextBoxFor(m => m.Upload, new { type = "file", accept = "application/pdf" })
                                </label>
                                <label>
                                    <span id="dataFileLabel"> </span>
                                </label>
                            </div>
                            <div class="col-md-12">

                                @Html.HiddenFor(m => m.UploadFile, new { id = "UploadFile" })
                                @Html.ValidationMessageFor(model => model.UploadFile, string.Empty, new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.Upload, string.Empty, new { @class = "text-danger" })
                            </div>

                            @if (ViewBag.File != null)
                            {
                                <div class="col-md-12 m-tb-10">
                                    <label>
                                        <a href="@Url.Action("Download","Services", new{id =ViewBag.File.Id, area=""})">  @ViewBag.File.Name</a>
                                    </label>
                                </div>

                                <div class="col-md-12 m-tb-10">
                                    <div class="alert alert-warning">
                                        <strong>Please note</strong>
                                        <p>
                                            If you are uploading a document to overwrite an existing document, please attach the previous document in the current document.
                                            <br />
                                            We store only one document!
                                        </p>
                                    </div>
                                </div>}
                        </div>
                        <div class="form-group">
                            <div class=" col-md-12">
                                @if (canViewPcProgrammes)
                                {
                                    <a href="@Url.Action("Index")" class="btn    btn-primary"><i class="fa fa-navicon"></i> Back to List</a>
                                }
                                @if (canEditPcProgrammes)
                                {
                                    <button type="submit" id="PaymentCycleCreation_Btn" class="btn btn-success"> <i class="fa fa-send-o"></i> Update </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("textchange keyup mouseup",
                ".enrolmentgroupamounts",
                function () {
                    if ($(this).val() !== $("#EntitlementAmount").val()) {
                        $("#Upload").addClass("required");
                    }

                });
        });
    </script>
}