﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.PaymentCycleDetail>

@{
    var canaddPcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:ENTRY");
    var canViewPcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:VIEW");
    var canApprovePcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:APPROVAL");
    var canEditPcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:MODIFIER");
    var candeletePcProgrammes = User.UserGroupHasRight("PAYMENT DETAIL:DELETION");
}

@if (canaddPcProgrammes)
{
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-sm btn-primary pull-right m-tb-10" href="@Url.Action("Create", "PaymentCycleDetails", new { id = ViewContext.RouteData.Values["id"] })"><i class="fa fa-plus"></i> Add Programme   </a>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>

                <th>
                    Programme
                </th>
                <th>
                    Payment Stage
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Created On
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>

                        @Html.DisplayFor(modelItem => item.Programme.Code)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStage.Code)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>

                    <td>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ACTIONS <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">

                                @if (canViewPcProgrammes)
                                {
                                    <li>
                                        <a class="" href="@Url.Action("Details", "PaymentCycleDetails", new { PaymentCycleId = item.PaymentCycleId, ProgrammeId = item.ProgrammeId })"><i class="fa fa-eye"></i> Details </a>
                                    </li>
                                }

                                @if (item.PaymentStage.Code == "PAYMENTCYCLEAPV")
                                {
                                    if (canApprovePcProgrammes)
                                    {
                                        if (item.CreatedBy == int.Parse(User.Identity.GetUserId()) && item.ModifiedBy == int.Parse(User.Identity.GetUserId()))
                                        {
                                            <li>
                                                <a aria-disabled="True" class="btn-pc-approve" href="#"><i class="icon-check"></i> Approve </a>
                                            </li>

                                        }
                                        else if (item.ModifiedBy == int.Parse(User.Identity.GetUserId()))
                                        {
                                            <li>
                                                <a aria-disabled="True" class="btn-pc-approve" href="#"><i class="icon-check"></i> Approve </a>
                                            </li>
                                        }
                                        else
                                        {
                                            if (item.ModifiedBy != int.Parse(User.Identity.GetUserId()) && item.CreatedBy != int.Parse(User.Identity.GetUserId()))
                                            {
                                                <li>

                                                    <a class="modal-link" href="@Url.Action("Approve", "PaymentCycleDetails", new { PaymentCycleId = item.PaymentCycleId, ProgrammeId = item.ProgrammeId })">
                                                        <i class="icon-check"></i> Approve
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li> <a aria-disabled="True" class="btn-disabled " href="#"><i class="icon-check"></i>  Approve </a></li>
                                            }
                                        }
                                    }
                                    if (canEditPcProgrammes)
                                    {
                                        <li>
                                            <a href="@Url.Action("Edit", "PaymentCycleDetails", new { PaymentCycleId = item.PaymentCycleId, ProgrammeId = item.ProgrammeId })">
                                                <i class="fa fa-edit"></i>Edit
                                            </a>
                                        </li>
                                    }
                                    if (candeletePcProgrammes)
                                    {
                                        <li>
                                            <a class="modal-link" href="@Url.Action("Delete", "PaymentCycleDetails", new { PaymentCycleId = item.PaymentCycleId, ProgrammeId = item.ProgrammeId })">
                                                <i class="fa fa-times"></i> Delete
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>