﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.BeneAccountMonthlyActivity

@{
    ViewBag.Title = "Approve Activity Report Month";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canApprovePcProgrammes = User.UserGroupHasRight("ACCOUNTACTIVITY:APPROVAL");
}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

            <p> Are you sure you want to Approve the <strong>@Model.Month.Description @Model.Year </strong> Activity Report Month ?</p>
        </div>
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <p>
                <strong>
                    Please note that this action can not be undone!
                </strong>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.MonthId)
        @Html.HiddenFor(model => model.Year)
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @if (canApprovePcProgrammes)
                        {
                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Approve </button>
                        }
                    </div>
                </div>
            </div>
        </div>

    }

    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>