﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.BeneAccountPSPMonthlyActivity

@{
    ViewBag.Title = "Accept Monthly Activity Report";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canApprovePcProgrammes = User.UserGroupHasRight("ACCOUNTACTIVITY:CLOSE");
}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Are you sure you want to Accept <strong>@Model.BeneAccountMonthlyActivity.Month.Description @Model.BeneAccountMonthlyActivity.Year </strong> Monthly Activity Report for <strong>@ViewBag.Psp</strong>?
            </p>
            <p>
                The Activity Report will be available for download after you close the Month.
            </p>
        </div>
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <p>
                <strong>
                    Please note that this action can not be undone!
                </strong>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

       
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @if (canApprovePcProgrammes)
                        {
                            <button type="submit" class="btn btn-success "> <i class="icon-check"></i> Accept </button>
                        }
                        else
                        {
                            <span> It seems that we have not received all the Data from PSPs</span>
                        }
                    </div>
                </div>
            </div>
        </div>

    }

    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>