﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Business.Model.BeneAccountMonthlyActivity

@{
    ViewBag.Title = "Create Activity Report Month";
    var canCreateCycle = User.UserGroupHasRight("ACCOUNTACTIVITY:ENTRY");

}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "PaymentCycleCreationFrm", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                <div class="col-md-6">

                    <div class="form-group">
                        @Html.LabelFor(model => model.MonthId, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("MonthId", null, "Select Activity Month", htmlAttributes: new { @class = "form-control required" })
                            @Html.ValidationMessageFor(model => model.MonthId, string.Empty, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class='input-group date ' id='yearpicker'>
                            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control required" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Year, string.Empty, new { @class = "text-danger" })
                    </div>
                </div> <div class="col-md-12">

                    <div class="form-group">
                        <div class=" col-md-12">
                            <a class="btn btn-info" href="@Url.Action("Index")"> <i class="fa fa-arrow-left"></i> Back </a>
                            @if (canCreateCycle)
                            {
                                <button type="submit" id="PaymentCycleCreation_Btn" class="btn btn-success"> <i class="fa fa-send-o"></i> Create </button>
                            }
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('select#ToMonthId').attr('disabled', 'disabled');

            $(document).on("change", "#FromMonthId", function () {
                var nextmonth = parseInt($(this).val()) + 1;

                $('select#ToMonthId   option[value="' + nextmonth + '"]').prop("selected", true);

                $("input#ToMonthId").val(nextmonth);
                $("#FromMonthId").val(parseInt($(this).val()));
                $('select#ToMonthId').attr('disabled', 'disabled');
                //console.log(nextmonth);
            });
        });
    </script>
}