﻿
@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model CCTPMIS.Models.Payment.ActivityReportSummaryViewModel

@{
    ViewBag.Title = "Monthly Activity Reports";
    var canViewMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:VIEW");
    var canModifyMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:MODIFIER");
    var canAddMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:ENTRY");
    var canApproveMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:APPROVAL");
    var canCloseMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:CLOSE");
    var activityStatus = Model.Month.Status.Description;

}

<div class="row">
    <div class="col-md-12">
        <table class="table  table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th> Month  </th>
                    <td> @Html.DisplayFor(modelItem => Model.Month.Month.Description) </td>
                    <th> Year    </th>
                    <td> @Html.DisplayFor(modelItem => Model.Month.Year)</td>
                    <th> Status </th>
                    <td> [@Html.DisplayFor(modelItem => Model.Month.Status.Code) ] @Html.DisplayFor(modelItem => Model.Month.Status.Description)</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.Month.CreatedBy) </th>
                    <td>@Html.DisplayFor(modelItem => Model.Month.CreatedByUser.DisplayName)</td>
                    <th> @Html.DisplayNameFor(modelItem => Model.Month.ModifiedBy) </th>
                    <td>@Html.DisplayFor(modelItem => Model.Month.ModifiedByUser.DisplayName)</td>
                    <th> @Html.DisplayNameFor(modelItem => Model.Month.ApvBy) </th>
                    <td>@Html.DisplayFor(modelItem => Model.Month.ApvByUser.DisplayName)</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(modelItem => Model.Month.CreatedOn) </th>
                    <td>@Html.DisplayFor(modelItem => Model.Month.CreatedOn)</td>
                    <th> @Html.DisplayNameFor(modelItem => Model.Month.ModifiedOn) </th>
                    <td>@Html.DisplayFor(modelItem => Model.Month.ModifiedOn)</td>
                    <th> @Html.DisplayNameFor(modelItem => Model.Month.ApvOn) </th>
                    <td>@Html.DisplayFor(modelItem => Model.Month.ApvOn)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table  table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th>Bank</th>
                    <th>Accounts with Bios Verified  </th>
                    <th>Account with Unique Withdrawal  </th>
                    <th>Dormant Accounts  </th>
                    <th>Accounts Due for Clawback  </th>
                    <th>Reported Accounts  </th>
                    <th>Accounts Pending Submission  </th>
                    <th>Total Accounts  </th>
                    <th>Reporting Status</th>
                    <th>Reconciliation Status</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PspActivity)
                {
                <tr>
                    <td style="display:none;">@item.PSPId</td>
                    <td style="display:none;">@item.BeneAccountMonthlyActivityId</td>
                    <td>@item.PSPName</td>
                    <td class="text-right">@item.HadBeneBiosVerified</td>
                    <td class="text-right">@item.HadUniqueWdl</td>
                    <td class="text-right">@item.IsDormant</td>
                    <td class="text-right">@item.IsDueForClawback</td>
                    <td class="text-right">@item.ReportedAccounts</td>
                    <td class="text-right">@item.PendingAccounts</td>
                    <td class="text-right">@item.TotalAccounts</td>
                    <td class="text-right">
                        @if ((item.PendingAccounts == 0 && item.TotalAccounts != 0 && item.PendingAccounts + item.ReportedAccounts == item.TotalAccounts))
                        {
                            <span class="text-success"><i class="fa fa-check"></i> Success </span>
                        }
                        else
                        {
                            <span class="text-danger"><i class="fa fa-times-circle"></i> Pending </span>
                        }
                    </td>
                    <td>@item.PSPActivityStatus</td>
                    @if ((item.PendingAccounts == 0 && item.TotalAccounts != 0 && item.PendingAccounts + item.ReportedAccounts == item.TotalAccounts))
                    {
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ACTIONS <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu  dropdown-menu-right">

                                    @if ((item.PendingAccounts == 0 && item.TotalAccounts != 0 && item.PendingAccounts + item.ReportedAccounts == item.TotalAccounts))
                                    {
                                        if (canCloseMonthlyActivity && item.PSPActivityStatus == "Submitted Report Pending Accepting by SAU")
                                        {
                                            <li><a class="  modal-link " href="@Url.Action("Close", new { id = item.BeneAccountMonthlyActivityId, pspid = item.PSPId })"><i class="fa fa-eye"></i> Accept Activity Report </a></li>
                                            <li role="separator" class="divider"></li>
                                        }
                                        if (item.BeneAccountMonthlyActivityId != null)
                                        {
                                            <li><a class="  modal-link " href="@Url.Action("View", new { id = item.BeneAccountMonthlyActivityId, pspid = item.PSPId })"><i class="fa fa-check"></i> View Summary </a></li>

                                        }
                                    }

                                </ul>
                            </div>
                        </td>
                    }
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <th> TOTAL:</th>
                    <th class="text-right">@Model.PspActivity.Sum(x => x.HadBeneBiosVerified)</th>
                    <th class="text-right">@Model.PspActivity.Sum(x => x.HadUniqueWdl)</th>
                    <th class="text-right">@Model.PspActivity.Sum(x => x.IsDormant)</th>
                    <th class="text-right">@Model.PspActivity.Sum(x => x.IsDueForClawback)</th>
                    <th class="text-right">@Model.PspActivity.Sum(x => x.ReportedAccounts)</th>
                    <th class="text-right">@Model.PspActivity.Sum(x => x.PendingAccounts)</th>

                    <th class="text-right">@Model.PspActivity.Sum(x => x.TotalAccounts)</th>
                    <th>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("Common/_BackToList")
    </div>
</div>