﻿@using CCTPMIS.Business.Statics
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<CCTPMIS.Business.Model.BeneAccountMonthlyActivity>

@{
    ViewBag.Title = "Monthly Activity Reports";
    var canViewMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:VIEW");
    var canModifyMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:MODIFIER");
    var canAddMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:ENTRY");
    var canApproveMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:APPROVAL");
    var canCloseMonthlyActivity = User.UserGroupHasRight("ACCOUNTACTIVITY:CLOSE");

}

<div class="row">
    <div class="col-md-12">
        <div class="m-tb-10 pull-right">
            @if (canAddMonthlyActivity)
            {
                @Html.Partial("Common/_AddButton")
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    Month
                </th>
                <th>
                    Year
                </th>
                <th>
                    Status
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Created on
                </th>
                <th>
                    Modified By
                </th>
                <th>
                    Modified on
                </th>
                <th>
                    Approved By
                </th>
                <th>
                    Approved on
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>

                        @Html.DisplayFor(modelItem => item.Month.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApvByUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApvOn)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ACTIONS <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu  dropdown-menu-right">
                                @if (item.Status.Code == "CREATIONAPV")
                                {
                                    if (canApproveMonthlyActivity)
                                    {
                                        if (item.CreatedBy != int.Parse(User.Identity.GetUserId()) && item.ModifiedBy != int.Parse(User.Identity.GetUserId()))
                                        {
                                            <li><a class="  modal-link " href="@Url.Action("Approve", new {id = item.Id})"><i class="fa fa-check"></i> Approve </a></li>
                                        }
                                        else
                                        {
                                            <li> <a aria-disabled="True" class="btn-disabled " href="#"><i class="fa fa-check"></i>  Approve </a></li>

                                        }

                                    }
                                    if (canModifyMonthlyActivity)
                                    {
                                        <li> <a href="@Url.Action("Edit", new {id = item.Id})"><i class="fa fa-edit"></i> Edit </a></li>
                                    }
                                }
                                else
                                {
                                    if (canViewMonthlyActivity)
                                    {
                                        <li> <a href="@Url.Action("Details", new {id = item.Id})"><i class="fa fa-eye"></i> View Summary </a></li>
                                    }
                                }
                                @if (item.Status.Code == "RECONAPV")
                                {
                                    if (canCloseMonthlyActivity)
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li><a class="  modal-link " href="@Url.Action("Finalize", new {id = item.Id})"><i class="fa fa-check"></i> Finalize Activity Report </a></li>
                                    }
                                }

                                @if (item.Status.Code == "CLOSED")
                                {
                                    @*if (canDownloadMonthlyActivity)
                                    {
                                        <li><a class="  modal-link " href="@Url.Action("Download","Services", new {area="", id = item.FileCreationId})"><i class="fa fa-cloud-download"></i> Download </a></li>
                                    }*@
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        Showing @Model.Count of @Model.TotalItemCount
    </div>
</div>