﻿@using CCTPMIS.Business.Statics
@model CCTPMIS.Models.Payment.ActivityReportSummaryViewModel

@{
    ViewBag.Title = "View   Activity Report Month";
    Layout = "../../../../Views/Shared/_LayoutModal.cshtml";

    var canViewPcProgrammes = User.UserGroupHasRight("ACCOUNTACTIVITY:VIEW");
}
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                Activity Report Summary for <strong>@Model.Month.Month.Description  @Model.Month.Year</strong> for <strong>@Model.PspSummaryActivity.FirstOrDefault().PSP</strong> for <strong>@Model.PspSummaryActivity.FirstOrDefault().PaymentCycle</strong>
            </p>
            <p>
                The Activity Report will be available for download after you close the Month.
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th align="center">Payment Zone</th>
                        <th align="center">Payment Zone Commission Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PspSummaryActivity.Any())
                    {
                        foreach (var item in Model.PspSummaryActivity)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentZone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentZoneCommAmt)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    }

    @section scripts
{

        <script type="text/javascript">

            $(document).on("submit", "form", function (e) {

                $(this).find("button[type='submit']").each(function () {
                    $(this).addClass("disabled");
                });
                $("#progress").removeClass("hidden");
            });
        </script>
    }
</div>