﻿@model CCTPMIS.Business.Model.GeoMaster

@{
    ViewBag.Title = Model.Name + "    Districts";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommonDetails")
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped table-striped">
            <tr>

                <th>
                    Name
                </th>
                <th>
                    Code
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                @*<th></th>*@
            </tr>

            @foreach (var item in Model.Districts)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.FirstName)
                    </td>
                    @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
                </tr>
            }
        </table>
    </div>
</div>